<form class="form-horizontal" id="formLocation">
  <div id="location" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%;"></div>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog" style="max-width: 1920px !important; width: 80% !important;">
      <div class="modal-content">
        <div class="modal-header" style="padding-top: 10px !important; padding-bottom: 0px !important;">
          <label class="control-label col-xs-1 uiLabel" for="startDate" style="text-align:right !important; color: black">{{getLabel('Date')}}</label>
          <input type="text" id="startDate" name="startDate" ng-model="startDate" class="formGroupInput form-control col-xs-8" style="width:100%; max-width:150px;" />
          <input type="button" ng-click="reloadTracesByUserAndDate()" class="inputs btn btn-primary" value="{{getLabel('Search')}}" style="width:160px !important; line-height: 0 !important; padding: 10px; margin-left: 15px !important;">
        </div>
        <div class="modal-body">
          <div id="map" style="height: 650px !important;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="border-div-map" id="subjectCase1">
    <div class="form-horizontal">
      <div class="col-xs-7" style="padding-right: 0px;padding-left: 0px;">
        <label class="uiLabel" for="active">{{getLabel('UpdateTime')}}</label>
      </div>
      <div class="col-xs-5" style="padding-right: 0px;padding-left: 5px;">
        <select class="form-control text-box single-line" style="max-width: 220px" id="interval" ng-model="intervalRefresh" ng-change="reloadTimeOut()">
          <option value="60000">1min</option>
          <option value="300000">5min</option>
          <option value="900000">15min</option>
          <option value="1800000">30min</option>
          <option value="3600000">60min</option>
        </select>
      </div>
  </div>
  <div class="form-horizontal">
      <div class="col-xs-7" style="padding-right: 0px;padding-left: 0px;">
        <label class="uiLabel" for="active">{{getLabel('ShowCaption')}}</label>
      </div>
      <div class="col-xs-5" style="padding-right: 0px;padding-left: 5px;">
        <input type="checkbox" ng-model="checkboxShowLabel" ng-change="reloadWithMarkerLabels()">
      </div>
  </div>
  </div>
</form>

<script>
    $(document).ready(function(){
      $("#startDate").mask("00/00/0000");
    });
</script>