<div class="form-horizontal jumbotron divLista">

	<div style="height: 10%">
		<h3 class="fLeft">{{getLabel('Profile.p')}}</h3>

		<a href="{{appUrl}}profileCreate" class="btn btn-default fLeft" style="width: 100px"><i class="fa fa-plus"
				aria-hidden="true"></i>
			{{getLabel('New')}}
		</a>

		<div class="fLeft">
			<label class="control-label col-xs-1 labelFiltro" for="query">Filtro</label>
			<input type="text" id="query" name="query" ng-model="query" class="form-control" style="max-width: 680px;" ng-change="setTextProfile()"/>
		</div>

		<div class="radio-filters" style="margin-left: 10%">
			<label class="radio-inline col-xs-1">
				<input class="radio" type="radio" ng-model="optActive" name="optActive" value="active"
					ng-change="filterProfileByStatus()" id="optActive">{{getLabel('Active.p')}}
			</label>
			<label class="radio-inline col-xs-1">
				<input class="radio" type="radio" ng-model="optActive" name="optActive" value="inactive"
					ng-change="filterProfileByStatus()" id="optInactive">{{getLabel('Inactive.p')}}
			</label>
			<label class="radio-inline col-xs-1">
				<input class="radio" type="radio" ng-model="optActive" name="optActive" value="all"
					ng-change="filterProfileByStatus()" id="optAll">{{getLabel('All')}}
			</label>
		</div>

		<div class="headers" style="margin-bottom: 3px">
			{{getLabel('Description')}}
		</div>
	</div>

	<div class="containerList" style="height: 70%">
		<div class="rowsList" ng-repeat="profile in profiles | filter:query" ng-class-odd="'odd'" ng-class-even="'even'">

			<div style="width: 70% !important">
				{{profile.description}}</div>
			<div align="right" style="width: 30% !important">
				<a class="btn btn-primary formGroupInput"
					href="{{appUrl}}profileDetail/{{profile.profileId}}">{{getLabel('Details')}}</a>

				<input type="button" name="btn{{profile.active}}" class="btn btn-primary formGroupInput"
					ng-value="trataAtivoInativo(profile)" ng-class="retornaClasse(profile)" ng-click="mudaSituacao(profile)" />
			</div>
		</div>
	</div>
</div>