<form class="form-horizontal" id="frmAction" name="frmAction">
	<div class="form-horizontal jumbotron divLista">
		<h4>{{getLabel('ProfileData')}}</h4>
		<hr>

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label for="descricao" class="uiLabel">{{getLabel('Description')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="descricao"
					placeholder="Descricao" required ng-model="profile.description"
					style="max-width: 420px" />
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel" for="active">{{getLabel('Active')}}</label>
			</div>

			<div class="col-sm-8">
				<select class="formGroupInput form-control text-box single-line"
					style="max-width: 220px" id="active" ng-model="profile.active">
					<option ng-value="true">{{getLabel('Yes')}}</option>
					<option ng-value="false">{{getLabel('No')}}</option>
				</select>
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel">{{getLabel('Color')}}</label>
			</div>
			<div class="col-sm-2">
				<input id="colorSel" type="text" class="form-control"
					ng-style="{background: profile.colorId}" ng-model="profile.colorId"
					ng-readonly="true" style="width: 90px !important;" />
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">{{getLabel('Setting.p')}}</div>

			<div class="panel-body">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<label class="uiLabel">{{getLabel('Parameter.p')}}</label>
									<div style="float: right;">
										<span 
											class="glyphicon glyphicon-menu-down" 
											aria-hidden="true" 
											id="parametersPermission" 
											style="padding-left: 0px;padding-top: 10px;" 
											ng-click="showParameters()"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body" id="panel-body-profile">
						<div class="formGroup row" ng-show="parameters">
							<label for="" class="col-sm-2 uiLabel"> <b>{{getLabel('WorkHours')}}</b> </label>
							<div class="col-sm-3" id="divStartHour">
								<input type="time" name="startHour" id="startHour" class="form-control formGroupInput" ng-model="horaInicio">
							</div>
							<label for="" style="text-align: center" class="col-sm-1 uiLabel"> <b>{{getLabel('To')}}</b> </label>
							<div class="col-sm-3" id="divEndHour">
								<input type="time" name="endHour" id="endHour" class="form-control formGroupInput" ng-model="horaFim">
							</div>
						</div>
						
						<div class="formGroup row" ng-show="parameters">
							
							<div class="formGroup row" style="height: 27px;">
								<span class="col-lg-12 uiLabel" style="padding-top: 5px;font-weight: bold;padding-left: 5px;"> {{getLabel('Settlements')}} </span>
							</div>	
							<div class="formGroup row">
								<div class="col-lg-3" id="">
									<input type="checkbox" id="approveSettlementAccess"/> <span class="uiLabel"> &nbsp {{getLabel('ApproveSettlements')}} </span>
								</div>

								<div class="col-lg-3" id="">
									<input type="checkbox" id="allowChangeSettlementStatus"/> <span class="uiLabel"> &nbsp {{getLabel('AllowChangeSettlementStatus')}} </span>
								</div>
								
								<div class="col-lg-3" id="">
									<input type="checkbox" id="changeDateSettlement"/> <span class="uiLabel"> &nbsp {{getLabel('changeDate')}} </span>
								</div>
								
							</div>

							<div class="formGroup row" style="height: 27px;">
								<span class="uiLabel col-lg-12" style="padding-top: 5px;font-weight: bold;"> {{getLabel('Fotos')}} </span>
							</div>
							
							<div class="formGroup row">	
								<div class="col-lg-2 uiCheckbox">
								<input type="checkbox" id="insertPicSettlemente"/> 
								<span class="uiLabel"> &nbsp {{getLabel('InserirFoto')}} </span>
								</div>
								<div class="col-lg-2 uiCheckbox">
									<input type="checkbox" id="changePicSettlemente"/> 
									<span class="uiLabel"> &nbsp {{getLabel('SubstituirFoto')}} </span>
								</div>
								<div class="col-lg-2 uiCheckbox">
									<input type="checkbox" id="deletePicSettlemente"/> 
									<span class="uiLabel"> &nbsp {{getLabel('ExcluirFoto')}} </span>
								</div>
								<div class="col-lg-2 uiCheckbox">
									<input type="checkbox" id="editPicSettlemente"/>
									<span class="uiLabel"> &nbsp {{getLabel('EditarFoto')}} </span>
								</div>
								<br/>
							</div>
							
							<br/>
							
							
							<div class="formGroup row" style="height: 27px;">
								<span class="col-lg-12 uiLabel" style="padding-top: 5px;font-weight: bold;padding-left: 5px;"> {{getLabel('ServiceOrders')}} </span>
							</div>

							<div class="formGroup row" >
								<div class="col-lg-2 uiCheckbox">
									<input type="checkbox" id="deleteOS"/> 
									<span class="uiLabel"> &nbsp {{getLabel('DeleteOS')}} </span>
								</div>
							</div>

							<div class="formGroup row" style="height: 27px;">
								<span class="uiLabel col-lg-12" style="padding-top: 5px;font-weight: bold;"> {{getLabel('Fotos')}} </span>
							</div>
								
							<div class="formGroup row">
								<div class="col-lg-2 uiCheckbox" id="">
									<input type="checkbox" id="insertPicService"/> <span class="uiLabel"> &nbsp {{getLabel('InserirFoto')}} </span>
								</div>
								<div class="col-lg-2 uiCheckbox" id="">
									<input type="checkbox" id="changePicService"/> <span class="uiLabel"> &nbsp {{getLabel('SubstituirFoto')}} </span>
								</div>
								<div class="col-lg-2 uiCheckbox" id="">
									<input type="checkbox" id="deletePicService"/> <span class="uiLabel"> &nbsp {{getLabel('ExcluirFoto')}} </span>
								</div>
								<div class="col-lg-2 uiCheckbox" id="">
									<input type="checkbox" id="editPicService"/> <span class="uiLabel"> &nbsp {{getLabel('EditarFoto')}} </span>
								</div>
							</div>
							
							<br/>
							
							<div class="formGroup row" style="height: 27px;">
								<span class="col-lg-12 uiLabel" style="padding-top: 5px;font-weight: bold;padding-left: 5px;"> {{getLabel('Expense')}} </span>
							</div>
							<div class="formGroup row">
								<div class="col-lg-12 uiCheckbox">
									<input type="checkbox" id="changeExpenseDate"/> <span class="uiLabel"> &nbsp {{getLabel('changeDate')}} </span>
								</div>
							</div>
							
							<div class="formGroup row" style="margin-top: 20px;height: 27px;">
								<span class="col-lg-4 uiLabel" style="padding-top: 5px;font-weight: bold;padding-left: 5px;"> {{getMessage('FiltrarRegistroPorUsuario')}} </span>
							</div>
							
							<div class="formGroup row">
								<div class="col-lg-2 uiCheckbox" id="">
									<input type="checkbox" id="servicesAccess"/> <span class="uiLabel"> &nbsp {{getLabel('Services')}} </span>
								</div>
								<div class="col-lg-2 uiCheckbox" id="">
									<input type="checkbox" id="settlementAccess"/> <span class="uiLabel"> &nbsp {{getLabel('Settlements')}} </span>
								</div>
								<div class="col-lg-2 uiCheckbox" id="">
									<input type="checkbox" id="appointmentAccess"/> <span class="uiLabel"> &nbsp {{getLabel('Appointment')}} </span>
								</div>
							</div>

							<div class="formGroup row" style="margin-top: 20px;height: 27px;">
								<span class="col-lg-4 uiLabel" style="padding-top: 5px;font-weight: bold;padding-left: 5px;"> {{getMessage('FiltrarRegistroPorArea')}} </span>
							</div>

							<div class="formGroup row">
								<div class="col-lg-2 uiCheckbox" id="">
									<input type="checkbox" id="servicesAccessArea"/> <span class="uiLabel"> &nbsp {{getLabel('Services')}} </span>
								</div>
								<div class="col-lg-2 uiCheckbox" id="">
									<input type="checkbox" id="settlementAccessArea"/> <span class="uiLabel"> &nbsp {{getLabel('Settlements')}} </span>
								</div>
								<div class="col-lg-2 uiCheckbox" id="">
									<input type="checkbox" id="appointmentAccessArea"/> <span class="uiLabel"> &nbsp {{getLabel('Appointment')}} </span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading"> 
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<label class="uiLabel">App - {{getLabel('Permission.p')}}</label>
									<div style="float: right;">
										<span 
											class="glyphicon glyphicon-menu-down" 
											aria-hidden="true" 
											id="appPermission" 
											style="padding-left: 0px;padding-top: 10px;" 
											ng-click="showAppAccess()"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="app" ng-show="appAccess"></div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<label class="uiLabel">Web - {{getLabel('Permission.p')}}</label>
									<div style="float: right;">
										<span 
											class="glyphicon glyphicon-menu-down" 
											aria-hidden="true" id="webPermission" 
											style="padding-left: 0px;padding-top: 10px;" 
											ng-click="showWebAccess()"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="web" ng-show="webAccess"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-offset-1 col-sm-6">
				<a class="btn btn-primary" href="{{appUrl}}profile"><i
					class="fa fa-arrow-left" aria-hidden="true"></i>
					{{getLabel('ReturnToList')}}</a>
				<button class="btn btn-primary" ng-click="saveProfile(profile)" >
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{getLabel('Save')}}
				</button>
			</div>
		</div>
	</div>
</form>

<style>
	input[type=checkbox] {
		vertical-align: sub;
	}
</style>

