<div class="form-horizontal jumbotron divLista" style="height: auto !important">
	<div class="form-group col-md-12">
		<h4 class="col-md-4">{{getLabel('CardReleaseData')}}</h4>
	</div>

	<div class="form-group" ng-hide="cardExtract.extract.type == 'C'">

		<div class="fLeft">

			<div style="background-color: transparent;">
				<div style="cursor: pointer;" ng-click="showModalWindowDetail()">
				  <div class="row"> 
					  <label class="control-label col-xs-2 label-title"
						style="padding-top: 5px !important;">{{ getLabel("Period") }}:</label>
					  <label class="control-label col-xs-2 label-value" style="padding-top: 5px !important;"> {{ search.startDate}} {{ getLabel("To") }} {{ search.endDate }} </label>
				  </div>
				  
				  <div class="row"> 
					  <label class="control-label col-xs-2 label-title">{{ getLabel("Client") }}(s):</label>
					  <label class="control-label col-xs-2 label-value">{{ clientsNames }}</label>
				  </div>
							  
				  <div class="row"> 
					  <label class="control-label col-xs-2 label-title">{{ getLabel("Actions.s") }}(s):</label>
					  <label class="control-label col-xs-2 label-value">{{ activitysNames }}</label>
				  </div>

				</div>
		  </div>

			<label class="control-label col-xs-1 labelFiltro" for="query">{{getLabel('card')}}</label>
			<input type="text" id="query" name="query" ng-model="search.cardSelected.cardNumber"
				class="formGroupInput form-control" 'disabled="disabled"' style="max-width:300px !important" disabled/>
		</div>
	</div>
	
	<div id="pnlExpenseItems" class="panel panel-default">
		<div class="panel-body">

			<div class="table" id="divTable" style="overflow:scroll; width:100%;">
				<div class="headers">
					<div style="width: 25%;  max-width: 25%;">
						{{getLabel('Date')}}
					</div>
					<div style="width: 25%; max-width: 25%;">
						{{getLabel('Occurrences')}}
					</div>
					<div style="width: 25%; max-width: 25%;">
						{{getLabel('TotalAmount')}}
					</div>
					<div style="width: 25%; max-width: 25%;">
						{{getLabel('Clients.s')}}
					</div>
				</div>

				<div id="divTableData"
					style="max-height:400px; height:100%; overflow:scroll; width:100%; overflow-x:hidden; padding: 0px !important">
					<div id="divRowData" class="rowsList" ng-repeat="item in expenseVisible" ng-class-odd="'odd'"
						ng-class-even="'even'">
						<div style="width: 25%; max-width: 25%;">
							{{item.releaseDate}}
						</div>
						<div style="width: 25%; max-width: 25%;">
							{{item.settlement.event.description}}
						</div>
						<div style="width: 25%; max-width: 25%;">
							{{item.settlement.amountFormatted}}
						</div>
						<div style="width: 25%; max-width: 25%;">
							{{item.settlement.client.tradingName}}
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label"
				style="text-align: left; margin-top: -30px !important; margin-left: 25px !important; font-weight: bold;">{{getLabel('TotalAmount')}}:
				{{totalExtract}}</label>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-12">
			<div class="col-sm-4" style="margin-left: 0 !important; padding: 0">
				<a class="btn btn-primary" href="{{appUrl}}cardExtract">
					<i class="fa fa-arrow-left" aria-hidden="true"></i> {{getLabel('ReturnToList')}}
				</a>
			</div>
		</div>
	</div>

	<div ng-include="reportList.relExpenseDetail"></div>
	<div ng-include="reportList.relExpenseDebitNote"></div>

</div>
<div class="modal fade" id="parametersModalDetail">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <div class="modal-body">
			<div class="form-group" ng-hide="cardExtract.extract.type == 'C'">
				<div class="fLeft">
					<label class="control-label col-xs-1 labelFiltro" for="searchStartDate">{{getLabel('InitialDate')}}</label>
					<input type="text" id="searchStartDate" name="searchStartDate" ng-model="search.startDate"
						class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px;" ng-change="loadExtractCardPerPeriod()" onkeydown="return false"/>

					<label class="control-label col-xs-1 labelFiltro" for="searchEndDate">{{getLabel('FinalDate')}}</label>
					<input type="text" id="searchEndDate" name="searchEndDate" ng-model="search.endDate"
						class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px" ng-change="loadExtractCardPerPeriod()" onkeydown="return false"/>
				</div>
			</div>

		  <br/>
		  <br/>
          <!--activity-->
          <div class="formGroup row">
            <label class="control-label labelFiltro col-xs-6" for="activitys">{{
              getLabel("Actions.p")
            }}</label>
            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="acitivtyTriangle"
              style="padding-left: 0px;padding-top: 10px;" ng-click="showActivitysSelect()"></span>
          </div>
          <div class="formGroup row" ng-show="showActivitys">
            <select class="form-control text-box" style="max-width: 220px" id="activitys" ng-model="activitysSelected"
              ng-options="activity.description for activity in activitys" multiple bs-duallistbox>
            </select>
          </div>
          
		 <!--client-->
         <div class="formGroup row">
            <label class="control-label labelFiltro col-xs-6" for="clients">{{
              getLabel("Clients.p")
            }}</label>
            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="clientTriangle"
              style="padding-left: 0px;padding-top: 10px;" ng-click="showClientSelect()"></span>
          </div>
          <div class="formGroup row" ng-show="showClients">
            <select class="form-control text-box" style="max-width: 220px" id="clients" ng-model="clientsSelected"
              ng-options="client.companyName for client in clients" multiple bs-duallistbox>
            </select>
          </div>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-left" data-dismiss="modal" ng-click="applyMultipleSelectionFilter()">
            {{ getLabel("Search") }}
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {{ getLabel("Close") }}
          </button>
        </div>
      </div>
    </div>
</div>
	

<script>
	$(document).ready(function () {
		$("#txtStartDate").mask("00/00/0000");
		$("#txtEndDate").mask("00/00/0000");
		$("#txtItemDate").mask("00/00/0000");
	});

	$(document).ready(function () {
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
