<div class="form-horizontal jumbotron divLista">

	<div style="height: 10%">
		<h3 class="fLeft">{{getLabel('CardExtract')}}</h3>
	
		<div style="background-color: transparent;">
		    <div style="cursor: pointer;" ng-click="showModalWindow()">
			      <div class="row"> 
				      <label class="control-label col-xs-2 label-title"
				        style="padding-top: 5px !important;">{{ getLabel("Period") }}:</label>
				      <label class="control-label col-xs-2 label-value" style="padding-top: 5px !important;"> {{ search.startDate }} {{ getLabel("To") }} {{ search.endDate }} </label>
			      </div>
			      
			      <div class="row"> 
					  <label class="control-label col-xs-2 label-title">{{ getLabel("flag") }}(s):</label>
				      <label class="control-label col-xs-2 label-value">{{ bannerNames }}</label>
			      </div>

				<div class="row">
				      <label class="control-label col-xs-2 label-title">{{ getLabel("emittingBank") }}(s):</label>
				      <label class="control-label col-xs-2 label-value">{{ emittingBankNames }}</label>
				 </div>
		    </div>
		</div>
		<br/>

		<div class="headers" style="margin-bottom: 3px">
			<div style="width: 10% !important">
				{{getLabel('flag').toUpperCase()}}
			</div>
			<div style="width: 20% !important">
				{{getLabel('Number').toUpperCase()}}
			</div>
			<div style="width: 20% !important">
				{{getLabel('emittingBank').toUpperCase()}}
			</div>
			<div style="width: 20% !important">
				{{getLabel('closing').toUpperCase()}}
			</div>
			<div style="width: 10% !important">
				{{getLabel('Period').toUpperCase()}}
			</div>
			<div style="width: 20% !important"></div>
		</div>
	</div>

	<div class="containerList" style="height: 70%">
		<div id="divTableData" class="rowsList" ng-repeat="extract in extractCardList"
			ng-class-odd="'odd'" ng-class-even="'even'">
			<div style="width: 10% !important">
				{{extract.card.cardBanner}}</div>
			<div style="width: 20% !important">
				{{extract.card.cardNumber}}</div>
			<div style="width: 20% !important">
				{{extract.card.emittingBank}}</div>
			<div style="width: 20% !important">
				{{extract.card.invoiceCloseDate}}</div>
			<div style="width: 10% !important">
				{{extract.period}}</div>
			<div style="width: 20% !important">
				<div ng-hide="true">
					<span class="btn btn-secondary">{{getLabel('Details')}}</span>
				</div>
				<div align="right">
					<a href="{{appUrl}}cardExtractDetail/{{extract.card.cardId}}/{{extract.startDate}}/{{extract.endDate}}"
						class="btn btn-primary formGroupInput">{{getLabel('Details')}}</a>
				</div>
			</div>
		</div>
		<!-- end div data -->
	</div>
	<!-- end div table -->
</div>

<!--  filter modal -->
<div class="modal fade" id="parametersModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <div class="modal-body">
        
          <!-- periodo...  -->
          <div class="formGroup row">
          <label class="col-xs-12">{{
              getLabel("Period")
            }}</label>
          </div>
          
          <div class="formGroup row">
            <label class="control-label col-xs-4 labelFiltro" for="dtInicio">{{
              getLabel("InitialDate")
            }}</label>
            <input type="text" id="dtInicio" name="dtInicio" ng-model="search.startDate"
              class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px;" ng-change="buscar()" />
              
            <label class="control-label col-xs-4 labelFiltro" for="dtFinal">{{
              getLabel("FinalDate")
            }}</label>
            <input type="text" id="dtFinal" name="dtFinal" ng-model="search.endDate"
              class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px" ng-change="buscar()" />
          </div>
          
          <!--bandeira-->
          <div class="formGroup row">
            <label class="control-label labelFiltro col-xs-6" for="banners">{{
              getLabel("flag")
            }}</label>
            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="bannerTriangle"
              style="padding-left: 0px;padding-top: 10px;" ng-click="showBannerSelect()"></span>
          </div>
          <div class="formGroup row" ng-show="showBanners">
            <select class="form-control text-box" style="max-width: 220px" id="banners" ng-model="search.bannersSelected"
              ng-options="banner for banner in banners" multiple bs-duallistbox>
            </select>
          </div>
          
          <!--Banco emissor-->
          <div class="formGroup row">
            <label class="control-label labelFiltro col-xs-6" for="emittingBank">{{
              getLabel("bank")
            }}</label>
            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="bankTriangle"
              style="padding-left: 0px;padding-top: 10px;" ng-click="showEmittingBankSelect()"></span>
          </div>
          <div class="formGroup row" ng-show="showEmittingBank">
            <select class="form-control text-box" style="max-width: 220px" id="users1" ng-model="search.emittingBankSelected"
              ng-options="emittingBank for emittingBank in emittingBanks" multiple bs-duallistbox>
            </select>
          </div>

        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-left" data-dismiss="modal" ng-click="buscar()">
            {{ getLabel("Search") }}
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {{ getLabel("Close") }}
          </button>
        </div>
      </div>
    </div>
  </div>
<!-- fim filter modal -->


<script>
	$(document).ready(function () {
		$("#searchStartDate").mask("00/0000");
		$("#searchEndDate").mask("00/0000");
	});
</script>