<div class="form-horizontal jumbotron divLista">
	<h4>{{getLabel('ObjectTypeData')}}</h4>
	<hr />
	<form class="form-horizontal" id="frmObjectType" name="frmObjectType">

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel" for="descricao">{{getLabel('Description')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="text" class="formGroupInput form-control" id="descricao" placeholder="{{getLabel('Description')}}"
					required ng-model="objectType.description" style="max-width: 420px;" />
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel" for="active">{{getLabel('Active')}}</label>
			</div>

			<div class="col-sm-8">
				<select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="active"
					ng-model="objectType.active">
					<option ng-value="true">{{getLabel('Yes')}}</option>
					<option ng-value="false">{{getLabel('No')}}</option>
				</select>
			</div>
		</div>
		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel">{{getLabel('Color')}}</label>
			</div>
			<div class="col-sm-2">
				<input id="colorSel" type="text" class="form-control" ng-style="{background: objectType.colorId}"
					ng-model="objectType.colorId" ng-readonly="true" style="width: 90px !important;" />
			</div>
		</div>
		<div>
			<div id="pnlDefault" class="panel panel-default">
				<div class="panel-heading"></div>

				<div class="panel-body">
					<!-- Images -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="col-sm-1">{{getLabel('Images.p')}}</div>
							<div class="text-right" style="margin-top: -5px;">
								<button class="btn-sm btn-success" ng-click="addDivImage()" tabindex="-1">+</button>
							</div>
						</div>
						<div id="pnlImagens" class="panel-body">
							<div id="pnlListImagens" class="form-group"></div>
						</div>
					</div>
					<!-- End Images -->

					<!-- Fields -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="col-sm-1">{{getLabel('Fields')}}</div>
							<div class="text-right" style="margin-top: -5px;">
								<button class="btn-sm btn-success" ng-click="addDivField()" tabindex="-1">+</button>
							</div>
						</div>
						<div id="pnlCampos" class="panel-body">
							<div id="pnlListFields" class="form-group"></div>
						</div>
					</div>
					<!-- End Fields -->
				</div>
			</div>
		</div>
		<div class="formGroup row">
			<div class="col-xs-offset-2 col-sm-6" style="margin-left: 0 !important">
				<a class="btn btn-primary" href="{{appUrl}}objectType"><i class="fa fa-arrow-left" aria-hidden="true"></i>
					{{getLabel('ReturnToList')}}</a>
				<button class="btn btn-primary" ng-click="saveObjectType(objectType)">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{getLabel('Save')}}
				</button>
			</div>
		</div>
	</form>
</div>