<div class="form-horizontal jumbotron divLista">

	<div style="height: 10%">
		<h3 class="fLeft">Relatório de Movimentação</h3>

		<div class="fLeft">
			<label class="control-label col-xs-1 labelFiltro" for="query"> {{getLabel('Filter')}} </label> 
			<input type="text" id="query" name="query" ng-model="query"
				class="formGroupInput form-control" style="max-width: 680px;" ng-change="setTextObject()"/>
		</div>

		<div style="float: right">
			<button class="btn btn-default" data-toggle="modal" data-target="#modalExcel">
				<i class="fa fa-download" aria-hidden="true"></i>{{getMessage('ExtractToExel')}}
			</button>
		</div>

		<div class="radio-filters" style="margin-left: 10%">
			<label class="radio-inline col-xs-1">
				<input class="radio" type="radio" ng-model="optActive" name="optActive" value="active"
					ng-change="filterObjectByStatus()" id="optActive">{{getLabel('Active.p')}}
			</label>
			<label class="radio-inline col-xs-1">
				<input class="radio" type="radio" ng-model="optActive" name="optActive" value="inactive"
					ng-change="filterObjectByStatus()" id="optInactive">{{getLabel('Inactive.p')}}
			</label>
			<label class="radio-inline col-xs-1">
				<input class="radio" type="radio" ng-model="optActive" name="optActive" value="all"
					ng-change="filterObjectByStatus()" id="optAll">{{getLabel('All')}}
			</label>
			<label class="checkbox-inline col-xs-6">
				<input class="radio" type="checkbox" ng-model="optActive" name="optMovimentacao" value="movimentacao"
					ng-change="filterObjectByStatus()" id="optAll">Incluir Movimentações?
			</label>

		</div>


	</div>

	<div>
		<div id="pnlCampos" class="panel-body ">
			<div class="headers" style="margin-bottom: 3px">
				<div class="col-xs-3">
					{{getLabel('Identifier')}}
				</div>
				<div class="col-xs-3">
					{{getLabel('User.s')}}
				</div>
				<div class="col-xs-3">
					{{getLabel('Patrimony')}}
				</div>
				<div class="col-xs-3">
					{{getLabel('SerialNumber')}}
				</div>
				<div class="col-xs-3">
					{{getLabel('Date')}}
				</div>
				<div class="col-xs-3">
					{{getLabel('Storage.s')}}
				</div>
				<div class="col-xs-3">
					{{getLabel('Observation')}}
				</div>
			</div>
			<div class="rowsList" ng-repeat="object in objects | filter:query" ng-class-odd="'odd'" 
			ng-class-even="'even'" style="padding-right: 1px;">
				<div class="divItemList col-xs-3">{{object.identifier}}</div>
				<div class="divItemList col-xs-3">{{object.userCreate.name}}</div>
				<div class="divItemList col-xs-3">{{object.patrimony}}</div>
				<div class="divItemList col-xs-3">{{object.serialNumber}}</div>
				<div class="divItemList col-xs-3">{{object.dateTimeCreate}}</div>
				<div class="divItemList col-xs-3">{{object.storage.description}}</div>
				<div class="divItemList col-xs-3">{{object.objectHistoryList[object.objectHistoryList.length -1].note}}</div>

			</div>
		</div>
	</div>

<!--
</div>

<!-- Modal Extract to Excel -->
<div class="modal fade" id="modalExcel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row">

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<form>
							<div class="row justify-content-center">
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<label class="uiLabel control-label labelGrayType"
										   style="padding-top: 6px; margin-right: 5px;"
										   for="dtInicio">{{getLabel('InitialDate')}}</label>
									<input type="text" id="dtInicio" name="dtInicio" ng-model="dtInicio"
										   class="formGroupInput form-control" style="width:100%; max-width:150px;" />
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

									<label class="uiLabel control-label labelGrayType"
										   style="padding-top: 6px; margin-right: 5px;"
										   for="dtFinal">{{getLabel('FinalDate')}}</label>
									<input type="text" id="dtFinal" name="dtFinal" ng-model="dtFinal"
										   class="formGroupInput form-control" style="width:100%; max-width:150px;" />
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

									<label class="uiLabel control-label labelGrayType"
										   style="padding-top: 6px; margin-right: 5px;"
										   for="groupBy">{{getLabel('MovesInPeriod')}}</label>
									<select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="groupBy"
											ng-model="showAll">
										<option ng-value="true">{{getLabel('Yes')}}</option>
										<option ng-value="false">{{getLabel('No')}}</option>
									</select>
								</div>
							</div>
						</form>


						<div class="row" style="margin-top: 10px;">

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<a ng-href="{{createUrlDownload()}}" class="btn btn-default" style="color: #666666;float: right;"
								   target="_black" download>{{getMessage('ExtractToExel')}}
								</a>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
