<div class="form-horizontal jumbotron divLista">
	<h4>{{getLabel('ObjectData')}}</h4>
	<hr />
	<form class="form-horizontal" id="frmObject" name="frmObject">

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel" for="objectType">{{getLabel('ObjectType.s')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="text" class="inputs text-box single-line ipt" id="objectType"
					   required ng-model="object.objectType.description" style="max-width: 420px;"  />
			</div>
		</div>
		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel" for="identifier">{{getLabel('Identifier')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="text" class="inputs text-box single-line ipt" id="identifier"
					required ng-model="object.identifier" style="max-width: 420px;"  />
			</div>
		</div>
		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel" for="serialNumber">{{getLabel('SerialNumber')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="text" class="inputs text-box single-line ipt" id="serialNumber"
					   required ng-model="object.serialNumber" style="max-width: 420px;"  />
			</div>
		</div>
		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel" for="patrimony">{{getLabel('Patrimony')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="text" class="inputs text-box single-line ipt" id="patrimony"
					   required ng-model="object.patrimony" style="max-width: 420px;"  />
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel" for="active">{{getLabel('Active')}}</label>
			</div>

			<div class="col-sm-8">
                <input type="text" class="inputs text-box single-line ipt" id="active"
                       required value="{{object.active?getLabel('Yes'):getLabel('No')}}" style="max-width: 420px;"  />
			</div>
		</div>

		<div id="divCustomFieldList" ng-repeat="field in customFieldList" ng-if="customFieldList.length > 0" style="overflow: hidden; ">
			<div clas="row formGroup">
                <div class="col-xs-2" align="right">
				    <label class="control-label uiLabel ng-binding">{{field.customField}}</label>
                </div>
				<div class="col-sm-8" style="margin-left: -10px">
					<input class="inputs text-box single-line ipt" disabled="disabled" value="{{field.customFieldValue}}">
				</div>
			</div>
		</div>

		<hr style="border-top-color: #d5d5d5;">
		<div id="customFieldDiv" ng-repeat='arr in array'>

			<div class="row">
				<label class="control-label uiLabel col-xs-2 ng-binding">{{arr.NAME}}</label>

				<div style="margin-left: 180px">
					<span style="margin-right: 10px"> <img src="{{srcImageOK}}"
														   ng-style="{opacity: arr.STATUS == 'NOK' ? 0.3 : 1}" /> </span>
					<span> <img src="{{srcImageNOK}}" ng-style="{opacity: arr.STATUS == 'OK' ? 0.3 : 1}" /> </span>
				</div>

			</div>

			<br />
		</div>


		<div>
			<!-- Images -->
			<div class="panel panel-default">

				<div class="panel-heading">
					<div class="row">
						<div class="col-sm-1">
							<h4>{{getLabel('Images.p')}}</h4>
						</div>
					</div>
				</div>

				<div class="panel-body" id="divImagens">
					<div class="imgService" ng-repeat="imagem in listaImagensPrintLiq">
						<div data-toggle="modal" id="{{imagem.picName}}" class="imgServiceDiv" data-target="#modalImgDetail"
							 data-img="{{imagem.picPath}}" ng-click="setImageDetailObject(imagem.picPath, $index)"
							 style="background-image: url({{imagem.picPath}});">
						</div>

						<!-- Exibe a mensagem da imagem como link -->
						<div class="imgServiceMessageDiv link-google-maps dontPrint;">
							<a href="https://www.google.com/maps/place/{{imagem.latitude}}+{{imagem.longitude}}/@{{imagem.latitude}},{{imagem.longitude}},15z"
							   target="_blank">{{imagem.message}}</a>
						</div>
					</div>
				</div>
			</div>
			<!-- End Images -->

			<!-- Fields -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="col-sm-1">{{getLabel('Moves')}}</div>
				</div>

				<div>
					<div id="pnlCampos" class="panel-body ">
						<div class="headers" style="margin-bottom: 3px">
							<div class="col-xs-3">
								{{getLabel('User.s')}}
							</div>
							<div class="col-xs-3">
								{{getLabel('Date')}}
							</div>
							<div class="col-xs-3">
								{{getLabel('Storage.s')}}
							</div>
							<div class="col-xs-3">
								{{getLabel('Observation')}}
							</div>
						</div>
						<div class="rowsList" ng-repeat="move in object.objectHistoryList" ng-class-odd="'odd'"
							 ng-class-even="'even'" style="padding-right: 5px;">
							<div class="col-xs-3">
								{{move.user.name}}
							</div>
							<div class="col-xs-3">
								{{dateTimeFormat(move.dateTime)}}
							</div>
							<div class="col-xs-3">
								{{move.storage.description}}
							</div>
							<div class="col-xs-3">
								{{move.note}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End ObjectHistory -->


		</div>
		<div class="formGroup row">
			<div class="col-xs-offset-2 col-sm-6" style="margin-left: 0 !important">
				<a class="btn btn-primary" href="{{appUrl}}object"><i class="fa fa-arrow-left" aria-hidden="true"></i>
					{{getLabel('ReturnToList')}}</a>
			</div>
		</div>
	</form>
</div>


<!-- Modal imagens -->

<div class="modal fade" id="modalImgDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modalContent">
            <div class="modal-body" style="background-color: #FFF; overflow-y: scroll; margin-bottom: 10px">

                <!-- botoes de rotacionar e navegação -->
                <div class="row" id="barraSuperiorImagem">
                    <div class="col-md-3" align="center">

                        <div class="col-md-6" ng-if="verificaCarregamentoDeleteObject(config_web)">
                            <div class="glyphicon glyphicon-trash" data-target="#modalConfirmDelete" id="trash" align="center"
                                 data-toggle="modal" style="cursor: pointer; font-size: 32px; margin-top: 6px"></div>
                        </div>

                        <div class="col-md-6" ng-if="verificaCarregamentoTrocaObject(config_web)">
                            <div class="glyphicon glyphicon-duplicate" align="center" id="change" onclick="imgInput.click()"
                                 style="cursor: pointer; font-size: 32px; margin-top: 6px;">
                                <input type="file" accept="image/*" id="imgInput" name="imgInput" style="display: none" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" align="center">
                        <div class="col-md-3" style="cursor:pointer;" ng-click="moveImageToPrevObject()">
                            <div class="button-slide" id="mySlidePrev">
                                <i class="fa fa-backward" align="center"></i>
                            </div>
                        </div>

                        <div class="col-md-3" style="cursor:pointer;" ng-click="rotateMenosObject()">
                            <div id="rotateImageMenos" style="font-size: 35px;">
                                <i class="fa fa-undo" align="center"></i>
                            </div>
                        </div>

                        <div class="col-md-3" style="cursor:pointer;" ng-click="rotateMaisObject()">
                            <div id="rotateImageMais" style="font-size: 35px;">
                                <i class="fa fa-repeat" align="center"></i>
                            </div>
                        </div>

                        <div class="col-md-3" ng-click="moveImageToNextObject()">
                            <div class="button-slide" id="mySlideNext" style="cursor:pointer;">
                                <i class="fa fa-forward" align="center"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3" align="center">

                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6" ng-click="downloadImage()" ng-if="verificaCarregamentoEditarObject(config_web)">
                            <div class="glyphicon glyphicon-pencil" id="edit"
                                 style="cursor: pointer; font-size: 32px; margin-top: 6px;">
                            </div>
                        </div>
                    </div>


                </div>
                <!-- Fim botoes de rotacionar e navegação -->


                <!-- Imagem -->
                <div class="row" style="margin-top: 10px;">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img id="imageDetailObject" class="img-responsive">
                    </div>

                </div>
                <!-- Fim Navegacao e Imagem -->
            </div>
        </div>

    </div>
</div>


<!-- Modal imagens-->
