<div class="form-horizontal jumbotron divLista">
	<div id="carregamento"></div>
	<div style="height: 10%">
		<h3 class="fLeft">{{getLabel('document.p')}}</h3>
		
		<div class="fLeft">
			<label class="control-label col-xs-1 labelFiltro" for="query">{{getLabel('Filter')}}</label>
			<input type="text" id="query" name="query" ng-model="query" class="formGroupInput form-control"
				style="width: 70%" ng-change="setTextDocument()"/>
		</div>

		<div class="fLeft">
			<a href="{{urlDownloadSelectPhotos()}}" ng-if="selectDocument()" class="btn btn-default" style="color: #666666; margin-top: 20px" target="_black" download>
				<i class="fa fa-download" aria-hidden="true" style="margin-right: 5px;"></i>{{getLabel('photoDownload')}}
			</a>
		</div>

		<div class="headers row" style="margin-bottom: 3px">
			<div class="col-xs-3">
				{{getLabel('requester')}}
			</div>
			<div class="col-sm-9">
				{{getLabel('area')}}
			</div>
		</div>
	</div>

	<div class="containerList" style="height: 70%">
		<div class="rowsList row" ng-repeat="document in documents | filter:query track by $index" ng-class-odd="'odd'" ng-class-even="'even'"
			style="padding-right: 5px;">
			<div class="col-xs-3">
				<div class="col-xs-9 divItemList">{{document.request}}</div>
			</div>
			
			<div class="col-sm-6">
				<div class="col-xs-9 divItemList">{{document.area.description}}</div>
			</div>
			
			<div class="col-lg-2" style="padding-right: 5px;" align="right">
				<a href="{{appUrl}}documentDetail/{{document.documentId}}"
					class="btn btn-primary formGroupInput">{{getLabel('Details')}}</a>
			</div>
			<div class="col-lg-1" align="center">
				<input type="checkbox" id="downloadPhoto" ng-click="changeOptionDownload($index)"/>
			</div>
		</div>
	</div>
</div>