<div class="form-horizontal jumbotron divLista" style="height: auto !important">
	<div style="height: 26px;">
		<div style="width: 50%; float: left" class="divTitle">
			<h4>{{getLabel('documentInformation')}}</h4>
		</div>
		<div style="width: 50%; float: left; text-align: right" class="dontPrint">
			<a class="btn btn-link" href="{{appUrl}}document"> <i class="material-icons myArrow">keyboard_arrow_left</i>
				{{getLabel('Back')}}
			</a>
		</div>
	</div>
	<hr>
	
	<form class="form-horizontal" novalidate name="frmClient">
		<div class="row" style="width: 100%">
			<label class="control-label uiLabel col-xs-2" for="user">{{getLabel('User')}}</label>
			<div class="col-md-10">
				<input name="user" class="inputs text-box single-line ipt" id="user" type="text" value=""
					style="max-width: 220px; margin-left: 5px" maxlength="60" ng-model="document.user.name" readonly/>
			</div>
		</div>
	</form>
	
	<form class="form-horizontal" novalidate name="frmClient">
		<div class="row" style="width: 100%">
			<label class="control-label uiLabel col-xs-2" for="user">{{getLabel('requester')}}</label>
			<div class="col-md-10">
				<input name="user" class="inputs text-box single-line ipt" id="user" type="text" value=""
					style="max-width: 220px; margin-left: 5px" maxlength="60" ng-model="document.request" readonly/>
			</div>
		</div>
	</form>
	
	<form class="form-horizontal" novalidate name="frmClient">
		<div class="row" style="width: 100%">
			<label class="control-label uiLabel col-xs-2" for="user">{{getLabel('area')}}</label>
			<div class="col-md-10">
				<input name="user" class="inputs text-box single-line ipt" id="user" type="text" value=""
					style="max-width: 220px; margin-left: 5px" maxlength="60" ng-model="document.area.description" readonly/>
			</div>
		</div>
	</form>
	
	<form class="form-horizontal" novalidate name="frmClient">
		<div class="row" style="width: 100%">
			<label class="control-label uiLabel col-xs-2" for="user">{{getLabel('date')}}</label>
			<div class="col-md-10">
				<input name="user" class="inputs text-box single-line ipt" id="user" type="text" value=""
					style="max-width: 220px; margin-left: 5px" maxlength="60" ng-model="document.startTime" readonly/>
			</div>
		</div>
	</form>
	
	<div class="jumbotron" style="padding: 15px; padding-bottom: 0px !important;padding-top: 0px !important;">
		<hr>
	</div>
			
	<div class="row" id="divNotes">
		<div class="col-md-12">
			<h4>{{getLabel('Observation')}}</h4>
		</div>

		<div class="col-md-12">
			<textarea rows="5" cols="100" class="form-control text-box ipt"
				style="float: left; max-width: 100%; margin-right: 2px" readonly> {{document.note}} </textarea>
		</div>
		<br/>
	</div>
	<br />
	<div class="dontPrint" id="divImagensThumb">		
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-1">
						<h4>{{getLabel('Fotos')}}</h4>
					</div>
				</div>
			</div>

			<div class="panel-body">
				<div class="imgService" ng-repeat="image in document.picsList track by $index">
					<div data-toggle="modal" class="imgServiceDiv" data-target="#modalImgDetailDocument"
						data-img="{{image.picPath}}" ng-click="setImageDetailDocument(image.picPath, $index);"
						style="background-image: url({{image.picPath}});">

					</div>

					<!-- Exibe a mensagem da imagem como link -->
					<div class="imgServiceMessageDiv link-google-maps dontPrint;">
						<a href="https://www.google.com/maps/place/{{location.LATITUDE}}+{{location.LONGITUDE}}/@{{location.LATITUDE}},{{location.LONGITUDE}},15z"
							target="_blank">{{image.message}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="dontPrint" id="divMapa">
		<div class="jumbotron"
			style="margin-bottom: 0px !important;padding-bottom: 0px !important;padding-top: 0px !important;">
			<hr>
		</div>

		<input type="button" class="btn btn-default" name="btnInit" value="init" id="btnInit" ng-click="initialize()"
			style="display: none" />
		<input type="button" class="btn btn-default" name="btnMapa" value="Mapa" id="btnMapa"
			ng-click="dadosMapa()" style="display: none" />

		<h4>{{getLabel('Map')}}</h4>

		<div id="map"></div>
	</div>
		
		<div class="formGroup row" style="margin-top: 20px;">
			<div class="col-xs-offset-1 col-sm-6" style="margin-left: 0 !important">
				<a class="btn btn-primary" id="backAreaList" href="{{appUrl}}document"> <i class="fa fa-arrow-left" aria-hidden="true"></i>
					{{getLabel('ReturnToList')}}
				</a>

				<a href="{{urlDownloadPhotos()}}" class="btn btn-default" style="color: #666666" target="_black" download>
					<i class="fa fa-download" aria-hidden="true" style="margin-right: 5px;"></i>{{getLabel('photoDownload')}}
				</a>
			</div>
		</div>
</div>

<!-- Modal imagens -->
<div class="modal fade" id="modalImgDetailDocument" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content" id="modalContent">
			<div class="modal-body" style="background-color: #FFF; overflow-y: scroll; margin-bottom: 10px">

				<!-- botoes de rotacionar e navegação -->
				<div class="row" id="barraSuperiorImagem">
					<div class="col-md-3" align="center"></div>

					<div class="col-md-6" align="center">
						<div class="col-md-3" style="cursor:pointer;" ng-click="moveImageToPrevDocument()">
							<div class="button-slide" id="mySlidePrev">
								<i class="fa fa-backward" align="center"></i>
							</div>
						</div>

						<div class="col-md-3" style="cursor:pointer;" ng-click="rotateMenosDocument()">
							<div id="rotateImageMenos" style="font-size: 35px;">
								<i class="fa fa-undo" align="center"></i>
							</div>
						</div>

						<div class="col-md-3" style="cursor:pointer;" ng-click="rotateMaisSettlement()">
							<div id="rotateImageMais" style="font-size: 35px;">
								<i class="fa fa-repeat" align="center"></i>
							</div>
						</div>

						<div class="col-md-3" ng-click="moveImageToNextDocument()">
							<div class="button-slide" id="mySlideNext" style="cursor:pointer;">
								<i class="fa fa-forward" align="center"></i>
							</div>
						</div>
					</div>

					<div class="col-md-3" align="center"></div>
				</div>
				<!-- Fim botoes de rotacionar e navegação -->


				<!-- Imagem -->
				<div class="row" style="margin-top: 10px;">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<img id="imageDetailDocument" class="img-responsive">
					</div>
				</div>
				<!-- Fim Navegacao e Imagem -->
			</div>
		</div>

	</div>
</div>
<!-- Modal imagens-->

<script>
	$(document).ready(function () {
		initialize();
		setTimeout(function () {
			$("#btnMapa").trigger("click");
		}, 2000);
	});
</script>