<form class="form-horizontal" id="frmTableParameter" name="frmTableParameter">
	<div class="form-horizontal jumbotron divLista">
		<h4>{{getLabel('ParametersOfTable')}} {{tableParameter.tableReference}}</h4>
		<hr>

		<div id="pnlFields" class="panel panel-default">
			<div class="panel-heading">
				<div class="col-sm-1">{{getLabel('Fields')}}</div>
				<div class="text-right" style="margin-top: -5px;">
					<button class="btn-sm btn-success"  data-toggle="modal" data-target="#modalNewField" ng-click="currentField={}">+</button>
				</div>
			</div>

			<div class="panel-body">

				<div style="height: 10%">
					<div class="headers col-xs-3" style="margin-bottom: 3px">
						{{getLabel('FieldName')}}
					</div>
					<div class="headers col-xs-3" style="margin-bottom: 3px">
						{{getLabel('Type')}}
					</div>
					<div class="headers col-xs-6" style="margin-bottom: 3px">
						{{getLabel('Required')}}
					</div>
				</div>
				<!-- Fields -->
				<div class="containerList" style="height: 70%">
					<div class=" rowsList" ng-repeat="field in tableParameter.jsonStructure" ng-class-odd="'odd'" ng-class-even="'even'"
						 style="padding-right: 5px;">

						<div class="col-xs-3 divItemList">{{field.field.pt}} - {{field.field.en}} - {{field.field.es}}</div>
						<div class="col-xs-3 divItemList">{{field.type}}</div>
						<div class="col-xs-3 divItemList"><input type="checkbox" disabled ng-model="field.required"></div>
						<div class="col-xs-3" style="padding-right: 5px;" align="right">
							<span class="btn btn-primary formGroupInput" style="width: 100px" data-toggle="modal" data-target="#modalNewField" ng-click="setCurrentField(field)">
								 {{getLabel('Details')}}
							</span>

							<button class="btn btn-danger formGroupInput" ng-click="removeItem(field)" >
								{{getLabel('Remove')}}</button>
						</div>
					</div>
				</div>
				<!-- End Fields -->
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-offset-1 col-sm-6" style="margin-left: 0 !important">
				<a class="btn btn-primary" href="{{appUrl}}tableParameters"> <i class="fa fa-arrow-left" aria-hidden="true"></i>
					{{getLabel('ReturnToList')}}
				</a>

				<button class="btn btn-primary" ng-click="saveTableParameter(tableParameter)">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{getLabel('Save')}}
				</button>
			</div>
		</div>
	</div>
</form>


<div class="modal fade " id="modalNewField" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	 aria-hidden="true">

	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="formGroup row costCenterBodyModal">

				<div>
					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="FieldPT">{{getLabel('FieldName')}}(pt)</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="formGroupInput form-control" id="fieldPT" name="fieldPT" ng-model="currentField.field.pt"/>
						</div>
					</div>
					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="FieldEN">{{getLabel('FieldName')}}(en)</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="formGroupInput form-control" id="fieldEN" name="fieldEN" ng-model="currentField.field.en"/>
						</div>
					</div>
					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="fieldES">{{getLabel('FieldName')}}(es)</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="formGroupInput form-control" id="fieldES" name="fieldES" ng-model="currentField.field.es"/>
						</div>
					</div>
					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="type">{{getLabel('Type')}}</label>
						</div>
						<div class="col-sm-8">
							<select name="type" id="type" ng-model="currentField.type"
									class="formGroupInput form-control text-box single-line" >
								<option ng-repeat="type in listType" value="{{type.value}}">
									{{type.label}}</option>
							</select>
						</div>
					</div>
					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="required">{{getLabel('Required')}}</label>
						</div>
						<div class="col-sm-8">
							<select class="formGroupInput form-control text-box single-line" id="required"
									ng-model="currentField.required">
								<option ng-value="true">{{getLabel('Yes')}}</option>
								<option ng-value="false">{{getLabel('No')}}</option>
							</select>
						</div>
					</div>
				</div>

			</div>

			<div class="formGroup row costCenterFooterModal">
				<input class="btn btn-primary" type="button" value="{{getLabel('Confirm')}}" ng-click="addField()">
				<input class="btn btn-default" type="button" value="{{getLabel('Cancel')}}" data-dismiss="modal" ng-click="tableSelected=''">
			</div>
		</div>
	</div>
</div>