<div class="form-horizontal jumbotron divLista">

	<div style="height: 10%">
		<h3 class="fLeft">{{getLabel('TableParameters')}}</h3>

		<span class="btn btn-default fLeft" style="width: 100px" data-toggle="modal" data-target="#modalNewTableParameter">
			<i class="fa fa-plus" aria-hidden="true"></i> {{getLabel('New')}}
		</span>

		<div class="fLeft">
			<label class="control-label col-xs-1 labelFiltro" for="query">{{getLabel('Filter')}}</label>
			<input type="text" id="query" name="query" ng-model="query" class="formGroupInput form-control"
				style="width: 70%" />
		</div>

		<div class="headers" style="margin-bottom: 3px">
			{{getLabel('ReferenceTable')}}
		</div>
	</div>

	<div class="containerList" style="height: 70%">
		<div class=" rowsList" ng-repeat="tableParameter in tableParameters | filter:query" ng-class-odd="'odd'" ng-class-even="'even'"
			style="padding-right: 5px;" ng-if="viewTableParameter(tableParameter)">

			<div class="col-xs-9 divItemList">{{tableParameter.tableReference}}</div>
			<div class="col-xs-3" style="padding-right: 5px;" align="right">
				<a href="{{appUrl}}tableParametersDetail/{{tableParameter.tableReference}}"
					class="btn btn-primary formGroupInput">{{getLabel('Details')}}</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade " id="modalNewTableParameter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	 aria-hidden="true" style="margin-top: -30%">

	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="formGroup row costCenterBodyModal">
				<div class="col-xs-2" align="right">
					<label class="uiLabel" for="tableReference">{{getLabel('ReferenceTable')}}</label>
				</div>
				<div class="col-sm-10">
					<select name="tableReference" id="tableReference" ng-model="tableSelected"
							class="formGroupInput form-control text-box single-line" >
						<option value="">{{getMessage('selectReferenceTable')}}</option>
						<option ng-repeat="table in tableList" value="{{table}}">
							{{table}}</option>
					</select>
				</div>
			</div>

			<div class="formGroup row costCenterFooterModal">
				<input class="btn btn-primary" type="button" value="{{getLabel('Confirm')}}" ng-disabled="tableSelected == ''" ng-click="openDetail()">
				<input class="btn btn-default" type="button" value="{{getLabel('Cancel')}}" data-dismiss="modal" ng-click="tableSelected=''">
			</div>
		</div>
	</div>
</div>