<div class="form-horizontal jumbotron divLista">

	<div style="height: 10%">
		<h3 class="fLeft">{{getLabel('TableImports')}}</h3>

		<span class="btn btn-default fLeft" style="width: 100px" data-toggle="modal" data-target="#modalNewTableForImport">
			<i class="fa fa-plus" aria-hidden="true"></i> {{getLabel('New')}}
		</span>

		<div class="fLeft">
			<label class="control-label col-xs-1 labelFiltro" for="query">{{getLabel('Filter')}}</label>
			<input type="text" id="query" name="query" ng-model="query" class="formGroupInput form-control"
				style="width: 70%" />
		</div>

		<div class="headers" style="margin-bottom: 3px">
			{{getLabel('ReferenceTable')}}
		</div>
	</div>

	<div class="containerList" style="height: 70%" id="containerList">
		<div class="rowsList" ng-repeat="import in allImports" ng-class-odd="'odd'" ng-class-even="'even'">

			<div class="row" style="width: 100%">
				<div class="col-xs-10 divItemList">{{import.nameClass}}</div>
				<div class="col-xs-1">
					<input type="button" value="{{getLabel('Edit')}}" class="btn btn-primary formGroupInput" ng-click="editImport(import)">
				</div>
				<div class="col-xs-1">
					<input type="button" value="{{getLabel('Remove')}}" class="btn btn-secunday formGroupInput" ng-click="showModalConfirmRemove(import)">
				</div>
			</div>
			
		</div>
	</div>
</div>

<div class="modal fade " id="modalNewTableForImport"  role="dialog" aria-labelledby="exampleModalLabel"
	 aria-hidden="true">
	 
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="formGroup row costCenterBodyModal">
				<div class="col-xs-2" align="right">
					<label class="uiLabel" for="tableReference">{{getLabel('ReferenceTable')}}</label>
				</div>
				<div class="col-sm-10">
					<select name="tableReference" id="tableReference" ng-model="imports.nameClass" ng-if="editImports == null"
							class="formGroupInput form-control text-box single-line" >
						<option value="">{{getMessage('selectReferenceTable')}}</option>
						<option ng-repeat="table in tableList" value="{{table}}">
							{{table}}</option>
					</select>
					<label ng-if="editImports != null" class="uiLabel">{{editImports.nameClass}}</label>
					
				</div>
			</div>
			
			<input type="file" id="inputXls" style="visibility: hidden;"/>
			<a class="btn btn-default" style="color: #666666; margin-left: 80px;" target="_black" onclick="inputXls.click()">
	        	<i class="fa fa-download" aria-hidden="true"></i> {{getLabel('importExcel')}}
			</a>
			
			<div id="divForInner">
			</div>
			
			<div class="formGroup row costCenterFooterModal">
				<input class="btn btn-primary" type="button" value="{{getLabel('Save')}}" ng-disabled="disableSaveButton()" ng-click="save()">
				<input class="btn btn-default" type="button" value="{{getLabel('Cancel')}}" data-dismiss="modal" ng-click="cancel()">
			</div>
		</div>
	</div>
</div>

<div id="modalConfirmDelete" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{getLabel('Confirmation')}}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<p>{{getMessage('confirmDeleteImports')}}</p>
			</div>

			<div class="modal-footer">
				<button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
					{{getLabel('Cancel')}}
				</button>

				<button class="btn btn-danger" data-dismiss="modal" ng-click="remove(importsForRemove)">
					<i class="glyphicon glyphicon-trash" aria-hidden="true"></i> {{getLabel('Delete')}}
				</button>
			</div>
		</div>
	</div>
</div>

