<div class="form-horizontal jumbotron divLista">
    <h4>{{getLabel('StorageData')}}</h4>
    <hr />
    <form class="form-horizontal" id="frmObjectType" name="frmObjectType">

        <div class="formGroup row">
            <div class="col-xs-2" align="right">
                <label class="uiLabel" for="descricao">{{getLabel('Description')}}</label>
            </div>
            <div class="col-sm-6">
                <input type="text" class="formGroupInput form-control"
                    id="descricao" placeholder="{{getLabel('Description')}}" required
                    ng-model="storage.description" style="max-width: 420px;" />
            </div>
        </div>

        <div class="formGroup row">
            <div class="col-xs-2" align="right">
                <label class="uiLabel" for="active">{{getLabel('Active')}}</label>
            </div>

            <div class="col-sm-8">
                <select class="formGroupInput form-control text-box single-line"
                    style="max-width: 220px" id="active" ng-model="storage.active">
                    <option ng-value="true">{{getLabel('Yes')}}</option>
                    <option ng-value="false">{{getLabel('No')}}</option>
                </select>
            </div>
        </div>
        <div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel">{{getLabel('Color')}}</label>
			</div>
			<div class="col-sm-2">
				<input id="colorSel" type="text" class="form-control"
					ng-style="{background: storage.colorId}" ng-model="storage.colorId"
					ng-readonly="true" style="width: 90px !important;" />
			</div>
		</div>
        <div class="formGroup row">
            <div class="col-xs-offset-2 col-sm-6">
                <a class="btn btn-primary" href="{{appUrl}}storage"><i
                    class="fa fa-arrow-left" aria-hidden="true"></i>
                    {{getLabel('ReturnToList')}}</a>
                <button class="btn btn-primary" ng-click="saveStorage(storage)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{getLabel('Save')}}
                </button>
            </div>
        </div>
    </form>
</div>

