<div class="" ng-controller="vehicleController">
  <form class="">
    <div class="form-horizontal jumbotron divLista">
      <h4>Dados do Veículo</h4>
      <hr>

      <div class="form-group">
          <label class="control-label col-md-2" for="NOME">Marca</label>
          <div class="col-md-6">
              <input name="brand" class="form-control text-box single-line" id="brand" type="text" value="" maxlength="45" ng-model="vehicle.brand"/>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-md-2" for="NOME">Placa</label>
          <div class="col-md-4">
              <input name="plate" class="form-control text-box single-line" id="plate" type="text" value="" maxlength="45" ng-model="vehicle.plate"/>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-md-2" for="NOME">Ano de fabricação</label>
          <div class="col-md-4">
              <input name="fabrication" class="form-control text-box single-line" id="fabrication" type="number" value="" maxlength="45" ng-model="vehicle.fabricationYear"/>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-md-2" for="NOME">Modelo</label>
          <div class="col-md-8">
              <input name="model" class="form-control text-box single-line" id="model" type="text" value="" maxlength="45" ng-model="vehicle.model"/>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-md-2" for="NOME">Ano Modelo</label>
          <div class="col-md-4">
              <input name="modelYear" class="form-control text-box single-line" id="modelYear" type="number" value="" maxlength="45" ng-model="vehicle.modelYear"/>
          </div>
      </div>
      
      <div class="form-group">
          <label for="cliente" class="control-label col-md-2">Cliente</label>
          <div class="col-md-4">
              <select class="form-control text-box single-line" id="cliente" ng-model="vehicle.client" ng-options="cliente.companyName for cliente in clientes">
                  <option value="">selecione um cliente</option>
              </select>
          </div>
      </div>

      <div class="form-group">
          <div class="col-md-offset-2 col-md-10" style="margin-left: 0">
              <a class="btn btn-primary" href="{{appUrl}}veiculos">Retornar a lista</a>
              <input class="btn btn-primary" type="button" value="Confirmar" ng-disabled="!vehicle.plate || !vehicle.brand" ng-click="criar(vehicle)">
          </div>
      </div>

    </div>
  </form>
</div>
