<div class="form-horizontal jumbotron divLista">
	<div class="">
		<h2 class="fLeft">Veículos</h2>
		<a href="{{appUrl}}veiculoCreate" class="btn btn-default fLeft">novo</a>
	</div>

		<table class="table">
    <tr>
        <th>
            Modelo
        </th>
        <th>
            Marca
        </th>
		<th>
            Placa
		</th>
		<th>
            Cliente
        </th>
        <th></th>
				<th></th>
    </tr>
		<tr class="" ng-repeat="vei in veiculos">
			<td>{{vei.model}}</td>
			<td>{{vei.brand}}</td>
			<td>{{vei.plate}}</td>
			<td>{{vei.client.companyName}}</td>
			<td>
				<a href="{{appUrl}}veiculoDetail/{{vei.vehicleId}}" class="btn btn-primary">editar/detalhes</a></td>
			<td><input type="button" name="" value="excluir" class="btn btn-primary"></td>
		</tr>
	</table>
</div>
