<span>{{company.companyName}}</span>
<span>{{getLabel('EIN')}}: {{company.document}} - {{getLabel('Reg')}}: {{company.registration}}</span>
<span>{{company.address}} - {{getLabel('ZipCode')}}: {{company.zipCode}} - {{company.city}}</span>
<span>{{getLabel('Phone')}}: {{company.phone}} - {{getLabel('Site')}}: {{company.site}}</span>