<div class="divTitlePrint" style="width:100% !important; display: inline-block !important; margin-bottom: 15px !important; border:2px solid #000 !important; float:left">
	<div class="divLogo">
		<img src="{{urlLogo}}" alt="" width="60" align="top" style="margin-top: 15px !important"/>
	</div>
	<div class="divInfo" style="width: 580px !important">
		<div ng-include="reportList.headerCompany"></div>
	</div>
	<div class="divOsInfo" style="padding-top: 20px !important">
		<div class="">
			<span for="" style="font-size:18px !important; color: #FF0000 !important; font-weight: bold !important">{{reportNumber}}</span>
		</div>
		<div class="" style="font-size:13px !important; margin-top: 5px;" >
			<span>{{reportDate}}</span>
		</div>
	</div>
</div>