<div class="divTitlePrint" style="width:100% !important; display: inline-block !important; border:2px solid #000 !important; float:left">
	<div class="divLogo">
		<img src="{{urlLogo}}" alt="" width="60" align="top" style="margin-top: 15px !important"/>
	</div>
	<div class="divInfo" style="width: 580px !important; border-right: 0px !important;">
		<div ng-include="reportList.headerCompany"></div>
	</div>
</div>