<style>
    .borderTopLeft {
        border-top: 1px solid black !important;
        border-left: 1px solid black !important;
    }

    .borderTopLeftRight {
        border-top: 1px solid black !important;
        border-left: 1px solid black !important;
        border-right: 1px solid black !important;
    }

    .borderLeft {
        border-left: 1px solid black !important;
    }

    .borderRight {
        border-right: 1px solid black !important;
    }

    .borderBottom {
        border-bottom: 1px solid black !important;
    }

    .divHeader {
        height: 100px !important;
    }

    .divCompanyClient {
        height: 225px !important;
    }

    .centroTop10 {
        text-align: center; 
        padding-top: 10px;
    }

    .centralizar {
        text-align: center !important;
    }

    .heightRowDebits {
        min-height: 225px;
    }

    .heightTopDebits {
        padding-top: 7px;
        height: 30px !important;
    }

    .heightDebits {
        height: 20px !important;
    }

    .heightNote {
        min-height: 150px;
    }
    
    .angular-with-newlines {
        white-space: pre-line;
    }
</style>
<div class="container print" style="-webkit-print-color-adjust: exact; padding: 0px !important;" id="relExpenseDebitNote">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="exportDebitNote">
            <div class="row-no-gutters">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 borderTopLeft divHeader">
                    <img src="{{urlLogo}}" class="img-responsive" alt="Image" style="max-height: 90px; width: 100%;">
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 borderTopLeft divHeader">
                    <label  style="padding-top: 20px !important; text-align: center" for="inputSequence">{{getLabel('DEBITNOTE')}}</label>
                    <input type="text" name="sequence" id="inputSequence" class="form-control" style="margin-top: 10px; text-align: center; font-size: 17px" value="{{debitNote.sequence}} - {{debitNote.series}}">
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 borderTopLeftRight divHeader centroTop10">
                    <b>{{getLabel('ISSUANCEDATE')}}</b><br>
                    {{debitNote.issuanceDate}}<br><br>
                    <b>{{getLabel('DUEDATE')}}</b><br>
                    {{debitNote.dueDate}}
                </div>
            </div>
            
            <div class="row-no-gutters">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 borderTopLeft divCompanyClient">
                    <div class="row-no-gutters">
                        <label for="emissor" style="margin-top: 10px !important;">{{getLabel('EMITTER')}}: &nbsp;&nbsp; <span style="font-weight: normal">{{debitNote.company.companyName}}</span></label>
                    </div>
                    <div class="row-no-gutters">
                        <label>{{getLabel('ADDRESS')}}: &nbsp;&nbsp; <span style="font-weight: normal">{{debitNote.company.address}}</span></label>
                    </div>
                    <div class="row-no-gutters">
                        <label for="phone">{{getLabel('PHONE')}}: &nbsp;&nbsp; <span style="font-weight: normal">{{debitNote.company.phone}}</span></label>
                    </div>
                    <div class="row-no-gutters">
                        <label for="zipCode">{{getLabel('ZIPCODE')}}: &nbsp;&nbsp; <span style="font-weight: normal">{{debitNote.company.zipCode}}</span></label>
                    </div>
                    <div class="row-no-gutters" >
                        <label for="city">{{getLabel('CITY')}}: &nbsp;&nbsp; <span style="font-weight: normal">{{debitNote.company.city}}</span></label>
                    </div>
                    <div class="row-no-gutters">
                        <label for="CNPJ">{{getLabel('EIN')}}: &nbsp;&nbsp; <span style="font-weight: normal">{{debitNote.company.document}}</span></label>
                    </div>
                    <div class="row-no-gutters">
                        <label for="inscEst">{{getLabel('STATREG')}}: &nbsp;&nbsp; <span style="font-weight: normal">{{debitNote.company.registration}}</span></label>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 borderTopLeftRight divCompanyClient">
                    <div class="row-no-gutters">
                        <label for="emissor" style="margin-top: 10px !important;">{{getLabel('RECEIVER')}}: &nbsp;&nbsp; <span style="font-weight: normal">{{debitNote.client.companyName}}</span></label>
                    </div>
                    <div class="row-no-gutters">
                        <label for="address">{{getLabel('ADDRESS')}}: &nbsp;&nbsp; <span style="font-weight: normal">{{debitNote.client.address}}</span></label>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 30px;">
                            
                        </div>
                    </div>
                    <div class="row-no-gutters">
                        <label for="zipCode">{{getLabel('ZIPCODE')}}: &nbsp;&nbsp; <span style="font-weight: normal">{{debitNote.client.zipCode}}</span></label>
                    </div>
                    <div class="row-no-gutters" >
                        <label for="city">{{getLabel('CITY')}}: &nbsp;&nbsp; <span style="font-weight: normal">{{debitNote.client.city}}</span></label>
                    </div>
                    <div class="row-no-gutters">
                        <label for="CNPJ">{{getLabel('ITINEIN')}}: &nbsp;&nbsp; <span style="font-weight: normal">{{debitNote.client.document}}</span></label>
                    </div>
                    <div class="row-no-gutters">
                        <label for="inscEst">{{getLabel('STATREG')}}: &nbsp;&nbsp; <span style="font-weight: normal">{{debitNote.client.registration}}</span></label>
                    </div>
                </div>
            </div>
            
            <div class="row-no-gutters">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 borderTopLeft borderBottom heightTopDebits">
                    <label class="centralizar" for="code">{{getLabel('COD')}}</label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 borderTopLeft borderBottom heightTopDebits">
                    <label class="centralizar" for="desc">{{getLabel('DESCRIPTION')}}</label>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 borderTopLeft borderBottom heightTopDebits">
                    <label class="centralizar" for="quant">{{getLabel('QUANT')}}</label>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 borderTopLeftRight borderBottom heightTopDebits">
                    <label class="centralizar" for="total">{{getLabel('TOTAL')}}</label>
                </div>
            </div>
            
            <div class="row-no-gutters" ng-repeat="debit in debitNote.listDebit">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 borderLeft heightDebits">
                    {{debit.code}}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 borderLeft heightDebits">
                    {{debit.description}}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 borderLeft heightDebits" style="text-align: center">
                    {{debit.quantity}}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 borderLeft borderRight heightDebits" style="text-align: right; padding-right: 5px !important;">
                    {{debit.total > 0 ? formatMoney(debit.total): ''}}
                </div>
            </div>
            
            <div class="row-no-gutters">
                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 borderTopLeft heightTopDebits">
                    <!--Necessário-->
                </div>
                
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 borderTopLeft heightTopDebits">
                    <label for="total" style="text-align: center">{{getLabel('TOTAL')}}</label>
                </div>

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 borderTopLeftRight heightTopDebits">
                    <label for="totalValue" style="text-align: right; padding-right: 5px !important; font-weight: bold;">$ {{debitNote.formatedTotal}} </label>
                </div>
            </div>

            
            <div class="row-no-gutters">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 borderTopLeftRight heightNote">
                    <div class="row-no-gutters">
                        <label for="note">{{getLabel('NOTES')}}</label>

                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 angular-with-newlines" style="margin: 0px;">
                            {{debitNote.note}}
                        </div>
                        
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="text-align: center;">
                                <label for="bankData" style="text-align: center;">{{getLabel('BANKDATA')}}</label>
                            <div class="row-no-gutters" ng-repeat="bank in debitNote.listBank">
                                <label for="bankDetail" style="text-align: center;">{{bank.name}} - {{getLabel('AG')}} {{bank.agency}} - {{getLabel('CA')}} {{bank.cc}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-no-gutters">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 borderTopLeft borderBottom">
                    <label for="totalValueFull" style="padding-top: 7px !important;">{{getLabel('TOTALVALUEBYEXTENSION')}}</label>
                    <label for="totalValueFull"> {{debitNote.totalValueFull.capitalize()}} </label>
                </div>
                
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 borderTopLeftRight borderBottom">
                    <label for="totalValue" style="padding-top: 5px !important;">{{getLabel('TOTALGENERALOFTHENOTE')}}</label>
                    <label for="totalValue" style="text-align: right; padding-right: 7px !important; font-weight: bold;">$ {{debitNote.formatedTotal}}</label>
                </div>
            </div>
        </div>
    </div>
</div>
