<main class="auth-main">
  <div class="auth-block">
    <h3>{{companyName}}</h3>


    <form class="form-horizontal">
      <div class="form-group">
        <label for="usuario" class="col-sm-2 control-label uiLabel">{{getLabel('User')}}</label>

        <div class="col-sm-10">
          <input type="text" class="formGroupInput form-control" id="usuario" placeholder="{{getLabel('User')}}"
            style="text-transform: none !important;" ng-model="User.user" ng-keypress="loginKeyPress($event)" />
        </div>
      </div>
      <div class="form-group">
        <label for="senha" class="col-sm-2 control-label uiLabel">{{getLabel('Password')}}</label>

        <div class="col-sm-10">
          <input type="password" class="formGroupInput form-control" id="senha" placeholder="{{getLabel('Password')}}"
            style="text-transform: none !important;" ng-model="User.pass" ng-keypress="loginKeyPress($event)" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="button" name="" value="{{getLabel('Enter')}}"
            class="btn btn-default btn-auth btn-block formGroupInput" style="background-color:transparent !important"
            ng-click="autenticar()" />
        </div>
      </div>
    </form>

    <div class="auth-sep"><span><span>{{getMessage('EnterYourUsernameAndPassword')}}</span></span></div>

    <div class="form-group">
      <div class="col-sm-12" align="center">
        <select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="situacao"
          ng-model="language" ng-change="update()">
          <option value="pt">Português</option>
          <option value="en">English</option>
          <option value="es">Español</option>
        </select>
      </div>
    </div>

  </div>