<div class="form-horizontal jumbotron divLista">

	<div style="height: 10%">
		<h3 class="fLeft">{{getLabel('User.p')}}</h3>

		<a href="{{appUrl}}userCreate" class="btn btn-default fLeft" style="width:100px">
			<i class="fa fa-plus" aria-hidden="true"></i>
			{{getLabel('New')}}
		</a>

		<div class="fLeft">
			<label class="control-label col-xs-1 labelFiltro" for="query">{{getLabel('Filter')}}</label>
			<input type="text" id="query" name="query" ng-model="query" class="formGroupInput form-control"
				style="width: 70%" ng-change="setTextUser()" />
		</div>

		<div class="radio-filters" style="margin-left: 10%">
			<label class="radio-inline col-xs-1">
				<input class="radio" type="radio" ng-model="optActive" name="optActive" value="active"
					ng-change="filterUsersByStatus()" id="optActive">{{getLabel('Active.p')}}
			</label>

			<label class="radio-inline col-xs-1">
				<input class="radio" type="radio" ng-model="optActive" name="optActive" value="inactive"
					ng-change="filterUsersByStatus()" id="optInactive">{{getLabel('Inactive.p')}}
			</label>

			<label class="radio-inline col-xs-1">
				<input class="radio" type="radio" ng-model="optActive" name="optActive" value="all"
					ng-change="filterUsersByStatus()" id="optAll">{{getLabel('All')}}
			</label>
		</div>

		<div class="headers">
			<div style="width: 30%">
				{{getLabel('Name')}}
			</div>
			<div style="width: 20%">
				{{getLabel('User')}}
			</div>
			<div style="width: 20%">
				{{getLabel('Phone')}}
			</div>
		</div>
	</div>

	<div class="containerList" style="height: 70%">
		<div class="rowsList" ng-repeat="user in users | filter:query" ng-class-odd="'odd'" ng-class-even="'even'">
			<div style="width: 30% !important; font-size: 11px !important">
				{{user.name}}
			</div>
			<div style="width: 20% !important; font-size: 11px !important">
				{{user.user}}
			</div>
			<div style="width: 20% !important; font-size: 11px !important">
				{{user.phone}}
			</div>
			<div align="right" style="width: 30% !important">
				<a class="btn btn-primary formGroupInput"
					href="{{appUrl}}userDetail/{{user.userId}}">{{getLabel('Details')}}</a>

				<input type="button" name="btn{{user.active}}" ng-if="verificaAtivarDesativar(userLog, user.user)"
					class="btn btn-primary formGroupInput" ng-value="trataAtivoInativo(user)" ng-class="retornaClasse(user)"
					ng-click="mudaSituacao(user)" />
			</div>
		</div>
	</div>
</div>