<div class="form-horizontal jumbotron divLista">
	<div>
		<h3 class="fLeft">{{getLabel('UserServices')}}</h3>
	</div>
	<!-- 
	<div>
			<label class="control-label col-md-2" for="query" style="text-align:left !important; padding-left:2px !important">Filtrar usuários</label>
			<input type="text" id="query" name="query" ng-model="query" class="inputSearch" />
	</div>
	 -->
	<div class="table">
		<div class="headers row">

			<div class="col-sm-2">{{getLabel('User')}}</div>
			<div class="col-sm-2">{{getLabel('Date')}}</div>
			<div class="col-sm-2">{{getLabel('NoOfServices')}}</div>
			<div></div>

		</div>

		<div style="max-height: 480px; height: 100%; overflow: scroll; width: 100%; overflow-x: hidden">
			<div class="rowsList" ng-repeat="dado in dados" ng-class-odd="'odd'" ng-class-even="'even'">

				<div class="divItemList" style="max-width: 15% !important;">{{dado.usuario}}</div>
				<div class="divItemList" style="max-width: 17% !important; padding-left: 15px;">{{dado.data}}</div>
				<div class="divItemList" style="max-width: 58% !important; padding-left: 15px;">{{dado.qtdeServicos}}</div>
				<div>
					<button data-toggle="modal"  data-target="#modalDetail" ng-click="selecionaDado(dado)" class="btn btn-primary">
						{{getLabel('Details')}}	
					</button>
				</div>

			</div>
		</div>

		<div class="formGroup">
			<div>
				<a class="btn btn-primary" href="{{appUrl}}user"> <i
					class="fa fa-arrow-left" aria-hidden="true"></i> {{getLabel('ReturnToList')}}
				</a>

			</div>

		</div>
	</div> 
	
	<!-- Modal Detalhes -->

	<div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">

					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="">
						<form class="">
							<div class="form-horizontal" style="padding-top: 0 !important; border: none">
								<div class="table">
									<div class="headerServico">
										<div class="divCliente">{{getLabel('Date')}} {{getLabel('SO')}}: {{dadoSelecionado.data}}</div>
									</div>
							
									<div class="rowsList" ng-repeat="servico in dadoSelecionado.listaServicos" ng-class-odd="'odd'" ng-class-even="'even'" style="max-height: 480px; height: 80%; overflow: scroll; width: 100%; overflow-x: hidden" >
										
										{{getLabel('Clients')}}: {{servico.client.tradingName}} 
										<div>{{getLabel('BeginningOfSO')}}: {{servico.timeStart}}</div>
										
										<div style="padding-left: 5px; border: 1px solid gray; border-radius: 8px" ng-hide="servico.eventsList.length > 0 ? false : true ">
											<div style="font-weight: bold"> {{getLabel('Occurrences.p')}}: </div>
											<div class="rowsEvent" ng-repeat="event in servico.eventsList" ng-class-odd="'odd'" ng-class-even="'even'" style="margin-left: 20px; max-height: 480px; height: 50%; overflow: scroll; width: 30%; overflow-x: hidde; background-color: white;" >
												<div> <span style="display: inline-block; text-align: right; width: 70px"> {{event.event.description}} </span>  - {{event.time}}</div>							
											</div>
										</div>
										
										<div>{{getLabel('EndOfSO')}}: {{servico.timeEnd}}</div>  							
									</div>
									<div class="footerServico">
										<div class="divCliente" style="font-weight: bold;">{{getLabel('NumberOfSO')}}: {{dadoSelecionado.qtdeServicos}}</div>
									</div>
								</div> 
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- Fim Modal Detalhes -->

</div>