<main class="auth-main">
	<div class="form-horizontal jumbotron divLista">

		<md-tabs>
			<md-tab label="{{getLabel('UserData')}}">
				<hr>
				<form class="form-horizontal" id="frmUser" name="frmUser">

					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="nome">{{getLabel('Name')}}</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="formGroupInput form-control" id="nome" placeholder="Nome" required
								ng-model="user.name" style="max-width: 420px" />
						</div>
					</div>

					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="usuario">{{getLabel('User')}}</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="formGroupInput form-control" id="usuario" required
								placeholder="{{getLabel('User')}}" ng-model="user.user" style="max-width: 220px" />
						</div>
					</div>

					<div class="formGroup row" ng-show="!user.userId">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="passwordNew">{{getLabel('Password')}}</label>
						</div>
						<div class="col-sm-8">
							<input type="password" class="formGroupInput form-control" id="passwordNew" name="passwordNew" required
								placeholder="{{getLabel('Password')}}" style="max-width: 220px; text-transform: none !important;"
								ng-model="user.pass" />
						</div>
					</div>

					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="phone">{{getLabel('Phone')}}</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="formGroupInput form-control" id="phone" placeholder="{{getLabel('Phone')}}"
								ng-model="user.phone" style="max-width: 220px" />
						</div>
					</div>

					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="phone">{{getLabel('Phone')}} 2</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="formGroupInput form-control" id="phone2" placeholder="{{getLabel('Phone')}}"
								ng-model="user.phone2" style="max-width: 220px" />
						</div>
					</div>
					
					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="phone">{{getLabel('ITINEIN')}}</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="formGroupInput form-control" id="ITINEIN" placeholder="{{getLabel('ITINEIN')}}"
								ng-model="user.cpf" style="max-width: 220px;" maxlength="14" />
						</div>
					</div>

					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="phone">{{getLabel('Email')}}</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="formGroupInput form-control" id="mail" placeholder="{{getLabel('Email')}}"
								ng-model="user.mail" style="max-width: 220px; text-transform: lowercase !important;" />
						</div>
					</div>

					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="aniversario">{{getLabel('Birth')}}</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="formGroupInput form-control" id="aniversario"
								placeholder="{{getLabel('BirthDate')}}" ng-model="user.birthDateString" style="max-width: 220px" />
						</div>
					</div>

					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="userWeb">{{getLabel('WebAccess')}}</label>
						</div>
						<div class="col-sm-8">
							<select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="userWeb"
								ng-model="user.userWeb">
								<option value="1">{{getLabel('Yes')}}</option>
								<option value="0">{{getLabel('No')}}</option>
							</select>
						</div>
					</div>

					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="active">{{getLabel('Active')}}</label>
						</div>
						<div class="col-sm-8">
							<select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="active"
								ng-model="user.active">
								<option ng-value="true">{{getLabel('Yes')}}</option>
								<option ng-value="false">{{getLabel('No')}}</option>
							</select>
						</div>
					</div>

					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="profile">{{getLabel('Profile')}}</label>
						</div>
						<div class="col-sm-8">
							<select class="form-control text-box single-line" style="max-width: 220px" id="profile"
								ng-model="user.profile.profileId">
								<option ng-repeat="profile in profiles" ng-value="{{profile.profileId}}">{{profile.description}}
								</option>
							</select>
						</div>
					</div>

					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel">{{getLabel('Color')}}</label>
						</div>
						<div class="col-sm-2">
							<input id="colorSel" type="text" class="form-control" ng-style="{background: user.colorId}"
								ng-model="user.colorId" ng-readonly="true" style="width: 90px !important;" />
						</div>
					</div>
				</form>
			</md-tab>

			<md-tab label="{{getLabel('parameters')}}" ng-if="user.userId">
				<hr>
				<form class="form-horizontal" id="frmParams" name="frmParams">

					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="mainCostCenter">{{getLabel('MainCostCenter')}}</label>
						</div>
						<div class="col-sm-6">
							<select id="mainCostCenter" ng-model="costCenterIdSelected" class="formGroupInput form-control"
								ng-change="onChangeCostCenter()">
								<option value="">{{getMessage('SelectCostCenter')}}</option>
								<option ng-repeat="costCenter in costCenters" value="{{costCenter.costCenterId}}">
									{{costCenter.accountCode}} - {{costCenter.description}}</option>
							</select>
						</div>
					</div>
					
					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="mainCard">{{getLabel('mainCard')}}</label>
						</div>
						<div class="col-sm-6">
							<select id="mainCard" ng-model="cardIdMainSelected" class="formGroupInput form-control"
								ng-change="onChangeCard()">
								<option value="">{{getMessage('SelectCardMain')}}</option>
								<option value="{{user.cardMain.cardId}}">{{user.cardMain.cardNumber}} - {{user.cardMain.cardBanner}}</option>
								<option ng-repeat="card in cards" value="{{card.cardId}}">
									{{card.cardNumber}} - {{card.cardBanner}}</option>
							</select>
						</div>
					</div>

					<div id="pnlFields" class="panel panel-default">
						<div class="panel-heading" style="height: 55px; padding: 10px 5px 10px 5px">
							<div class="col-xs-6">
								<h5>{{getLabel('costCenter')}}</h5>
							</div>
							<div class="col-xs-6" style="padding: 0px 10px 0px 15px" align="right">
								<span class="btn btn-default" data-toggle="modal" data-target="#modalCostCenter">
									<i class="fa fa-plus" aria-hidden="true"></i> {{getLabel('NewCostCenter')}}
								</span>
							</div>
						</div>

						<div class="panel-body" style="padding: 0px;">
							<!-- Fields -->
							<div class="col-sm-12" id="divVeiculos"
								style="margin-top: 0px; margin-bottom: 5px; max-height: 275px !important; padding: 0px;">
								<div class="rowsList col-sm-12" ng-repeat="cost in costCenterByUser" style="padding-right: 5px;">
									<div class="divItemList col-sm-8">{{cost.accountCode}} - {{cost.description}}</div>
									<div class="col-sm-4" style="padding-right: 5px;" align="right">
										<input type="button" value="{{getLabel('Remove')}}" class="btn btn-secunday formGroupInput"
											ng-click="removeCostCenter(cost)">
									</div>
								</div>
							</div>
							<!-- End Fields -->
						</div>
					</div>
					<br/>
					
					<div id="pnlCards" class="panel panel-default">
						<div class="panel-heading" style="height: 55px; padding: 10px 5px 10px 5px">
							<div class="col-xs-6">
								<h5>{{getLabel('card.p')}}</h5>
							</div>
							<div class="col-xs-6" style="padding: 0px 10px 0px 15px" align="right">
								<span class="btn btn-default" data-toggle="modal" data-target="#modalNewCard">
									<i class="fa fa-plus" aria-hidden="true"></i> {{getLabel('newCard')}}
								</span>
							</div>
						</div>

						<div class="panel-body" style="max-height: 30vh; overflow-y: auto !important; padding: 0px;">
							<div class="col-sm-12" id="divCards"
								style="margin-top: 0px; margin-bottom: 5px; max-height: 275px !important; padding: 0px;">
								<div class="rowsList col-sm-12" ng-repeat="card in user.cards" style="padding-right: 5px;">
									<div class="divItemList col-sm-8">{{card.cardNumber}} - {{card.cardBanner}}</div>
									<div class="col-sm-2" align="right">
										<button class="btn btn-primary formGroupInput" ng-click="setSelectCardToPrint(card)">{{getLabel('generateDeliveryTerm')}}</button>
										<button id="btnPrintTerm" ng-print print-element-id="divBody" accesskey="p" ng-hide="true"></button>
									</div>
									<div class="col-sm-2" style="padding-right: 5px;" align="right">
										<input type="button" value="{{getLabel('Remove')}}" class="btn btn-secunday formGroupInput"
											ng-click="removeCard(card)">
									</div>
								</div>
							</div>
						</div>
						
					</div>
					
				</form>
			</md-tab>
		</md-tabs>

		<div class="rodapeBtns">
			<div class="btnFns1">
				<a class="btn btn-primary" href="{{appUrl}}user">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
					{{getLabel('ReturnToList')}}
				</a>

				<button class="btn btn-primary" ng-click="save(user, true)" ng-if="verificaAlteracao(userLog, userEdit)">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					{{getLabel('Save')}}
				</button>
			</div>

			<div class="btnFns2">
				<a class="btn btn-inverse" href="{{appUrl}}userServices/{{user.userId}}" ng-show="user.userId > 0">
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
					{{getLabel('Services.p')}}
				</a>

				<div ng-show="user.userId">
					<div data-toggle="modal" data-target="#modalChangePassword" style="cursor: pointer;">
						<a class="btn btn-inverse"> <i class="fa fa-pencil" aria-hidden="true"></i>
							{{getLabel('UpdatePassword')}}
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Cost Center  -->
		<div class="modal fade" id="modalCostCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true" style="margin-top: -30%">

			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="formGroup row costCenterBodyModal">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="addCostCenter">{{getLabel('costCenter')}}</label>
						</div>
						<div class="col-sm-10">
							<select name="addCostCenter" id="addCostCenter" ng-model="newCostCenter"
								class="formGroupInput form-control text-box single-line">
								<option value="">{{getMessage('SelectCostCenter')}}</option>
								<option ng-repeat="costCenter in costCentersToSelect" value="{{costCenter}}">
									{{costCenter.accountCode}} - {{costCenter.description}}</option>
							</select>
						</div>
					</div>

					<div class="formGroup row costCenterFooterModal">
						<input class="btn btn-primary" type="button" value="{{getLabel('Confirm')}}" ng-click="addNewCostCenter()">
						<input class="btn btn-default" type="button" value="{{getLabel('Cancel')}}" data-dismiss="modal">
					</div>
				</div>
			</div>
		</div>
		
		<!-- Modal New card  -->
		<div class="modal fade " id="modalNewCard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true" style="margin-top: -30%">

			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="formGroup row costCenterBodyModal">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="addCard">{{getLabel('card')}}</label>
						</div>
						<div class="col-sm-10">
							<select name="addCard" id="addCard" ng-model="newCardSelected"
								class="formGroupInput form-control text-box single-line" ng-change="changeNewCard()">
								<option value="">{{getMessage('SelectCard')}}</option>
								<option ng-repeat="card in cardsNotInclude" value="{{card.cardId}}">
									{{card.cardNumber}} - {{card.cardBanner}}</option>
							</select>
						</div>
					</div>

					<div class="formGroup row costCenterFooterModal">
						<input class="btn btn-primary" type="button" value="{{getLabel('Confirm')}}" ng-click="addNewCard()">
						<input class="btn btn-default" type="button" value="{{getLabel('Cancel')}}" data-dismiss="modal">
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Info -->
		<div id="modalChangePassword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content" id="modalContent">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">
						<div class="">
							<form class="frmUserModal">
								<h4 class="modal-title" id="modalLabel">{{getLabel('UpdatePassword')}}</h4>
								<hr />
								<div class="formGroup row">
									<div class="col-xs-2" align="right">
										<label class="uiLabel" for="password">{{getLabel('Password')}}</label>
									</div>
									<div class="col-sm-8">
										<input type="password" class="formGroupInput form-control" id="password" name="password" ng-required
											placeholder="{{getLabel('Password')}}" style="max-width: 220px; text-transform: none !important;"
											ng-keyup="validatePassword()" />
									</div>
								</div>

								<div class="formGroup row">
									<div class="col-xs-2" align="right">
										<label class="uiLabel" for="passwordCheck">{{getLabel('Confirmation')}}</label>
									</div>
									<div class="col-sm-8">
										<input type="password" class="formGroupInput form-control" id="passwordCheck" name="passwordCheck"
											placeholder="{{getLabel('ConfirmYourPassword')}}" ng-required
											style="max-width: 220px; text-transform: none !important;" ng-keyup="validatePassword()" />
									</div>
									<div class="col-xs-offset-2 col-sm-8">
										<span class="msg-error" style="color: red" ng-show="!validatePassword()">
											{{getMessage('PasswordsAreNotTheSame')}}</span>
									</div>
								</div>

								<div class="formGroup row">
									<div class="col-sm-offset-2 col-sm-10">
										<button class="btn btn-danger" data-dismiss="modal" aria-label="Close" ng-click="clearPassFields()"
											id="btnCancelPassUpdate" name="btnCancelPassUpdate">
											<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
											{{getLabel('Cancel')}}
										</button>

										<button class="btn btn-primary" ng-disabled="!validatePassword()" ng-click="updatePassword(user)"
											id="btnPassUpdate" name="btnPassUpdate">
											<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
											{{getLabel('Update')}}
										</button>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="divBody" class="print">
		<div class="divPrincipal" id = "divForPrint">
			
		</div>
	</div>
	
	<script>
		$(document).ready(function () {
			$("#aniversario").mask("00/00/0000");
			$("#phone").mask("(00) 00000-0000");
			$("#phone2").mask("(00) 00000-0000");
		});
	</script>
</main>