<form class="form-horizontal" id="frmAction" name="frmAction">
	<div id="carregamento"></div>
	<div class="form-horizontal jumbotron divLista">
		<h4>{{getLabel('areaData')}}</h4>
		<hr>

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel" for="descricao">{{getLabel('Description')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="text" class="formGroupInput form-control" id="descricao" placeholder="{{getLabel('Description')}}"
					ng-model="area.description" required style="max-width: 420px" />
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel" for="active">{{getLabel('Active')}}</label>
			</div>
			<div class="col-sm-8">
				<select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="active"
					ng-model="area.active">
					<option ng-value="true">{{getLabel('Yes')}}</option>
					<option ng-value="false">{{getLabel('No')}}</option>
				</select>
			</div>
		</div>
		
		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel">{{getLabel('Color')}}</label>
			</div>
			<div class="col-sm-2">
				<input id="colorSel" type="text" class="form-control" ng-style="{background: area.colorId}"
					ng-model="area.colorId" ng-readonly="true" style="width: 90px !important;" />
			</div>
		</div>
		
		<div id="listUsers" class="panel panel-default" ng-if="area.areaId != null">
			<div class="panel-heading" style="height: 55px; padding: 10px 5px 10px 5px">
				<div class="col-xs-3">
					<h5>{{getLabel('User.p')}}</h5>
				</div>
				<div class="col-xs-3">
					<h5>{{getLabel('Name')}}</h5>
				</div>
				<div class="col-xs-3">
					<h5>{{getLabel('responsible')}}</h5>
				</div>
				<div class="col-xs-3" style="padding: 0px 10px 0px 15px" align="right">
					<span class="btn btn-default" data-toggle="modal" data-target="#modalUser"> <i
							class="fa fa-plus" aria-hidden="true"></i> {{getLabel('newUser')}}
					</span>
				</div>
			</div>

			<div class="panel-body" style="padding: 0px;">
				<!-- Fields -->
				<div class="col-sm-12" id="divUsers"
					style="margin-top: 0px; margin-bottom: 5px; max-height: 275px !important; padding: 0px;">
					<div class="rowsList col-sm-12" ng-repeat="user in area.users track by $index" style="padding-right: 5px;">
						<div class="divItemList col-sm-3">{{user.user}}</div>
						<div class="divItemList col-sm-3">{{user.name}}</div>
						<div class="divItemList col-sm-3" ng-if="user.responsible == true">{{getLabel('Yes')}}</div>
						<div class="divItemList col-sm-3" ng-if="user.responsible == false">{{getLabel('No')}}</div>
						<div class="col-sm-3" style="padding-right: 5px;" align="right">
							<input type="button" value="{{getLabel('Edit')}}" class="btn btn-primary formGroupInput" data-toggle="modal" data-target="#modalUser" ng-click="editUser(user, $index)"> 
							<input type="button" value="{{getLabel('Remove')}}" class="btn btn-secunday formGroupInput" ng-click="removeUser(user.userId)">
						</div>
					</div>
				</div>
				<!-- End Fields -->
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-offset-1 col-sm-6" style="margin-left: 0 !important">
				<a class="btn btn-primary" id="backAreaList" href="{{appUrl}}area"> <i class="fa fa-arrow-left" aria-hidden="true"></i>
					{{getLabel('ReturnToList')}}
				</a>

				<button class="btn btn-primary" ng-click="saveArea(area)">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{getLabel('Save')}}
				</button>
			</div>
		</div>
		
		<!--  moval novo usuario -->
		<div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true" style="margin-top: -30%">
			<div class="modal-dialog role=" document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-lable="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
	
					<div class="modal-body">
						<div class="form-horizontal divLista divAddVeiculo"
							style="padding-top: 0 !important; margin-top: -20px; border: none">
							<h4>{{getLabel('newUser')}}</h4>
							<hr />
							
							<div class="formGroup row">
								<div class="col-xs-2" align="right">
									<label class="uiLabel" for="active">{{getLabel('User')}}</label>
								</div>
								<div class="col-sm-8">
									<select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="user">
										<option ng-repeat="user in allUsers" ng-value="user.userId">{{user.name}}</option>
									</select>
								</div>
							</div>							
							
							  <div class="formGroup row">
									<div class="col-xs-2" align="right">
										<label class="uiLabel" for="active">{{getLabel('responsible')}}</label>
									</div>
									<div class="col-sm-8">
										<select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="responsible"">
											<option ng-value="false">{{getLabel('No')}}</option>
											<option ng-value="true">{{getLabel('Yes')}}</option>
										</select>
									</div>
								</div>
	
							<div class="formGroup row">
								<div class="col-xs-offset-3 col-sm-4">
									<input class="btn btn-primary" type="button" value="{{getLabel('Confirm')}}" ng-click="addUsers()">
								</div>
							</div>
	
						</div>
					</div>
	
				</div>
			</div>
		</div>
	<!-- fim novo usuario -->
	</div>
</form>