<div class="form-horizontal jumbotron divLista" style="height: auto !important">
	<h4>{{getLabel('EventData')}}</h4>
	<hr />
	<form class="form-horizontal" id="frmAction" name="frmAction">

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel" for="descricao">{{getLabel('Description')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="text" class="formGroupInput form-control" id="descricao" placeholder="{{getLabel('Description')}}"
					required ng-model="event.description" style="max-width: 420px;" />
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel">{{getLabel('UnproductiveTime')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="checkbox" id="tempoImprodutive" ng-model="event.improdutiveTime" />
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel">{{getLabel('RequestKm')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="checkbox" id="requestKm" ng-model="event.requestKm" />
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel">{{getLabel('AvailableTo')}}</label>
			</div>
			<div class="col-sm-6">
				<select id="selectAppears" name="selectAppears" class="selectpicker" multiple="multiple" title=""
					ng-model="event.appearsOnList" ng-change="selectChange()">
					<option>{{getLabel('SO')}}</option>
					<option>{{getLabel('Settlements')}}</option>
				</select>
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel" for="active">{{getLabel('Active')}}</label>
			</div>

			<div class="col-sm-8">
				<select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="active"
					ng-model="event.active">
					<option ng-value="true">{{getLabel('Yes')}}</option>
					<option ng-value="false">{{getLabel('No')}}</option>
				</select>
			</div>
		</div>
		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel">{{getLabel('Color')}}</label>
			</div>
			<div class="col-sm-2">
				<input id="colorSel" type="text" class="form-control" ng-style="{background: event.colorId}"
					ng-model="event.colorId" ng-readonly="true" style="width: 90px !important;" />
			</div>
		</div>

		<div>
			<div id="pnlLiquidacao" class="panel panel-default" style="display: none">
				<div class="panel-heading">{{getLabel('SettlementData')}}</div>

				<div class="panel-body">

					<div class="headDetailEvent" style="height: 75px;">
						<div class="showForm">
							<input type="checkbox" id="displayFormula" ng-model="event.displayFormula" />
							<label for="displayFormula">{{getLabel('DisplaysFormula')}}</label>
						</div>

						<div class="showbody">
							<label for="natureExpenseSelect">{{getLabel('natureExpense')}}</label>
							<select name="natureExpenseSelect" id="natureExpenseSelect"
								ng-model="event.natureExpense.natureExpenseId">
								<option value="">{{getMessage('SelectNature')}}</option>
								<option ng-repeat="natureExpense in allNatureExpenses" value="{{natureExpense.natureExpenseId}}"
									ng-selected="verifyNatureExpense(natureExpense.natureExpenseId, event.natureExpense.natureExpenseId)">
									{{natureExpense.description}}</option>
							</select>
						</div>
					</div>

					<!-- Images -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="col-sm-1">{{getLabel('Images.p')}}</div>
							<div class="text-right" style="margin-top: -5px;">
								<button class="btn-sm btn-success" ng-click="addDivImage()" tabindex="-1">+</button>
							</div>
						</div>
						<div id="pnlImagens" class="panel-body">
							<div id="pnlListImagens" class="form-group"></div>
						</div>
					</div>
					<!-- End Images -->

					<!-- Fields -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="col-sm-1">{{getLabel('Fields')}}</div>
							<div class="text-right" style="margin-top: -5px;">
								<button class="btn-sm btn-success" ng-click="addDivField()" tabindex="-1">+</button>
							</div>
						</div>
						<div id="pnlCampos" class="panel-body">
							<div id="pnlListFields" class="form-group"></div>
						</div>
					</div>
					<!-- End Fields -->

				</div>
			</div>
		</div>
		<div class="formGroup row">
			<div class="col-xs-offset-2 col-sm-6" style="margin-left: 0 !important">
				<a class="btn btn-primary" href="{{appUrl}}event"><i class="fa fa-arrow-left" aria-hidden="true"></i>
					{{getLabel('ReturnToList')}}</a>
				<button class="btn btn-primary" ng-click="saveEvent(event)">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{getLabel('Save')}}
				</button>
			</div>
		</div>
	</form>
</div>

<script type="text/javascript">
	$('.selectpicker').selectpicker({
		style: '',
		size: 4
	});
</script>