<div id="divBody" class="print">
	<div class="divPrincipal">
		<div
			style="border-bottom: 2px solid #FFF; margin-bottom: 5px !important; text-align: center !important; font-size: 16px !important; display: inline-block !important; width: 100% !important; margin-top: 0 !important;">
			<span> GIMB </span>
		</div>

		<div class="divTitlePrint" style="width:100% !important; display: inline-block !important; margin-bottom: 15px !important; border:2px solid #000 !important; float:left">
			<div class="divLogo">
				<img src="{{urlLogo}}" alt="" width="60" align="top" style="margin-top: 15px !important"/>
			</div>
			<div class="divInfo" style="width: 580px !important">
				<div ng-include="reportList.headerCompany"></div>
			</div>
			<div class="divOsInfo" style="padding-top: 20px !important">
				<div class="">
					<span for="" style="font-size:18px !important; color: #FF0000 !important; font-weight: bold !important">{{servico.reportNumber}}</span>
				</div>
				<div class="" style="font-size:13px !important; margin-top: 5px;" >
					<span>{{servico.reportDate}}</span>
				</div>
			</div>
		</div>

		<div class="divSubTitle"
			style="width: 100% !important; display: inline-block !important; float: left">
			<span>{{getLabel('ServiceData')}}</span>
		</div>

		<div class="divContent"
			style="width: 100% !important; display: inline-block !important; float: left">

			<div class="linhas" id="divDadosClient"
				style="padding: 10px; border: 1px solid #000; display: inline-block !important; width: 100% !important;">
				<div>
					<span
						style="width: 100px !important; font-weight: bold; text-align: left; display: inline-block">{{getLabel('Clients')}}:</span><b>{{servico.client.tradingName}}</b>
				</div>
				<div>
					<span
						style="width: 100px !important; font-weight: bold; text-align: left; display: inline-block">{{getLabel('CompanyName')}}:
					</span>{{servico.client.companyName}}
				</div>
				<div>
					<span
						style="width: 100px !important; font-weight: bold; text-align: left; display: inline-block">{{getLabel('ITINEIN')}}:
					</span>{{servico.client.document}}
				</div>
				<div>
					<span
						style="width: 100px !important; font-weight: bold; text-align: left; display: inline-block">{{getLabel('Address')}}:</span>{{servico.client.address}}
				</div>
				<div>
					<span
						style="width: 100px !important; font-weight: bold; text-align: left; display: inline-block">{{getLabel('Phone')}}:</span>{{servico.client.phone}}
				</div>
			</div>

			<div class="linhas" id="divAction"
				style="padding: 10px; border: 1px solid #000; display: inline-block !important; width: 100% !important;">
				<div>
					<span
						style="width: 100px !important; font-weight: bold; text-align: left; display: inline-block">{{getLabel('Actions')}}:</span>{{servico.action.description}}
				</div>
			</div>

			<div class="linhas" id="divVeiculo"
				style="border: 1px solid #000; width: 100% !important; display: inline-block !important; height: 48px; margin-bottom: 0px !important">
				<div class="rows" style="width: 100%; height: 15px;">
					<label for=""><b>{{getLabel('EquipmentType')}}:</b> <font
						style="font-weight: normal !important">
							{{servico.vehicle.equipment.description}}</font> </label>
				</div>
				<div style="max-width: 49%; width: 100%">
					<label for=""><b>{{getLabel('Equipments')}}:</b> <font
						style="font-weight: normal !important">
							{{servico.vehicle.brand}}/{{servico.vehicle.model}}</font> </label>
				</div>
				<div style="max-width: 49%; width: 100%">
					<label for=""><b>{{getLabel('Identifier')}}: </b> <font
						style="font-weight: normal !important">{{servico.vehicle.plate}}/{{servico.vehicle.modelYear}}</font>
					</label>
				</div>
			</div>

			<div class="linhas" id="divCustomField"
				style="border: 1px solid #000; width: 100% !important; display: inline-block !important; margin-top: -15px !important"
				ng-hide="servico.customFieldList == null || servico.customFieldList.length == 0">
				<div ng-repeat="customField in servico.customFieldList"
					style="margin-left: 15px;">
					<span
						style="min-width: 100px !important; font-weight: bold; text-align: right; display: inline-block; margin-top: 5px !important;">{{customField.customField}}:</span>
					<span
						style="text-align: left; display: inline-block; margin-left: 15px;">{{customField.customFieldValue}}</span>

					<br />
				</div>
			</div>

		</div>

		<div class="linhas" id="divImagens"
			style="width: 100% !important; border: 1px solid #000 !important; margin-top: -10px !important;">
			<div class="table" ng-if="hideAllChecklistDiv()">
				<div class="headers" style="">
					<div class="divVeiculo"
						style="max-width: 410px !important; padding-left: 10px !important; text-align: left !important;">
						{{getLabel('Description')}}</div>
					<div class="divVeiculo"
						style="max-width: 150px !important; padding-left: 0px !important;">
						{{getLabel('Status')}}</div>
					<div class="divUsuario"
						style="max-width: 50px !important; padding-left: 0px !important;">
						{{getLabel('Adjusted')}}</div>
				</div>

				<div class="headers"
					style="font-weight: normal !important; max-height: 25px !important;"
					ng-repeat="img in servico.listaImagensPrint track by $index">
					<div class="divItemList"
						style="max-width: 410px !important; padding-left: 10px !important; text-align: left !important; font-size: 10px !important;">
						{{img.message}}</div>
					<div class="divItemList"
						style="max-width: 150px !important; font-size: 10px !important;">
						{{returnOkNok(img.statusChecklist)}}</div>
					<div class="divItemList"
						style="max-width: 50px !important; font-size: 10px !important;">
						{{returnOkNok(img.statusFix)}}</div>
				</div>
			</div>


			<div ng-repeat="img in servico.listaImagensPrint track by $index"
				style="margin-right: 5px; margin-bottom: 5px">
				<div class="rows"
					ng-if="img.picPath.length > 0 && img.chkPrint == true">
					<div class="rows">
						<img src="{{img.picPath}}" alt="" height="130" align="top"></img>
					</div>
					<br />
					<div class="image-message-print"
						style="font-size: 9px !important; font-weight: normal !important;">
						{{img.message}}</div>
					<br />
					<div class="image-message-print"
						style="font-size: 9px !important; font-weight: normal !important;"
						ng-if="img.note.length > 0">
						{{getLabel('Obs')}}:{{img.note}}</div>
					<br />
					<button style="font-size: 0.8em" ng-if="img.critically == 'A'" class="btn btn-danger" 
						data-toggle="modal" >							
						{{img.critically}}lto
				</button>

					<button style="font-size: 0.8em" ng-if="img.critically == 'M'" class="btn btn-secondary" 
						data-toggle="modal" >							
						{{img.critically}}édio
				</button>

					<button style="font-size: 0.8em" ng-if="img.critically == 'B'" class="btn btn-success" 
						data-toggle="modal" >							
						{{img.critically}}aixo
					</button>	
				</div>
				<div class="rows" ng-if="img.fixPicPath.length > 0">
					<div class="rows">
						<img src="{{img.fixPicPath}}" alt="" height="130" align="top"></img>
					</div>
					<br />
					<div class="image-message-print"
						style="font-size: 9px !important; font-weight: normal !important;">
						{{img.message}}</div>
					<br />
					<div class="image-message-print"
						style="font-size: 9px !important; font-weight: normal !important;">
						{{getLabel('Adjusted')}}</div>
					<br />
				</div>
			</div>
		</div>

		<img src="{{signatureService}}"
			style="max-height: 200px; max-width: 200px;" />

	</div>
</div>

<div class="dontPrint">
<style>
	#divBody {
		padding: 10px !important;
		font-family: calibri, arial, sans-serif !important;
		margin: 10px !important;
	}
	
	.linhas {
		width: 100% !important;
	}
	
	.linhas label {
		min-width: 95px !important;
		display: inline-block !important;
		padding: 2px !important;
		text-align: left !important;
	}
	
	.divPrincipal {
		padding: 5px !important;
		max-width: 590px !important;
		left: 0 !important;
		right: 0 !important;
		margin-left: auto !important;
		margin-right: auto !important;
		background-color: #fff !important;
	}
	
	.divTitlePrint {
		margin-bottom: 5px;
		width: 100% !important;
		height: 76px !important;
	}
	
	.divTitlePrint div {
		display: inline-block !important;
	}
	
	.divTitlePrint span {
		text-align: left !important;
	}
	
	.divContent {
		margin-bottom: 5px !important;
	}
	
	.divLogo {
		padding: 5px !important;
		/*border: 1px solid #000 !important;*/
		width: 77px !important;
		height: 74px !important;
		float: left !important;
	}
	
	.divInfo {
		height: 74px !important;
		/*border: 1px solid #000 !important;*/
		border-left: 1px solid #000 !important;
		border-right: 1px solid #000 !important;
		padding: 5px !important;
		float: left !important;
	}
	
	.divInfo span {
		width: 100% !important;
		display: inline-block !important;
	}
	
	.divOsInfo {
		width: 117px !important;
		height: 76px !important;
		/*border: 1px solid #000 !important;*/
		padding: 2px !important;
		float: left !important;
		text-align: center !important;
	}
	
	.divOsInfo div {
		display: inline-block !important;
		width: 100% !important;
	}
	
	.divSubTitle {
		border: 1px solid #000 !important;
		text-align: center !important;
		padding: 5px !important;
		font-size: 18px !important;
		font-weight: bold !important;
		width: 100% !important;
	}
	
	.divSubTitle span {
		display: inline-block !important;
		width: 100% !important;
	}
	
	#divVeiculo {
		padding: 5px !important;
	}
	
	#divVeiculo div {
		display: inline-block !important;
	}
	
	#divImagens {
		padding: 5px !important;
	}
	
	#divImagens div {
		display: inline-block !important;
	}
	
	.imgServiceDivPrint {
		height: 130px !important;
		width: 80px !important;
		background-size: cover !important;
		background-position: center !important;
		border-radius: 10px !important;
		display: inline-block !important;
		cursor: pointer !important;
		box-shadow: 2px 2px 5px #000 !important;
	}
	
	#divAssinatura {
		padding: 5px !important;
	}
	
	#divAssinatura div {
		display: inline-block !important;
	}
	
	#divDadosClient div {
		display: inline-block !important;
		width: 100% !important;
		border: none !important;
	}
	
	@media print {
		body {
			line-height: 1.2em !important;
			height: auto !important;
			width: auto;
		}
		@page {
			margin: 5px;
			margin-left: 10px;
			left: 0 !important;
			right: 0 !important;
			line-height: 1em !important;
		}
		#divBody {
			padding: 10px !important;
			font-family: calibri, arial, sans-serif !important;
			margin: 10px !important;
		}
		hr {
			padding: 0;
			margin: 0;
		}
		.linhas label {
			min-width: 95px !important;
			display: inline-block !important;
			padding: 2px !important;
			text-align: left !important;
		}
		.divPrincipal {
			padding: 5px !important;
			/*max-width: 674px !important;*/
			left: 0 !important;
			right: 0 !important;
			margin-left: auto !important;
			margin-right: auto !important;
		}
		.divTitlePrint {
			margin-bottom: 5px;
			width: 100% !important;
			height: 76px !important;
		}
		.divTitlePrint div {
			display: inline-block !important;
		}
		.divTitlePrint span {
			text-align: left !important;
		}
		.divContent {
			margin-bottom: 5px !important;
		}
		.divLogo {
			padding: 5px !important;
			/*border: 1px solid #000 !important;*/
			width: 77px !important;
			height: 74px !important;
			float: left !important;
		}
		.divInfo {
			height: 74px !important;
			/*border: 1px solid #000 !important;*/
			border-left: 1px solid #000 !important;
			border-right: 1px solid #000 !important;
			padding: 5px !important;
			float: left !important;
		}
		.divInfo span {
			width: 100% !important;
			display: inline-block !important;
		}
		.divOsInfo {
			width: 110px !important;
			height: 76px !important;
			/*border: 1px solid #000 !important;*/
			border-right: none !important;
			padding: 2px !important;
			float: left !important;
			text-align: center !important;
		}
		.divOsInfo div {
			display: inline-block !important;
			width: 99% !important;
		}
		.divSubTitle {
			border: 1px solid #000 !important;
			text-align: center !important;
			padding: 5px !important;
			font-size: 18px !important;
			font-weight: bold !important;
			width: 100% !important;
		}
		.divSubTitle span {
			display: inline-block !important;
			width: 100% !important;
		}
		#divVeiculo {
			padding: 5px !important;
		}
		#divVeiculo div {
			display: inline-block !important;
		}
		#divImagens {
			padding: 5px !important;
			display: block !important;
			width: auto !important;
			height: auto !important;
			overflow: visible !important;
			text-align: center;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		}
		#divImagens div {
			display: inline-block !important;
		}
		#divImages div img {
			width: 50px !important;
		}
		.imgServiceDivPrint {
			height: 130px !important;
			width: 80px !important;
			background-size: cover !important;
			background-position: center !important;
			border-radius: 10px !important;
			display: inline-block !important;
			cursor: pointer !important;
			box-shadow: 2px 2px 5px #000 !important;
		}
		#divAssinatura {
			padding: 5px !important;
		}
		#divAssinatura div {
			display: inline-block !important;
		}
		#divDadosClient div {
			display: inline-block !important;
			width: 100% !important;
			border: none !important;
		}
		.divClientLabel label {
			display: inline-block !important;
			width: 100% !important;
		}
	}
	
	.divClientLabel label {
		display: inline-block !important;
		width: 100% !important;
	}
</style>
</div>
