<div class="form-horizontal jumbotron divLista" style="height: auto !important">
	<div style="height: 26px;">
		<div style="width: 50%; float: left" class="divTitle">
			<h4>{{getLabel('ServiceInformation')}}</h4>
		</div>
		<div style="width: 50%; float: left; text-align: right" class="dontPrint">
			<a class="btn btn-link" href="{{appUrl}}op/service"> <i class="material-icons myArrow">keyboard_arrow_left</i>
				{{getLabel('Back')}}
			</a>
		</div>
	</div>
	<hr>
	<form class="form-horizontal" novalidate name="frmClient">

		<div id="divService">

			<div class="row">
				<div class="close" style="cursor: default; margin-right: 30px;" >
					{{servico.serviceId ? (getLabel('SO') + ': ') : '' }} {{servico.serviceId}}
					<br />
					{{statusOs}}
				</div>
			</div>

			<div class="row" style="border: none;">
				<label class="control-label uiLabel col-xs-2" for="user">{{getLabel('User')}}</label>
				<div class="col-md-10" style="border: none;">
					<input name="NOME" class="inputs text-box single-line ipt" id="user" type="text" value=""
						style="max-width: 564px" maxlength="60" ng-model="servico.user.name" />
				</div>
			</div>

			<div class="row" style="border: none;">
				<label class="control-label uiLabel col-xs-2" for="NOME">{{getLabel('Clients')}}</label>
				<div class="col-md-10" style="border: none;">
					<input name="NOME" class="inputs text-box single-line ipt" id="NOME" type="text" value=""
						style="max-width: 564px" maxlength="60" ng-model="servico.client.tradingName" />
				</div>
			</div>

			<div class="row" ng-hide="!servico.action.description || servico.action.description == ''">
				<label class="control-label uiLabel col-xs-2" for="atividade">{{getLabel('Actions')}}</label>
				<div class="col-md-10">
					<input name="atividade" class="inputs text-box single-line ipt" id="atividade"
						style="float: left; max-width: 220px; margin-right: 2px" type="text" value="" maxlength="60"
						ng-model="servico.action.description">
				</div>
			</div>

			<div class="row">
				<label class="control-label uiLabel col-xs-2" for="equipamento">{{getLabel('EquipmentType')}}</label>
				<div class="col-md-10">
					<input name="equipamento" class="inputs text-box single-line ipt" id="equipamento"
						style="float: left; max-width: 220px; margin-right: 2px" type="text" value="" maxlength="60"
						ng-model="servico.vehicle.equipment.description">
				</div>
			</div>

			<div class="row">
				<label class="control-label uiLabel col-xs-2" for="marca">{{getLabel('Equipments')}}</label>
				<div class="col-md-10">
					<input name="marca" class="inputs text-box single-line ipt" id="marca"
						style="float: left; max-width: 220px; margin-right: 2px" type="text" value="" maxlength="60"
						ng-model="servico.vehicle.brand">

					<input name="modelo" class="inputs text-box single-line ipt" id="modelo"
						style="float: left; max-width: 220px; margin-right: 2px" type="text" value="" maxlength="60"
						ng-model="servico.vehicle.model">

					<input name="placa" class="inputs text-box single-line ipt" id="placa" style="float: left; max-width: 200px"
						type="text" value="" maxlength="60" ng-model="servico.vehicle.plate">
				</div>
			</div>

			<div class="row">
				<label class="control-label uiLabel col-xs-2" for="inicio">{{getLabel('Begin')}} / {{getLabel('End')}}</label>
				<div class="col-md-10">
					<input name="inicio" class="inputs text-box single-line ipt" id="inicio" value=""
						style="float: left; max-width: 220px; margin-right: 2px" type="text" maxlength="45"
						ng-model="servico.startTime">

					<input name="final" class="inputs text-box single-line ipt" id="final" value=""
						style="float: left; max-width: 220px; margin-right: 2px" type="text" maxlength="45"
						ng-model="servico.endTime">

					<input name="tempoGasto" class="inputs text-box single-line ipt" id="tempoGasto" value=""
						style="float: left; max-width: 200px; margin-right: 2px" type="text" maxlength="45"
						ng-model="servico.timeElapsed">
				</div>
			</div>
			<div class="row" ng-hide="servico.interruptionList == null || servico.interruptionList.length == 0">
				<label class="control-label uiLabel col-xs-2" for="inicio">{{getLabel('Interruptions')}}</label>
				<div class="col-md-10">
					<textarea class="inputs text-box single-line ipt" style="resize: none; width: 100%; max-width: 564px"
						id="taInterruptions" ng-value="interruptionText()">

						</textarea>
				</div>
			</div>
			<div class="row" style="width: 100%" ng-if="servico.createdByUser != null">
				<label class="control-label uiLabel col-xs-2" for="user">{{getLabel('CreatedBy')}}</label>
				<div class="col-md-10">
					<input name="user" class="inputs text-box single-line ipt" id="createdByUser" type="text" value=""
						style="max-width: 220px; margin-left: 5px" maxlength="60" ng-model="servico.createdByUser.name" />
				</div>
			</div>
		</div>

		<div class="row" ng-hide="servico.customFieldList == null || servico.customFieldList.length == 0">
			<div class="jumbotron" style="padding: 15px; padding-bottom: 0px !important;padding-top: 0px !important;">
				<hr>
			</div>

			<div ng-repeat="customField in servico.customFieldList" style="margin-left: 15px;">
				<div class="row" ng-if="verificaExibicaoCheck(customField)">
					<label class="control-label uiLabel col-xs-2">{{customField.customField}}</label>
					<div class="col-xs-10" style="max-width: 640px;">
						<input class="inputs text-box single-line ipt" style="width: 100%; max-width: 100%" type="text"
							value="{{customField.customFieldValue}}">
					</div>
				</div>
				<div id="customFieldDiv"
					ng-if='customField.customField == "CHECKLIST" || customField.customField == "checklist"'
					ng-repeat='arr in array'>
					<div class="row">
						<label class="control-label uiLabel col-xs-2">{{arr.NAME}}</label>
						<div class="col-xs-10">
							<span style="margin-right: 10px"> <img src="{{srcImageOK}}"
									ng-style="{opacity: arr.STATUS == 'NOK' ? 0.3 : 1}" /> </span>
							<span> <img src="{{srcImageNOK}}" ng-style="{opacity: arr.STATUS == 'OK' ? 0.3 : 1}" /> </span>
						</div>
					</div>
					<br />
				</div>
			</div>
		</div>

		<div class="jumbotron"
			style="margin-bottom: 0px !important;padding-bottom: 0px !important;padding-top: 0px !important;">
			<hr>
		</div>


		<div class="dontPrint row" id="divNotes" ng-hide="ocultarDivParaCliente()">
			<div class="col-md-12">
				<h4>{{getLabel('Observation')}}</h4>
			</div>

			<div class="col-md-12">
				<textarea rows="5" cols="100" class="form-control text-box ipt"
					style="float: left; max-width: 100%; margin-right: 2px"> {{servico.note}} </textarea>
			</div>
			<br />
		</div>

		<div class="dontPrint" id="divEvents" style="width: 100% !important;" ng-hide="ocultarDivOcorrencia()">
			<h4>{{getLabel('Occurrences')}}</h4>
			<div class="" ng-repeat="serviceEvent in servico.eventsList" style="margin-left: 15px; margin-bottom: 5px">
				<div ng-style="{color: serviceEvent.event.improdutiveTime ? 'red' : 'black'}">
					<div>
						{{serviceEvent.event.description}} - {{serviceEvent.dateTime}}
					</div>
				</div>
			</div>
		</div>

		<br />
		<div class="dontPrint" id="divImagensThumb">

			<div ng-show="hideAllChecklistDiv()">
				<div class="panel panel-default" ng-show="hideAllChecklistVideo()">
					<div class="panel-heading">
						<div class="row">
							<div class="col-sm-1">
								<h4>{{getLabel('Videos')}}</h4>
							</div>

						</div>
					</div>

					<div class="panel-body">
						<div class="imgService" ng-repeat="video in videos track by $index">
							<div data-toggle="modal" class="imgServiceDiv" data-target="#modalImgDetailService"
								data-ng-attr-title="{{video.note}}" data-img="{{video.picPath}}"
								ng-click="setImageDetailCheckList(video.picPath, $index, videos);"
								ng-style="{'background-image': video.picThumbPath != null ? 'url({{video.picThumbPath}})' : 'url({{video.picPath}})'}">

							</div>

							<!-- Exibe a mensagem da imagem como link -->
							<div class="imgServiceMessageDiv link-google-maps dontPrint;">
								<a href="https://www.google.com/maps/place/{{imagem.latPic}}+{{imagem.lgtPic}}/@{{imagem.latPic}},{{imagem.lgtPic}},15z"
									target="_blank">{{video.message}}</a>
							</div>
						</div>
					</div>
				</div>


				<h4>{{getLabel('Checklist')}}</h4>

				<div ng-show="servico.action.usaSistemaSubSistema != null && servico.action.usaSistemaSubSistema">
					<div ng-repeat="chkServ in checklistServices">
						{{chkServ.checklistName}}

						<div class="table" style="max-height: 480px; height: 100%; overflow: scroll; width: 100%; overflow-x: hidden">
							<div class="headers" style="max-width: 921px !important;">
								<div class="divVeiculo" style="padding-left: 0px !important; width: 250px !important;">
									{{getLabel('Description')}}
								</div>
								<div class="divVeiculo" style="padding-left: 0px !important; width: 65px !important;">
									{{getLabel('Status')}}
								</div>
								<div class="divVeiculo" style="padding-left: 0px !important; width: 100px !important;">
									
								</div>
								<div class="divUsuario" style="padding-left: 0px !important; width: 100px !important;">
									{{getLabel('Adjusted')}}
								</div>
								<div class="divVeiculo" style="padding-left: 0px !important; width: 100px !important;">
									
								</div>
								<div class="divUsuario" style="padding-left: 0px !important; width: 165px !important;">
									{{getLabel('Critically')}}
								</div>
								<div class="divVeiculo" style="padding-left: 0px !important; width: 35px !important;">
								</div>
								<div class="divUsuario" style="padding-left: 0px !important;">
									Ferramentas especiais
								</div>
							</div>
		
							<div style="max-height: 480px; height: 100%; overflow: scroll; width: 100%; overflow-x: hidden">
								<div class="rowsList" ng-if="chkServ.checklistId == imagem.checklistItems.checklistServicesId" ng-repeat="imagem in listaImagensPrint track by $index" ng-class-odd="'odd'"
									ng-class-even="'even'" ng-if="hideChecklistDiv(imagem)">
									<div class="divItemList" style="width: 250px !important;">
										{{imagem.message}}
									</div>
									<div class="divItemList" style="width: 65px !important;">
										{{returnOkNok(imagem.statusChecklist)}}
									</div>
									<div class="divItemList" style="width: 100px !important;" ng-show="imagem.picPath.length > 0">
										<a data-toggle="modal" data-target="#modalImgDetailService" data-img="{{imagem.picPath}}" href=""
											ng-click="setImageDetailCheckList(imagem.picPath, $index, listaImagensCheck);">{{getLabel('Images')}}</a>
									</div>

									<div style="width: 100px;" ng-show="imagem.picPath == null"> </div>
									
									<div class="divItemList" style="width: 100px !important;">
										{{returnOkNok(imagem.statusFix)}}</div>
									<div class="divItemList" style="width: 150px !important;" ng-show="imagem.fixPicPath.length > 0">
										<a data-toggle="modal" data-target="#modalImgDetailService" data-img="{{imagem.fixPicPath}}" href=""
											ng-click="setImageDetailCheckList(imagem.fixPicPath, $index + 1, listaImagensCheck);">{{getLabel('Images')}}</a>
									</div>
		
									<div style="width: 100px;" ng-show="imagem.fixPicPath == null"> </div>
		
									<div class="divItemList" style="width: 85px !important;" ng-show="imagem.critically != null">
										<input type="button" style="width: 5px; height: 10px;" 
											ng-class="{'btn btn-danger' : imagem.critically == 'A', 'btn btn-warning' : imagem.critically == 'M', 'btn btn-success' : imagem.critically == 'B'}" />
										{{returnCriticallyChecklist(imagem.critically)}}
									</div>
									<div class="divItemList" style="width: 80px !important;" ng-show="imagem.critically != null && imagem.note != null">
										{{imagem.note}}
									</div>


									<div class="divItemList" style="width: 150px !important;" ng-show="imagem.time != null">
										FUNIL
									</div>
									<div class="divItemList" style="width: 80px !important;" ng-show="imagem.time != null">
										Esforço: {{imagem.work}}
									</div>
									<div class="divItemList" style="width: 80px !important;" ng-show="imagem.time != null">
										Tempo estimado: {{imagem.time}}
									</div>
								</div>
							</div>
						</div>
					</div>					
				</div>

				<div class="table" ng-show="servico.action.usaSistemaSubSistema == null || !servico.action.usaSistemaSubSistema">
					<div class="headers" style="max-width: 921px !important;">
						<div class="divVeiculo" style="padding-left: 0px !important; width: 200px !important;">
							{{getLabel('Description')}}
						</div>
						<div class="divVeiculo" style="padding-left: 0px !important;">
							{{getLabel('Status')}}
						</div>
						<div class="divUsuario" style="padding-left: 0px !important;">
							{{getLabel('Adjusted')}}
						</div>
						<div class="divUsuario" style="padding-left: 0px !important;">
							{{getLabel('Critically')}}
						</div>
					</div>

					<div style="max-height: 480px; height: 100%; overflow: scroll; width: 100%; overflow-x: hidden">
						<div class="rowsList" ng-repeat="imagem in listaImagensPrint track by $index" ng-class-odd="'odd'"
							ng-class-even="'even'" ng-if="hideChecklistDiv(imagem)">
							<div class="divItemList" style="width: 200px !important;">
								{{imagem.message}}
							</div>
							<div class="divItemList" style="max-width: 65px !important;">
								{{returnOkNok(imagem.statusChecklist)}}
							</div>
							<div class="divItemList" style="max-width: 175px !important;" ng-show="imagem.picPath.length > 0">
								<a data-toggle="modal" data-target="#modalImgDetailService" data-img="{{imagem.picPath}}" href=""
									ng-click="setImageDetailCheckList(imagem.picPath, $index, listaImagensCheck);">{{getLabel('Images')}}</a>
							</div>
							<div class="divItemList" style="max-width: 65px !important;">
								{{returnOkNok(imagem.statusFix)}}</div>
							<div class="divItemList" style="max-width: 150px !important;" ng-show="imagem.fixPicPath.length > 0">
								<a data-toggle="modal" data-target="#modalImgDetailService" data-img="{{imagem.fixPicPath}}" href=""
									ng-click="setImageDetailCheckList(imagem.fixPicPath, $index + 1, listaImagensCheck);">{{getLabel('Images')}}</a>
							</div>

							<div style="width: 45px;"></div>

							<div class="divItemList" style="max-width: 85px !important;" ng-show="imagem.critically != null">
								<input type="button" style="width: 5px; height: 10px;" 
									ng-class="{'btn btn-danger' : imagem.critically == 'A', 'btn btn-warning' : imagem.critically == 'M', 'btn btn-success' : imagem.critically == 'B'}" />
								{{returnCriticallyChecklist(imagem.critically)}}
							</div>
							<div class="divItemList" style="max-width: 150px !important;" ng-show="imagem.critically != null && imagem.note != null">
								{{imagem.note}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default" ng-show="hideAllImageDiv(servico)">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-1">
						<h4>{{getLabel('Images.p')}}</h4>
					</div>
					<div class="text-right">
						<button class="btn-sm btn-success" ng-hide="veridicarBtn()" onclick="newImg.click()" id="btnNewImg"
							tabindex="-1" style="margin-right: 15px;"> + </button>
						<input type="file" accept="image/*" id="newImg" ng_hide="true" />
					</div>
				</div>
			</div>

			<div class="panel-body">
				<div class="imgService" ng-repeat="imagem in listaImagensPrint track by $index">
					<div data-toggle="modal" class="imgServiceDiv" data-target="#modalImgDetailService"
						data-ng-attr-title="{{imagem.note}}" data-img="{{imagem.picPath}}"
						ng-click="setImageDetail(imagem.picPath, $index);"
						ng-style="{'background-image': imagem.picThumbPath != null ? 'url({{imagem.picThumbPath}})' : 'url({{imagem.picPath}})'}">
					</div>
					
					<div class="chkImgServ"
						style="display: flex; width: 100%; height: 100%; margin: 0; align-items: flex-end; justify-content: flex-end; margin-top: -210px">
						<div class="chkClick" style="height: 40px; width: 40px; margin-right: 3px;">
							<input style="margin-top: 22px; margin-left: 22px;" type="checkbox" ng-checked="isToPrint(imagem)"
								ng-click="toggle(imagem)">
						</div>
					</div>

					<!-- Exibe a mensagem da imagem como link -->
					<div class="imgServiceMessageDiv link-google-maps dontPrint;">
						<a href="https://www.google.com/maps/place/{{imagem.latPic}}+{{imagem.lgtPic}}/@{{imagem.latPic}},{{imagem.lgtPic}},15z"
							target="_blank">{{imagem.message}}</a>
						<div style="font-size: 0.8em">{{imagem.user.user}}</div>						

						<a href="#" style="font-size: 0.8em" ng-if="imagem.critically == 'A'" class="btn btn-danger" 
							data-toggle="modal" ng-click="openNoteImage(imagem.note);" data-target="#modalNoteCritically">							
							{{imagem.critically}}lto
						</a>

						<a href="#" style="font-size: 0.8em" ng-if="imagem.critically == 'M'" class="btn btn-secondary" 
							data-toggle="modal" ng-click="openNoteImage(imagem.note);" data-target="#modalNoteCritically">							
							{{imagem.critically}}édio
						</a>

						<button style="font-size: 0.8em" ng-if="imagem.critically == 'B'" class="btn btn-success" 
							data-toggle="modal" ng-click="openNoteImage(imagem.note);" data-textarea="{{imagem.note}}" data-target="#modalNoteCritically">							
							{{imagem.critically}}aixo
						</button>						
					</div>
				</div>
			</div>
		</div>

		<div id="divGeo" class="print" style="margin-top: 10px !important">
			<div class="divTitle" style="width: 100% !important; display: inline-block; height: 35px">
				<h4>{{getLabel('ServiceGeolocation')}}</h4>
			</div>
			<div>
				<div style="display: inline-block; width: 100%">
					<label for="" style="display: inline; width: 100%; text-align: left !important">
						{{getLabel('Adjusted')}}
					</label>
					<span style="display: block">
						{{getLabel('BeginningOfSO')}}: {{getLabel('Latitude')}}:{{ servico.latStartTime}} {{getLabel('Longitude')}}:
						{{lgtStartTime}} </span>
					<span style="display: block">
						{{getLabel('EndOfSO')}}: {{getLabel('Latitude')}}: {{servico.latEndTime}} {{getLabel('Longitude')}}:
						{{servivo.lgtEndTime}} </span>
				</div>
				<div style="display: inline-block; width: 100%">
					<label for=""
						style="display: inline; width: 100% ; text-align: left !important">{{getLabel('Images.p')}}</label>
					<div class="imgService" ng-repeat="imagem in listaImagensPrint" style="display: inline">
						<div id="divImgs">
							<div class="divImagemPrint">
								<img src="{{imagem.picPath}}" alt="" style="max-width: 130px">
							</div>
							<div class="divLatLngPrint">{{getLabel('Latitude')}}: {{imagem.latPic}}
								<br> {{getLabel('Longitude')}}: {{imagem.lgtPic}}</div>
							<div style="display: inline-block; width: 100%">
								https://www.google.com/maps/place/{{imagem.latPic}}+{{imagem.lgtPic}}/@{{imagem.latPic}},{{imagem.lgtPic}},15z
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div id="divSignature" class="panel panel-default" ng-if="servico.action.signature">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-1">
						<h4>{{getLabel('Signature')}}</h4>
					</div>
				</div>
			</div>

			<div class="panel-body">
				<img src="{{signatureService}}" ng-if="servico.path_signature.length > 0"
					style="max-height: 500px; max-width: 500px;" />
				<div ng-if="servico.justify_not_signature.length > 0">
					<h5 class="text-box ipt ng-binding"> {{getLabel('dontGetSignature')}}: </h5>
					<br />
					<h5 class="text-box ipt ng-binding"> {{servico.justify_not_signature}} </h5>
				</div>
			</div>
		</div>

		<div class="dontPrint" id="divMapa">
			<div class="jumbotron"
				style="margin-bottom: 0px !important;padding-bottom: 0px !important;padding-top: 0px !important;">
				<hr>
			</div>

			<input type="button" class="btn btn-default" name="btnInit" value="init" id="btnInit" ng-click="initialize()"
				style="display: none" />
			<input type="button" class="btn btn-default" name="btnMapa" value="Mapa" id="btnMapa"
				ng-click="dadosMapa(servico)" style="display: none" />

			<h4>{{getLabel('Map')}}</h4>

			<div id="map"></div>
		</div>

		<div class="form-group dontPrint" id="divBtns">
			<div class="col-md-offset-2 col-md-10" style="margin-left: 0; margin-top: 10px">
				<a class="btn btn-primary" href="{{appUrl}}op/service">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
					{{getLabel('ReturnToList')}}
				</a>

				<button id="btnPrinter" name="btnPrinter" class="btn btn-primary" ng-print print-element-id="divBody"
					accesskey="p">
					<i class="fa fa-print"></i> {{getLabel('Print')}}
				</button>

				<button class="btn btn-primary" data-toggle="modal" data-target="#modalExtraInformationReportService">
					<i class="fa fa-file-text"></i> {{getLabel('Report')}}
				</button>
				<span id="printReportService" ng-print print-element-id="reportServicePrint" accesskey="p" ng-hide="true"></span>

				<button class="btn btn-danger" data-target="#modalConfirmDeleteOS" data-toggle="modal" style="margin-left: 25px;"
					ng-if="canDeleteOS()">
					<i class="glyphicon glyphicon-trash" aria-hidden="true"></i> {{getLabel('Delete')}}
				</button>
				</span>
			</div>
		</div>
		<div ng-include="reportList.reportService"></div>
	</form>
</div>

<!-- Modal notas imagem -->
<div class="modal fade" id="modalNoteCritically" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content" id="modalNewNoteCritically" style="background-color: #FFF; overflow-y: scroll; margin-bottom: 10px; overflow-x: scroll;">
			<div class="modal-header">
				<h3 class="modal-title">{{getLabel('Observation')}}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<textarea rows="5" cols="100" class="form-control text-box ipt" id="note-image"
					style="float: left; max-width: 100%; margin-right: 2px"> </textarea>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Fim Modal notas imagem -->

<!--  Modal Nova Imagem -->
<div class="modal fade" id="modalNewImg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content" id="modalNewContent"
			style="background-color: transparent; box-shadow: none; border: none;">
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12" style="width: 100%">
						<input type="text" id="title_image" value="" placeholder="Título da imagem" maxlength="50"
							class="formGroupInput form-control ng-pristine ng-valid ng-empty ng-touched" style="width: 100%; 
			    								  								 		margin-bottom: 5px; 
			    								  								 		font-size: 20px;
			    								  								 		background-color: #FFFFFF;
			    								  								 		border-color: #FFFFFF;
			    								  								 		color: #000;
			    								  						 		 		font-style: bold;
			    								  						 		 		border-radius: 5px;
			    								  								 		" />

						<input type="text" id="obs_image" value="" placeholder="Observação" maxlength="400"
							class="formGroupInput form-control ng-pristine ng-valid ng-empty ng-touched" style="width: 100%; 
			    								  								 		margin-bottom: 5px; 
			    								  								 		font-size: 20px;
			    								  								 		background-color: #FFFFFF;
			    								  								 		border-color: #FFFFFF;
			    								  								 		color: #000;
			    								  						 		 		font-style: bold;
			    								  						 		 		border-radius: 5px;
			    								  								 		" />

					</div>
				</div>
				<div class="row">
					<div class="col-lg-12" style="width: 100%">
						<img id="ImgNew" src="" style="width: 100%;" />
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12" style="width: 100%; margin-top: 4px;">
						<button class="btn btn-primary" ng-click="addPic()" style="width: 100%;">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{getLabel('Save')}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--  Fim Modal Nova Imagem -->

<!-- Modal imagens -->

<div class="modal fade" id="modalImgDetailService" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content" id="modalContent">
			<div class="modal-body"
				style="background-color: #FFF; overflow-y: scroll; margin-bottom: 10px; overflow-x: scroll;">

				<!-- botoes de rotacionar e navegação -->
				<div class="row" id="barraSuperiorImagem">
					<div class="col-md-3" align="center">

						<div class="col-md-6" ng-if="verificaCarregamentoDelete(config_web)">
							<div class="glyphicon glyphicon-trash" data-target="#modalConfirmDelete" id="trash" align="center"
								data-toggle="modal" style="cursor: pointer; font-size: 32px; margin-top: 6px"></div>
						</div>

						<div class="col-md-6" ng-show="verificaCarregamentoTroca(config_web)">
							<div class="glyphicon glyphicon-duplicate" align="center" onclick="imgInputService.click()"
								id="changeService" style="cursor: pointer; font-size: 32px; margin-top: 6px;">
								<input type="file" accept="image/*" id="imgInputService" name="imgInputService" style="display: none" />
							</div>
						</div>
					</div>

					<div class="col-md-6" align="center" id="columSlideService">
						<div class="col-md-3" style="cursor:pointer;" ng-click="moveImageToServicePrev_()">
							<div class="button-slide" id="mySlidePrevService">
								<i class="fa fa-backward" align="center"></i>
							</div>
						</div>

						<div class="col-md-3" style="cursor:pointer;" ng-click="rotateServiceMenos()"
							ng-if="verificaRotacaoServiceMp4()">
							<div id="rotateImageMenosService" style="font-size: 35px;">
								<i class="fa fa-undo" align="center"></i>
							</div>
						</div>

						<div class="col-md-3" style="cursor:pointer;" ng-click="rotateServiceMais()"
							ng-if="verificaRotacaoServiceMp4()">
							<div id="rotateImageMaisService" style="font-size: 35px;">
								<i class="fa fa-repeat" align="center"></i>
							</div>
						</div>

						<div class="col-md-3" style="cursor:pointer;" ng-click="moveImageToServiceNext_()">
							<div class="button-slide">
								<i class="fa fa-forward" align="center"></i>
							</div>
						</div>
					</div>

					<div class="col-md-3" align="center">
						<div class="col-md-6" ng-if="verificaCarregamentoEditar(config_web)" ng-click="downloadImage()">
							<div class="glyphicon glyphicon-pencil" id="editService"
								style="cursor: pointer; font-size: 32px; margin-top: 6px;">
							</div>
						</div>

					</div>

				</div>
				<!-- Fim botoes de rotacionar e navegação -->

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="true">
						<textarea class="form-control" name="observacao" id="observacao" cols="85" rows="{{returnNumberOfRows()}}"
							ng-model="selectedImage.note" ng-click="openObsModal()" style="cursor: pointer;"></textarea>
					</div>
				</div>
				<!-- Imagem ou Vídeo-->
				<div class="col-lg-12" style="width: 100%; height: 100%;">
					<img id="imageDetailService" />
				</div>

				<div class="col-lg-12" style="width: 100%; height: 100%;">
					<video width="320" height="240" id="videoDetailService" controls>
						<source src="" type="video/mp4">
					</video>
				</div>

				<!-- Fim Navegacao e Imagem -->
			</div>
		</div>

	</div>
</div>

<!-- FIM Modal imagens-->


<!--  confirmação de exclusão da imagem -->

<div id="modalConfirmDelete" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{getLabel('Confirmation')}}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<p>{{getMessage('ConfirmDeleteImg')}}</p>
			</div>

			<div class="modal-footer">
				<button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
					{{getLabel('Cancel')}}
				</button>

				<button class="btn btn-danger" data-dismiss="modal" ng-click="deletePic()">
					<i class="glyphicon glyphicon-trash" aria-hidden="true"></i> {{getLabel('Delete')}}
				</button>
			</div>
		</div>
	</div>
</div>

<!-- fim confirmação de exclusão da imagem -->

<!-- Confirmação de troca da imagem -->

<div id="modalConfirmUpdateImage" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{getLabel('Confirmation')}}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<p>{{getMessage('ConfirmChangeImg')}}</p>
			</div>

			<div class="modal-footer">
				<button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
					{{getLabel('Cancel')}}
				</button>

				<button class="btn btn-success" data-dismiss="modal" ng-click="trocaPic()">
					<i class="glyphicon glyphicon-ok" aria-hidden="true"></i> {{getLabel('Confirm')}}
				</button>
			</div>
		</div>
	</div>
</div>

<div id="div_services_principal"> </div>


<!-- Fim confirmação de troca da imagem -->

<!-- Modal Report Service Information LAUDO -->
<div id="modalExtraInformationReportService" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{getLabel('ReportInformation')}}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">

				<div class="row">

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<div class="row form-group">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<label for="feedback">{{getLabel('Feedback')}}</label>
								<textarea class="form-control" name="feedback" id="feedback" cols="85" rows="5"
									ng-model="servico.feedback"></textarea>
							</div>
						</div>

						<div class="row form-group">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<label for="technicalAnalysis">{{getLabel('TechnicalAnalysis')}}</label>
								<textarea class="form-control" name="technicalAnalysis" id="technicalAnalysis" cols="85" rows="5"
									ng-model="servico.technicalAnalysis"></textarea>
							</div>
						</div>

						<div class="row form-group">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<label for="conclusion">{{getLabel('Conclusion')}}</label>
								<textarea class="form-control" name="conclusion" id="conclusion" cols="85" rows="5"
									ng-model="servico.conclusion"></textarea>
							</div>
						</div>

					</div>
				</div>

			</div>

			<!-- LAUDO -->
			<div class="modal-footer">
				<button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
					{{getLabel('Cancel')}}
				</button>

				<button id="btnPrinterReport" name="btnPrinterReport" class="btn btn-primary" ng-click="updateService()">
					<i class="fa fa-print"></i> {{getLabel('Print')}}
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Report Service Information -->

<div class="modal fade" id="modalEdtObservacao">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<div class="row form-group">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<label for="feedback">{{getLabel('Observation')}}</label>
								<textarea class="form-control" name="observacao" id="observacao" cols="85" rows="5"
									ng-model="selectedImage.note"></textarea>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{getLabel('Cancel')}}</button>
				<button type="button" class="btn btn-primary" ng-click="saveNote()">{{getLabel('Save')}}</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal Modal Delete OS -->

<div id="modalConfirmDeleteOS" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{getLabel('Confirmation')}}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<p>{{getMessage('ConfirmDeleteOS')}}</p>
				<br />
				<p>{{getMessage('WarningDeleteOS')}}</p>
			</div>

			<div class="modal-footer">
				<button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
					{{getLabel('Cancel')}}
				</button>

				<button class="btn btn-danger" data-dismiss="modal" ng-click="deleteCurrentOS()">
					<i class="glyphicon glyphicon-trash" aria-hidden="true"></i> {{getLabel('Delete')}}
				</button>
			</div>
		</div>
	</div>
</div>

<!-- End Modal Delete OS -->

<a id="cropImageService" href="{{appUrl}}editImageService"></a>

<div id="divBody" ng-include="reportList.reportServiceDefault"></div>

<script>
	$(document).ready(function () {
		initialize();
		setTimeout(function () {
			$("#btnMapa").trigger("click");
		}, 2000);
	});	
</script>