<style>
  .label-right {
    text-align: end;
  }

  select:disabled {
    color: grey !important;
  }

  input:disabled {
    color: grey !important;
  }
</style>
<div class="container form-horizontal jumbotron divLista" style="margin-left: 15% !important">
  <h4>{{getLabel('ServiceInformation')}}</h4>
  <hr>
  <div class="formGroup row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <div class="formGroup row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 label-right">
          <label class="uiLabel" for="client"> {{getLabel('Clients')}} </label>
        </div>

        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          <select name="client" required id="client" class="form-control formGroupInput text-box single-line"
            ng-model="clientSelected" ng-change="selectClient(clientSelected)"
            ng-disabled="servico != null && servico.status == 'R'">
            <option ng-repeat="client in clientList" value="{{client.clientId}}">{{client.tradingName}}</option>
          </select>
        </div>
      </div>

      <div class="formGroup row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 label-right">
          <label class="uiLabel" for="action"> {{getLabel('Actions')}} </label>
        </div>

        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          <select name="action" required id="action" class="form-control formGroupInput text-box single-line"
            ng-model="actionSelected" ng-change="selectAction(actionSelected)"
            ng-disabled="servico != null && servico.status == 'R'">
            <option ng-repeat="action in actionList" value="{{action.actionId}}">{{action.description}}</option>
          </select>
        </div>
      </div>

      <div ng-repeat="customField in customFieldList" ng-if="customFieldList != null && customFieldList.length > 0">
        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 label-right">
            <label class="uiLabel" for="{{customField.VALUE}}"> {{customField.VALUE.capitalize()}} </label>
          </div>

          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <input id="{{customField.VALUE}}" name="customField" required
              class="inputs form-control formGroupInput text-box single-line" type="text" style="max-width: 1024px;"
              ng-model="customField.DATA" ng-disabled="servico != null && servico.status == 'R'" />
          </div>
        </div>
      </div>

      <div class="formGroup row" ng-if="equipmentList.length > 0 || equipmentSelected.length > 0">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 label-right">
          <label class="uiLabel" for="equipment"> {{getLabel('Equipments')}} </label>
        </div>

        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          <select name="equipment" required id="equipment" class="form-control formGroupInput text-box single-line"
            ng-model="equipmentSelected" ng-change="selectEquipment(equipmentSelected)"
            ng-disabled="servico != null && servico.status == 'R'">
            <option ng-repeat="equipment in equipmentList" value="{{equipment.vehicleId}}">
              {{equipment.brand}} - {{equipment.model}} - {{equipment.plate}}
            </option>
          </select>
        </div>
      </div>

      <div class="formGroup row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 label-right">
          <label class="uiLabel" for="userReceiver"> {{getLabel('SendTo')}} </label>
        </div>

        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          <select name="userRecieve" required id="userReceiver" class="form-control formGroupInput text-box single-line"
            ng-model="userSelected" ng-change="selectUser(userSelected)"
            ng-disabled="servico != null && servico.status == 'R'">
            <option ng-repeat="user in usersList" value="{{user.userId}}">{{user.user}}</option>
          </select>
        </div>
      </div>

      <div class="formGroup row">
        <div class="col-xs-offset-2 col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <a class="btn btn-primary" href="{{appUrl}}op/service"> <i class="fa fa-arrow-left" aria-hidden="true"></i>
            {{getLabel('ReturnToList')}}
          </a>

          <button class="btn btn-primary" ng-click="saveService()" ng-show="servico != null && servico.status != 'R'">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{getLabel('Save')}}
          </button>
        </div>
      </div>

    </div>
  </div>
</div>