<div class="form-horizontal jumbotron divLista">

	<div style="height: 10%">
		<h3 class="fLeft">{{getLabel('Services.p')}}</h3>

		<div style="background-color: transparent;">
		    <div style="cursor: pointer;" ng-click="showModalWindow()">
		      <div class="row"> 
			      <label class="control-label col-xs-2 label-title"
			        style="padding-top: 5px !important;">{{ getLabel("Period") }}:</label>
			      <label class="control-label col-xs-2 label-value" style="padding-top: 5px !important;"> {{ dtInicio }} {{ getLabel("To") }} {{ dtFinal }} </label>
		      </div>
		      
		      <div class="row"> 
			      <label class="control-label col-xs-2 label-title">{{ getLabel("Client") }}(s):</label>
			      <label class="control-label col-xs-2 label-value">{{ clientsNames }}</label>
		      </div>

					      
			  <div class="row"> 
			      <label class="control-label col-xs-2 label-title">{{ getLabel("Actions.s") }}(s):</label>
			      <label class="control-label col-xs-2 label-value">{{ activitysNames }}</label>
			  </div>

			<div class="row"> 
		      <label class="control-label col-xs-2 label-title">{{ getLabel("User.s") }}(s):</label>
		      <label class="control-label col-xs-2 label-value">{{ userNames }}</label>
			</div>
			
			<div class="row"> 
		      <label class="control-label col-xs-2 label-title">{{ getLabel("Project.s") }}(s):</label>
		      <label class="control-label col-xs-2 label-value">{{ projectNames }}</label>
			</div>		      

		    </div>
		  </div>
		  <br/>
		
		<a href=" {{ createService() }} " class="btn btn-default fLeft" style="width: 100px">
			<i class="fa fa-plus" aria-hidden="true"></i>
			{{getLabel('New')}}
		</a>

		<div class="headers">
			<div style="width: 2%">
				<input type="checkbox" ng-model="checkedUncheckedAll" ng-change="checkUncheckAll()"/>
			</div>
			<div style="width: 4%">
				{{getLabel('SO')}}
			</div>
			<div style="width: 20%">
				{{getLabel('Clients')}}
			</div>
			<div style="width: 18%">
				{{getLabel('Equipments')}}
			</div>
			<div style="width: 10%">
				{{getLabel('Actions')}}
			</div>
			<div style="width: 10%">
				{{getLabel('User')}}
			</div>
			<div style="width: 10%">
				{{getLabel('Date')}}
			</div>
			<div style="width: 15%">
				{{getLabel('CustomFields')}}
			</div>
			<div style="width: 5%">
				{{getLabel('Status')}}
			</div>
			<div style="width: 10%">
			</div>
		</div>
		<div id="divLoading"></div>
	</div>


	<div class="containerList" style="height: 65%" id="tbServices">

		<div class="rowsList" ng-repeat="servico in servicos | filter:query" ng-class-odd="'odd'" ng-class-even="'even'"
			style="overflow-x: hidden !important; transition: 0.2s linear;" id="{{servico.serviceId}}">
			<div style="width: 2%" >
				<input type="checkbox" ng-model="servico.checked" ng-change="changeCheck(servico)"/>
			</div>
			<div style="width: 4% !important; font-size: 11px !important;" >
				{{servico.serviceId}}
			</div>
			<div style="width: 20% !important; font-size: 11px !important;" >
				{{servico.client.tradingName}}
			</div>
			<div style="width: 18% !important; font-size: 10px !important;">
				{{servico.vehicle.plate}} - {{servico.vehicle.brand}}
			</div>
			<div style="width: 10% !important; font-size: 10px !important;">
				{{servico.action.description}}
			</div>
			<div style="width: 10% !important; font-size: 11px !important;">
				{{servico.user.user}}
			</div>
			<div style="width: 10% !important; font-size: 11px !important;">
				{{servico.startTime.substring(0, 10)}}
			</div>
			<div style="width: 15% !important; float: left !important; font-size: 10px !important;">
				<div ng-bind-html="trustedHtml">{{listCustomFields(servico)}}</div>
			</div>
			<div style="width: 5% !important; font-size: 10px !important;">
				{{buildStatus(servico.status)}}
			</div>
			<div style="width: 10% !important; display: inline-flex;">

				<div style="min-width: 10%; width: 10%;">
					<span style="float: right; margin-right: 10px; font-size: 10px !important; align-items: center;">
						{{servico.tags}}
					</span>
				</div>

				<div style="min-width: 12%; width: 12%;">
					<span style="float: right; margin-right: 10px; font-size: 10%  !important; align-items: center;">
						CRI
					</span>
				</div>

				<div data-toggle="modal" data-target="#modalServiceInfo" ng-click="loadService(servico.serviceId)"
					style="cursor: pointer; min-width: 20px; width: 20%;">
					<i class="fa fa-search" style="float: right; margin-right: 10px;"></i>
				</div>

				<div style="min-width: 50%; width: 50%;">
					<div style="width: 100%; ">
						<a href="{{ redirectTo(servico) }}" class="btn btn-primary formGroupInput">
							{{getLabel('Details')}}</a>
					</div>
				</div>

			</div>
		</div>

	</div>
	<div style="
			width: 100%;
			max-width: 100%;
			font-size: 09px;
			font-weight: bold;
			height: 5%">
		Tags <br />
		CRI: {{ getLabel('ContainsItemsCritical') }} <br />
		 IG: {{ getLabel('ContainsIgnoredImage') }} <br />
		 PA: {{ getLabel('PartialClosure') }}
	</div>
	
	<div ng-if="servicosSelected.length > 0">
		<button class="btn btn-primary" ng-click="printMultiplesServices()" target="_blank"
			accesskey="p">
			<i class="fa fa-print"></i> {{getLabel('Print')}}
		</button>

		<button class="btn btn-danger" data-target="#modalConfirmDeleteOS" data-toggle="modal" style="margin-left: 25px;"
			ng-if="servicosSelected.length == 1 && canDeleteOS()">
			<i class="glyphicon glyphicon-trash" aria-hidden="true"></i> {{getLabel('Delete')}}
		</button>

		<div ng-repeat="servico in servicosToPrint">
			<span id="{{'printService'+servico.serviceId}}" name="printService" ng-print print-element-id="{{'body'+servico.serviceId}}">
		</div>		
	</div>

	<!-- Modal Info -->

	<div id="modalServiceInfo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content" id="modalContent">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="">
						<form class="">
							<h4 class="modal-title" id="modalLabel">{{getLabel('Observation')}}</h4>
							<textarea rows="5" cols="100" class="form-control text-box ipt">{{servico.note}}</textarea>

							<div ng-show="servico.action.checklist">
								<h4>{{getLabel('Checklist')}}</h4>

								<div class="table">
									<div class="headers" style="max-width: 921px !important;">
										<div class="divVeiculo" style="padding-left: 0px !important; max-width: 450px !important;">
											{{getLabel('Description')}}
										</div>
										<div class="divVeiculo" style="padding-left: 0px !important; max-width: 90px !important;">
											{{getLabel('Status')}}
										</div>
										<div class="divUsuario" style="padding-left: 0px !important; max-width: 90px !important;">
											{{getLabel('Adjusted')}}
										</div>
									</div>

									<div style="max-height: 480px; height: 100%; overflow: scroll; width: 100%; overflow-x: hidden">
										<div class="rowsList" ng-repeat="imagem in servico.picsList">
											<div class="divItemList" style="max-width: 450px !important;">
												{{imagem.message}}
											</div>
											<div class="divItemList" style="max-width: 90px !important;">
												{{returnOkNok(imagem.statusChecklist)}}
											</div>
											<div class="divItemList" style="max-width: 90px !important;">
												{{returnOkNok(imagem.statusFix)}}
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="dontPrint" id="divImagensThumb">
								<h4 ng-show="hideAllImageDiv(servico)">{{getLabel('Images.p')}}</h4>
								<div class="imgServiceModal" ng-repeat="imagem in servico.picsList" ng-show="hideImageDiv(imagem)">
									<div ng-show="hideImage(imagem.picPath)">
										<div class="imgServiceModalDiv" data-img="{{pathImg}}{{imagem.picPath}}"
											style="background-image: url({{imagem.picPath}});">
											<a style="display: block" target="_blank" href="{{pathImg}}{{imagem.picPath}}"> </a>
										</div>
										<br>

										<!-- Exibe a mensagem da imagem como link -->
										<div class="imgServiceMOdalMessageDiv link-google-maps dontPrint;">
											{{imagem.message}}</div>
										<br>
									</div>
									<div ng-show="hideImage(imagem.fixPicPath)">
										<div class="imgServiceModalDiv" data-img="{{pathImg}}{{imagem.fixPicPath}}"
											style="background-image: url({{imagem.fixPicPath}});">
											<a style="display: block" target="_blank" href="{{pathImg}}{{imagem.fixPicPath}}"> </a>
										</div>
										<br>

										<!-- Exibe a mensagem da imagem como link -->
										<div class="imgServiceMOdalMessageDiv link-google-maps dontPrint;">
											{{imagem.message}} - {{getLabel('Adjusted')}}</div>
										<br>
										<br />
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- modal-body -->
			</div>
			<!-- modal-content -->
		</div>

	</div>

	<!-- End Modal Info -->


	<!-- Modal Modal Delete OS -->

	<div id="modalConfirmDeleteOS" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">{{getLabel('Confirmation')}}</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
	
				<div class="modal-body">
					<p>{{getMessage('ConfirmDeleteOS')}}</p>
					<br />
					<p>{{getMessage('WarningDeleteOS')}}</p>
				</div>
	
				<div class="modal-footer">
					<button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
						{{getLabel('Cancel')}}
					</button>
	
					<button class="btn btn-danger" data-dismiss="modal" ng-click="deleteSelectedOS()">
						<i class="glyphicon glyphicon-trash" aria-hidden="true"></i> {{getLabel('Delete')}}
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- End Modal Delete OS -->
	
	
	<div class="modal fade" id="parametersModal">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">×</span>
	          </button>
	        </div>
	        
	        <div class="modal-body">
	        
	          <!-- periodo...  -->
	          <div class="formGroup row">
	            <label class="control-label col-xs-4 labelFiltro" for="dtInicio">{{
	              getLabel("InitialDate")
	            }}</label>
	            <input type="text" id="dtInicio" name="dtInicio" ng-model="dtInicio"
	              class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px;" />
	              
	            <label class="control-label col-xs-4 labelFiltro" for="dtFinal">{{
	              getLabel("FinalDate")
	            }}</label>
	            <input type="text" id="dtFinal" name="dtFinal" ng-model="dtFinal"
	              class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px" />
	          </div>
	          
	          <!--client-->
	          <div class="formGroup row">
	            <label class="control-label labelFiltro col-xs-6" for="clients">{{
	              getLabel("Client")
	            }}</label>
	            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="clientTriangle"
	              style="padding-left: 0px;padding-top: 10px;" ng-click="showClientsSelect()"></span>
	          </div>
	          <div class="formGroup row" ng-show="showClient">
	            <select class="form-control text-box" style="max-width: 220px" id="clients" ng-model="clientsSelected"
	              ng-options="client for client in clients" multiple bs-duallistbox>
	            </select>
	          </div>
	          
	          <!--  activitys -->
	          <div class="formGroup row">
	            <label class="control-label labelFiltro col-xs-6" for="activitys">{{
	              getLabel("Actions")
	            }}</label>
	            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="activitysTriangle"
	              style="padding-left: 0px;padding-top: 10px;" ng-click="showActivitysSelect()"></span>
	          </div>
	          <div class="formGroup row" ng-show="showActivitys">
	            <select class="form-control text-box" style="max-width: 220px" id="activitys" ng-model="activitysSelected"
	              ng-options="activity for activity in activitys" multiple bs-duallistbox>
	            </select>
	          </div>
	          
	          <!--usuario-->
	          <div class="formGroup row">
	            <label class="control-label labelFiltro col-xs-6" for="user">{{
	              getLabel("User.p")
	            }}</label>
	            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="userTriangle"
	              style="padding-left: 0px;padding-top: 10px;" ng-click="showUserSelect()"></span>
	          </div>
	          <div class="formGroup row" ng-show="showUsers">
	            <select class="form-control text-box" style="max-width: 220px" id="users" ng-model="usersSelected"
	              ng-options="user for user in users" multiple bs-duallistbox>
	            </select>
	          </div>
	          
	          <!--project-->
	          <div class="formGroup row">
	            <label class="control-label labelFiltro col-xs-6" for="project">{{
	              getLabel("Project.p")
	            }}</label>
	            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="projectTriangle"
	              style="padding-left: 0px;padding-top: 10px;" ng-click="showProjectSelect()"></span>
	          </div>
	          <div class="formGroup row" ng-show="showProject">
	            <select class="form-control text-box" style="max-width: 220px" id="projects" ng-model="projectSelected"
	              ng-options="project for project in projects" multiple bs-duallistbox>
	            </select>
	          </div>
	
				<div class="row">
					<div class="radio-filters" style="margin-left: 1%">
						<label class="radio-inline col-xs-1">
							<input class="radio" type="radio" ng-model="optBy" name="optBy" value="all" ng-change="filterServicesBy()"
								checked>{{getLabel('All')}}
						</label>
						<label class="radio-inline col-xs-1">
							<input class="radio" type="radio" ng-model="optBy" name="optBy" value="app"
								ng-change="filterServicesBy()">{{getLabel('App')}}
						</label>
						<label class="radio-inline col-xs-1">
							<input class="radio" type="radio" ng-model="optBy" name="optBy" value="web"
								ng-change="filterServicesBy()">{{getLabel('Web')}}
						</label>
					</div>
				</div>
	
	        </div>
	        
	        <div class="modal-footer">
	          <button type="button" class="btn btn-primary pull-left" data-dismiss="modal" ng-click="buscar()">
	            {{ getLabel("Search") }}
	          </button>
	          <button type="button" class="btn btn-secondary" data-dismiss="modal">
	            {{ getLabel("Close") }}
	          </button>
	        </div>
	      </div>
	    </div>
  	</div>
  
	<div ng-repeat="servico in servicosToPrint">
		<div id="{{'body'+servico.serviceId}}" ng-include="reportList.reportServiceDefault"></div>
	</div>

	<script>
		$(document).ready(function () {
			$("#dtFinal").mask("00/00/0000");
			$("#dtInicio").mask("00/00/0000");
		});
	</script>

</div>