<div class="form-horizontal jumbotron divLista dontPrint">
	<div class="formGroup">
		<h3 class="fLeft"> {{getLabel('SettlementsSummary')}} </h3>
	</div>
	<form novalidate name="frmSettlement">

	 <div style="background-color: transparent;">
		    <div style="cursor: pointer;" ng-click="showModalWindow()">
			      <div class="row"> 
				      <label class="control-label col-xs-2 label-title"
				        style="padding-top: 5px !important;">{{ getLabel("Period") }}:</label>
				      <label class="control-label col-xs-2 label-value" style="padding-top: 5px !important;"> {{ dtInicio }} {{ getLabel("To") }} {{ dtFinal }} </label>
			      </div>
			      
			      <div class="row"> 
				      <label class="control-label col-xs-2 label-title">{{ getLabel("Client") }}(s):</label>
				      <label class="control-label col-xs-2 label-value">{{ clientsNames }}</label>
			      </div>
			      
			      <div class="row"> 
				      <label class="control-label col-xs-2 label-title">{{ getLabel("User.s") }}(s):</label>
				      <label class="control-label col-xs-2 label-value">{{ usersNames }}</label>
			      </div>
	
				<div class="row"> 
			      <label class="control-label col-xs-2 label-title">{{ getLabel("Identifier") }}(s):</label>
			      <label class="control-label col-xs-2 label-value">{{ identifiersNames }}</label>
				</div>		      		      
		    </div>
	</div>
	
	
	<div style="padding: 15px !important;">
		<div ng-hide="data.users.length == 0">
			<!-- Total -->
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-sm-10" style="text-transform: uppercase; font-weight: bold; padding-left: 8px;">
						{{getLabel('TotalSettlement')}}
					</div>
					<div class="col-sm-2" style="text-align: right; font-weight: bold;">
						{{data.total}}
					</div>
					<br />
				</div>
			</div>
			<!-- Total -->
			
			<!-- Users -->
			<div class="panel panel-default">
				<div class="panel-heading" style="font-weight: bold;">
					<div class="col-sm-1">{{getLabel('User.p')}}</div>
					<div class="text-right" style="margin-top: -5px; display: none;">
					</div>
				</div>
				<div class="panel-body">
					<div ng-repeat="user in data.users" ng-class-odd="'odd'" ng-class-even="'even'">
						<div class="col-sm-10" style="text-transform: uppercase; padding-left: 8px;">
							{{user.key}}
						</div>
						<div class="col-sm-2" style="text-align: right;">
							{{user.value}}
						</div>
						<br />
					</div>
				</div>
			</div>
			<!-- End Users -->
			
			<!-- Client -->
			<div class="panel panel-default">
				<div class="panel-heading" style="font-weight: bold;">
					<div class="col-sm-1">{{getLabel('Clients.p')}}</div>
					<div class="text-right" style="margin-top: -5px; display: none;">
					</div>
				</div>
				<div class="panel-body">
					<div ng-repeat="client in data.clients" ng-class-odd="'odd'" ng-class-even="'even'">
						<div class="col-sm-10" style="text-transform: uppercase; padding-left: 8px;">
							{{client.key}}
						</div>
						<div class="col-sm-2" style="text-align: right;">
							{{client.value}}
						</div>
						<br />
					</div>
				</div>
			</div>
			<!-- End Client -->
			
			<!-- Event -->
			<div class="panel panel-default">
				<div class="panel-heading" style="font-weight: bold;">
					<div class="col-sm-1">{{getLabel('Occurrences')}}</div>
					<div class="text-right" style="margin-top: -5px; display: none;">
					</div>
				</div>
				<div class="panel-body">
					<div ng-repeat="event in data.events" ng-class-odd="'odd'" ng-class-even="'even'">
						<div class="col-sm-10" style="text-transform: uppercase; padding-left: 8px;">
							{{event.key}}
						</div>
						<div class="col-sm-2" style="text-align: right;">
							{{event.value}}
						</div>
						<br />
					</div>
				</div>
			</div>
			<!-- End Event -->
			
			<!-- PaymentIds -->
			<div class="panel panel-default">
				<div class="panel-heading" style="font-weight: bold;">
					<div class="col-sm-1">{{getLabel('Identifier')}}</div>
					<div class="text-right" style="margin-top: -5px; display: none;">
					</div>
				</div>
				<div class="panel-body">
					<div ng-repeat="id in data.paymentIds" ng-class-odd="'odd'" ng-class-even="'even'">
						<div class="col-sm-10" style="text-transform: uppercase; padding-left: 8px;">
							{{id.key}}
						</div>
						<div class="col-sm-2" style="text-align: right;">
							{{id.value}}
						</div>
						<br />
					</div>
				</div>
			</div>
			<!-- End PaymentIds -->
		
			<button class="btn btn-primary" ng-print print-element-id="divBody" accesskey="p">
				<i class="fa fa-print"></i> {{getLabel('Print')}}
			</button>
		</div>
		</div>
	</form>
</div>

<style>
	#divBody {
		padding: 10px !important;
		font-family: calibri, arial, sans-serif !important;
		margin: 10px !important;
	}

	hr {
		padding: 0 !important;
		margin: 0 !important;
	}

	.linhas {
		width: 100% !important;
	}

	.linhas label {
		min-width: 95px !important;
		display: inline-block !important;
		padding: 2px !important;
		text-align: left !important;
	}

	.divPrincipal {
		padding: 5px !important;
		max-width: 590px !important;
		left: 0 !important;
		right: 0 !important;
		margin-left: auto !important;
		margin-right: auto !important;
		background-color: #fff !important;
	}

	.divTitlePrint {
		margin-bottom: 5px;
		width: 100% !important;
		height: 76px !important;
		
	}

	.divTitlePrint div {
		display: inline-block !important;
	}

	.divTitlePrint span {
		text-align: left !important;
	}

	.divContent {

		margin-bottom: 5px !important;
	}

	.divLogo {
		padding: 5px !important;
		/*border: 1px solid #000 !important;*/
		width: 77px !important;
		height: 74px !important;
		float: left !important;
	}

	.divInfo {

		height: 74px !important;
		/*border: 1px solid #000 !important;*/
		border-left: 1px solid #000 !important;
		/*border-right: 1px solid #000 !important;*/
		padding: 5px !important;
		float: left !important;
	}

	.divInfo span {
		width: 100% !important;
		display: inline-block !important;
	}

	.divOsInfo {
		width: 117px !important;
		height: 76px !important;
		/*border: 1px solid #000 !important;*/
		padding: 2px !important;
		float: left !important;
		text-align: center !important;
	}

	.divOsInfo div {
		display: inline-block !important;
		width: 100% !important;
	}

	.divSubTitle {
		border: 1px solid #000 !important;
		text-align: center !important;
		padding: 5px !important;
		font-size: 18px !important;
		font-weight: bold !important;
		width: 100% !important;
	}

	.divSubTitle span {
		display: inline-block !important;
		width: 100% !important;
	}

	#divVeiculo {
		padding: 5px !important;
	}

	#divVeiculo div {
		display: inline-block !important;
	}

	#divImagens {
		padding: 5px !important;
	}

	#divImagens div {
		display: inline-block !important;
	}

	#divImages div img {
		width: 60px !important;
	}

	.imgServiceDivPrint {
		height: 130px !important;
		width: 80px !important;
		background-size: cover !important;
		background-position: center !important;
		border-radius: 10px !important;
		display: inline-block !important;
		cursor: pointer !important;
		box-shadow: 2px 2px 5px #000 !important;
	}

	#divAssinatura {
		padding: 5px !important;
	}

	#divAssinatura div {
		display: inline-block !important;
	}

	#divDadosClient div {
		display: inline-block !important;
		width: 100% !important;
		border: none !important;
	}

	@media print {
		body {
			line-height: 1.2em !important;
			height: auto !important;
			width: auto;
		}

		@page {
			margin: 5px;
			margin-left: 10px;
			left: 0 !important;
			right: 0 !important;
			
			line-height: 1em !important;
		}

		#divBody {
			padding: 10px !important;
			font-family: calibri, arial, sans-serif !important;
			margin: 10px !important;
		}

		hr {
			padding: 0;
			margin: 0;
		}

		.linhas label {
			min-width: 95px !important;
			display: inline-block !important;
			padding: 2px !important;
			text-align: left !important;
		}
		.divPrincipal {
			padding: 5px !important;
			/*max-width: 674px !important;*/
			left: 0 !important;
			right: 0 !important;
			margin-left: auto !important;
			margin-right: auto !important;
		}
		.divTitlePrint {
			margin-bottom: 5px;
			width: 100% !important;
			height: 76px !important;
		}

		.divTitlePrint div {
			display: inline-block !important;
		}

		.divTitlePrint span {
			text-align: left !important;
		}

		.divContent {

			margin-bottom: 5px !important;
		}

		.divLogo {
			padding: 5px !important;
			/*border: 1px solid #000 !important;*/
			width: 77px !important;
			height: 74px !important;
			float: left !important;
		}

		.divInfo {

			height: 74px !important;
			/*border: 1px solid #000 !important;*/
			border-left: 1px solid #000 !important;
			border-right: 1px solid #000 !important;
			padding: 5px !important;
			float: left !important;
		}

		.divInfo span {
			width: 100% !important;
			display: inline-block !important;
		}

		.divOsInfo {
			width: 112px !important;
			height: 76px !important;
			/*border: 1px solid #000 !important;*/
			border-right: none !important;
			padding: 2px !important;
			float: left !important;
			text-align: center !important;
		}

		.divOsInfo div {
			display: inline-block !important;
			width: 100% !important;
		}

		.divSubTitle {
			border: 1px solid #000 !important;
			text-align: center !important;
			padding: 5px !important;
			font-size: 18px !important;
			font-weight: bold !important;
			width: 100% !important;
		}

		.divSubTitle span {
			display: inline-block !important;
			width: 100% !important;
		}

		#divVeiculo {
			padding: 5px !important;
		}

		#divVeiculo div {
			display: inline-block !important;
		}

		#divImagens {
			padding: 5px !important;
			display: block !important;
			width: auto !important;
			height: auto !important;
			overflow: visible !important;
			text-align: center;
			left: 0;
			right: 0;
			margint-left:auto;
			margin-right: auto;
		}

		#divImagens div {
			display: inline-block !important;
		}

		#divImages div img {
			width: 50px !important;
		}

		.imgServiceDivPrint {
			height: 130px !important;
			width: 80px !important;
			background-size: cover !important;
			background-position: center !important;
			border-radius: 10px !important;
			display: inline-block !important;
			cursor: pointer !important;
			box-shadow: 2px 2px 5px #000 !important;
		}

		#divAssinatura {
			padding: 5px !important;
		}

		#divAssinatura div {
			display: inline-block !important;
		}

		#divDadosClient div {
			display: inline-block !important;
			width: 100% !important;
			border: none !important;
		}

		.divClientLabel label {
			display: inline-block !important;
			width: 100% !important;
		}
	}

	.divClientLabel label {
		display: inline-block !important;
		width: 100% !important;
	}
</style>


<div id="divBody" class="print">
	<div id="divPrincipal" class="divPrincipal">
		<div style="margin: 20px 0px 10px 0px !important; display: inline-block !important; width: 100% !important; text-align: center !important; font-weight: bold;">
			GIMB
		</div>

		<div ng-include="reportList.headerOnly"></div>
		
		<div id="divContent" class="divContent" style="width: 100% !important; display: inline-block !important; border-top-style: hidden !important; float:left">
			<div class="linhas" style="padding: 10px; border: 1px solid #000; display:inline-block !important; width: 100% !important;" id="divDadosClient">
				<div><span style="width:100px !important; font-weight: bold; text-align: left; display: inline-block">{{getLabel('Period')}}:</span><b>{{timeIntervalText()}}</b></div>
				<div><span style="width:100px !important; font-weight: bold; text-align: left; display: inline-block">{{getLabel('Clients')}}: </span>{{clientSelected.tradingName}}</div>
				<div><span style="width:100px !important; font-weight: bold; text-align: left; display: inline-block">{{getLabel('User')}}: </span>{{userSelected.user}}</div>
				<div><span style="width:100px !important; font-weight: bold; text-align: left; display: inline-block">{{getLabel('Identifier')}}:</span>{{identifierText()}}</div>
			</div>
			
			<br />
			<br />
			
			<div class="" style="padding: 10px 30px 10px 30px; width: 100% !important; display: inline-block !important; font-weight: bold;">
				<span style="width: 70% !important; text-transform: uppercase; display: inline-block !important; margin-left: 2%">
					{{getLabel('TotalSettlement')}}
				</span>
				<span style="text-align: right; width: 25% !important; display: inline-block !important;">
					{{data.total}}
				</span>
			</div>
			
			<br />
			
			<div style="padding: 10px 30px 15px 30px; display: list-item; border-bottom: 1px solid #000; width: 99% !important;">
				<!-- Users -->
				<div class="" style="font-weight: bold;">{{getLabel('User.p')}}</div>
				<br />
				<div>
					<div class="" ng-repeat="dt in data.users" style="width: 100% !important; display: inline-block !important;">
						<span style="width: 70% !important; text-transform: uppercase; display: inline-block !important; margin-left: 2%">
							{{dt.key}}
						</span>
						<span style="text-align: right; width: 25% !important; display: inline-block !important;">
							{{dt.value}}
						</span>
					</div>
				</div>
				<!-- End Users -->
			</div>
			
			<div style="padding: 10px 30px 15px 30px; display: list-item; border-bottom: 1px solid #000; width: 99% !important;">
				<!-- Clients -->
				<div class="" style="font-weight: bold;">{{getLabel('Clients.p')}}</div>
				<br />
				<div>
					<div class="" ng-repeat="dt in data.clients" style="width: 100% !important; display: inline-block !important;">
						<span style="width: 70% !important; text-transform: uppercase; display: inline-block !important; margin-left: 2%">
							{{dt.key}}
						</span>
						<span style="text-align: right; width: 25% !important; display: inline-block !important;">
							{{dt.value}}
						</span>
					</div>
				</div>
				<!-- End Clients -->
			</div>
			
			<div style="padding: 10px 30px 15px 30px; display: list-item; border-bottom: 1px solid #000; width: 99% !important;">
				<!-- Events -->
				<div class="" style="font-weight: bold;">{{getLabel('Occurrences')}}</div>
				<br />
				<div>
					<div class="" ng-repeat="dt in data.events" style="width: 100% !important; display: inline-block !important;">
						<span style="width: 70% !important; text-transform: uppercase; display: inline-block !important; margin-left: 2%">
							{{dt.key}}
						</span>
						<span style="text-align: right; width: 25% !important; display: inline-block !important;">
							{{dt.value}}
						</span>
					</div>
				</div>
				<!-- End Events -->
			</div>
			
			<div style="padding: 10px 30px 15px 30px; display: list-item; border-bottom: 1px solid #000; width: 99% !important;">
				<!-- PaymentIds -->
				<div class="" style="font-weight: bold;">{{getLabel('Identifier')}}</div>
				<br />
				<div>
					<div class="" ng-repeat="dt in data.paymentIds" style="width: 100% !important; display: inline-block !important;">
						<span style="width: 70% !important; text-transform: uppercase; display: inline-block !important; margin-left: 2%">
							{{dt.key}}
						</span>
						<span style="text-align: right; width: 25% !important; display: inline-block !important;">
							{{dt.value}}
						</span>
					</div>
				</div>
				<!-- End PaymentIds -->
			</div>
		</div>

		<!-- divContent -->
	</div>
	<!-- divPrincipal -->
</div>

<!-- Modal parameter -->
<div class="modal fade" id="parametersModal">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">×</span>
	          </button>
	        </div>
	        
	        <div class="modal-body">
	        
	          <!-- periodo...  -->
	          <div class="formGroup row">
	            <label class="control-label col-xs-4 labelFiltro" for="dtInicio">{{
	              getLabel("InitialDate")
	            }}</label>
	            <input type="text" id="dtInicio" name="dtInicio" ng-model="dtInicio"
	              class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px;" ng-change="reload()"/>
	              
	            <label class="control-label col-xs-4 labelFiltro" for="dtFinal">{{
	              getLabel("FinalDate")
	            }}</label>
	            <input type="text" id="dtFinal" name="dtFinal" ng-model="dtFinal"
	              class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px" ng-change="reload()"/>
	          </div>
	          
	          <!--client-->
	          <div class="formGroup row">
	            <label class="control-label labelFiltro col-xs-6" for="clients">{{
	              getLabel("Client")
	            }}</label>
	            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="clientTriangle"
	              style="padding-left: 0px;padding-top: 10px;" ng-click="showClientsSelect()"></span>
	          </div>
	          <div class="formGroup row" ng-show="showClient">
	            <select class="form-control text-box" style="max-width: 220px" id="clients" ng-model="clientSelected"
	              ng-options="client for client in clients" multiple bs-duallistbox>
	            </select>
	          </div>
	          
	          <!--usuario-->
	          <div class="formGroup row">
	            <label class="control-label labelFiltro col-xs-6" for="user">{{
	              getLabel("User.p")
	            }}</label>
	            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="userTriangle"
	              style="padding-left: 0px;padding-top: 10px;" ng-click="showUserSelect()"></span>
	          </div>
	          <div class="formGroup row" ng-show="showUsers">
	            <select class="form-control text-box" style="max-width: 220px" id="users" ng-model="userSelected"
	              ng-options="user for user in users" multiple bs-duallistbox>
	            </select>
	          </div>
	          
	          <!--  identifier -->
	          <div class="formGroup row">
	            <label class="control-label labelFiltro col-xs-6" for="identifier">{{
	              getLabel("Identifier")
	            }}</label>
	            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="identifierTriangle"
	              style="padding-left: 0px;padding-top: 10px;" ng-click="showIdentifierSelect()"></span>
	          </div>
	          <div class="formGroup row" ng-show="showIdentifiers">
	            <select class="form-control text-box" style="max-width: 220px" id="identifier" ng-model="identifierSelected"
	              ng-options="identifier for identifier in identifiers" multiple bs-duallistbox>
	            </select>
	          </div>
	          
	        </div>
	        
	        <div class="modal-footer">
	          <button type="button" class="btn btn-primary pull-left" data-dismiss="modal" ng-click="reload()">
	            {{ getLabel("Search") }}
	          </button>
	          <button type="button" class="btn btn-secondary" data-dismiss="modal">
	            {{ getLabel("Close") }}
	          </button>
	        </div>
	      </div>
	    </div>
  </div>
<!-- FIM Modal parameter -->

<script>
    $(document).ready(function(){
      $("#startDate").mask("00/00/0000");
      $("#endDate").mask("00/00/0000");
    });
</script>
