<div class="form-horizontal jumbotron divLista">

	<div class="formGroup" style="text-align: end; height: 3%" ng-show="showApproveSettlementButton()">
		<button class="btn btn-default" ng-click="openModalPendingSettlment()" style="background-color: #fff;">
			{{getLabel('ApprovePendindSettlements')}}
		</button>
	</div>

	<div style="height: 10%">
		<h3 class="fLeft">{{getLabel('Settlements.p')}}</h3>
		
		<div style="background-color: transparent;">
		    <div style="cursor: pointer;" ng-click="showModalWindow()">
		      <div class="row"> 
			      <label class="control-label col-xs-2 label-title"
			        style="padding-top: 5px !important;">{{ getLabel("Period") }}:</label>
			      <label class="control-label col-xs-2 label-value" style="padding-top: 5px !important;"> {{ dtInicio }} {{ getLabel("To") }} {{ dtFinal }} </label>
		      </div>
		      
		      <div class="row"> 
			      <label class="control-label col-xs-2 label-title">{{ getLabel("Client") }}(s):</label>
			      <label class="control-label col-xs-2 label-value">{{ clientsNames }}</label>
		      </div>		      
		      
		      <div class="row"> 
			      <label class="control-label col-xs-2 label-title">{{ getLabel("User.s") }}(s):</label>
			      <label class="control-label col-xs-2 label-value">{{ usersNames }}</label>
		      </div>		      
		      
		      <div class="row"> 
			      <label class="control-label col-xs-2 label-title">{{ getLabel("Events.s") }}(s):</label>
			      <label class="control-label col-xs-2 label-value">{{ eventsNames }}</label>
		      </div>
		      
		      <div class="row"> 
			      <label class="control-label col-xs-2 label-title">{{ getLabel("TypePayment.s") }}(s):</label>
			      <label class="control-label col-xs-2 label-value">{{ typePaymentsNames }}</label>
		      </div>		      
		      		      
		      <br />
		    </div>
		  </div>

		<div id="divLoading"></div>

		<div class="headers" style="margin-bottom: 3px">
			<div style="width: 20% !important">{{getLabel('Clients')}}</div>
			<div style="width: 15% !important">{{getLabel('User')}}</div>
			<div style="width: 10% !important">{{getLabel('Date')}}</div>
			<div style="width: 15% !important">{{getLabel('Occurrences')}}</div>
			<div style="width: 5% !important">{{getLabel('Amount')}}</div>
			<div style="width: 15% !important">{{getLabel('Payment')}}</div>
			<div style="width: 20% !important"></div>
		</div>

	</div>

	<div class="containerList" style="height: 65%" id="tbSettlements">
		<div class="rowsList" ng-repeat="settlement in settlements | filter:query" ng-class-odd="'odd'"
			ng-class-even="'even'" ng-style="{color: {A:'7d7d7d', P:'darkorange', R:'red'}[settlement.extract.status]}"
			id="{{settlement.settlementId}}" style="transition: 0.2s linear;">
			
			<div style="width: 20% !important; font-size: 11px !important">
				{{settlement.client.tradingName}}
			</div>
			<div style="width: 15% !important; font-size: 11px !important">
				{{settlement.user.user}}
			</div>
			<div style="width: 10% !important; font-size: 11px !important">
				{{settlement.date}}
			</div>
			<div style="width: 15% !important; font-size: 11px !important">
				{{settlement.event.description}}
			</div>
			<div style="width: 5% !important; font-size: 11px !important">
				{{settlement.amountFormatted}}
			</div>
			<div style="width: 15% !important; font-size: 11px !important">
				{{returnDescription(settlement.typePayment.description)}}
			</div>

			<div style="width: 20% !important; display: inline-flex;">

				<div data-toggle="modal" data-target="#modalSettlementInfo" ng-click="loadSettlement(settlement.settlementId)"
					style="cursor: pointer; min-width: 50px; width: 50%;">
					<i class="fa fa-search" style="float: right; margin-right: 10px;"></i>
				</div>

				<div style="min-width: 50%; width: 50%;">
					<div style="width: 100%; ">
						<a href="{{appUrl}}settlementDetail/{{settlement.settlementId}}"
							class="btn btn-primary formGroupInput">{{getLabel('Details')}}
						</a>
					</div>
				</div>

			</div>
		</div>
		<!-- end div data -->
	</div>
	<!-- end div table -->
</div>


<!-- Modal Info -->

<div id="modalSettlementInfo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content" id="modalContent">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<div class="">
					<form class="">
						<h4 class="modal-title" id="modalLabel">{{getLabel('Observation')}}</h4>
						<textarea rows="5" cols="100" class="form-control text-box ipt">{{settlement.info}}</textarea>

						<div class="dontPrint" id="divImagensThumb">
							<h4>{{getLabel('Images.p')}}</h4>
							<div>
								<div class="imgServiceModal" ng-repeat="imagem in settlement.customPictureList">
									<a style="display:block" target="_blank" href="{{imagem.picPath}}">
										<div class="imgServiceModalDiv" data-img="{{imagem.picPath}}"
											style="background-image: url({{imagem.picPath}});"></div>
									</a>

									<!-- Exibe a mensagem da imagem como link -->
									<div class="imgServiceMOdalMessageDiv link-google-maps dontPrint;">
										{{imagem.message}}
									</div>

								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- modal-body -->
		</div>
		<!-- modal-content -->
	</div>

</div>

<!-- End Modal Info -->

<!-- Modal Pending Settlements -->
<div id="modalPendingSettlements" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{getLabel('SettlementPending')}}</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -30px;"
					ng-click="closeImportSettlements()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<form role="form">
					<div class="form-group col-sm-12">
						<label for="selFilterSetUser" class="uiLabel control-label col-sm-2">{{getLabel('UserOrCard')}}</label>
						<div class="form-group col-sm-4">
							<select name="singleSelect" ng-model="selectedCardOrUser">
						      <option value="card">{{getLabel('card')}}</option>
						      <option value="user">{{getLabel('User')}}</option>
						    </select>
						</div>
					</div>
					
					<div class="form-group col-sm-12" ng-show="selectedCardOrUser == 'card'">
						<label for="selFilterSetUser" class="uiLabel control-label col-sm-2">{{getLabel('card')}}</label>
						<div class="form-group col-sm-4">
							<select id="selFilterSetCard" class="formGroupInput form-control col-sm-3"
								style="text-transform: uppercase;" ng-model="cardFilterSet"
								ng-options="card as card.cardNumber for card in cards"></select>
						</div>
					</div>
					
					<div class="form-group col-sm-12" ng-show="selectedCardOrUser == 'user'">
						<label for="selFilterSetUser" class="uiLabel control-label col-sm-2">{{getLabel('User')}}</label>
						<div class="form-group col-sm-4">
							<select id="selFilterSetUser" class="formGroupInput form-control col-sm-3"
								style="text-transform: uppercase;" ng-model="userFilterSet"
								ng-options="user as user.user for user in users"></select>
						</div>
					</div>
					<div class="form-group col-sm-12">
						<label for="selFilterSetEvent" class="uiLabel control-label col-sm-2">{{getLabel('Occurrences')}}</label>
						<div class="form-group col-sm-4">
							<select id="selFilterSetEvent" class="formGroupInput form-control" style="text-transform: uppercase;"
								ng-model="eventFilterSet"
								ng-options="event as event.description for event in events track by event.eventId"></select>
						</div>
						<button class="btn btn-secondary formGroupInput" ng-click="searchSettlements()" ng-if="!loadingSettlementsToAprov">
							{{getLabel('Search')}}
						</button>
						<img src="apiGIMB/images/loading_gray.gif" ng-if="loadingSettlementsToAprov" style="width: 50px; height: 50px" />
					</div>

					<div ng-hide="pendingExtract.length > 0" style="text-align: center;">
						{{getLabel('NoSettlementRecords')}}
					</div>

					<div class="table" ng-hide="pendingExtract.length == 0 || pendingExtract == null">
						<div style="width:100%; overflow: hidden;">
							<div class="tableDataHeader">
								<div class="" style="width: 25% !important; display: inline-block;">
									{{getLabel('User')}}
								</div>
								<div class="" style="width: 25% !important; display: inline-block;">
									{{getLabel('Events')}}
								</div>
								<div class="" style="width: 15% !important; display: inline-block;">
									{{getLabel('Date')}}
								</div>
								<div class="" style="width: 15% !important; display: inline-block;">
									{{getLabel('Amount')}}
								</div>
								<div class="" style="padding-top: 7px; display: inline-block;">
									<input type="checkbox" id="chkSelectAllSettlements" name="chkSelectAllSettlements"
										ng-click="addToApproveDisapproveList()" />
								</div>
							</div>
							<!-- end div header -->
							<!-- div data -->
						</div>

						<div style="max-height:480px; height:100%; overflow:scroll; width:100%; overflow-x:hidden">
							<div id="divTablePendingSettlement" class="tableDataRows" ng-repeat="extract in pendingExtract"
								ng-class-odd="'odd'" ng-class-even="'even'" style="width: 100% !important;">
								<div class="" style="width: 25% !important; display: inline-block;">
									{{extract.settlement.user.user}}
								</div>
								<div class="" style="width: 25% !important; display: inline-block;">
									{{extract.settlement.event.description}}
								</div>
								<div class="" style="width: 15% !important; display: inline-block;">
									{{extract.settlement.date}}
								</div>
								<div class="" style="width: 15% !important; display: inline-block;">
									{{formatMoney(extract.settlement.amount)}}
								</div>
								<div class="" style="padding-top: 2px; display: inline-block;">
									<input class="" type="checkbox" ng-model="extract.settlement.checked" />
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>

			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="approve()">
					{{getLabel('Approve')}}
				</button>

				<button class="btn btn-danger" ng-click="disapprove()"> {{getLabel('Disapprove')}}
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Pending Settlements -->

<div class="modal fade" id="parametersModal">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">×</span>
	          </button>
	        </div>
	        
	        <div class="modal-body">
	        
	          <!-- periodo...  -->
	          <div class="formGroup row">
	            <label class="control-label col-xs-4 labelFiltro" for="dtInicio">{{
	              getLabel("InitialDate")
	            }}</label>
	            <input type="text" id="dtInicio" name="dtInicio" ng-model="dtInicio"
	              class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px;" ng-change="buscar()"/>
	              
	            <label class="control-label col-xs-4 labelFiltro" for="dtFinal">{{
	              getLabel("FinalDate")
	            }}</label>
	            <input type="text" id="dtFinal" name="dtFinal" ng-model="dtFinal"
	              class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px" ng-change="buscar()"/>
	          </div>
	          
	          <!--client-->
	          <div class="formGroup row">
	            <label class="control-label labelFiltro col-xs-6" for="clients">{{
	              getLabel("Client")
	            }}</label>
	            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="clientTriangle"
	              style="padding-left: 0px;padding-top: 10px;" ng-click="showClientsSelect()"></span>
	          </div>
	          <div class="formGroup row" ng-show="showClient">
	            <select class="form-control text-box" style="max-width: 220px" id="clients" ng-model="clientsSelected"
	              ng-options="client for client in clients" multiple bs-duallistbox>
	            </select>
	          </div>
	          
	          <!--usuario-->
	          <div class="formGroup row">
	            <label class="control-label labelFiltro col-xs-6" for="user">{{
	              getLabel("User.p")
	            }}</label>
	            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="userTriangle"
	              style="padding-left: 0px;padding-top: 10px;" ng-click="showUserSelect()"></span>
	          </div>
	          <div class="formGroup row" ng-show="showUsers">
	            <select class="form-control text-box" style="max-width: 220px" id="users" ng-model="usersSelected"
	              ng-options="user for user in users" multiple bs-duallistbox>
	            </select>
	          </div>
				
				<!--  event -->
	          <div class="formGroup row">
	            <label class="control-label labelFiltro col-xs-6" for="events">{{
	              getLabel("Events.p")
	            }}</label>
	            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="eventsTriangle"
	              style="padding-left: 0px;padding-top: 10px;" ng-click="showEventsSelect()"></span>
	          </div>
	          <div class="formGroup row" ng-show="showEvents">
	            <select class="form-control text-box" style="max-width: 220px" id="events" ng-model="eventsSelected"
	              ng-options="event for event in events" multiple bs-duallistbox>
	            </select>
	          </div>
	          
	          <!--  type payment -->
	          <div class="formGroup row">
	            <label class="control-label labelFiltro col-xs-6" for="typePayments">{{
	              getLabel("PaymentType")
	            }}</label>
	            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="typePaymentsTriangle"
	              style="padding-left: 0px;padding-top: 10px;" ng-click="showTypePaymentsSelect()"></span>
	          </div>
	          <div class="formGroup row" ng-show="showTypePayments">
	            <select class="form-control text-box" style="max-width: 220px" id="typePayments" ng-model="typePaymentsSelected"
	              ng-options="typePayment for typePayment in typePayments" multiple bs-duallistbox>
	            </select>
	          </div>
	          
	        </div>
	        
	        <div class="modal-footer">
	          <button type="button" class="btn btn-primary pull-left" data-dismiss="modal" ng-click="buscar()">
	            {{ getLabel("Search") }}
	          </button>
	          <button type="button" class="btn btn-secondary" data-dismiss="modal">
	            {{ getLabel("Close") }}
	          </button>
	        </div>
	      </div>
	    </div>
  </div>

<script>
	$(document).ready(function () {
		$("#dtFinal").mask("00/00/0000");
		$("#dtInicio").mask("00/00/0000");
	});
</script>