<div class="form-horizontal jumbotron divLista" style="height: auto !important">
	<div style="height: 26px;">
		<div style="width: 50%; float: left" class="divTitle">
			<h4>{{getLabel('SettlementInformation')}}</h4>
		</div>
		<div style="width: 50%; float: left; text-align: right" class="dontPrint">
			<a class="btn btn-link" href="{{appUrl}}settlement"> <i class="material-icons myArrow">keyboard_arrow_left</i>
				{{getLabel('Back')}}
			</a>
		</div>
	</div>
	<hr>

	<form class="form-horizontal" novalidate name="frmSettlement">
		<div id="divSettlement">
			<div class="row" style="width: 100%" ng-if="settlement.extract != null">
				<label class="control-label uiLabel col-xs-2" for="client">{{getLabel('Status')}}</label>
				<div class="col-md-10">
					<label for="status"
						ng-style="{color: {A:'7d7d7d', P:'darkorange', R:'red'}[settlement.extract.status]}">{{statusByFull(settlement.extract.status)}}</label>
				</div>
			</div>
			<div class="row" style="width: 100%">
				<label class="control-label uiLabel col-xs-2" for="client">{{getLabel('Clients')}}</label>
				<div class="col-md-10">
					<input name="client" class="inputs text-box single-line ipt" id="client" type="text" value=""
						style="max-width: 550px; margin-left: 5px" maxlength="60" ng-model="settlement.client.tradingName" />
				</div>
			</div>

			<div class="row" style="width: 100%;">
				<label class="control-label uiLabel col-xs-2" for="user">{{getLabel('User')}}</label>
				<div class="col-md-10">
					<input name="user" class="inputs text-box single-line ipt" id="user" type="text" value=""
						style="max-width: 220px; margin-left: 5px" maxlength="60" ng-model="settlement.user.name" />
				</div>
			</div>

			<div class="row">
				<label class="control-label uiLabel col-xs-2" for="event">{{getLabel('Occurrences')}}</label>
				<div class="col-md-10">
					<input name="event" class="inputs text-box single-line ipt" id="event"
						style="float: left; max-width: 220px; margin-right: 2px" type="text" value="" maxlength="60"
						ng-model="settlement.event.description">
				</div>
			</div>

			<div ng-if="settlement.event && settlement.event.natureExpense">
				<div class="row">
					<label class="control-label uiLabel col-xs-2" for="natureExpense">{{getLabel('natureExpense')}}</label>
					<div class="col-md-10">
						<input name="natureExpense" class="inputs text-box single-line ipt" id="natureExpense"
							style="float: left; max-width: 220px; margin-right: 2px" type="text" value="" maxlength="60"
							ng-model="settlement.event.natureExpense.description">
					</div>
				</div>
			</div>

			<hr style="border-top-color: #d5d5d5;">

			<div class="row">
				<label class="control-label uiLabel col-xs-2" for="date">{{getLabel('Date')}}</label>
				<div class="col-md-10">
					<input name="date" class="inputs text-box single-line ipt" id="date"
						style="float: left; max-width: 220px; margin-right: 2px" type="text" value="" maxlength="60"
						ng-model="settlement.date">

					<label class="control-label uiLabel col-xs-2" for="amount">{{getLabel('Amount')}}</label>
					<input name="amount" class="inputs text-box single-line ipt" id="amount"
						style="float: left; max-width: 170px; margin-right: 2px;" type="text" value="" maxlength="60"
						ng-model="settlement.amountFormatted">
				</div>
			</div>

			<div class="row">
				<label class="control-label uiLabel col-xs-2" for="paymentType">{{getLabel('PaymentType')}}</label>
				<div class="col-md-10">
					<input name="paymentType" class="inputs text-box single-line ipt" id="paymentType"
						style="float: left; max-width: 220px; margin-right: 2px" type="text" value="" maxlength="60"
						ng-model="settlement.typePayment.description">

					<div ng-hide="!settlement.paymentId || settlement.paymentId.length == 0">
						<label class="control-label uiLabel col-xs-2" for="amount">{{getLabel('Identification')}}</label>
						<input name="amount" class="inputs text-box single-line ipt" id="identification"
							style="float: left; max-width: 170px; margin-right: 2px; text-align: center;" type="text" value=""
							maxlength="60" ng-model="settlement.paymentId">
					</div>
				</div>
			</div>
			<div class="row" ng-if="settlement.costCenterList.length > 0">
				<div ng-repeat="costCenter in settlement.costCenterList">
					<label class="control-label uiLabel col-xs-2" for="costCenter{{$index}}">{{getLabel('costCenter')}}
						{{$index+1}}:</label>
					<div class="col-md-10">
						<input name="date" class="inputs text-box single-line ipt" id="costCenter{{$index}}"
							style="float: left; max-width: 220px; margin-right: 2px" type="text" disabled="disabled"
							value="{{costCenter.costCenter.accountCode}} - {{costCenter.costCenter.description}}" maxlength="60">

						<label class="control-label uiLabel col-xs-2" for="cosCenterAmount{{$index}}">%</label>
						<input name="amount" class="inputs text-box single-line ipt" id="cosCenterAmount{{$index}}"
							disabled="disabled" style="float: left; max-width: 170px; margin-right: 2px; text-align: center;"
							type="text" value="{{costCenter.perc}}" maxlength="60">
					</div>
				</div>
			</div>
		</div>

		<div id="divCustomFieldList" ng-repeat="field in customFieldList" ng-if="customFieldList.length > 0">
			<div clas="row">
				<label class="control-label uiLabel col-xs-2 ng-binding">{{field.customField}}</label>
				<div class="col-md-10" style="margin-left: -7px">
					<input class="inputs text-box single-line ipt" value="{{field.customFieldValue}}">
				</div>
			</div>
		</div>

		<br />
		<br />

		<hr style="border-top-color: #d5d5d5;">
		<div id="customFieldDiv" ng-repeat='arr in array'>

			<div class="row">
				<label class="control-label uiLabel col-xs-2 ng-binding">{{arr.NAME}}</label>

				<div style="margin-left: 180px">
					<span style="margin-right: 10px"> <img src="{{srcImageOK}}"
							ng-style="{opacity: arr.STATUS == 'NOK' ? 0.3 : 1}" /> </span>
					<span> <img src="{{srcImageNOK}}" ng-style="{opacity: arr.STATUS == 'OK' ? 0.3 : 1}" /> </span>
				</div>

			</div>

			<br />
		</div>

		<div class="dontPrint row" id="divNotes" ng-hide="ocultarDivParaCliente()">
			<div class="col-md-12">
				<h4>{{getLabel('Observation')}}</h4>
			</div>
			<div class="col-md-12">
				<textarea rows="5" cols="100" class="form-control text-box ipt"
					style="float: left; max-width: 100%; margin-right: 2px">{{settlement.info}}</textarea>
			</div>
			<br />
		</div>

		<br />


		<div class="panel panel-default">

			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-1">
						<h4>{{getLabel('Images.p')}}</h4>
					</div>
					<div class="text-right">
						<button class="btn-sm btn-success" onclick="newImgSettlement.click()" id="btnNewImg"
							ng_hide="veridicarBtn()" tabindex="-1" style="margin-right: 15px;"> + </button>
						<input type="file" accept="image/*" id="newImgSettlement" ng_hide="true" />
					</div>
				</div>
			</div>

			<div class="panel-body" id="divImagens">
				<div class="imgService" ng-repeat="imagem in listaImagensPrintLiq">
					<div data-toggle="modal" id="{{imagem.picName}}" class="imgServiceDiv" data-target="#modalImgDetail"
						data-img="{{imagem.picPath}}" ng-click="setImageDetailSettlement(imagem.picPath, $index)"
						style="background-image: url({{imagem.picPath}});">
					</div>

					<!-- Exibe a mensagem da imagem como link -->
					<div class="imgServiceMessageDiv link-google-maps dontPrint;">
						<a href="https://www.google.com/maps/place/{{imagem.latitude}}+{{imagem.longitude}}/@{{imagem.latitude}},{{imagem.longitude}},15z"
							target="_blank">{{imagem.message}}</a>
					</div>
				</div>
			</div>
		</div>

		<div class="dontPrint" id="divMapa">
			<hr style="border-top-color: #d5d5d5;">

			<input type="button" class="btn btn-default" name="btnInit" value="init" id="btnInit" ng-click="initialize()"
				style="display: none" />
			<input type="button" class="btn btn-default" name="btnMapa" value="Mapa" id="btnMapa"
				ng-click="dadosMapa(settlement)" style="display: none" />

			<h4>{{getLabel('Map')}}</h4>

			<div id="map"></div>
		</div>

		<div class="form-group dontPrint" id="divBtns">
			<div class="col-md-offset-2 col-md-10" style="margin-left: 0; margin-top: 10px">
				<a class="btn btn-primary" href="{{appUrl}}settlement">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
					{{getLabel('ReturnToList')}}
				</a>

				<button class="btn btn-primary" ng-print print-element-id="divBody" accesskey="p">
					<i class="fa fa-print"></i> {{getLabel('Print')}}
				</button>
				
				<button class="btn btn-primary" ng-click="saveSettlement()" ng-if="config_web.CHANGEDATESETTLEMENT == 1">
					<i class="fa fa-save"></i> {{getLabel('Save')}}
				</button>
				
			</div>
		</div>
	</form>
</div>

<!--  Modal Nova Imagem -->
<div class="modal fade" id="modalNewImg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content" id="modalNewContent"
			style="background-color: transparent; box-shadow: none; border: none;">
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12" style="width: 100%">
						<input type="text" id="title_image" value="" placeholder="Título da imagem" maxlength="50"
							class="formGroupInput form-control ng-pristine ng-valid ng-empty ng-touched" style="width: 100%; 
			    								  								 							margin-bottom: 5px; 
			    								  								 							font-size: 20px;
			    								  								 							background-color: #FFFFFF;
			    								  								 							border-color: #FFFFFF;
			    								  								 							color: #000;
			    								  						 		 							font-style: bold;
			    								  						 		 							border-radius: 5px;
			    								  								 							" />

					</div>
				</div>
				<div class="row">
					<div class="col-lg-12" style="width: 100%">
						<img id="ImgNew" src="" style="width: 100%;" />
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12" style="width: 100%; margin-top: 4px;">
						<button class="btn btn-primary" ng-click="addPic()" style="width: 100%;">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{getLabel('Save')}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--  Fim Modal Nova Imagem -->


<!-- Modal imagens -->

<div class="modal fade" id="modalImgDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content" id="modalContent">
			<div class="modal-body" style="background-color: #FFF; overflow-y: scroll; margin-bottom: 10px">

				<!-- botoes de rotacionar e navegação -->
				<div class="row" id="barraSuperiorImagem">
					<div class="col-md-3" align="center">

						<div class="col-md-6" ng-if="verificaCarregamentoDeleteSettlement(config_web)">
							<div class="glyphicon glyphicon-trash" data-target="#modalConfirmDelete" id="trash" align="center"
								data-toggle="modal" style="cursor: pointer; font-size: 32px; margin-top: 6px"></div>
						</div>

						<div class="col-md-6" ng-if="verificaCarregamentoTrocaSettlement(config_web)">
							<div class="glyphicon glyphicon-duplicate" align="center" id="change" onclick="imgInput.click()"
								style="cursor: pointer; font-size: 32px; margin-top: 6px;">
								<input type="file" accept="image/*" id="imgInput" name="imgInput" style="display: none" />
							</div>
						</div>
					</div>

					<div class="col-md-6" align="center">
						<div class="col-md-3" style="cursor:pointer;" ng-click="moveImageToPrevSettlement()">
							<div class="button-slide" id="mySlidePrev">
								<i class="fa fa-backward" align="center"></i>
							</div>
						</div>

						<div class="col-md-3" style="cursor:pointer;" ng-click="rotateMenosSettlement()">
							<div id="rotateImageMenos" style="font-size: 35px;">
								<i class="fa fa-undo" align="center"></i>
							</div>
						</div>

						<div class="col-md-3" style="cursor:pointer;" ng-click="rotateMaisSettlement()">
							<div id="rotateImageMais" style="font-size: 35px;">
								<i class="fa fa-repeat" align="center"></i>
							</div>
						</div>

						<div class="col-md-3" ng-click="moveImageToNextSettlement()">
							<div class="button-slide" id="mySlideNext" style="cursor:pointer;">
								<i class="fa fa-forward" align="center"></i>
							</div>
						</div>
					</div>

					<div class="col-md-3" align="center">

						<div class="col-md-6">
						</div>
						<div class="col-md-6" ng-click="downloadImage()" ng-if="verificaCarregamentoEditarSettlement(config_web)">
							<div class="glyphicon glyphicon-pencil" id="edit"
								style="cursor: pointer; font-size: 32px; margin-top: 6px;">
							</div>
						</div>
					</div>


				</div>
				<!-- Fim botoes de rotacionar e navegação -->


				<!-- Imagem -->
				<div class="row" style="margin-top: 10px;">

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<img id="imageDetailSettlement" class="img-responsive">
					</div>

				</div>
				<!-- Fim Navegacao e Imagem -->
			</div>
		</div>

	</div>
</div>


<!-- Modal imagens-->


<!--  confirmação de exclusão da imagem -->

<div id="modalConfirmDelete" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{getLabel('Confirmation')}}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<p>{{getMessage('ConfirmDeleteImg')}}</p>
			</div>

			<div class="modal-footer">
				<button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
					{{getLabel('Cancel')}}
				</button>

				<button class="btn btn-danger" data-dismiss="modal" ng-click="deletePic()">
					<i class="glyphicon glyphicon-trash" aria-hidden="true"></i> {{getLabel('Delete')}}
				</button>
			</div>
		</div>
	</div>
</div>

<!-- fim confirmação de exclusão da imagem -->



<!-- Confirmação de troca da imagem -->

<div id="modalConfirmUpdateImage" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{getLabel('Confirmation')}}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<p>{{getMessage('ConfirmChangeImg')}}</p>
			</div>

			<div class="modal-footer">
				<button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
					{{getLabel('Cancel')}}
				</button>

				<button class="btn btn-success" data-dismiss="modal" ng-click="trocaPic()">
					<i class="glyphicon glyphicon-ok" aria-hidden="true"></i> {{getLabel('Confirm')}}
				</button>
			</div>
		</div>
	</div>
</div>

<div id="div_services_principal"> </div>

<!-- Fim confirmação de troca da imagem -->

<!--  editImage   -->
<a id="cropImageSettlement" href="{{appUrl}}editImage/"></a>
<!--  fim de edição de imagem -->

<!-- page print -->

<style>
	#divBody {
		padding: 10px !important;
		font-family: calibri, arial, sans-serif !important;
		margin: 10px !important;
	}

	.linhas {
		width: 100% !important;
	}

	.linhas label {
		min-width: 95px !important;
		display: inline-block !important;
		padding: 2px !important;
		text-align: left !important;
	}

	.divPrincipal {
		padding: 5px !important;
		max-width: 590px !important;
		left: 0 !important;
		right: 0 !important;
		margin-left: auto !important;
		margin-right: auto !important;
		background-color: #fff !important;
	}

	.divTitlePrint {
		margin-bottom: 5px;
		width: 100% !important;
		height: 76px !important;

	}

	.divTitlePrint div {
		display: inline-block !important;
	}

	.divTitlePrint span {
		text-align: left !important;
	}

	.divContent {

		margin-bottom: 5px !important;
	}

	.divLogo {
		padding: 5px !important;
		width: 77px !important;
		height: 74px !important;
		float: left !important;
	}

	.divInfo {

		height: 74px !important;
		border-left: 1px solid #000 !important;
		border-right: 1px solid #000 !important;
		padding: 5px !important;
		float: left !important;
	}

	.divInfo span {
		width: 100% !important;
		display: inline-block !important;
	}

	.divOsInfo {
		width: 117px !important;
		height: 76px !important;
		/*border: 1px solid #000 !important;*/
		padding: 2px !important;
		float: left !important;
		text-align: center !important;
	}

	.divOsInfo div {
		display: inline-block !important;
		width: 100% !important;
	}

	.divSubTitle {
		border: 1px solid #000 !important;
		text-align: center !important;
		padding: 5px !important;
		font-size: 18px !important;
		font-weight: bold !important;
		width: 100% !important;
	}

	.divSubTitle span {
		display: inline-block !important;
		width: 100% !important;
	}

	#divVeiculo {
		padding: 5px !important;
	}

	#divVeiculo div {
		display: inline-block !important;
	}

	#divImagens {
		padding: 5px !important;
	}

	#divImagens div {
		display: inline-block !important;
	}

	#divImages div img {
		width: 60px !important;
	}

	.imgServiceDivPrint {
		height: 130px !important;
		width: 80px !important;
		background-size: cover !important;
		background-position: center !important;
		border-radius: 10px !important;
		display: inline-block !important;
		cursor: pointer !important;
		box-shadow: 2px 2px 5px #000 !important;
	}

	#divAssinatura {
		padding: 5px !important;
	}

	#divAssinatura div {
		display: inline-block !important;
	}

	#divDadosClient div {
		display: inline-block !important;
		width: 100% !important;
		border: none !important;
	}

	@media print {
		body {
			line-height: 1.2em !important;
			height: auto !important;
			width: auto;
		}

		@page {
			margin: 5px;
			margin-left: 10px;
			left: 0 !important;
			right: 0 !important;

			line-height: 1em !important;
		}

		#divBody {
			padding: 10px !important;
			font-family: calibri, arial, sans-serif !important;
			margin: 10px !important;
		}

		hr {
			padding: 0;
			margin: 0;
		}

		.linhas label {
			min-width: 95px !important;
			display: inline-block !important;
			padding: 2px !important;
			text-align: left !important;
		}

		.divPrincipal {
			padding: 5px !important;
			/*max-width: 674px !important;*/
			left: 0 !important;
			right: 0 !important;
			margin-left: auto !important;
			margin-right: auto !important;
		}

		.divTitlePrint {
			margin-bottom: 5px;
			width: 100% !important;
			height: 76px !important;
		}

		.divTitlePrint div {
			display: inline-block !important;
		}

		.divTitlePrint span {
			text-align: left !important;
		}

		.divContent {

			margin-bottom: 5px !important;
		}

		.divLogo {
			padding: 5px !important;
			width: 77px !important;
			height: 74px !important;
			float: left !important;
		}

		.divInfo {

			height: 74px !important;
			border-left: 1px solid #000 !important;
			border-right: 1px solid #000 !important;
			padding: 5px !important;
			float: left !important;
		}

		.divInfo span {
			width: 100% !important;
			display: inline-block !important;
		}

		.divOsInfo {
			width: 112px !important;
			height: 76px !important;
			border-right: none !important;
			padding: 2px !important;
			float: left !important;
			text-align: center !important;
		}

		.divOsInfo div {
			display: inline-block !important;
			width: 100% !important;
		}

		.divSubTitle {
			border: 1px solid #000 !important;
			text-align: center !important;
			padding: 5px !important;
			font-size: 18px !important;
			font-weight: bold !important;
			width: 100% !important;
		}

		.divSubTitle span {
			display: inline-block !important;
			width: 100% !important;
		}

		#divVeiculo {
			padding: 5px !important;
		}

		#divVeiculo div {
			display: inline-block !important;
		}

		#divImagens {
			padding: 5px !important;
			display: block !important;
			width: auto !important;
			height: auto !important;
			overflow: visible !important;
			text-align: center;
			left: 0;
			right: 0;
			margint-left: auto;
			margin-right: auto;
		}

		#divImagens div {
			display: inline-block !important;
		}

		#divImages div img {
			width: 50px !important;
		}

		.imgServiceDivPrint {
			height: 130px !important;
			width: 80px !important;
			background-size: cover !important;
			background-position: center !important;
			border-radius: 10px !important;
			display: inline-block !important;
			cursor: pointer !important;
			box-shadow: 2px 2px 5px #000 !important;
		}

		#divAssinatura {
			padding: 5px !important;
		}

		#divAssinatura div {
			display: inline-block !important;
		}

		#divDadosClient div {
			display: inline-block !important;
			width: 100% !important;
			border: none !important;
		}

		.divClientLabel label {
			display: inline-block !important;
			width: 100% !important;
		}
	}

	.divClientLabel label {
		display: inline-block !important;
		width: 100% !important;
	}
</style>



<div id="divBody" class="print">
	<div id="divPrincipal" class="divPrincipal">
		<div
			style="border-bottom:2px solid #FFF; margin-bottom:5px !important; text-align: center !important; font-size: 16px !important; display: inline-block !important; width:100% !important;  margin-top:0 !important;">
			<span>
				GIMB
			</span>
		</div>

		<div ng-include="reportList.header"></div>

		<div class="divSubTitle"
			style="width: 100% !important; display: inline-block !important; max-width: 775px !important; float: left">
			<span>{{getLabel('SettlementData')}}</span>
		</div>

		<div id="divContent" class="divContent"
			style="width: 100% !important; max-width: 775px !important; display: inline-block !important; float:left">
			<div class="linhas"
				style="padding: 10px; border: 1px solid #000; display:inline-block !important; width: 100% !important;"
				id="divDadosClient">
				<div>
					<span
						style="width:100px !important; font-weight: bold; text-align: left; display: inline-block">{{getLabel('Clients')}}:</span><b>{{settlement.client.tradingName}}</b>
				</div>
				<div><span
						style="width:100px !important; font-weight: bold; text-align: left; display: inline-block">{{getLabel('CompanyName')}}:
					</span>{{settlement.client.companyName}}</div>
				<div><span
						style="width:100px !important; font-weight: bold; text-align: left; display: inline-block">{{getLabel('ITINEIN')}}:
					</span>{{settlement.client.document}}</div>
				<div><span
						style="width:100px !important; font-weight: bold; text-align: left; display: inline-block">{{getLabel('Address')}}:</span>{{settlement.client.address}}
				</div>
				<div><span
						style="width:100px !important; font-weight: bold; text-align: left; display: inline-block">{{getLabel('Phone')}}:</span>{{settlement.client.phone}}
				</div>
			</div>

			<div class="linhas"
				style="padding: 10px; border: 1px solid #000; display:inline-block !important; width: 100% !important;"
				id="divEventAmount">
				<div>
					<span
						style="width:130px !important; font-weight: bold; text-align: left; display: inline-block;">{{getLabel('Occurrences')}}:</span>
					<span style="width: 150px !important; display: inline-block;"> {{settlement.event.description}} </span>
					<span
						style="width:100px !important; font-weight: bold; text-align: left; display: inline-block;">{{getLabel('Amount')}}:</span>
					{{settlement.amountFormatted}}
				</div>
				<br />
				<span
					style="width:130px !important; font-weight: bold; text-align: left; display: inline-block;">{{getLabel('PaymentType')}}:</span>
				<span style="width: 150px !important; display: inline-block;"> {{getLabel(settlement.paymentTypeDescription)}}
				</span>
				<div ng-hide="!settlement.paymentId || settlement.paymentId.length == 0">
					<span
						style="width:100px !important; font-weight: bold; text-align: left; display: inline-block;">{{getLabel('Identification')}}:</span>{{settlement.paymentId}}
				</div>
			</div>

			<div class="linhas"
				style="padding: 10px; border: 1px solid #000; display:inline-block !important; width: 100% !important;"
				id="divInfo">
				<span
					style="width:100px !important; font-weight: bold; text-align: left; display: inline-block;">{{getLabel('Observation')}}:</span>{{settlement.info}}
			</div>

			<br />

			<div class=" linhas" id="divImagens" style="width: 100% !important; border: 1px solid #000 !important;">
				<div ng-repeat="img in listaImagensPrint track by $index">
					<div>
						<div class="rows">
							<img src="{{img.picPath}}" alt="" height="130" align="top"></img>
						</div>
						<br />
						<div class="image-message-print" style="font-size:9px !important; font-weight: normal !important;">
							{{img.message}}
						</div>
						<br />
					</div>
				</div>
			</div>

			<div class="linhas" id="divAssinatura"
				style="border: 1px solid #000; width:100% !important; display: inline-block !important; height:48px; margin-bottom: 0px !important">
				<div class="row" style="max-width: 49%; width: 100%; text-align: left; padding-top: 10px">
					<label for="" style="margin-left: 20px"><b>{{getLabel('User')}}:</b>
						<font style="font-weight: normal !important">{{settlement.user.name}}</font>
					</label>
				</div>

				<div style="max-width: 49%; width: 100%; text-align: right; margin-top: 10px">
					<label for="" style="text-align: left !important;"><b>{{getLabel('Clients')}}:</b></label>
				</div>
			</div>

		</div>
		<!-- divContent -->
	</div>
	<!-- divPrincipal -->
</div>
<!-- divBody -->

<!-- page print -->

<script>
	$(document).ready(function () {

		initialize();
		// $("html, body").css("overflowY", "auto");

		setTimeout(function () {
			$("#btnMapa").trigger("click");
		}, 2000);

	});
</script>