<div class="container-fluid" style="margin: 0px 0px 0px 200px;">
    <div class="row" style="background-color: white;">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="cursor: pointer;">
            <div class="row" ng-click="showModalWindow()">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: end">
                    <label class="label-title" style="padding-top: 5px !important;">{{getLabel('User')}}(s):</label>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: start">
                    <label class="label-value" style="padding-top: 5px !important;">{{usersNames}}</label>
                </div>
            </div>

            <div class="row" ng-click="showModalWindow()">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: end">
                    <label class="label-title">{{getLabel('TypePayment')}}(s):</label>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: start">
                    <label class="label-value">{{paymentTypesNames}}</label>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: end;">
                    <label class="label-title" style="margin-top: 5px;">{{getLabel('Filter')}}(s):</label>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"
                    style="text-align: start; padding: 0px; margin-left: -10px;">
                    <input type="text" id="query" ng-model="query" ng-keyup="setTotalByTypePayment()"
                        class="formGroupInput form-control" />
                </div>
            </div>
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <button type="button" class="btn btn-default" ng-click="openCreditModal(false)"
                style="margin-top: 8px; float: right;">
                <i class="fa fa-plus" aria-hidden="true"></i> {{getLabel('Credit')}}
            </button>
        </div>
    </div>

    <div class="row" style="background-color: white; padding-bottom: 5px; margin-bottom: 2px;">

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3" style="padding: 3px;" ng-repeat="totals in totalByTypePayment">

            <div class="cardStyle" style="padding: 10px;">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                        <label class="uiLabelSemiBold" style="font-size: 14px !important"><strong>
                                {{totals.typePaymentDesc}} </strong></label>
                    </div>
                </div>

                <div class="row" style="color: darkorange">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <label class="uiLabel"> {{getLabel('TotalOutstandingBalance')}} </label>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="float: right;">
                        <span class="uiLabelSemiBold" style="float: right;"> {{formatMoney(totals.pending)}} </span>
                    </div>
                </div>
                <div class="row" style="color: red">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <label class="uiLabel"> {{getLabel('TotalBalanceDisapproved')}} </label>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="float: right;">
                        <span class="uiLabelSemiBold" style="float: right;"> {{formatMoney(totals.reproved)}} </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <label class="uiLabel"> {{getLabel('TotalBalanceAvailable')}} </label>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="float: right;">
                        <label class="uiLabelSemiBold" style="float: right;"> {{formatMoney(totals.available)}} </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <label class="uiLabel"> {{getLabel('TotalBalanceRefund')}} </label>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="float: right;">
                        <label class="uiLabelSemiBold" style="float: right;"> {{formatMoney(totals.refund)}} </label>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3" style="padding: 3px;"
            ng-repeat="summary in (summaryExtractFiltered = (summaryExtract | filter:query))">

            <div class="cardStyle"
                style="cursor: pointer; padding: 10px; max-height: 185px !important; height: 185px !important;" ng-if="summary.card == null" ng-click="openExtractDetailModal(summary, false)">
                <div class="row" style="margin-top: 3px; max-height: 40px !important; height: 40px !important;" >
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="max-height: 32px !important;">
                        <label class="uiLabelSemiBold" style="font-size: 11px !important"><strong> {{summary.user.name}}
                            </strong></label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="uiLabelSemiBold" style="float: right;"> {{getLabel('Credit')}}
                            {{summary.lastCreditDate}} </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="uiLabel"> {{getLabel('TypePayment')}} </label>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="float: right;">
                        <span class="uiLabelSemiBold" style="float: right;"> {{summary.typePayment.description}} </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <label class="uiLabel"> {{getLabel('Balance')}} </label>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="float: right;">
                        <label class="uiLabelSemiBold" style="float: right;"> {{summary.balanceFormatted}} </label>
                    </div>
                </div>

                <div class="row" style="color: darkorange">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <label class="uiLabel"> {{getLabel('OutstandingBalance')}} </label>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="float: right;">
                        <span class="uiLabelSemiBold" style="float: right;"> {{summary.pendingBalanceFormatted}} </span>
                    </div>
                </div>

                <div style="border-top: 1px solid #b0b5b9; margin-top: 5px; margin-bottom: 10px;"> </div>

                <div class="row" ng-style="{color: summary.availablePositive ? 'blue' : 'red'}">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <label class="uiLabel"> {{getLabel('BalanceAvailable')}} </label>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="float: right;">
                        <label class="uiLabelSemiBold" style="float: right;"> {{summary.availableBalanceFormatted}}
                        </label>
                    </div>
                </div>
            </div>

          <div class="cardStyle"
              style="cursor: pointer; padding: 10px; max-height: 185px !important; height: 185px !important;" ng-if="summary.card != null" ng-click="openExtractDetailModal(summary, true)">

              <div class="row" style="margin-top: 3px; max-height: 40px !important; height: 40px !important;" >
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="max-height: 32px !important;">
                      <label class="uiLabelSemiBold" style="font-size: 11px !important"><strong> {{summary.card.userName}}
                      </strong></label>
                  </div>
              </div>

              <div class="row" >
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <label class="uiLabel"> {{getLabel('TypePayment')}} </label>
                  </div>

                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="float: right;">
                      <span class="uiLabelSemiBold" style="float: right;"> {{summary.typePayment.description}} </span>
                  </div>
              </div>

              <div class="row" >
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <label class="uiLabel"> {{getLabel('cardNumber')}} </label>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="max-height: 32px !important;">
                      <label class="uiLabelSemiBold" style="font-size: 11px !important;float: right;"><strong> {{summary.card.cardNumber}}
                          </strong></label>
                  </div>
              </div>

              <div class="row">
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      <label class="uiLabel"> {{getLabel('limit')}} </label>
                  </div>

                  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="float: right;">
                      <label class="uiLabelSemiBold" style="float: right;"> {{summary.card.limit}} </label>
                  </div>
              </div>

              <div style="border-top: 1px solid #b0b5b9; margin-top: 5px; margin-bottom: 10px;"> </div>

              <div class="row" ng-style="{color: summary.availablePositive ? 'blue' : 'red'}">
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <label class="uiLabel"> {{getLabel('BalanceAvailable')}} </label>
                  </div>

                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="float: right;">
                      <label class="uiLabelSemiBold" style="float: right;"> {{summary.availableBalanceFormatted}}
                      </label>
                  </div>
              </div>
        	</div>
     </div>
    </div>
</div>

<!-- Filters Modal -->
<div class="modal fade" id="parametersModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="max-height: 34px;">
                        <label class="uiLabel labelFiltro" for="users">{{getLabel('User.p')}}</label>
                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true" id="userTriangle"
                            style="padding-left: 0px;padding-top: 10px;" ng-click="showUsersSelect()"></span>
                    </div>
                </div>

                <div class="row" ng-show="showUsers">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <select class="form-control text-box" style="max-width: 220px" id="users"
                            ng-model="usersSelected" ng-options="user as user.user for user in users track by user.userId" multiple bs-duallistbox>
                        </select>
                    </div>
                </div>

                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="max-height: 34px;">
                        <label class="uiLabel labelFiltro" for="users">{{getLabel('TypePayment.p')}}</label>
                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true" id="typePaymentTriangle"
                            style="padding-left: 0px;padding-top: 10px;" ng-click="showPaymentTypesSelect()"></span>
                    </div>

                </div>
                <div class="formGroup row" ng-show="showTypePayment">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <select class="form-control text-box" style="max-width: 220px" id="typePayment"
                            ng-model="paymentTypesSelected"
                            ng-options="typePayment.description for typePayment in paymentTypes" multiple
                            bs-duallistbox>
                        </select>
                    </div>

                </div>

                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input type="button" ng-click="reload()" class="inputs btn btn-primary"
                            value="{{getLabel('Search')}}"
                            style="width:160px !important; line-height: 0 !important; padding: 10px;">
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Filters Modal -->

<!-- Modal ExtractDetail -->
<div class="modal fade topModal" id="extractDetail">
    <div class="modal-dialog modal" style="width: 1100px !important; max-width: 1100px !important;">
        <div class="modal-content">
            <div id="divLoading"></div>
            <div class="modal-header" style="padding-bottom: 0px">

                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                        <div class="row">
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <select class="formGroupInput form-control text-box single-line"
                                    style="max-width: 280px; margin-bottom: 5px;" id="userToViewExtract"
                                    ng-model="userSelected">
                                    <option value="">--{{getLabel('All')}}--</option>
                                    <option ng-repeat="user in usersSelectDetailExtract" value={{user.userId}}>
                                        {{user.name}}
                                    </option>
                                </select>
                                <!-- <h4 class="modal-title">{{user.name}}</h4> -->
                                <h5 class="modal-title">{{typePayment.description}}</h5>
                            </div>

                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="text-align: end;">
                                <button type="button" class="btn btn-default" ng-click="openCreditModal(true, null)">
                                    <i class="fa fa-plus" aria-hidden="true"></i> {{getLabel('Credit')}}
                                </button>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="display: flex;">

                                <label class="uiLabel control-label labelGrayType"
                                    style="padding-top: 6px; margin-right: 5px;"
                                    for="dtInicio">{{getLabel('InitialDate')}}</label>
                                <input type="text" id="dtInicio" name="dtInicio" ng-model="dtInicio"
                                    class="formGroupInput form-control" style="width:100%; max-width:150px;" />

                                <label class="labelFiltro control-label labelGrayType"
                                    style="padding-top: 6px; margin-right: 5px;"
                                    for="dtFinal">{{getLabel('FinalDate')}}</label>
                                <input type="text" id="dtFinal" name="dtFinal" ng-model="dtFinal"
                                    class="formGroupInput form-control" style="width:100%; max-width:150px;" />

                                <input type="button" ng-click="loadExtract()" class="inputs btn btn-primary"
                                    value="{{getLabel('Search')}}"
                                    style="width:160px !important; line-height: 0 !important; padding: 10px; margin-left: 10px !important;">
                            </div>

                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="text-align: end;">
                                <a ng-href="{{createUrlDownload()}}" class="btn btn-default" style="color: #666666"
                                    target="_black" ng-if="exibiBotaoExtractExcel()" download>
                                    <i class="fa fa-download" aria-hidden="true"></i> {{getMessage('ExtractToExel')}}
                                </a>
                            </div>
                        </div>

                        <div class="formGroup row" style="margin-top: 5px">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                <label class="radio-inline labelGrayType col-lg-2">
                                    <input id="radioTypeDebit" type="checkbox" value="D"
                                        ng-click="filterExtractByType()" checked /> {{getLabel('Debit')}}
                                </label>

                                <label class="radio-inline labelGrayType col-lg-2">
                                    <input id="radioTypeCredit" type="checkbox" value="C"
                                        ng-click="filterExtractByType()" checked /> {{getLabel('Credit')}}
                                </label>

                            </div>
                        </div>

                         <div class="formGroup row" style="margin-top: 5px" ng-if="extractList.card == null">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                <label class="radio-inline labelGrayType col-lg-2">
                                    <input id="radioStatusAprovado" type="checkbox" value="A"
                                        ng-click="filterExtractByStatus()" checked /> {{getLabel('Approved')}}
                                </label>

                                <label class="radio-inline labelGrayType col-lg-2">
                                    <input id="radioStatusPendente" type="checkbox" value="P"
                                        ng-click="filterExtractByStatus()" checked /> {{getLabel('Pending')}}
                                </label>

                                <label class="radio-inline labelGrayType col-lg-2">
                                    <input id="radioStatusDesaprovado" type="checkbox" value="R"
                                        ng-click="filterExtractByStatus()" checked /> {{getLabel('Disapproved')}}
                                </label>

                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="row headers" style="margin-top: 5px">
                    <div ng-click="changeOrdering()" style="cursor: pointer;"
                        class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <label class="labelGrayType" style="cursor: pointer;" for="day"
                            name="dayTitle">{{getLabel('User')}}</label>
                        <span class="glyphicon glyphicon-menu-down" style="color: #7d7d7d;" id="arrow-down-user"></span>
                    </div>

                    <div ng-click="changeOrdering()" style="cursor: pointer;"
                        class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <label class="labelGrayType" style="cursor: pointer;" for="day"
                            name="dayTitle">{{getLabel('Day')}}</label>
                        <span class="glyphicon glyphicon-menu-down" style="color: #7d7d7d;" id="arrow-down-date"></span>
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <label class="labelGrayType" for="event" name="eventTitle">{{getLabel('Events')}}</label>
                    </div>

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="margin-right: 25px;">
                        <label class="labelGrayType" for="amount" name="amountTitle"
                            style="float: right;">{{getLabel('Amount')}}</label>
                    </div>

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="margin-right: 25px;">
                        <label class="labelGrayType" for="amountApproved" name="amountApprovedTitle"
                            style="float: right;">Valor Ap.</label>
                    </div>

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <label class="labelGrayType" for="status" name="statusTitle">{{getLabel('Status')}}</label>
                    </div>
                </div>

            </div>
            <div class="modal-body" id="divExtractList"
                style="height: 100%; min-height: 175px; overflow: scroll; width: 100%; overflow-x: hidden; padding-top: 0px;">

                <div class="row" ng-repeat="extract in extractListFiltered" ng-class-odd="'odd'" ng-class-even="'even'">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" name="divDay">
                        <label for="day" name="day">{{extract.user.name}}</label>
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" name="divDay">
                        <label for="day" name="day">{{dayWithMonth(extract.releaseDate)}}</label>
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" name="divDescription">
                        <label for="description" name="description">{{returnDescription(extract)}}</label>
                    </div>

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" name="divType"
                        ng-style="{color: {D:'red', C:'blue'}[extract.type]}" style="margin-right: 25px;">
                        <label class="uiLabelBold" for="amount" name="amount"
                            style="float: right;">{{extract.type == 'D' ? '-'+ formatMoney(extract.amount) : formatMoney(extract.amount)}}</label>
                    </div>

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" name="amountApproved" style="margin-right: 25px;">
                        <label for="amountApproved" class="uiLabelBold" name="amountApproved"
                            style="margin-top: 10px !important;">{{extract.amountApproved ? formatMoney(extract.amountApproved) : formatMoney('0,00')}}</label>
                    </div>

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" name="divStatus"
                        ng-style="{color: getColorStatus(extract)}">
                        <label class="uiLabelBold" for="status" name="status">{{statusByFull(extract.status)}}</label>
                    </div>

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="display: flex; flex-direction: row;">
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalNote"
                            ng-click="addExtractToModel(extract)"
                            style="margin: 10px 5px 0 0 !important; padding: 0 !important;">{{getLabel('Obs')}}</button>
                        <button type="button" class="btn btn-link" ng-click="addExtractToModel(extract)"
                            style="margin: 10px 0 0 0 !important; padding: 0 !important;">{{getLabel('Info')}}</button>
                    </div>

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" name="divStatus">
                        <i class="fa fa-thumbs-up"
                            ng-style="{cursor: getCursorApprove(extract), color: getColorApprove(extract)}"
                            ng-click="enableClick(extract) && openApprovalExpense(extract)"></i>
                        <i class="fa fa-thumbs-down" style="margin: 0 10px;"
                            ng-style="{cursor: getCursorApprove(extract), color: getColorDisapprove(extract)}"
                            ng-click="confirmApprove(extract, false)"></i>
                        <i class="fa fa-pencil" ng-if="extract.type == 'C'" style="cursor: pointer;"
                            ng-click="openCreditModal(true, extract)"></i>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Modal ExtractDetail -->

<!-- Modal ExtractDetailCard -->
<div class="modal fade topModal" id="extractDetailCard">
    <div class="modal-dialog modal" style="width: 1100px !important; max-width: 1100px !important;">
        <div class="modal-content">
            <div id="divLoading"></div>
            <div class="modal-header" style="padding-bottom: 0px">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                        <div class="row">
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <select class="formGroupInput form-control text-box single-line"
                                    style="max-width: 280px; margin-bottom: 5px;" id="userToViewExtract"
                                    ng-model="userSelected">
                                    <option value="">--{{getLabel('All')}}--</option>
                                    <option ng-repeat="user in usersSelectDetailExtract" value={{user.userId}}>
                                        {{user.name}}
                                    </option>
                                </select>
                                <!-- <h4 class="modal-title">{{user.name}}</h4> -->
                                <h5 class="modal-title">{{typePayment.description}}</h5>
                            </div>

                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="text-align: end;">
                                <button type="button" class="btn btn-default" ng-click="openCreditModal(true)">
                                    <i class="fa fa-plus" aria-hidden="true"></i> {{getLabel('Credit')}}
                                </button>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="display: flex;">

                                <label class="uiLabel control-label labelGrayType"
                                    style="padding-top: 6px; margin-right: 5px;"
                                    for="dtInicio">{{getLabel('InitialDate')}}</label>
                                <input type="text" id="dtInicio" name="dtInicio" ng-model="dtInicio"
                                    class="formGroupInput form-control" style="width:100%; max-width:150px;" />

                                <label class="labelFiltro control-label labelGrayType"
                                    style="padding-top: 6px; margin-right: 5px;"
                                    for="dtFinal">{{getLabel('FinalDate')}}</label>
                                <input type="text" id="dtFinal" name="dtFinal" ng-model="dtFinal"
                                    class="formGroupInput form-control" style="width:100%; max-width:150px;" />

                                <input type="button" ng-click="loadExtractsCard()" class="inputs btn btn-primary"
                                    value="{{getLabel('Search')}}"
                                    style="width:160px !important; line-height: 0 !important; padding: 10px; margin-left: 10px !important;">
                            </div>

                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="text-align: end;">
                                <a ng-href="{{createUrlDownloadCard()}}" class="btn btn-default" style="color: #666666"
                                    target="_black" ng-if="exibiBotaoExtractExcel()" download>
                                    <i class="fa fa-download" aria-hidden="true"></i> {{getMessage('ExtractToExel')}}
                                </a>
                            </div>
                        </div>

                        <div class="formGroup row" style="margin-top: 5px">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                <label class="radio-inline labelGrayType col-lg-2">
                                    <input id="radioTypeDebitCard" type="checkbox" value="D"
                                        ng-click="filterExtractByType()" checked /> {{getLabel('Debit')}}
                                </label>

                                <label class="radio-inline labelGrayType col-lg-2">
                                    <input id="radioTypeCreditCard" type="checkbox" value="C"
                                        ng-click="filterExtractByType()" checked /> {{getLabel('Credit')}}
                                </label>

                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="row headers" style="margin-top: 5px">
                    <div ng-click="changeOrdering()" style="cursor: pointer;"
                        class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <label class="labelGrayType" style="cursor: pointer;" for="day"
                            name="dayTitle">{{getLabel('User')}}</label>
                        <span class="glyphicon glyphicon-menu-down" style="color: #7d7d7d;" id="arrow-down-user"></span>
                    </div>

                    <div ng-click="changeOrdering()" style="cursor: pointer;"
                        class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <label class="labelGrayType" style="cursor: pointer;" for="day"
                            name="dayTitle">{{getLabel('Day')}}</label>
                        <span class="glyphicon glyphicon-menu-down" style="color: #7d7d7d;" id="arrow-down-date"></span>
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <label class="labelGrayType" for="event" name="eventTitle">{{getLabel('Events')}}</label>
                    </div>
					
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="margin-right: 25px;">
                        <label class="labelGrayType" for="amount" name="amountTitle"
                            style="float: right;">{{getLabel('Amount')}}</label>
                    </div>

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="margin-right: 25px;">
                        <label class="labelGrayType" for="amountApproved" name="amountApprovedTitle"
                            style="float: right;">Valor Ap.</label>
                    </div>

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <label class="labelGrayType" for="status" name="statusTitle">{{getLabel('Status')}}</label>
                    </div>
                    
                </div>

            </div>
            <div class="modal-body" id="divExtractList"
                style="height: 100%; min-height: 175px; overflow: scroll; width: 100%; overflow-x: hidden; padding-top: 0px;">

                <div class="row" ng-repeat="extract in extractListFiltered" ng-class-odd="'odd'" ng-class-even="'even'">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" name="divDay">
                        <label for="day" name="day">{{extract.createUser.name}}</label>
                    </div>

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" name="divDay">
                        <label for="day" name="day">{{dayWithMonth(extract.releaseDate)}}</label>
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" name="divDescription">
                        <label for="description" name="description">{{returnDescription(extract)}}</label>
                    </div>

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" name="divType"
                        ng-style="{color: {D:'red', C:'blue'}[extract.type]}" style="margin-right: 25px;">
                        <label class="uiLabelBold" for="amount" name="amount"
                            style="float: right;">{{extract.type == 'D' ? '-'+ formatMoney(extract.amount) : formatMoney(extract.amount)}}</label>
                    </div>

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" name="amountApproved" style="margin-right: 25px;">
                        <label for="amountApproved" class="uiLabelBold" name="amountApproved"
                            style="margin-top: 10px !important;">{{extract.amountApproved ? formatMoney(extract.amountApproved) : formatMoney('0,00')}}</label>
                    </div>

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" name="divStatus"
                        ng-style="{color: getColorStatus(extract)}">
                        <label class="uiLabelBold" for="status" name="status">{{statusByFull(extract.status)}}</label>
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="display: flex; flex-direction: row;">
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalNote"
                            ng-click="addExtractToModel(extract)"
                            style="margin: 10px 5px 0 0 !important; padding: 0 !important;">{{getLabel('Obs')}}</button>
                        <button type="button" class="btn btn-link" ng-click="addExtractToModel(extract)"
                            style="margin: 10px 0 0 0 !important; padding: 0 !important;">{{getLabel('Info')}}</button>
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" name="divStatus">
                        <i class="fa fa-thumbs-up"
                            ng-style="{cursor: getCursorApprove(extract), color: getColorApprove(extract)}"
                            ng-click="enableClick(extract) && openApprovalExpense(extract)"></i>
                        <i class="fa fa-thumbs-down" style="margin: 0 10px;"
                            ng-style="{cursor: getCursorApprove(extract), color: getColorDisapprove(extract)}"
                            ng-click="confirmApprove(extract, false)"></i> 
                        <i class="fa fa-pencil" style="cursor: pointer;"
                            ng-click="openCreditModal(true, extract)"></i>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Modal ExtractDetailCard -->

<!-- Modal Note -->
<div class="modal fade" id="modalNote">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="dismissModalNote()" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{getLabel('Observation')}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <textarea class="form-control" name="note" id="note" cols="85" rows="5"
                                    ng-model="extract.note"></textarea>
                            </div>
                        </div>


                        <div class="row" style="margin-top: 10px;">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <button type="button" class="btn btn-primary"
                                    ng-click="saveExtract(false)">{{getLabel('Save')}}</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Note -->

<!-- Modal Credit Approval  -->
<div class="modal fade" id="creditApproval" tabindex="-1" role="dialog" aria-labelledby="creaditApproval"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">{{getLabel('expenseApproval')}}</h4>
            </div>
            <div class="modal-body">
                <div class="creditDetail">
                    <div class="creditInformations">
                        <div class="creditApprovalRow">
                            <div class="creditInformationsUser">
                                <label for="creditApprovalUser"
                                    class="creditInformationsLabel">{{getLabel('User')}}:</label>
                                <input ng-model="approvalExpense.user.name" class="formGroupInput form-control"
                                    type="text" id="creditApprovalUser" disabled>
                            </div>

                            <div class="creditInformationsDate">
                                <label for="creditApprovalDate"
                                    class="creditInformationsLabel">{{getLabel('Date')}}:</label>
                                <input ng-model="approvalExpense.date" class="formGroupInput form-control" type="text"
                                    id="creditApprovalDate" disabled>
                            </div>
                        </div>

                        <div class="creditApprovalRow">
                            <div class="creditInformationsEvent">
                                <label for="creditApprovalEvent"
                                    class="creditInformationsLabel">{{getLabel('Events.s')}}:</label>
                                <input ng-model="approvalExpense.event.description" class="formGroupInput form-control"
                                    type="text" id="creditApprovalEvent" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="creditAprovations">
                        <div class="creditApprovalRow">
                            <div class="creditAprovationsFullValue">
                                <label for="fullValue" class="creditAprovationsLabel">{{getLabel('fullValue')}}:</label>
                                <input ng-model="approvalExpense.amount" type="number" name="fullValue" id="fullValue"
                                    class="formGroupInput form-control" disabled>
                            </div>

                            <div class="creditAprovationsAprovedValue">
                                <label for="approvedValue"
                                    class="creditAprovationsLabel">{{getLabel('approvedValue')}}:</label>
                                <input ng-model="approvalExpense.amountApproved" type="number" name="approvedValue"
                                    id="approvedValue" class="formGroupInput form-control">
                            </div>
                        </div>
                    </div>
                    <div class="note">
                        <label for="note">{{getLabel('Observation.s')}}</label>
                        <textarea ng-model="approvalExpense.note" class="form-control" name="note" id="note" cols="110"
                            rows="5" ng-model="extract.note"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{getLabel('Close')}}</button>
                <button type="button" class="btn btn-primary" ng-click="saveApproveExpense()">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    {{getLabel('Save')}}</button>
            </div>
        </div>
    </div>
</div>
<!-- End modal Credit Approval -->

<!-- Modal Info -->
<div class="modal fade" id="modalInfo">
    <div class="modal-dialog" style="vertical-align: middle;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{getLabel('Info')}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <textarea class="form-control" name="info" id="info" cols="85" rows="{{rows}}"
                                    ng-model="extract.info" disabled></textarea>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="imgService col-lg-3" ng-repeat="imagem in listaImagensPrintLiq">
                        <a style="display:block" target="_blank" href="{{imagem.picPath}}">
                            <div class="imgServiceModalDiv" data-img="{{imagem.picPath}}"
                                style="background-image: url({{imagem.picPath}});"></div>
                        </a>

                        <!-- Exibe a mensagem da imagem como link -->
                        <div class="imgServiceMOdalMessageDiv link-google-maps dontPrint;">
                            <a href="https://www.google.com/maps/place/{{imagem.latitude}}+{{imagem.longitude}}/@{{imagem.latitude}},{{imagem.longitude}},15z"
                                target="_blank">{{imagem.message}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Info -->

<!-- Modal Info -->
<div class="modal fade" id="modalAddCredit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

				<div class="row" style="margin-top: 10px;">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <label class="uiLabel control-label labelFiltro" style="padding-top: 6px;"
                            for="selFilterSetTypePayment">{{getLabel('TypePayment')}}</label>
                    </div>

                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <select required id="selFilterSetTypePayment" class="form-control formGroupInput col-sm-3"
                            style="text-transform: uppercase;" ng-model="newExtract.typePayment"
                            ng-options="typePayment.description for typePayment in paymentTypes track by typePayment.typePaymentId"></select>
                    </div>
                </div>

                <div class="row" id="divSelectUser" ng-show="showDivSelectUser">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <label class="uiLabel control-label labelFiltro" style="padding-top: 6px;"
                            for="selFilterSetUser">{{getLabel('SendTo')}}</label>
                    </div>

                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <select id="selFilterSetUser" class="form-control formGroupInput col-sm-3"
                            style="text-transform: uppercase;" ng-model="newExtract.user"
                            ng-options="user as user.user for user in users track by user.userId"></select>
                    </div>
                </div>
                
				<div class="row" id="divSelectCard" ng-show="showDivSelectCard">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <label class="uiLabel control-label labelFiltro" style="padding-top: 6px;"
                            for="selFilterSetUser">{{getLabel('card')}}</label>
                    </div>

                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <select id="selFilterSetCard" class="form-control formGroupInput col-sm-3"
                            style="text-transform: uppercase;" ng-model="newExtract.card"
                            ng-options="card as card.cardNumber for card in cards track by card.cardId"></select>
                    </div>
                </div>

                <div class="row" style="display: flex; align-items: center; justify-content: center">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <label class="uiLabel control-label labelFiltro" style="padding-top: 6px;"
                            for="selFilterSetTypePayment">{{getLabel('TypeLaunch')}}</label>
                    </div>


                    <div class="col-xs-10">
                        <div class="btn-group">
                            <label class="btn btn-primary" id="creditOption"
                                style="opacity:  1; font-family: 'gilroyBold'"
                                ng-click="changeLauchOption('C')">{{getLabel('Credit')}}</label>
                            <label class="btn btn-danger" id="debitOption" style="opacity:  0.7"
                                ng-click="changeLauchOption('D')">{{getLabel('Debit')}}</label>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <label class="uiLabel control-label labelFiltro" style="padding-top: 6px;"
                            for="dtCredito">{{getLabel('Date')}}</label>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <input type="text" id="dtCredito" name="dtCredito" ng-model="newExtract.releaseDate"
                            class="formGroupInput form-control" style="width:100%; max-width:150px;" required>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <label class="uiLabel control-label labelFiltro" style="padding-top: 6px;"
                            for="newCreditValue">{{getLabel('Amount')}}</label>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <input type="number" name="newCreditValue" id="newCreditValue" ng-model="credit"
                            class="formGroupInput form-control" step=".01" required>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <label class="uiLabel control-label labelFiltro" style="padding-top: 6px;"
                            for="newNote">{{getLabel('Notes')}}</label>
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <textarea class="form-control" name="newNote" id="newNote" cols="70" rows="5"
                            ng-model="newExtract.note" required></textarea>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="button" class="btn btn-primary"
                            ng-click="validations()">{{getLabel('Save')}}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<style>
    .uiLabel {
        height: 20px;
        max-height: 20px;
        font-family: gilroy;
    }

    .uiLabelSemiBold {
        height: 20px;
        max-height: 20px;
        font-family: gilroySemiBold;
    }

    .uiLabelBold {
        height: 20px;
        max-height: 20px;
        font-family: gilroyBold;
    }

    .btn:active:focus,
    .btn:focus {
        outline: 0px;
    }

    div[name=divDay],
    div[name=divDescription],
    div[name=divType],
    div[name=divStatus] {
        margin-top: 10px;
    }

    div[name=divDescription],
    div[name=divType] {
        padding-left: 10px;
    }

    div[name=divStatus] {
        padding-left: 5px;
    }

    textarea[name=info] {
        resize: none;
    }

    .labelGrayType {
        color: #7d7d7d;
    }

    label[name=day],
    label[name=description],
    label[name=amount],
    label[name=status] {
        font-weight: normal;
    }

    input[type=radio] {
        margin: 0 4px 0 0;
    }

    select:disabled {
        color: grey !important;
    }
</style>