<form class="form-horizontal" style="margin-left: 200px">
	<div class="col-xs-12" style="background-color: white;">
		<div class="row" style="cursor: pointer;" ng-click="showModalWindow()">
			<label class="control-label col-xs-6 label-title" style="padding-top: 5px !important;">{{getLabel('Period')}}:</label>
			<label class="control-label col-xs-6 label-value" style="padding-top: 5px !important;">{{dtInicio}} {{getLabel('To')}} {{dtFinal}}</label>
			<br>
			<label class="control-label col-xs-6 label-title">{{getLabel('User')}}(s):</label>
			<label class="control-label col-xs-6 label-value">{{usersNames}}</label>
			<br>
			<label class="control-label col-xs-6 label-title">{{getLabel('Events')}}(s):</label>
			<label class="control-label col-xs-6 label-value">{{eventsNames}}</label>
			<br>
		</div>
	</div>

	<div id="divLoading"></div>

	<div class="formGroup row" ng-hide="listTransfers.length > 0" style="margin-left: 15px; margin-right: 0px; text-align: center; padding-top: 10% !important; padding-bottom: 40% !important">
		<h4 align="center">{{getLabel('NoRegistry')}}</h4>
	</div>
	<div class="" ng-hide="listTransfers.length == 0" style="">
		<div class="" id="generalChartContainer" style="width: 70% !important; margin-left: 15% !important;">
			
		</div>
		<div class="" id="chartsContainer" style="width: 80% !important; margin-left: 10% !important;">
			
		</div>
	</div>

	<div class="modal fade" id="parametersModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				</div>
				<div class="modal-body">
					<div class="formGroup row">
						<label class="control-label col-xs-1 labelFiltro" for="dtInicio" >{{getLabel('InitialDate')}}</label>
						<input type="text" id="dtInicio" name="dtInicio" ng-model="dtInicio" class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px;" />
						<label class="control-label col-xs-1 labelFiltro" for="dtFinal">{{getLabel('FinalDate')}}</label>
						<input type="text" id="dtFinal" name="dtFinal" ng-model="dtFinal" class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px"/>
						<input type="button" ng-click="reload()" class="inputs btn btn-primary" value="{{getLabel('Search')}}" style="width:160px !important; line-height: 0 !important; padding: 10px; margin-left: 10px !important;">
					</div>
					<div class="formGroup row">
						<label class="control-label col-xs-1 labelFiltro" for="totalService" ng->{{getLabel('Graphic')}} </label>
						<label style="padding-right: 10px;"> <input type="radio" id="radioGraphTypePie" value="pie" ng-model="graphType">{{getLabel('Pizza')}}</label>
						<label> <input type="radio" id="radioGraphTypeBar" value="bar" ng-model="graphType">{{getLabel('Bars')}}</label>
					</div>
					<div class="formGroup row">
						<label class="control-label labelFiltro col-xs-6" for="users" >{{getLabel('User')}}</label>
						<span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="userTriangle" style="padding-left: 0px;padding-top: 10px;" ng-click="showUsersSelect()"></span>
					</div>
					<div class="formGroup row" ng-show="showUsers">
						<select class="form-control text-box" style="max-width: 220px" id="users" ng-model="usersSelected" ng-options="user.name for user in users" multiple bs-duallistbox>
						</select>
					</div>
					<div class="formGroup row">
						<label class="control-label col-xs-6 labelFiltro" for="events" >{{getLabel('Events')}}</label>
						<span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="eventTriangle" style="padding-left: 0px;padding-top: 10px;" ng-click="showEventsSelect()"></span>
					</div>
					<div class="formGroup row" ng-show="showEvents">
						<select class="form-control text-box" style="max-width: 220px" id="events" ng-model="eventsSelected" ng-options="event.description for event in events" multiple bs-duallistbox>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade topModal" id="modalChart">
		<div class="modal-dialog modal-lg" style="max-width:90% !important;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div id="tittleContainer"> </div>
				</div>
				<div class="modal-body">
					<div id="canvasContainer"> </div>
					<button class="btn btn-primary" ng-click="printChart('modalChartClone')">
						<i class="fa fa-print"></i> {{getLabel('Print')}}
					</button>
					<a class="btn btn-primary" ng-click="downloadChart('modalChartClone')">
						<i class="fa fa-download"></i> {{getLabel('Download')}}
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<span id="btnPrinterChart" name="btnPrinterChart" ng-print print-element-id="printChart" ng-hide="true"> </span>
	<a id="dwnPrinterChart" name="dwnPrinterChart" href="" target="_black" download ng-hide="true"> </a>
	
	<div id="printChart" class="print">
		
	</div>

</form>
<script>
$(document).ready(function(){
	$("#dtInicio").mask("00/00/0000");
	$("#dtFinal").mask("00/00/0000");
});
</script>
