<form class="form-horizontal" style="margin-left: 200px">
  <div class="col-xs-12" style="background-color: white;">
    <div class="row" style="cursor: pointer;" ng-click="showModalWindow()">
      <label class="control-label col-xs-6 label-title"
        style="padding-top: 5px !important;">{{ translate("Period") }}:</label>
      <label class="control-label col-xs-6 label-value" style="padding-top: 5px !important;"> {{ dtInicio }} {{ translate("To") }} {{ dtFinal }} </label>
      <br />
      <label class="control-label col-xs-6 label-title">{{ translate("User") }}(s):</label>
      <label class="control-label col-xs-6 label-value">{{ usersNames }}</label>
      <br />
      <label class="control-label col-xs-6 label-title">{{ translate("Client") }}(s):</label>
      <label class="control-label col-xs-6 label-value">{{ clientsNames }}</label>
      <br />
      <label class="control-label col-xs-6 label-title">{{ translate("Storage") }}(s):</label>
      <label class="control-label col-xs-6 label-value">{{ storagesNames }}</label>
      <br />
    </div>
  </div>

  <div id="divLoading"></div>

  <div class="formGroup row" ng-hide="listaStorages.length > 0"
    style="margin-left: 15px; margin-right: 0px; text-align: center; padding-top: 10% !important; padding-bottom: 40% !important">
    <h4 align="center">{{ translate("NoRegistry") }}</h4>
  </div>

  <div class="" ng-hide="listaStorages.length == 0" onLoad="mover(this)" style="padding-left: 5px; padding-right: 5px;">
    <div class="row">
     
    </div>
    <div id ="totais"class="col-xs-12" style="padding: 5px !important; display: none;"> 
      <div class="col-xs-12" style="background-color: white; box-shadow: 1px 1px 3px 0px !important"> 
        <h4 ng-hide="Totais" align="center" style="overflow: hidden; white-space: nowrap;">Total de inventarário</h4> 
        <h1 align="center" style="font-size:48px;" >{{listaInventory.length}}</h1> </div>
      </div> 
   </div> 

         
    <div class="row">
             <div class="col-xs-12 col-md-12" id="chartTemps"></div>
            
     
      </div>
      
      <!-- <button type="button" class="btn btn-primary" style="margin-left: 20px">Detalhes</button> -->
    </div>
    
    <div class="row">
      <div class="col-xs-12 col-md-12" id="chartOffendersClient" style="display: none">
      

      <div class="col-xs-12 col-md-12" id="chartOffendersEquipment" style="display: none"></div>
    </div>
  </div>

  
  <div class="modal fade" id="parametersModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="formGroup row">
            <label class="control-label col-xs-1 labelFiltro" for="dtInicio">{{
              translate("InitialDate")
            }}</label>
            <input type="text" id="dtInicio" name="dtInicio" ng-model="dtInicio"
              class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px;" />
            <label class="control-label col-xs-1 labelFiltro" for="dtFinal">{{
              translate("FinalDate")
            }}</label>
            <input type="text" id="dtFinal" name="dtFinal" ng-model="dtFinal"
              class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px" />
          </div>
          <!--Gráfico-->
          <div class="formGroup row">
            <label class="control-label col-xs-1 labelFiltro" for="totalService" ng->{{ translate("Graphic") }}
            </label>
            <label style="padding-right: 10px;">
              <input type="radio" id="radioGraphTypePie" value="pie"
                ng-model="graphType" />{{ translate("Pizza") }}</label>
            <label>
              <input type="radio" id="radioGraphTypeBar" value="bar"
                ng-model="graphType" />{{ translate("Bars") }}</label>
            </div>
          <!--Usuário-->
          <div class="formGroup row">
            <label class="control-label labelFiltro col-xs-6" for="users">{{
              translate("User")
            }}</label>
            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="userTriangle"
              style="padding-left: 0px;padding-top: 10px;" ng-click="showUsersSelect()"></span>
          </div>
          <div class="formGroup row" ng-show="showUsers">
            <select class="form-control text-box" style="max-width: 220px" id="users1" ng-model="usersSelected"
              ng-options="user.name for user in users" multiple bs-duallistbox>
            </select>
          </div>
          <!--Cliente-->
          <div class="formGroup row">
            <label class="control-label col-xs-6 labelFiltro" for="clients">{{
              translate("Client")
            }}</label>
            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="clientTriangle"
              style="padding-left: 0px;padding-top: 10px;" ng-click="showClientSelect()"></span>
          </div>
          <div class="formGroup row" ng-show="showClient">
            <select class="form-control text-box" style="max-width: 220px" id="clients" ng-model="clientsSelected"
              ng-options="client.tradingName for client in clients" multiple bs-duallistbox>
            </select>
          </div>
          <!--Local armazenamento-->
          <div class="formGroup row">
            <label class="control-label col-xs-6 labelFiltro" for="storages">{{ translate("Storage") }}</label>
            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="storageTriangle"
              style="padding-left: 0px;padding-top: 10px;" ng-click="showStoragesSelect()"></span>
          </div>
          <div class="formGroup row" ng-show="showStorage">
            <select class="form-control text-box" style="max-width: 220px" id="storage" ng-model="storagesSelected"
              ng-options="storage.description for storage in storages" multiple bs-duallistbox>
            </select>
          </div>
        </div><br> 
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-left" data-dismiss="modal" ng-click="buscar()">
            {{ translate("Search") }}
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {{ translate("Close") }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade topModal" id="modalChart">
    <div class="modal-dialog modal-lg" style="max-width:90% !important;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <div id="tittleContainer"></div>
        </div>
        <div class="modal-body">
          <div id="canvasContainer"></div>
          <button class="btn btn-primary" ng-click="printChart('modalChartClone')">
            <i class="fa fa-print"></i> {{ translate("Print") }}
          </button>
          <a class="btn btn-primary" ng-click="downloadChart('modalChartClone')">
            <i class="fa fa-download"></i> {{ translate("Download") }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <span id="btnPrinterChart" name="btnPrinterChart" ng-print print-element-id="printChart" ng-hide="true">
  </span>
  <a id="dwnPrinterChart" name="dwnPrinterChart" href="" target="_black" download ng-hide="true">
  </a>

  <div id="printChart" class="print"></div>
</form>
<script>
  $(document).ready(function () {
    $("#dtInicio").mask("00/00/0000");
    $("#dtFinal").mask("00/00/0000");
  });
</script>