<form class="form-horizontal" style="margin-left: 200px">
	<div class="col-xs-12" style="background-color: white;">
		<div class="row" style="cursor: pointer;" ng-click="showModalWindow()">
			<label class="control-label col-xs-6 label-title" style="padding-top: 5px !important;">{{getLabel('Period')}}:</label>
			<label class="control-label col-xs-6 label-value" style="padding-top: 5px !important;">{{dtInicio}} {{getLabel('To')}} {{dtFinal}}</label>
			<br>
			<label class="control-label col-xs-6 label-title">{{getLabel('User')}}(s):</label>
			<label class="control-label col-xs-6 label-value">{{usersNames}}</label>
			<br>
			<label class="control-label col-xs-6 label-title">{{getLabel('Actions')}}(s):</label>
			<label class="control-label col-xs-6 label-value">{{actionsNames}}</label>
			<br>
			<label class="control-label col-xs-6 label-title">{{getLabel('Clients')}}(s):</label>
			<label class="control-label col-xs-6 label-value">{{clientsNames}}</label>
			<br>
			<label class="control-label col-xs-6 label-title" style="padding-bottom: 10px !important;">{{getLabel('EquipmentType')}}(s):</label>
			<label class="control-label col-xs-6 label-value" style="padding-bottom: 10px !important;">{{equipmentsNames}}</label>
			<br>
		</div>
	</div>

  	<div id="divLoading"></div>

	<div class="formGroup row" ng-hide="listServices.length > 0" style="margin-left: 15px; margin-right: 0px; text-align: center; padding-top: 10% !important; padding-bottom: 40% !important">
		<h4 align="center">{{getLabel('NoRegistry')}}</h4>
	</div>

	<div class="" ng-hide="listServices.length == 0" style="margin-left: 10% !important; margin-right: 0px; width: 80% !important;">
		<div class="col-xs-6" style="padding: 5px !important">
			<div class="col-xs-12" id="chartClient">
				<h4 align="center" style="overflow:hidden; white-space:nowrap;">{{getLabel('ServiceOrdersPerClient')}}</h4>
				<canvas id="chartByClient" ng-click="showModalChartByClient()"></canvas>
			</div>
		</div>

		<div class="col-xs-6" style="padding: 5px !important">
			<div class="col-xs-12" id="chartDay">
				<h4 align="center" style="overflow:hidden; white-space:nowrap;">{{getLabel('ServiceOrdersPerDay')}}</h4>
				<canvas id="chartByDay" ng-click="showModalChartByDay()"></canvas>
			</div>
		</div>

		<div class="col-xs-6" style="padding: 5px !important">
			<div class="col-xs-12" id="chartActionAndClient">
				<h4 align="center" style="overflow:hidden; white-space:nowrap;">{{getLabel('ActionsPerClient')}}</h4>
				<canvas id="chartByActionAndClient" ng-click="showModalChartByActionAndClient()"></canvas>
			</div>
		</div>

		<div class="col-xs-6" style="padding: 5px !important">
			<div class="col-xs-12" id="chartAction">
				<h4 align="center" style="overflow:hidden; white-space:nowrap;">{{getLabel('Actions.p')}}</h4>
				<canvas id="chartByAction" ng-click="showModalChartByAction()"></canvas>
			</div>
		</div>

		<div class="col-xs-6" style="padding: 5px !important">
			<div class="col-xs-12" id="chartActionAndUser">
				<h4 align="center" style="overflow:hidden; white-space:nowrap;">{{getLabel('ActionsPerUser')}}</h4>
				<canvas id="chartByActionAndUser" ng-click="showModalChartByActionAndUser()"></canvas>
			</div>
		</div>

		<div class="col-xs-6" style="padding: 5px !important">
			<div class="col-xs-12" id="chartEquipment">
				<h4 align="center" style="overflow:hidden; white-space:nowrap;">{{getLabel('EquipmentType')}}(s)</h4>
				<canvas id="chartByEquipment" ng-click="showModalChartByEquipment()"></canvas>
			</div>
		</div>
	</div>

	<div class="modal fade" id="parametersModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				</div>
				<div class="modal-body">
					<div class="formGroup row">
						<label class="control-label col-xs-1 labelFiltro" for="dtInicio" >{{getLabel('InitialDate')}}</label>
						<input type="text" id="dtInicio" name="dtInicio" ng-model="dtInicio" class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px;" />
						<label class="control-label col-xs-1 labelFiltro" for="dtFinal">{{getLabel('FinalDate')}}</label>
						<input type="text" id="dtFinal" name="dtFinal" ng-model="dtFinal" class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px"/>
						<input type="button" ng-click="reload()" class="inputs btn btn-primary" value="{{getLabel('Search')}}" style="width:160px !important; line-height: 0 !important; padding: 10px; margin-left: 10px !important;">
					</div>
					<div class="formGroup row">
						<label class="control-label col-xs-1 labelFiltro" for="totalService">{{getLabel('TotalBy')}}: </label>
						<label style="padding-right: 10px;"> <input type="radio" ng-model="quantity" ng-change="selectQuantity()" ng-checked="quantity && !hour">{{getLabel('Quantity')}}</label>
						<label> <input type="radio" ng-model="hour" ng-change="selectHour()" ng-checked="!quantity && hour">{{getLabel('Hour')}}</label>
					</div>
					<div class="formGroup row">
						<label class="control-label labelFiltro col-xs-6" for="users" >{{getLabel('User.p')}}</label>
						<span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="userTriangle" style="padding-left: 0px;padding-top: 10px;" ng-click="showUsersSelect()"></span>
					</div>
					<div class="formGroup row" ng-show="showUsers">
						<select class="form-control text-box" style="max-width: 220px" id="users" ng-model="usersSelected" ng-options="user.name for user in users" multiple bs-duallistbox>
						</select>
					</div>
					<div class="formGroup row">
						<label class="control-label col-xs-6 labelFiltro" for="actions" >{{getLabel('Actions.p')}}</label>
						<span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="actionTriangle" style="padding-left: 0px;padding-top: 10px;" ng-click="showActionsSelect()"></span>
					</div>
					<div class="formGroup row" ng-show="showActions">
						<select class="form-control text-box" style="max-width: 220px" id="actions" ng-model="actionsSelected" ng-options="action.description for action in actions" multiple bs-duallistbox>
						</select>
					</div>
					<div class="formGroup row">
						<label class="control-label col-xs-6 labelFiltro" for="clients" >{{getLabel('Clients.p')}}</label>
						<span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="clientTriangle" style="padding-left: 0px;padding-top: 10px;" ng-click="showClientSelect()"></span>
					</div>
					<div class="formGroup row" ng-show="showClients">
						<select class="form-control text-box" style="max-width: 220px" id="clients" ng-model="clientsSelected" ng-options="client.tradingName for client in clients" multiple bs-duallistbox>
						</select>
					</div>
					<div class="formGroup row">
						<label class="control-label col-xs-6 labelFiltro" for="equipments" >{{getMessage('SelectEquipmentType')}}(s)</label>
						<span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="equipmentTriangle" style="padding-left: 0px;padding-top: 10px;" ng-click="showEquipmentSelect()"></span>
					</div>
					<div class="formGroup row" ng-show="showEquipments">
						<select class="form-control text-box" style="max-width: 220px" id="equipments" ng-model="equipmentsSelected" ng-options="equipment.description for equipment in equipments" multiple bs-duallistbox>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade topModal" id="chartByClientModal">
		<div class="modal-dialog modal-lg" style="max-width:90% !important;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" align="center">{{getLabel('ServiceOrdersPerClient')}}</h4>
				</div>
				<div class="modal-body">
					<canvas id="chartByClientClone"></canvas>
					<button class="btn btn-primary" ng-click="printChart('chartByClientClone')">
						<i class="fa fa-print"></i> {{getLabel('Print')}}
					</button>
					<a class="btn btn-primary" ng-click="downloadChart('chartByClientClone')">
						<i class="fa fa-download"></i> {{getLabel('Download')}}
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade topModal" id="chartByDayModal">
		<div class="modal-dialog modal-lg" style="max-width:90% !important;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" align="center">{{getLabel('ServiceOrdersPerDay')}}</h4>
				</div>
				<div class="modal-body">
					<canvas id="chartByDayClone"></canvas>
					<button class="btn btn-primary" ng-click="printChart('chartByDayClone')">
						<i class="fa fa-print"></i> {{getLabel('Print')}}
					</button>
					<a class="btn btn-primary" ng-click="downloadChart('chartByDayClone')">
						<i class="fa fa-download"></i> {{getLabel('Download')}}
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade topModal" id="chartByActionAndClientModal">
		<div class="modal-dialog modal-lg" style="max-width:90% !important;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" align="center">{{getLabel('ActionsPerClient')}}</h4>
				</div>
				<div class="modal-body">
					<canvas id="chartByActionAndClientClone"></canvas>
					<button class="btn btn-primary" ng-click="printChart('chartByActionAndClientClone')">
						<i class="fa fa-print"></i> {{getLabel('Print')}}
					</button>
					<a class="btn btn-primary" ng-click="downloadChart('chartByActionAndClientClone')">
						<i class="fa fa-download"></i> {{getLabel('Download')}}
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade topModal" id="chartByActionModal">
		<div class="modal-dialog modal-lg" style="max-width:90% !important;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" align="center">{{getLabel('Actions.p')}}</h4>
				</div>
				<div class="modal-body">
					<canvas id="chartByActionClone"></canvas>
					<button class="btn btn-primary" ng-click="printChart('chartByActionClone')">
						<i class="fa fa-print"></i> {{getLabel('Print')}}
					</button>
					<a class="btn btn-primary" ng-click="downloadChart('chartByActionClone')">
						<i class="fa fa-download"></i> {{getLabel('Download')}}
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade topModal" id="chartByActionAndUserModal">
		<div class="modal-dialog modal-lg" style="max-width:90% !important;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" align="center">{{getLabel('ActionsPerUser')}}</h4>
				</div>
				<div class="modal-body">
					<canvas id="chartByActionAndUserClone"></canvas>
					<button class="btn btn-primary" ng-click="printChart('chartByActionAndUserClone')">
						<i class="fa fa-print"></i> {{getLabel('Print')}}
					</button>
					<a class="btn btn-primary" ng-click="downloadChart('chartByActionAndUserClone')">
						<i class="fa fa-download"></i> {{getLabel('Download')}}
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade topModal" id="chartByEquipmentModal">
		<div class="modal-dialog modal-lg" style="max-width:90% !important;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" align="center">{{getMessage('SelectEquipmentType')}}(s)</h4>
				</div>
				<div class="modal-body">
					<canvas id="chartByEquipmentClone"></canvas>
					<button class="btn btn-primary" ng-click="printChart('chartByEquipmentClone')">
						<i class="fa fa-print"></i> {{getLabel('Print')}}
					</button>
					<a class="btn btn-primary" ng-click="downloadChart('chartByEquipmentClone')">
						<i class="fa fa-download"></i> {{getLabel('Download')}}
					</a>
				</div>
			</div>
		</div>
	</div>

	<span id="btnPrinterChart" name="btnPrinterChart" ng-print print-element-id="printChart" ng-hide="true"> </span>
	<a id="dwnPrinterChart" name="dwnPrinterChart" href="" target="_black" download ng-hide="true"> </a>
	<div id="printChart" class="print">

	</div>

</form>
<script>
$(document).ready(function(){
	$("#dtInicio").mask("00/00/0000");
	$("#dtFinal").mask("00/00/0000");
});
</script>
