<div class="form-horizontal jumbotron divLista">
	<div class="formGroup">
		<h3 class="fLeft">{{getLabel('Timeline')}}</h3>
	</div>

	<div style="background-color: transparent;">
	    <div  style="cursor: pointer;" ng-click="showModalWindow()">
	      <div class="row"> 
		      <label class="control-label col-xs-2 label-title"
		        style="padding-top: 5px !important;">{{ getLabel("Period") }}:</label>
		      <label class="control-label col-xs-2 label-value" style="padding-top: 5px !important;"> {{ dtInicio }} {{ getLabel("To") }} {{ dtFinal }} </label>
	      </div>
	      
	      <div class="row">
		      <label class="control-label col-xs-2 label-title">{{ getLabel("Client") }}(s):</label>
		      <label class="control-label col-xs-2 label-value">{{ clientsNames }}</label>
	      </div>
	      
	      <div class="row">	      
		      <label class="control-label col-xs-2 label-title">{{ getLabel("User.s") }}(s):</label>
		      <label class="control-label col-xs-2 label-value">{{ usersNames }}</label>
	      </div>
	      
	    </div>
	</div>
	
	<div class="col-md-11" style="float: center; margin: 15px; border-width: 1px; border-color: #d5d5d5; border-radius: 10px; border-style: solid; padding: 10px; left: 40px;">
		<div ng-repeat="res in resume" ng-class-odd="'odd'" ng-class-even="'even'">
			<div class="col-md-4">
				<label>{{res.type}}:</label>
				{{res.qt}}
			</div>
		</div>
	</div>
	
	<div style="max-height:480px; height:100%; overflow:scroll; width:100%; overflow-x:hidden; padding-left: 15px; padding-right: 15px;" >
		<div class="" style="background-color: transparent;"  ng-repeat="feed in feeds" ng-class-odd="'odd'" ng-class-even="'even'">

		    <div class="qa-message-list" id="wallmessages">
				<div class="message-item" id="m16">
					<div class="message-inner">
					
						<div class="message-head clearfix">
							<div class="user-detail" style="cursor: pointer;" data-toggle="modal" data-target="#modalDetail" ng-click="loadFromDate(feed.date)">
								<div class="col-md-12">
									<span class="date-time">{{feed.date}}</span>
									<span class="type-identifier">{{getLabel(feed.typeDescription)}}</span>
								</div>
								
								<div class="post-meta">
									<div>
										<span style="color: #209e91">{{feed.user}}</span>
									</div>
								</div>
							</div>
						</div>
						
						<div class="qa-message-content">
							<textarea style="border: none; overflow: hidden; resize: none; outline: none;" cols="50" rows="6" readonly="readonly">{{feed.message}}</textarea>
						</div>
						
					</div>
				</div>
			</div>

		</div>
	</div>
	

	<!-- Modal Info -->
	<div id="modalDetail" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document" >
			<div class="modal-content" id="modalContent">
			
				<div class="modal-header">
			
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>					
					<div>
						<label class="control-label col-md-2" for="query" style="text-align:left !important; padding-left:10px !important; color: black;">{{getLabel('FilterData')}}</label>
						<input class="inputSearch col-md-4" type="text" id="query" ng-model="queryUser" style="max-width:615px !important; color: black;" />
						<span class="btn btn-default" style="border-color: transparent !important;" ng-click="selectUserFromFeed({'user':''})" ng-hide="queryUser==''">
							<i class="fa fa-eraser" aria-hidden="true"></i>
						</span>
						<br>
					</div>
					<div>
						<label class="col-md-12" for="query" style="text-align:left !important; padding-left:10px !important; color: black;">{{getLabel('NotesOfTheDay')}} {{selectedDate}}</label>
					</div>
				</div>
				
				<div class="modal-body" style="margin-top: -25px !important;">
					<div style="max-height:540px; height:100%; overflow:scroll; width:100%; overflow-x:hidden; padding-left: 15px; padding-right: 15px;" >
						
						<div class="" style="background-color: transparent;"  ng-repeat="feed in feedsFromDate | filter:queryUser" ng-class-odd="'odd'" ng-class-even="'even'">
						    <div class="qa-message-list" id="wallmessages">
								<div class="message-item" id="m16">
									<div class="message-inner">
									
										<div class="message-head clearfix">
											<div class="user-detail">
												<div class="col-md-12">
													<span class="date-time">{{feed.time}}</span>
													<span class="type-identifier" style="cursor: pointer;" ng-click="makeLink(feed)">{{getLabel(feed.typeDescription)}}</span>
												</div>
												
												<div class="post-meta">
													<div>
														<span style="color: #209e91; cursor: pointer;" ng-click="selectUserFromFeed(feed)">{{feed.user}}</span>
													</div>
												</div>
											</div>
										</div>
										
										<div class="qa-message-content">
											<textarea style="border: none; overflow: hidden; resize: none; outline: none;" cols="50" rows="6" readonly="readonly">{{feed.message}}</textarea>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- modal-body -->
			</div>
			<!-- modal-content -->
		</div>
	</div>
	<!-- End Modal Info -->
	
</div>

<div class="modal fade" id="parametersModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <div class="modal-body">
        
          <!-- periodo...  -->
          <div class="formGroup row">
            <label class="control-label col-xs-4 labelFiltro" for="dtInicio">{{
              getLabel("InitialDate")
            }}</label>
            <input type="text" id="dtInicio" name="dtInicio" ng-model="dtInicio"
              class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px;" ng-change="buscar()"/>
              
            <label class="control-label col-xs-4 labelFiltro" for="dtFinal">{{
              getLabel("FinalDate")
            }}</label>
            <input type="text" id="dtFinal" name="dtFinal" ng-model="dtFinal"
              class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px" ng-change="buscar()"/>
          </div>
          
          <!--client-->
          <div class="formGroup row">
            <label class="control-label labelFiltro col-xs-6" for="clients">{{
              getLabel("Client")
            }}</label>
            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="clientTriangle"
              style="padding-left: 0px;padding-top: 10px;" ng-click="showClientsSelect()"></span>
          </div>
          <div class="formGroup row" ng-show="showClient">
            <select class="form-control text-box" style="max-width: 220px" id="clients" ng-model="clientSelected"
              ng-options="client for client in clients" multiple bs-duallistbox>
            </select>
          </div>
          
          <!--usuario-->
          <div class="formGroup row">
            <label class="control-label labelFiltro col-xs-6" for="user">{{
              getLabel("User.p")
            }}</label>
            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="userTriangle"
              style="padding-left: 0px;padding-top: 10px;" ng-click="showUserSelect()"></span>
          </div>
          <div class="formGroup row" ng-show="showUsers">
            <select class="form-control text-box" style="max-width: 220px" id="users" ng-model="userSelected"
              ng-options="user for user in users" multiple bs-duallistbox>
            </select>
          </div>

        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-left" data-dismiss="modal" ng-click="buscar()">
            {{ getLabel("Search") }}
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {{ getLabel("Close") }}
          </button>
        </div>
      </div>
    </div>
</div>

<script>
    $(document).ready(function(){
      $("#startDate").mask("00/00/0000");
      $("#endDate").mask("00/00/0000");
    });
</script>