<div class="form-horizontal jumbotron divLista">
	<h3 class="fLeft">{{getLabel('Route')}}</h3>

		<div style="background-color: transparent;">
		    <div style="cursor: pointer;" ng-click="showModalWindow()">
		      
		      <div class="row"> 
			      <label class="control-label col-xs-2 label-title"
			        style="padding-top: 5px !important;">{{ getLabel("Period") }}:</label>
			      <label class="control-label col-xs-2 label-value" style="padding-top: 5px !important;"> {{ startDate }} {{ getLabel("To") }} {{ endDate }} </label>
		      </div>
		      
		      <div class="row"> 
			      <label class="control-label col-xs-2 label-title">{{ getLabel("User.s") }}(s):</label>
			      <label class="control-label col-xs-2 label-value">{{ userNames }}</label>
		      </div>
		      <br />
		    </div>
		  </div>

	<hr>
	
	<div id="divMapa">
		<input type="button" class="btn btn-default" name="btnInit" value="init" id="btnInit" ng-click="initialize()" style="display: none" />
		<input type="button" class="btn btn-default" name="btnMapa" value="Mapa" id="btnMapa" ng-click="dadosMapa(settlement)" style="display: none" />

		<h3>{{getLabel('Map')}}</h3>
		
		<div class="col-md-11" style="left: 23px; margin: 15px; border-width: 1px; border-color: #d5d5d5; border-radius: 10px; border-style: solid; padding: 10px;">
			<div ng-repeat="userColor in userColors" ng-class-odd="'odd'" ng-class-even="'even'">
				<div class="col-md-3">
					<label style="text-transform:uppercase; color:{{userColor.color}}">{{userColor.user}}</label>
				</div>
			</div>
		</div>

		<div id="map"></div>
	</div>
	
</div>

<div class="modal fade" id="parametersModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <div class="modal-body">
        
          <!-- periodo...  -->
         <div class="formGroup row">
           <label class="control-label col-xs-4 labelFiltro" for="dtInicio">{{
             getLabel("InitialDate")
           }}</label>
           <input type="text" id="startDate" name="dtInicio" ng-model="startDate"
             class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px;" ng-change="reload()"/>
             
           <label class="control-label col-xs-4 labelFiltro" for="dtFinal">{{
             getLabel("FinalDate")
           }}</label>
           <input type="text" id="endDate" name="dtFinal" ng-model="endDate"
             class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px" ng-change="reload()"/>
         </div>
         
         <!--usuario-->
         <div class="formGroup row">
           <label class="control-label labelFiltro col-xs-6" for="user">{{
             getLabel("User.p")
           }}</label>
           <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="userTriangle"
             style="padding-left: 0px;padding-top: 10px;" ng-click="showUserSelect()"></span>
         </div>
         <div class="formGroup row" ng-show="showUsers">
           <select class="form-control text-box" style="max-width: 220px" id="users" ng-model="userSelected"
             ng-options="user for user in users" multiple bs-duallistbox>
           </select>
         </div>

       </div>
       
       <div class="modal-footer">
         <button type="button" class="btn btn-primary pull-left" data-dismiss="modal" ng-click="reload()">
           {{ getLabel("Search") }}
         </button>
         <button type="button" class="btn btn-secondary" data-dismiss="modal">
           {{ getLabel("Close") }}
         </button>
       </div>
     </div>
   </div>
</div>

<script>
    $(document).ready(function(){
      $("#startDate").mask("00/00/0000");
      $("#endDate").mask("00/00/0000");
    });
</script>