
<form class="form-horizontal" id="frmCompany" name="frmCompany">
	<div class="form-horizontal jumbotron divLista">
		<h4>{{getLabel('CompanyData')}}</h4>
		
		<hr>
		
		<div id="loading"> </div>
		
		<div class="row">
			<div class="col-lg-7" style="padding: 0px;">
			<div class="formGroup row">
				<div class="col-xs-3" align="right">
					<label class="uiLabel" for="descricao">{{getLabel('CompanyName')}}</label>
				</div>
				<div class="col-sm-9">
					<input type="text" class="formGroupInput form-control"
						id="descricao" placeholder="{{getLabel('CompanyName')}}"
						 ng-model="company.companyName" required style="max-width: 100%" />
				</div>
			</div>
			
			<div class="formGroup row">
				<div class="col-xs-3" align="right">
					<label class="uiLabel" for="descricao">{{getLabel('BusinessName')}}</label>
				</div>
				<div class="col-sm-9">
					<input type="text" class="formGroupInput form-control"
						id="descricao" placeholder="{{getLabel('BusinessName')}}"
						 ng-model="company.tradingName" required style="max-width: 100%" />
				</div>
			</div>
			
			<div class="formGroup row">
				<div class="col-xs-3" align="right">
					<label class="uiLabel" for="descricao">{{getLabel('Reg')}}</label>
				</div>
				<div class="col-sm-9">
					<input type="text" class="formGroupInput form-control"
						id="descricao" placeholder="{{getLabel('Reg')}}"
						 ng-model="company.registration" required style="max-width: 57%" />
				</div>
			</div>
			
			<div class="formGroup row">
				<div class="col-xs-3" align="right">
					<label class="uiLabel" for="descricao">{{getLabel('ITINEIN')}}</label>
				</div>
				<div class="col-sm-9">
					<input type="text" class="formGroupInput form-control"
						id="descricao" placeholder="{{getLabel('ITINEIN')}}"
						 ng-model="company.document" required style="max-width: 57%" />
				</div>
			</div>
			
			<div class="formGroup row">
				<div class="col-xs-3" align="right">
					<label class="uiLabel" for="descricao">{{getLabel('Address')}}</label>
				</div>
				<div class="col-sm-9">
					<input type="text" class="formGroupInput form-control"
						id="descricao" placeholder="{{getLabel('Address')}}"
						 ng-model="company.address" required style="max-width: 100%" />
				</div>
			</div>
			
			<div class="formGroup row">
				<div class="col-xs-3" align="right">
					<label class="uiLabel" for="descricao">{{getLabel('Phone')}}</label>
				</div>
				<div class="col-sm-9">
					<input type="text" class="formGroupInput form-control"
						id="descricao" placeholder="{{getLabel('Phone')}}"
						 ng-model="company.phone" required style="max-width: 57%" />
				</div>
			</div>
			
			<div class="formGroup row">
				<div class="col-xs-3" align="right">
					<label class="uiLabel" for="descricao">{{getLabel('ZipCode')}}</label>
				</div>
				<div class="col-sm-9">
					<input type="text" class="formGroupInput form-control"
						id="descricao" placeholder="{{getLabel('ZipCode')}}"
						 ng-model="company.zipCode" required style="max-width: 100%" />
				</div>
			</div>
			
			<div class="formGroup row">
				<div class="col-xs-3" align="right">
					<label class="uiLabel" for="descricao">{{getLabel('City')}}</label>
				</div>
				<div class="col-sm-9">
					<input type="text" class="formGroupInput form-control"
						id="descricao" placeholder="{{getLabel('City')}}"
						 ng-model="company.city" required style="max-width: 100%" />
				</div>
			</div>
			
			<div class="formGroup row">
				<div class="col-xs-3" align="right">
					<label class="uiLabel" for="descricao">{{getLabel('Site')}}</label>
				</div>
				<div class="col-sm-9">
					<input type="text" class="formGroupInput form-control"
						id="descricao" placeholder="{{getLabel('Site')}}"
						 ng-model="company.site" required style="max-width: 100%; text-transform: none;" />
				</div>
			</div>
			</div>
			
			<div class="col-lg-5">
				<input type="file" style="display: none;" id="insertLogo" accept="image/*"/>
				<div class="" style="margin-left: 90%;" ng-click="openModal()">
					<button class="btn btn-danger " id = "botaoExcluirLogo" type="button" style="visibility:hidden; position: absolute;"> X </button>
				</div>
				<span id="addLogoMessage" onclick="insertLogo.click()" style="left: 50%; top: 50%; position: absolute; color: white; visibility:hidden; cursor: pointer; margin-top: -10px; margin-left: -25px;"> {{getMessage('addLogo')}} </span>
				<img src="{{srcLogo}}" id="logoImg" onclick="insertLogo.click()" style="height: 100%; max-height: 100%; width: 100%; max-width: 100%; cursor: pointer;"/>
			</div>
			
		</div>
		
		<div class="formGroup row">
			<div class="col-xs-offset-1 col-sm-6">
				<button class="btn btn-primary" ng-click="saveCompany(company)">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{getLabel('Save')}}
				</button>
			</div>
		</div>
		
		<div class="modal fade" id="modalNewLogo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" id="modalNewContent" style="background-color: transparent; box-shadow: none; border: none;">
					<div class="modal-body">
				    	<img id="NewLogo" src="" style="width: 100%; max-height: 100%" />
						<div style="width: 100%; margin-top: 4px;">
				    		<button class="btn btn-primary" ng-click="addLogo()" style="width: 100%;">
								<i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{getLabel('Save')}}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="modalConfirmDeleteLogo" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title ng-binding" style="font-size: 24px; font-family: inherit; ">{{getLabel('deleteLogo')}}</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					
					<div class="modal-body">
						<p class="ng-binding" style="font-size: 14px; font-family: inherit;">{{getMessage('confirmDeleteLogo')}}</p>
					</div>
					
					<div class="modal-footer">
						<button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
							{{getLabel('Cancel')}}
						</button>
						
						<button class="btn btn-danger"  data-dismiss="modal" ng-click="deleteLogo(company)">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{getLabel('Delete')}}
						</button>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</form>
	