<div class="form-horizontal jumbotron divLista">
        <h4>{{getLabel('ObservationData')}}</h4>
        <hr />
        <form class="form-horizontal" id="frmAction" name="frmAction">
    
            <div class="formGroup row">
                <div class="col-xs-2" align="right">
                    <label class="uiLabel" for="descricao">{{getLabel('Description')}}</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="formGroupInput form-control"
                        id="descricao" placeholder="{{getLabel('Description')}}" required
                        ng-model="observation.description" style="max-width: 420px;" />
                </div>
            </div>
    
            <div class="formGroup row">
                <div class="col-xs-2" align="right">
                    <label class="uiLabel">{{getLabel('AvailableTo')}}</label>
                </div>
                <div class="col-sm-6">
                    <select 
                        id="selectAppears" name="selectAppears" 
                        class="selectpicker" 
                        multiple="multiple" 
                        title=""
                        ng-model="observation.appearsOnList" 
                        ng-change="selectChange()">
                        <option>{{getLabel('Inventory')}}</option>
                    </select>
                </div>
            </div>
    
            <div class="formGroup row">
                <div class="col-xs-2" align="right">
                    <label class="uiLabel" for="active">{{getLabel('Active')}}</label>
                </div>
    
                <div class="col-sm-8">
                    <select class="formGroupInput form-control text-box single-line"
                        style="max-width: 220px" id="active" ng-model="observation.active">
                        <option ng-value="true">{{getLabel('Yes')}}</option>
                        <option ng-value="false">{{getLabel('No')}}</option>
                    </select>
                </div>
            </div>
            <div class="formGroup row">
                <div class="col-xs-offset-2 col-sm-6">
                    <a class="btn btn-primary" href="{{appUrl}}observation"><i
                        class="fa fa-arrow-left" aria-hidden="true"></i>
                        {{getLabel('ReturnToList')}}</a>
                    <button class="btn btn-primary" ng-click="saveObservation(observation)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{getLabel('Save')}}
                    </button>
                </div>
            </div>
        </form>
    </div>
    
    <script type="text/javascript">
        $('.selectpicker').selectpicker({
            style : '',
            size : 4
        });
    </script>
    
    