<div class="form-horizontal jumbotron divLista">

    <div style="height: 10%">
        <h3 class="fLeft">{{getLabel('Observation')}}</h3>

        <a href="{{appUrl}}observationCreate" class="btn btn-default fLeft" style="width: 100px">
            <i class="fa fa-plus" aria-hidden="true"></i>
            {{getLabel('New')}}
        </a>

        <div class="fLeft">
            <label class="control-label col-xs-1 labelFiltro" for="query">{{getLabel('Filter')}}</label>
            <input type="text" id="query" name="query" ng-model="query" class="formGroupInput form-control"
                style="width: 70%" ng-change="setTextObservation()"/>
        </div>

        <div class="radio-filters" style="margin-left: 10%">
            <label class="radio-inline col-xs-1">
                <input class="radio" type="radio" ng-model="optActive" name="optActive" value="active"
                    ng-change="filterObservationByStatus()" id="optActive">{{getLabel('Active.p')}}
            </label>
            <label class="radio-inline col-xs-1">
                <input class="radio" type="radio" ng-model="optActive" name="optActive" value="inactive"
                    ng-change="filterObservationByStatus()" id="optInactive">{{getLabel('Inactive.p')}}
            </label>
            <label class="radio-inline col-xs-1">
                <input class="radio" type="radio" ng-model="optActive" name="optActive" value="all"
                    ng-change="filterObservationByStatus()" id="optAll">{{getLabel('All')}}
            </label>
        </div>

        <div class="headers" style="margin-bottom: 3px">
            {{getLabel('Description')}}
        </div>
    </div>

    <div class="containerList" style="height: 70%">
        <div class="rowsList" ng-repeat="observation in observations | filter:query" ng-class-odd="'odd'"
            ng-class-even="'even'" style="padding-right: 5px;">

            <div class="divItemList col-xs-9">{{observation.description}}</div>
            <div class="col-xs-3" style="padding-right: 5px;" align="right">
                <a href="{{appUrl}}observationDetail/{{observation.observationId}}"
                    class="btn btn-primary formGroupInput">{{getLabel('Details')}}</a>

                <input type="button" name="btn{{observation.active}}" class="btn btn-primary formGroupInput"
                    ng-value="trataAtivoInativo(observation)" ng-class="retornaClasse(observation)"
                    ng-click="mudaSituacao(observation)" />
            </div>
        </div>
    </div>
</div>