<form class="form-horizontal" id="frmAction" name="frmProject">
	<div class="form-horizontal jumbotron divLista">
		
		<div class="row">
			<div class="col-xs-10">
				<h4>{{getLabel('ProjectData')}}</h4>
			</div>
			<div class="col-xs-2">
				<a href="{{urlToExtractProjectInExcel}}" class="btn btn-default fLeft" target="_black" download>
					<i class="fa fa-plus" aria-hidden="true"></i>
					{{getMessage('ExtractToExel')}}
				</a>
			</div>
		</div>
		
		<hr>
		
		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel" for="name">{{getLabel('Name')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="text" class="formGroupInput form-control" id="name" placeholder="{{getLabel('Name')}}"
					ng-model="project.projectName" required style="max-width: 420px" />
			</div>
		</div>
		
		<div class="formGroup row">
			 <div class="col-xs-2" align="right">
				 <label class="uiLabel" for="client">{{getLabel('Client')}}</label>
			 </div>
			 <div class="col-sm-6">
				 <select name="addClient" ng-model="project.client.clientId"
						 class="formGroupInput form-control text-box single-line" style="max-width: 420px" ng-change="changeSelectedClient()">
					 <option ng-repeat="client in clients" ng-value="{{client.clientId}}">
						 {{client.tradingName}}</option>
				 </select>
			 </div>
		 </div>
		 
		 <div class="formGroup row">
			 <div class="col-xs-2" align="right">
				 <label class="uiLabel" for="area">{{getLabel('area')}}</label>
			 </div>
			 <div class="col-sm-6">
				 <select name="addArea" ng-model="project.area.areaId"
						 class="formGroupInput form-control text-box single-line" style="max-width: 420px" ng-change="changeSelectedArea()">
					 <option ng-repeat="area in areas" ng-value="{{area.areaId}}">
						 {{area.description}}</option>
				 </select>
			 </div>
		 </div>
		 
		 <div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel" for="name">{{getLabel('initialDate')}}</label>
			</div>
			<input type="text" id="dtInicio" name="dtInicio" ng-model="project.initialDate"
              class="formGroupInput form-control" style="max-width:150px; background-color: white; color: #5f5f5f; margin-left: 18%;" ng-change="changeDuration()" readonly/>
		</div>
		
		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel" for="time">{{getLabel('Duration')}}</label>
			</div>
			<div class="col-sm-1">
				<input type="number" class="formGroupInput form-control" id="time"
					ng-model="project.projectTime" required style="max-width: 210px" ng-change="changeDuration()" min="1"/>
			</div>
			
			<div class="col-sm-2">
				<select class="formGroupInput form-control text-box single-line" style="max-width: 210px" id="durationType"
					ng-model="project.durationType" ng-change="changeDuration()">
					<option value="D"> {{getLabel('Day')}} </option>
					<option value="W"> {{getLabel('Week')}} </option>
					<option value="M"> {{getLabel('Month')}} </option>
					
				</select>
			</div>
		</div>
		
		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel" for="time">{{getLabel('availableDays')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="number" class="formGroupInput form-control" id="time" placeholder="{{getLabel('availableDays')}}"
					ng-model="project.projectAvailableDays" style="max-width: 220px" ng-change="changeAvailableDays(project.projectAvailableDays)" min="1" required/>
			</div>
		</div>
		
		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel" for="name">{{getLabel('FinalDate')}}</label>
			</div>
			<input type="text" id="dtInicio" name="dtInicio" ng-model="project.endDate"
              class="formGroupInput form-control" style="max-width:150px; background-color: white; color: #5f5f5f; margin-left: 18%;" readonly/>
		</div>

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel" for="active">{{getLabel('Active')}}</label>
			</div>
			<div class="col-sm-8">
				<select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="active"
					ng-model="project.active">
					<option ng-value="true">{{getLabel('Yes')}}</option>
					<option ng-value="false">{{getLabel('No')}}</option>
				</select>
			</div>
		</div>

		<div id="pnlFields" class="panel panel-default">
			<div class="panel-heading">
				<div class="col-sm-1">{{getLabel('Equipments.p')}}</div>
				<div class="text-right" style="margin-top: -5px;">
					<button class="btn-sm btn-success" data-target="#modalAddEquipments" data-toggle="modal" tabindex="-1">+</button>
				</div>
			</div>

			<div class="panel-body">
				<!-- Fields -->
				<div id="pnlEquipments" class="panel-body">
					<div id="pnlListEquipments" class="form-group"></div>
				</div>
				<!-- End Fields -->
			</div>
			
			<div class="formGroup row">
				<div class="col-xs-2" align="right">
					<label class="uiLabel" for="name">{{getLabel('totalInstallations')}}</label>
				</div>
				<div class="col-sm-6">
					<div class="col-xs-2" align="left">
						<label class="uiLabel" for="name">{{project.totalInstallations}}</label>
					</div>
				</div>
			</div>
			
			<div class="formGroup row">
				<div class="col-xs-2" align="right">
					<label class="uiLabel" for="name">{{getLabel('installTargetPerDay')}}</label>
				</div>
				<div class="col-sm-10">
					<div class="col-xs-2" align="left">
						<label class="uiLabel" for="name">{{project.installTargetPerDay}}</label>
					</div>
				</div>
			</div>
			
		</div>
		
		<div id="pnlGraphic" class="panel panel-default" ng-if="project.projectId != null">
			<div class="panel-heading">
				<div class="col-sm-1">{{getLabel('Graphic')}}</div>
			</div>
			<div class="painel-body">
				<div class="row">
					<div class="col-xs-4" ng-click="openModal(1)">
						<canvas id="chartGeneral" width="800" height="450"></canvas>
					</div>
					
					<div class="col-xs-4" ng-click="openModal(2)">
						<div id="chartToInnerHtml">
							
						</div>
						
						<div class="row">
							<div class="col-xs-3">
									
							</div>
							<div class="col-xs-6">
								<label class="uiLabel">{{ initialDateFiltered }} {{ getLabel("To") }} {{ finalDateFiltered }}</label>
							</div>
							<div class="col-xs-3">
							
							</div>
						</div>
						
					</div>
					
					<div class="col-xs-4" ng-click="openModal(3)">
						<canvas id="chartVehicles" width="800" height="450"></canvas>
					</div>
					
				</div>
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-offset-1 col-sm-6" style="margin-left: 0 !important">
				<a class="btn btn-primary" href="{{appUrl}}project"> <i class="fa fa-arrow-left" aria-hidden="true"></i>
					{{getLabel('ReturnToList')}}
				</a>

				<button class="btn btn-primary" ng-click="saveProject(project)">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{getLabel('Save')}}
				</button>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modalAddEquipments" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		  aria-hidden="true">

		 <div class="modal-dialog" role="document">
			 <div class="modal-content">
				 <div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						 <span aria-hidden="true">&times;</span>
					 </button>
				 </div>

				 <div class="formGroup row costCenterBodyModal">
				 
					 <div class="col-xs-2" align="right">
						 <label class="uiLabel" for="addObjectType">{{getLabel('Equipment')}}</label>
					 </div>
					 <div class="col-sm-10">
						 <select name="addEquipment" id="addEquipment" ng-model="newEquipment.EQUIPMENTID"
								 class="formGroupInput form-control text-box single-line">
							 <option ng-repeat="equipment in equipmentsListToSelectInModal" value="{{equipment.EQUIPMENTID}}">
								 {{equipment['DESCRIPTION']}}</option>
						 </select>
					 </div>					 
				 </div>
				 
			 	<div class="formGroup row costCenterBodyModal">
					<div class="col-xs-2" align="right">
						<label class="uiLabel" for="time">{{getLabel('Quantity')}}</label>
					</div>
					<div class="col-sm-6">
						<input type="number" class="formGroupInput form-control" id="addEquipmentAmount" placeholder="{{getLabel('Quantity')}}"
							ng-model="newEquipment.EQUIPMENTAMOUNT" style="max-width: 220px" min="1" required/>
					</div>
				</div>

				 <div class="formGroup row costCenterFooterModal">
					 <input class="btn btn-primary" type="button" value="{{getLabel('Confirm')}}" ng-click="addNewEquipment(newEquipment)">
					 <input class="btn btn-default" type="button" value="{{getLabel('Cancel')}}" data-dismiss="modal">
				 </div>
			 </div>
		 </div>
	 </div>
	 
	 <div class="modal fade" id="modalGraphGeneral" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		 <div class="modal-dialog" role="document">
			 <div class="modal-content">
				 <div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						 <span aria-hidden="true">&times;</span>
					 </button>
				 </div>

				 <canvas id="modalChartGeneral" width="100%" height="100%"></canvas>
				 
			 </div>
		 </div>
	 </div>
	 
	 <div class="modal fade" id="modalGraphVehicle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		 <div class="modal-dialog" role="document">
			 <div class="modal-content">
				 <div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						 <span aria-hidden="true">&times;</span>
					 </button>
				 </div>

				 <canvas id="modalChartVehicle" width="100%" height="100%"></canvas>
				 
			 </div>
		 </div>
	 </div>
	 
	 <div class="modal fade" id="modalGraphFiltered" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		 <div class="modal-dialog" role="document">
			 <div class="modal-content">
				 <div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						 <span aria-hidden="true">&times;</span>
					 </button>
				 </div>
				
				<div class="formGroup row">
					<div class="col-xs-3" align="right">
						<label class="uiLabel" for="name">{{getLabel('initialDate')}}</label>
					</div>
					<div class="col-xs-3">
						<input type="text" id="dtInicioFiltered" name="dtInicio" ng-model="initialDateFiltered"
		              class="formGroupInput form-control" style="max-width:150px; background-color: white; color: #5f5f5f;" ng-change="changeDateFiltered()" readonly/>
					</div>
		              
		             <div class="col-xs-3" align="right">
						<label class="uiLabel" for="name">{{getLabel('FinalDate')}}</label>
					</div>
					
					<div class="col-xs-3">
						<input type="text" id="dtFinalFiltered" name="dtInicio" ng-model="finalDateFiltered"
		              class="formGroupInput form-control" style="max-width:150px; background-color: white; color: #5f5f5f;" ng-change="changeDateFiltered()" readonly/>
					</div>
		              
				</div>
				
				<div id="divChartFiltered">
				</div>
				 
			 </div>
		 </div>
	 </div>
	 
</form>