<div class="form-horizontal jumbotron divLista">

	<div style="height: 10%">
		<h3 class="fLeft">{{getLabel('Project.p')}}</h3>

		<a href="{{appUrl}}projectCreate" class="btn btn-default fLeft" style="width:100px">
			<i class="fa fa-plus" aria-hidden="true"></i>
			{{getLabel('New')}}
		</a>

		<div class="fLeft">
			<label class="control-label col-xs-1 labelFiltro" for="query">{{getLabel('Filter')}}</label>
			<input type="text" id="query" name="query" ng-model="state.querySearch" class="formGroupInput form-control"
				style="width: 70%" ng-change="searchBy()" />
		</div>

		<div class="radio-filters" style="margin-left: 10%">
			<label class="radio-inline col-xs-1">
				<input class="radio" type="radio" ng-model="state.optActive" name="optActive" value="active"
					ng-change="filterProjectsByStatus()" id="optActive">{{getLabel('Active.p')}}
			</label>
			<label class="radio-inline col-xs-1">
				<input class="radio" type="radio" ng-model="state.optActive" name="optActive" value="inactive"
					ng-change="filterProjectsByStatus()" id="optInactive">{{getLabel('Inactive.p')}}
			</label>
			<label class="radio-inline col-xs-1">
				<input class="radio" type="radio" ng-model="state.optActive" name="optActive" value="all"
					ng-change="filterProjectsByStatus()" id="optAll">{{getLabel('All')}}
			</label>
		</div>

		<div class="headers">
			<div style="width: 70% !important">
				{{getLabel('Name')}}
			</div>
			<div style="width: 30% !important">
			</div>
		</div>
	</div>

	<div class="containerList" style="height: 70%">
		<div class="rowsList" ng-repeat="project in state.projectsFiltered | filter:query" ng-class-odd="'odd'"
			ng-class-even="'even'">

			<div style="width: 70% !important">
				{{project.projectName}}
			</div>
			<div align="right" style="width: 30% !important">
				<a href="{{appUrl}}projectDetail/{{project.projectId}}"
					class="btn btn-primary formGroupInput">{{getLabel('Details')}}</a>
				<input type="button" name="btn{{project.active}}"
					value="{{project.active ? getLabel('Active.s') : getLabel('Inactive.s')}}"
					class="btn btn-primary {{project.active ? 'btnativo' : 'btninativo'}}" ng-click="setActive(project)" />
			</div>
		</div>
	</div>
</div>