<main>
	<div class="form-horizontal jumbotron divLista">

		<md-tabs id="clientTab" style="height: 100% !important">
			<md-tab label="{{getLabel('ClientData')}}">
				<hr>

				<div class="formGroup row">
					<div class="col-xs-2" align="right">
						<label class="uiLabel" for="razaoSocial">{{getLabel('CompanyName')}}</label>
					</div>
					<div class="col-sm-8">
						<input name="razaoSocial" class="formGroupInput form-control text-box single-line" id="razaoSocial"
							type="text" value="{{client.companyName}}" style="max-width: 420px" maxlength="60"
							ng-model="client.companyName" required /> {{$scope.client}}
					</div>
				</div>


				<div class="formGroup row">
					<div class="col-xs-2" align="right">
						<label class="uiLabel" for="nomeFantasia">{{getLabel('BusinessName')}}</label>
					</div>
					<div class="col-sm-8">
						<input name="nomeFantasia" class="formGroupInput form-control text-box single-line" id="nomeFantasia"
							style="float: left; max-width: 420px" type="text" value="" maxlength="60" ng-model="client.tradingName"
							required />
					</div>
				</div>

				<div class="formGroup row">
					<div class="col-xs-2" align="right">
						<label class="uiLabel" for="registration">{{getLabel('RegID')}}</label>
					</div>
					<div class="col-sm-8">
						<input name="registration" class="formGroupInput form-control text-box single-line" id="registration"
							value="" style="float: left; max-width: 220px" type="text" maxlength="45" ng-model="client.registration"
							required>
					</div>
				</div>

				<div class="formGroup row">
					<div class="col-xs-2" align="right">
						<label class="uiLabel" for="documento">{{getLabel('ITINEIN')}}</label>
					</div>
					<div class="col-sm-8">
						<input name="documento" class="formGroupInput form-control text-box single-line" id="documento" value=""
							style="float: left; max-width: 220px" type="text" maxlength="45" ng-model="client.document" required>
					</div>
				</div>

				<div class="formGroup row">
					<div class="col-xs-2" align="right">
						<label class="uiLabel">{{getLabel('Address')}}</label>
					</div>
					<div class="col-sm-8">
						<input name="endereco" class="formGroupInput form-control text-box single-line" id="endereco"
							style="float: left; max-width: 420px" type="text" ng-model="client.address"
							placeholder={{getMessage('addresshint')}} />
					</div>
				</div>

				<div class="formGroup row">
					<div class="col-xs-2" align="right">
						<label class="uiLabel">{{getLabel('Phone')}}</label>
					</div>
					<div class="col-sm-8">
						<input name="telefone" class="formGroupInput form-control text-box single-line" id="telefone"
							style="max-width: 220px" type="text" maxlength="20" onkeypress="validate(event)"
							ng-model="client.phone" />
					</div>
				</div>

				<div class="formGroup row">
					<div class="col-xs-2" align="right">
						<label class="uiLabel">{{getLabel('ZipCode')}}</label>
					</div>
					<div class="col-sm-8">
						<input name="zipcode" class="formGroupInput form-control text-box single-line" id="zipcode"
							style="float: left; max-width: 420px" type="text" ng-model="client.zipCode" />
					</div>
				</div>

				<div class="formGroup row">
					<div class="col-xs-2" align="right">
						<label class="uiLabel">{{getLabel('City')}}</label>
					</div>
					<div class="col-sm-8">
						<input name="city" class="formGroupInput form-control text-box single-line" id="city"
							style="float: left; max-width: 420px" type="text" ng-model="client.city" />
					</div>
				</div>

				<div class="formGroup row">
					<div class="col-xs-2" align="right">
						<label class="uiLabel">{{getLabel('AccessPassword')}}</label>
					</div>
					<div class="col-sm-8">
						<input name="password" class="formGroupInput form-control text-box single-line" id="password"
							style="float: left; max-width: 220px; text-transform: none !important;" type="text"
							value="{{client.pass}}" maxlength="45" ng-model="client.pass">
					</div>
				</div>

				<div class="formGroup row">
					<div class="col-xs-2" align="right">
						<label class="uiLabel" for="active">{{getLabel('Status')}}</label>
					</div>
					<div class="col-sm-8">
						<select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="active"
							ng-model="client.active">
							<option ng-value="true">{{getLabel('Active')}}</option>
							<option ng-value="false">{{getLabel('Inactive')}}</option>
						</select>
					</div>
				</div>

				<div class="formGroup row">
					<div class="col-xs-2" align="right">
						<label class="uiLabel">{{getLabel('Color')}}</label>
					</div>
					<div class="col-sm-2">
						<input id="colorSel" type="text" class="form-control" ng-style="{background: client.colorId}"
							ng-model="client.colorId" ng-readonly="true" style="width: 90px !important;" />
					</div>
				</div>
			</md-tab>

			<md-tab label="{{getLabel('Equipments.p')}}" ng-if="client.clientId">
				<hr>
				<div id="pnlFields" class="panel panel-default pnlClient" ng-show="client.clientId > 0">
					<div class="panel-heading" style="height: 55px; padding: 10px 5px 10px 5px">
						<div class="col-xs-6">
							<h5>{{getLabel('Equipments.p')}}</h5>
						</div>
						<div class="col-xs-6" style="padding: 0px 10px 0px 15px" align="right">
							<span class="btn btn-default" data-toggle="modal" data-target="#modalImportXls" ng-click="importEquipment"> <i
								class="fa fa-upload" aria-hidden="true"></i> {{getLabel('importXls')}}
							</span>

							<span class="btn btn-default" data-toggle="modal" data-target="#modalVehicle" ng-click="novoVehicle"> <i
									class="fa fa-plus" aria-hidden="true"></i> {{getLabel('NewEquipment')}}
							</span>							
						</div>
					</div>

					<div class="panel-body" style="padding: 0px; max-height: 66vh !important">
						<!-- Fields -->
						<div class="col-sm-12" id="divVeiculos"
							style="margin-top: 0px; margin-bottom: 5px; max-height: 275px !important; padding: 0px;">
							<div class="rowsList col-sm-12" ng-repeat="vei in veiculos" style="padding-right: 5px;">
								<div class="divItemList col-sm-8">{{vehicleDescription(vei)}}</div>
								<div class="col-sm-4" style="padding-right: 5px;" align="right">
									<input type="button" value="{{getLabel('Edit')}}" class="btn btn-primary formGroupInput"
										data-toggle="modal" data-target="#modalVehicle" ng-click="editVehicle(vei)">
									<input type="button" value="{{getLabel('Remove')}}" class="btn btn-secunday formGroupInput"
										ng-click="removeVei(vei)">
								</div>
							</div>
						</div>
						<!-- End Fields -->
					</div>
				</div>
			</md-tab>

			<md-tab label="{{getLabel('Contatos')}}" ng-if="client.clientId">
				<hr>
				<div id="pnlFields" class="panel panel-default pnlClient" ng-show="client.clientId > 0">
					<div class="panel-heading" style="height: 55px; padding: 10px 5px 10px 5px">
						<div class="col-xs-6">
							<h5>{{getLabel('Contatos')}}</h5>
						</div>
						<div class="col-xs-6" style="padding: 0px 10px 0px 15px" align="right">
							<span class="btn btn-default" ng-click="editContact()">
								<i class="fa fa-plus" aria-hidden="true"></i> {{getLabel('NewContacts')}}
							</span>
						</div>
					</div>

					<div class="panel-body" style="padding: 0px; max-height: 66vh !important">
						<!-- Fields -->
						<div class="col-sm-12" id="divContacts"
							style="margin-top: 0px; margin-bottom: 5px; max-height: 275px !important; padding: 0px;">
							<div class="rowsList col-sm-12" ng-repeat="contact in contacts" style="padding-right: 5px;">
								<div class="divItemList col-sm-3">{{contact.name}}</div>
								<div class="divItemList col-sm-3">{{contact.office}}</div>
								<div class="divItemList col-sm-3">{{contact.phone}}</div>
								<div class="col-sm-3" style="padding-right: 5px;" align="right">
									<input type="button" value="{{getLabel('Edit')}}" class="btn btn-primary formGroupInput"
										ng-click="editContact(contact)"> <!-- data-toggle="modal" data-target="#modalContacts" -->

									<input type="button" value="{{getLabel('Remove')}}" class="btn btn-secunday formGroupInput"
										ng-click="removeContact(contact)">
								</div>
							</div>
						</div>
						<!-- End Fields -->
					</div>
				</div>
			</md-tab>

			<md-tab label="{{getLabel('Parameter.p')}}" ng-if="client.clientId">
				<hr>
				<!--  panel de Centro de Custo -->

				<div class="formGroup row">
					<div class="col-xs-2" align="right">
						<label class="uiLabel" for="mainCostCenter">{{getLabel('MainCostCenter')}}</label>
					</div>
					<div class="col-sm-6">
						<select id="mainCostCenter" ng-model="costCenterIdSelected"
							class="formGroupInput form-control text-box single-line" ng-change="onChangeCostCenter()">
							<option value="">{{getMessage('SelectCostCenter')}}</option>
							<option ng-repeat="costCenter in costCenters" value="{{costCenter.costCenterId}}">
								{{costCenter.accountCode}} - {{costCenter.description}}</option>
						</select>
					</div>
				</div>

				<div id="pnlFields" class="panel panel-default pnlClient">
					<div class="panel-heading" style="height: 55px; padding: 10px 5px 10px 5px">
						<div class="col-xs-6">
							<h5>{{getLabel('costCenter')}}</h5>
						</div>
						<div class="col-xs-6" style="padding: 0px 10px 0px 15px" align="right">
							<span class="btn btn-default" data-toggle="modal" data-target="#modalCostCenter">
								<i class="fa fa-plus" aria-hidden="true"></i> {{getLabel('NewCostCenter')}}
							</span>
						</div>
					</div>

					<div class="panel-body" style="padding: 0px; max-height: 66vh !important">
						<!-- Fields -->
						<div class="col-sm-12" id="divContacts"
							style="margin-top: 0px; margin-bottom: 5px; max-height: 275px !important; padding: 0px;">
							<div class="rowsList col-sm-12" ng-repeat="cost in costCenterByClient" style="padding-right: 5px;">
								<div class="divItemList col-sm-8">{{cost.accountCode}} - {{cost.description}}</div>
								<div class="col-sm-4" style="padding-right: 5px;" align="right">
									<input type="button" value="{{getLabel('Remove')}}" class="btn btn-secunday formGroupInput"
										ng-click="removeCostCenter(cost)">
								</div>
							</div>
						</div>
						<!-- End Fields -->
					</div>
				</div>
			</md-tab>
		</md-tabs>

		<div class="rodapeBtns">
			<div class="btnFns1">
				<a class="btn btn-primary" href="{{appUrl}}client">
					<i class="fa fa-arrow-left" aria-hidden="true"></i> {{getLabel('ReturnToList')}}
				</a>
				<button class="btn btn-primary" ng-click="salvar(client, true)">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{getLabel('Save')}}
				</button>
			</div>
		</div>
	</div>

	<!--  Modal Novo Contato -->
	<div class="modal fade" id="modalContacts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true" style="margin-top: -30%">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-lable="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="form-horizontal divLista divAddVeiculo"
						style="padding-top: 0 !important; margin-top: -20px; border: none">
						<h4>{{getLabel('ContactData')}}</h4>
						<hr />

						<div class="formGroup row">
							<div class="col-xs-3" align="right">
								<label for="cliente" class="uiLabel">{{getLabel('ContactName')}}</label>
							</div>
							<div class="col-sm-6">
								<input name="plate" class="formGroupInput form-control text-box single-line" id="edtName" type="text"
									value="" maxlength="45" />
							</div>
						</div>


						<div class="formGroup row">
							<div class="col-xs-3" align="right">
								<label for="cliente" class="uiLabel">{{getLabel('Office')}}</label>
							</div>
							<div class="col-sm-6">
								<input name="plate" class="formGroupInput form-control text-box single-line" id="edtOffice" type="text"
									value="" maxlength="45" />
							</div>
						</div>

						<div class="formGroup row">
							<div class="col-xs-3" align="right">
								<label for="cliente" class="uiLabel">{{getLabel('Phone')}}</label>
							</div>
							<div class="col-sm-6">
								<input name="plate" class="formGroupInput form-control text-box single-line" id="edtPhone" type="number"
									value="" maxlength="13" />

							</div>
						</div>

						<div class="formGroup row">
							<div class="col-xs-3" align="right">
								<label for="cliente" class="uiLabel">{{getLabel('Observation')}}</label>
							</div>
							<div class="col-sm-6">
								<textarea class="form-control text-box" id="edtOBS" rows="6">
								</textarea>
							</div>
						</div>

						<div class="formGroup row">
							<div class="col-xs-offset-3 col-sm-4">
								<input class="btn btn-primary" type="button" value="{{getLabel('Confirm')}}" ng-click="addContact()">
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Fim Modal Novo Contato -->

	<!-- Modal Cost Center  -->
	<div class="modal fade" id="modalCostCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true" style="margin-top: -30%">

		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="formGroup row costCenterBodyModal">
					<div class="col-xs-2" align="right">
						<label class="uiLabel" for="mainCostCenter">{{getLabel('costCenter')}}</label>
					</div>
					<div class="col-sm-10">
						<select name="costCenterSelect" id="costCenterSelect" ng-model="newCostCenter"
							class="formGroupInput form-control text-box single-line">
							<option value="">{{getMessage('SelectCostCenter')}}</option>
							<option ng-repeat="costCenter in costCentersToSelect" value="{{costCenter}}">
								{{costCenter.accountCode}} - {{costCenter.description}}</option>
						</select>
					</div>
				</div>

				<div class="formGroup row costCenterFooterModal">
					<input class="btn btn-primary" type="button" value="{{getLabel('Confirm')}}" ng-click="addNewCostCenter()">
					<input class="btn btn-default" type="button" value="{{getLabel('Cancel')}}" data-dismiss="modal">
				</div>
			</div>
		</div>
	</div>

	<!-- Modal ImportXls -->
	<div class="modal fade" id="modalImportXls">
		<div class="modal-dialog modal" style="max-width: 500px !important;">
			<div class="modal-content">
				<div class="modal-header">
					<label style="font-size: 30px; font-weight: bold; color: gray;">
						{{getLabel('Equipments.p')}}
					</label>

					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="row">
						<!-- Download do modelo -->
						<div class="col-xs-4">

						</div>

						<div class="col-xs-5" id="divImport">
						</div>

						<div class="col-xs-3">
							<a class="btn btn-primary" onclick="uploadXls.click()">
								<label style="max-height: 100%; max-width: 100%; cursor: pointer; font-size: 15px;">{{getLabel('import')}}</label>
							</a>
							<input type="file" id="uploadXls" style="visibility: hidden;"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal ImportXls -->

	<!-- Modal  -->
	<div class="modal fade" id="modalVehicle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true" style="margin-top: -30%">

		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="form-horizontal  divLista divAddVeiculo"
						style="padding-top: 0 !important; margin-top: -20px; border: none">
						<h4>{{getLabel('EquipmentData')}}</h4>
						<hr />

						<div class="formGroup row">
							<div class="col-xs-3" align="right">
								<label for="cliente" class="uiLabel">{{getLabel('EquipmentType')}}</label>
							</div>
							<div class="col-sm-6">
								<select class="inputs text-box single-line" id="equipment" ng-model="vehicle.equipment"
									ng-options="equipment as equipment.description for equipment in equipments track by equipment.equipmentId">
									<option value="">{{getMessage('SelectEquipmentType')}}</option>
								</select>
							</div>
						</div>

						<div class="formGroup row">
							<div class="col-xs-3" align="right">
								<label class="uiLabel" for="plate">{{getLabel('Identifier')}}</label>
							</div>
							<div class="col-sm-6">
								<input name="plate" class="formGroupInput form-control text-box single-line" id="plate" type="text"
									value="" maxlength="45" ng-model="vehicle.plate" />
							</div>
						</div>

						<div class="formGroup row">
							<div class="col-xs-3" align="right">
								<label class="uiLabel" for="brand">{{getLabel('Brand')}}</label>
							</div>
							<div class="col-sm-6">
								<input name="brand" class="formGroupInput form-control text-box single-line" id="brand" type="text"
									value="" maxlength="45" ng-model="vehicle.brand" />
							</div>
						</div>

						<div class="formGroup row">
							<div class="col-xs-3" align="right">
								<label class="uiLabel" for="model">{{getLabel('Model')}}</label>
							</div>
							<div class="col-sm-6">
								<input name="model" class="formGroupInput form-control text-box single-line" id="model" type="text"
									value="" maxlength="45" ng-model="vehicle.model" />
							</div>
						</div>

						<div class="formGroup row">
							<div class="col-xs-3" align="right">
								<label class="uiLabel" for="fabrication">{{getLabel('YearManufacture')}}</label>
							</div>
							<div class="col-sm-4">
								<input name="fabrication" class="formGroupInput form-control text-box single-line" id="fabrication"
									type="number" value="" maxlength="45" onkeypress="validate(event)"
									ng-model="vehicle.fabricationYear" />
							</div>
						</div>

						<div class="formGroup row">
							<div class="col-xs-3" align="right">
								<label class="uiLabel" for="modelYear">{{getLabel('ModelYear')}}</label>
							</div>
							<div class="col-sm-4">
								<input name="modelYear" class="formGroupInput form-control text-box single-line" id="modelYear"
									type="number" value="" maxlength="4" onkeypress="validate(event)" ng-model="vehicle.modelYear" />
							</div>
						</div>

						<div class="formGroup row">
							<div class="col-xs-offset-3 col-sm-4">
								<input class="btn btn-primary" type="button" value="{{getLabel('Confirm')}}"
									ng-disabled="!vehicle.plate || !vehicle.brand" ng-click="addVehicle(vehicle)">
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->

</main>

<script>
	$(document).ready(function () {
		$("#telefone").mask("(00) 00000-0000");
	});

	function validate(evt) {
		var theEvent = evt || window.event;
		var key = theEvent.keyCode || theEvent.which;
		key = String.fromCharCode(key);
		var regex = /[0-9]|\./;
		if (!regex.test(key)) {
			theEvent.returnValue = false;
			if (theEvent.preventDefault) theEvent.preventDefault();
		}
	}

	changeScreenHeightSize('#divVeiculos', 2.15);
</script>