<div class="form-horizontal jumbotron divLista">

	<div style="height: 10%">
		<h3 class="fLeft">{{getLabel('Clients.p')}}</h3>

		<a href="{{appUrl}}clientCreate" class="btn btn-default fLeft" style="width:100px">
			<i class="fa fa-plus" aria-hidden="true"></i>
			{{getLabel('New')}}
		</a>

		<div class="fLeft">
			<label class="control-label col-xs-1 labelFiltro" for="query">{{getLabel('Filter')}}</label>
			<input type="text" id="query" name="query" ng-model="query" class="formGroupInput form-control"
				style="width: 70%" ng-change="setTextClient()" />
		</div>

		<div class="radio-filters" style="margin-left: 10%">
			<label class="radio-inline col-xs-1">
				<input class="radio" type="radio" ng-model="optActive" name="optActive" value="active"
					ng-change="filterClientsByStatus()" id="optActive">{{getLabel('Active.p')}}
			</label>
			<label class="radio-inline col-xs-1">
				<input class="radio" type="radio" ng-model="optActive" name="optActive" value="inactive"
					ng-change="filterClientsByStatus()" id="optInactive">{{getLabel('Inactive.p')}}
			</label>
			<label class="radio-inline col-xs-1">
				<input class="radio" type="radio" ng-model="optActive" name="optActive" value="all"
					ng-change="filterClientsByStatus()" id="optAll">{{getLabel('All')}}
			</label>
		</div>

		<div class="headers">
			<div style="width: 40% !important">
				{{getLabel('Name')}}
			</div>
			<div style="width: 30% !important">
				{{getLabel('Phone')}}
			</div>
			<div style="width: 30% !important">
			</div>
		</div>
	</div>

	<div class="containerList" style="height: 70%">
		<div class="rowsList" ng-repeat="cli in clients | filter:query" ng-class-odd="'odd'" ng-class-even="'even'">

			<div style="width: 40% !important">
				{{cli.tradingName}}
			</div>
			<div style="width: 30% !important;">
				{{cli.phone}}
			</div>
			<div align="right" style="width: 30% !important">
				<a href="{{appUrl}}clientDetail/{{cli.clientId}}"
					class="btn btn-primary formGroupInput">{{getLabel('Details')}}</a>
				<input type="button" name="btn{{cli.active}}" ng-value="trataAtivoInativo(cli)"
					class="btn btn-primary formGroupInput" ng-class="retornaClasse(cli)" ng-click="mudaSituacao(cli)" />
			</div>
		</div>
	</div>
</div>