@media screen {
	#printSection {
		display: none;
	}
}

@media print {
	body * {
		display: none;
	}
	#printSection, #printSection * {
		display: inline;
	}
	#printSection {
		left: 0;
		top: 0;
	}

    #printSection #divGeo {
		padding-top: 5px !important;
	padding-bottom: 5px !important;
	margin-top: 5px !important;
	}
	#printSection .dontPrint {
		display: none;
	}
	#printSection .print {
		border: none;
	}
	#printSection #divImagens {
			padding: 5px !important;
			display: block !important;
			width: auto !important;
			height: auto !important;
			overflow: visible !important;
		}
	#printSection label {
		text-align: left;
		border: none;
		width: 100%;
		float: left;
		display: inline;
		height: 30px;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		padding-top: 0 !important;
	}
	#printSection span {
		
		border: none;
		
	}
	#printSection .divTitle {
		width: 100% !important;
		float: none;
		border-bottom: 1px solid #ccc;
		padding-bottom: 5px !important;
	}
	#printSection div {
		border: none;
	}
	
	#printSection #marca {
		margin-left: 15px;
	}
	
	#printSection #inicio {
		margin-left: 15px;
	}
	
	#printSection #final {
		margin-left: 15px;
	}
	
	#printSection input["type=text"] {
		padding-bottom: 0 !important;
		margin-bottom: 0 !important;
	}
}
}