.dragAndDrop {
	border: 2px dotted #999;
    background-color: #ebebeb;
    height: 80px;
    width: 80px;
}

.button-slide{
	
		font-size: 32px;
		opacity: 0.75;
		width: 60px; 
		height: 60px;
		font-weight: bold;
		border-radius: 15px;
		border-color: #000000;
	  	display: flex;
   		justify-content: center;
   		align-items: center;
   		margin-top: -8px
	  }
	
	.whopper {
	width: 100%;
  	height: 100%;
  	min-height: 100%;
  	display: -webkit-flex;
  	display: flex;
  	-webkit-align-items: center;
  	align-items: center;
  	-webkit-justify-content: center;
  	justify-content: center;
	}

	.whopper div {
  	padding: 40px;
  	border: 1px solid rgba(0, 0, 0, .3)
	}


@font-face {
  font-family: gilroy;
  src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: gilroySemiBold;
  src: url(../fonts/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: gilroyBold;
  src: url(../fonts/Gilroy-Bold.ttf);
}


body {
	overflow: hidden;
	background-color: #F5F6F7 !important;
	font-family: gilroy;
	font-size: 12px;
}

div {
	font-family: gilroy;
	font-size: 12px;
}

div.jumbotron { 
  background-color: #dde0e4 !important;
}

.containerList {
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}

.containerListModal {
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
}

.divLista {
	margin-left: 15%;
	margin-top: 1%;
	padding: 1%;
	width: 84%;
	border-radius: 5px;
	height: 94%; 

	/* margin-left: 16%;
	margin-top: 30px;
	width: 83%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px; */
}

.divListaModal {
	margin: 2%;
	margin-top: 1%;
	padding: 1%;
	/* width: 84%; */
	border-radius: 5px;
}

.divListaCheck {
	margin-left: 5%;
	margin-top: 1%;
	padding: 1%;
	width: 84%;
	border-radius: 5px;
	height: 94%; 

	/* margin-left: 16%;
	margin-top: 30px;
	width: 83%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px; */
}

/* div#main {
	padding-left: 16%;
} */

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
	max-width: 200px;
	/* min-width: 150px; */
	width: 15%;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  width: 100%;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu ul .sub-menu1 li.active,
.nav-side-menu li .sub-menu1 li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu1 li.active a,
.nav-side-menu li .sub-menu1 li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu1 li,
.nav-side-menu li .sub-menu1 li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu1 li:hover,
.nav-side-menu li .sub-menu1 li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu1 li:before,
.nav-side-menu li .sub-menu1 li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  margin-left: 15px
}
/**/
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

input {
	text-transform: uppercase;
}
::-webkit-input-placeholder { /* WebKit browsers */
	opacity: 0.5 !important;
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	opacity: 0.5 !important;
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	opacity: 0.5 !important;
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	opacity: 0.5 !important;
    text-transform: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.formGroup {
	padding-bottom: 5px !important;
}

.formGroupInput {
	padding-bottom: 5px !important;
	height: 27px !important;
	line-height: 1 !important;
}

.divLogin {
	max-width: 300px !important;
	width: 100% !important;
	border-radius: 3px;
	padding: 10px;
	text-align: center;
}

.jumbotron {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.labelFiltro {
	max-width: 100px !important;
	width: 100px !important;
	text-align: right !important;
	font-weight: normal !important;
	height: 27px;
}

.uiLabel {
	font-weight: normal;
	height: 27px;
}

.uiCheckbox {
	margin-top: 5px !important;
}

.lLeft {
	float: left;
}

.al-sidebar {
	top: 0px !important;
	background-color: #212330 !important;
}

.iconMenuApplication {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 47px;
	font-size: 20px;
	color: #209e91;
}

.contentHome {
	text-align: center;
	background-color: #fff;
	border-radius: 5px;
	width: 400px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
	margin-top: 10%;
}

.contentHome h1 {
	font-size: 30px !important;
	color: #1C2B36;
}

.contentHome span {
	color: #ccc;
}

.liOut {
	margin-top: 100px;
	text-align: center;
}

.liOut a {
	left: 0 !important;
	right: 0 !important;
	margin-left: auto !important;
	margin-right: auto !important;
	font-size: 16px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	border: 1px solid #fff;
	max-width: 60px;
	border-radius: 3px;
}

.imgServiceDiv {
	height: 130px;
	width: 130px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	box-shadow: 2px 2px 5px #000;
}

.imgServiceDiv:hover {
	box-shadow: none;
	box-shadow: 1px 1px 1px #000;
}

.imgServiceMessageDiv {
	height: 70px;
	width: 130px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	display:table-cell;
	vertical-align:middle;
	margin-top: 10px;
}

.imgServiceModalDiv {
	height: 180px;
	width: 180px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	box-shadow: 2px 2px 5px #000;
}

.imgServiceModalDiv:hover {
	box-shadow: none;
	box-shadow: 1px 1px 1px #000;
}

.imgServiceMOdalMessageDiv {
	height: 70px;
	width: 180px !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	display: inline-block;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}

.imgService {
	height: 200px;
	width: 130px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	margin-left: 2px;
	margin-right: 2px;
}

.chkImgServ input[type=checkbox] {
	-ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
	/* margin-bottom: 5px;
	margin-right: 8px; */
}

.chkImgServ {
	height: 10px;
}

.imgServiceModal {
	height: 230px;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	display: inline-flex;
	cursor: pointer;
	margin-left: 2px;
	margin-right: 2px;
}

.imgDetail {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	height: 600px;
	width: 100%;
	max-width: 800px;
	max-height: 800px;
}

.modal-dialog {
	max-width: 800px !important;
	width: 100% !important;
}

#modalImgDetail {
	overflow: hidden;
	overflow-y: auto !important;
}

#imageDetailService {
	max-width: 769px;
	width: 100%;
	-webkit-transition: -webkit-transform .4s ease-out;
       -o-transition:      -o-transform .4s ease-out;
          transition:         transform .4s ease-out;
}

#imageDetailSettlement {
	max-width: 769px;
	width: 100%;
	-webkit-transition: -webkit-transform .4s ease-out;
       -o-transition:      -o-transform .4s ease-out;
          transition:         transform .4s ease-out;
}

.imgDetailRotation {
    margin-top: 320px;
}

.divModalDDRotation {
	height:586px;
}

.divAddVeiculo input {
	border-color: #ccc !important;
}

/* Servicos */
.headers {
	float: left;
	width: 100%;
	border-bottom: 1px solid #c3c3c3;
	padding: 2px 10px 2px 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	display: inline-flex;
}

.rowsList {
	overflow: auto !important;
	float: left;
	width: 100%;
	padding: 1px 10px 1px 10px;
	border-bottom: 1px solid #e1e1e1;
	display: inline-flex;
	align-items: center;
}

.tableDataHeader {
	float: left;
	width: 100%;
	border-bottom: 1px solid #c3c3c3;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

.tableDataRows {
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #e1e1e1;
}

.divFantasia {
	width: 100%;
	max-width: 200px;
	float: left;
	padding-left: 10px;
	padding-top: 7px;
}

.divItemList {
	width: 100%;
	float: left;
	/*padding: 7px 0px 0px 0px !important;*/
}

.divVeiculo {
	width: 100%;
	max-width: 250px;
	float: left;
	padding-top: 7px;
}

.divUsuario {
	width: 100%;
	max-width: 130px;
	float: left;
	padding-top: 7px;
}

.divHora {
	width: 100%;
	max-width: 140px;
	float: left;
	padding-top: 7px;
}

.divData {
	width: 100%;
	max-width: 90px;
	float: left;
	padding-top: 7px;
}

.divValor {
	width: 100%;
	max-width: 60px;
	float: left;
	padding-top: 7px;
}

.divDetails {
	width: 100%;
	max-width: 15px;
	float: right;
	padding-top: 7px;
}

.divTag {
	width: 100%;
	max-width: 45px;
	float: left;
	padding-top: 7px;
	font-size: 9px;
	font-weight: bold;
    text-align: center;
}

.odd {
	background-color: #fff;
	font-size: 13px;
}

.even {
	background-color: #f3f3f3;
	font-size: 13px;
}

.table>tbody>tr>td:first-child {
	text-align: left !important;
}

.btnativo {
	text-transform:capitalize;
	background-color: green !important;
	max-width: 80px !important;
	width: 100% !important;
	border: none !important;
}

.btninativo {
	text-transform:capitalize;
	background-color: red !important;
	max-width: 80px !important;
	width: 100% !important;
	border: none !important;
}

.inputs {
	border-radius: 5px !important;
	width: 100%;
	max-width: 500px;
	padding-left: 10px;
	padding-right: 10px;
	height: 27px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
}

#divVeiculos {
	max-height: 66vh !important;
	overflow: scroll;
	height: 100%;
	overflow-x: hidden;

	margin-bottom: 0 !important;
}

#divChecklist {
	max-height: 66vh !important;
	overflow: scroll;
	height: 100%;
	overflow-x: hidden;

	margin-bottom: 0 !important;
}

.itemListaVeiculos {
	background-color: rgba(0, 0, 0, 0.05);
	background-image: linear-gradient(90deg, #FFD32E 10px, #EEE 10px, #EEE 11px, transparent
		11px);
	padding: 10px 15px 10px 25px;
	border: 1px solid #CCC;
	box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
	margin-bottom: 5px;
	width: 100%;
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 3px;
}

.lblData {
	float: none;
}

/* MAPA */
#map {
	height: 400px;
	width: 100%;
}

.link-google-maps {
	display: inline-block;
	width: 130px;
	text-align: center;
	padding: 0;
}

.image-message-print {
	display: inline-block;
	width: 150px;
	text-align: center;
	padding: 0;
}

.msg-error {
	color: red;
	font-size: 12px;
}

.noAccess {
	display: none;
}

.myArrow {
	float: left;
	margin-top: -1px;
}

.ipt {
	background-color: #fff !important;
	color: #000 !important;
}

.print {
	display: none;
}

.divLatLngPrint {
	padding-left: 20px;
	max-width: 231px;
	padding-top: 28px;
}

.divImagemPrint {
	width: 130px;
	display: block;
}

#divImgs div {
	display: inline-block;
}

#divGeo {
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Timeline */
.message-item {
	margin-bottom: 5px;
	margin-left: 40px;
	position: relative;
}

.message-item .message-inner {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 10px;
	position: relative;
}

.message-item .message-inner:before {
	border-right: 10px solid #ddd;
	border-style: solid;
	border-width: 10px;
	color: rgba(0,0,0,0);
	content: "";
	display: block;
	height: 0;
	position: absolute;
	left: -20px;
	top: 6px;
	width: 0;
}

.message-item .message-inner:after {
	border-right: 10px solid #fff;
	border-style: solid;
	border-width: 10px;
	color: rgba(0,0,0,0);
	content: "";
	display: block;
	height: 0;
	position: absolute;
	left: -18px;
	top: 6px;
	width: 0;
}

.message-item:before {
	background: #fff;
	border-radius: 2px;
	bottom: -30px;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	content: "";
	height: 100%;
	left: -30px;
	position: absolute;
	width: 3px;
}

.message-item:after {
	background: #fff;
	border: 2px solid #ccc;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	content: "";
	height: 15px;
	left: -36px;
	position: absolute;
	top: 10px;
	width: 15px;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.message-item .message-head {
	border-bottom: 1px solid #eee;
	margin-bottom: 4px;
	padding-bottom: 4px;
}

.message-item .message-head .user-detail {
	overflow: hidden;
}

.message-item .message-head .user-detail .date-time {
	display:inline-block;
	color: darkgrey;
	width:25%;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}

.message-item .message-head .user-detail .type-identifier {
	display:inline-block;
	width:70%;
	text-align: right;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	margin: 0;
}

.message-item .message-head .post-meta {
	float: left;
	padding: 0 15px 0 0;
}

.message-item .message-head .post-meta >div {
	color: #333;
	font-weight: bold;
	text-align: right;
}

.post-meta > div {
	color: #777;
	font-size: 12px;
	line-height: 22px;
}

.infobox-wrapper {
    display:none;
}

#infobox {
    border:2px solid black;
    margin-top: 8px;
    background:#333;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}

.my-custom-class-for-label {
  height: 20px;

  padding-left: 5px;
  padding-right: 5px;

  border: 1px solid #eb3a44;
  border-radius: 5px;

  background: #fee1d7;
  color: #eb3a44;
  text-align: center;
  line-height: 20px;

  font-weight: bold;
  font-size: 12px;
}

.border-div-map {
	right: 10px !important;
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 3px;
	box-shadow: 0 2px 6px rgba(0,0,0,.3);
    margin-bottom: 22px;
}

.label-title {
	overflow: auto !important;
	font-size: 11px;
	line-height: 12px !important;
	text-align: right !important;
	padding-right: 5px !important;
	cursor: pointer;
}

.label-value {
	overflow: auto !important;
	font-size: 11px;
	line-height: 12px !important;
	text-align: left !important;
	padding-left: 0px !important;
	font-weight: normal !important;
	cursor: pointer;
}

.centerModal{
  position: relative !important;
  transform: translateY(-150%) !important;
}

#panel-body-profile label{
	max-width: 90px;
	padding: 0px 5px 0px 5px;
}

#panel-body-profile .row {
	margin: 0px;
}

#panel-body-profile #divStartHour, 
#panel-body-profile #divEndHour {
	max-width: 130px;
	padding: 0px 5px 0px 5px;
}

.cardStyle {
	box-shadow: 1px 1px 3px 0px;
	background-color: white;
}

.titleCard {
	font-weight: bold;
	font-size: 20px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  	padding: 10px;
  	border-radius: 10px;
  	cursor: pointer; 
  	height: 180px;
  	width: 250px;
  	margin-right: 10px;
}

div.trix-edt-text {
	display: flex !important;
	flex-direction: column;
	align-content: center;
	justify-content: center;

	margin: 30px;
	border: 1px solid #d1d5da;
}

trix-toolbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

	padding-top: 5px;
	padding-left: 5px;
}

trix-editor {
	min-height: 150px !important;
}

trix-editor.trix-content {
	border-radius: 0 !important;
}

trix-editor.trix-content>div {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px !important;
}

trix-toolbar div.button_groups span.button_group {
	border-radius: 0 !important;
}

div.modal-footer div.modal-botoes {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

div#modalEditTextStatementExpense div.modal-dialog div.modal-content div.modal-header {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;

	height: 100% !important;
}

div#modalEditTextStatementExpense div.modal-dialog div.modal-content div.modal-header div.expense-id {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;

	height: 100% !important;
}

div#modalEditTextStatementExpense div.modal-dialog div.modal-content div.modal-header div.expense-id>span {
	color: black;
}

div#modalEditTextStatementExpense div.modal-dialog div.modal-content div.modal-body {
	padding: 0;
}

trix-toolbar div.button_groups span.text_tools button.link {
	display: none;
}

trix-toolbar div.button_groups span.block_tools {
	display: none;
}

div.headDetailEvent {
	display: flex;
	flex-direction: column;
	justify-items: center;

	height: 100%;
	width: 100%;
}

div.headDetailEvent div.showForm {
	height: 100%;
	width: 240px;

	display: flex;
	align-content: center;
}

div.headDetailEvent div.showForm label {
	display: flex;
	align-items: center;
}

#displayFormula {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
	margin: 0 5px !important;
}

div.headDetailEvent div.showbody {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

div.headDetailEvent div.showbody select {
	width: 180px;
	height: 25px;

	margin-left: 10px;
}

md-tabs.ng-isolate-scope {
	height: 90%;
}

md-tab-content {
	overflow: unset;
}

md-tab-item.md-tab {
	color: rgba(0,0,0,0.54) !important;
}

md-ink-bar {
	color: #209e91 !important;
	background: #209e91 !important;
}

div.rodapeBtns {
	display: flex;
	align-content: center;
	justify-content: space-between;

	margin-top: 15px;
	margin-bottom: 10px;
}

div.rodapeBtns div.btnFns1 button.btn-primary {
	margin-left: 10px;
}

div.rodapeBtns div.btnFns2 {
	display: flex;
}

div.modal-dialog div.costCenterBodyModal {
	margin: 0 !important;
}

div.modal-dialog div.costCenterFooterModal {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;

	margin: 30px 0 0 15px !important;
}

div.modal-dialog div.costCenterFooterModal > input {
	margin-right: 5px;
}

md-tabs#clientTab {
	height: 85vh !important;
}

md-tabs#equipmentTab {
	height: 300vh !important;
}

div.pnlClient {
	max-height: 80vh !important;
	margin-bottom: 0 !important;
}

div.pnlEquipment {
	max-height: 80vh !important;
	margin-bottom: 0 !important;
}

div#creditApproval .creditDetail {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

	width: 100%;
	height: 100%;
}

div#creditApproval .creditDetail .creditInformations .creditInformationsLabel {
	font-weight: bold;
	font-size: 13px;

	margin: 0;
}

div#creditApproval .creditApprovalRow {
	display: flex;
	flex-direction: row;

	margin: 15px 0;
}

div#creditApproval .creditDetail .creditInformations .creditApprovalRow .creditInformationsUser {
	display: flex;
	flex-direction: column;
}

div#creditApproval .creditDetail .creditInformations .creditApprovalRow .creditInformationsDate {
	display: flex;
	flex-direction: column;

	margin: 0 30px;
}

div#creditApproval .creditDetail .creditInformations .creditApprovalRow .creditInformationsUser > input {
	width: 500px;
}

div#creditApproval .creditDetail .creditInformations .creditApprovalRow .creditInformationsDate > input {
	width: 150px;
}

div#creditApproval .creditDetail .creditInformations .creditApprovalRow .creditInformationsEvent > input {
	width: 680px;
}

div#creditApproval .creditDetail .creditAprovations .creditApprovalRow .creditAprovationsAprovedValue {
	display: flex;
	flex-direction: column;

	margin: 0 30px;
}

div#creditApproval .creditDetail .creditAprovations .creditAprovationsLabel {
	margin: 0;
}

div#creditApproval .creditDetail .note > label {
	margin: 0;
}

div#creditApproval .modal-footer {
	display: flex;
	align-content: flex-start;
}

div#modalNewCard div.modal-dialog div.costCenterBodyModal {
	margin: 0 !important;
}

div#modalNewCard div.modal-dialog div.costCenterFooterModal {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;

	margin: 30px 0 0 15px !important;
}

div#modalNewCard div.modal-dialog div.costCenterFooterModal > input {
	margin-right: 5px;
}

md-tabs#clientTab {
	height: 85vh !important;
}

md-tabs#equipmentTab {
	height: 300vh !important;
}

div.pnlClient {
	max-height: 80vh !important;
	margin-bottom: 0 !important;
}

div.pnlEquipment {
	max-height: 80vh !important;
	margin-bottom: 0 !important;
}

div.project-data {
	display: flex;
	flex-direction: column;
}

div.project-data div.how-many-equipment {
	display: flex;
	flex-direction: column;
}

div.project-data div.how-many-equipment-head {
	display: flex;
	justify-content: space-between;
}

div.project-data div.how-many-equipment div.equipment-quantity {
	display: flex;
	flex-grow: 1;
}

div.project-data div.how-many-equipment div.equipment-quantity div {
	display: flex;
	flex-grow: 1;
}