<form class="form-horizontal" id="frmAction" name="frmAction">
	<div id="carregamento"></div>
	<div class="form-horizontal jumbotron divLista">
		<h4>{{getLabel('cardData')}}</h4>
		<hr>

		<div class="formGroup row">
			<div class="col-xs-3" align="right">
				<label class="uiLabel" for="descricao">{{getLabel('cardNumber')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="text" class="formGroupInput form-control" id="cardNumber" placeholder="{{getLabel('cardNumber')}}"
					ng-model="card.cardNumber" required style="max-width: 420px" maxlength="19"/>
			</div>
		</div>
		
		<div class="formGroup row">
			<div class="col-xs-3" align="right">
				<label class="uiLabel" for="flag">{{getLabel('flag')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="text" class="formGroupInput form-control" id="flag" placeholder="{{getLabel('flag')}}"
					ng-model="card.cardBanner" required style="max-width: 420px"  maxlength="20"/>
			</div>
		</div>
		
		<div class="formGroup row">
			<div class="col-xs-3" align="right">
				<label class="uiLabel" for="emittingBank">{{getLabel('emittingBank')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="text" class="formGroupInput form-control" id="emittingBank" placeholder="{{getLabel('emittingBank')}}"
					ng-model="card.emittingBank" required style="max-width: 420px"  maxlength="30"/>
			</div>
		</div>
		
		<div class="formGroup row">
			<div class="col-xs-3" align="right">
				<label class="uiLabel" for="closingDay">{{getLabel('closingDay')}}</label>
			</div>
			<div class="col-sm-8">
				<select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="closingDay"
					ng-model="card.invoiceCloseDate">
					<option ng-repeat="day in daysOfMonth" ng-value="day">{{day}}</option>
				</select>
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-3" align="right">
				<label class="uiLabel" for="expirationDay">{{getLabel('expirationDay')}}</label>
			</div>
			<div class="col-sm-8">
				<select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="expirationDay"
					ng-model="card.invoiceDueDate">
					<option ng-repeat="day in daysOfMonth" ng-value="day">{{day}}</option>
				</select>
			</div>
		</div>
		
		<div class="formGroup row">
			<div class="col-xs-3" align="right">
				<label class="uiLabel" for="blockPostingAfterClosing">{{getLabel('blockPostingAfterClosing')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="checkbox" id="blockPostingAfterClosing" ng-model="card.blocksLaunch"/>
			</div>
		</div>
		
		<div class="formGroup row">
			<div class="col-xs-3" align="right">
				<label class="uiLabel" for="automaticallyRenewCredit">{{getLabel('automaticallyRenewCredit')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="checkbox" ng-change="changeViewCreditRenewalDay()" id="automaticallyRenewCredit" ng-model="card.automaticRenovation"/>
			</div>
		</div>

		<div class="formGroup row" ng-if="viewCreditRenewalDay">
			<div class="col-xs-3" align="right">
				<label class="uiLabel" for="creditRenewalDay">{{getLabel('creditRenewalDay')}}</label>
			</div>
			<div class="col-sm-8">
				<select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="creditRenewalDay"
					ng-model="card.renewalDay">
					<option ng-repeat="day in daysOfMonth" ng-value="day">{{day}}</option>
				</select>
			</div>
		</div>
		
		<div class="formGroup row">
			<div class="col-xs-3" align="right">
				<label class="uiLabel" for="limit">{{getLabel('limit')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="text" class="formGroupInput form-control" id="limit" placeholder="{{getLabel('limit')}}"
					ng-model="card.limit" required style="max-width: 220px"  maxlength="10"/>
			</div>
		</div>

		<div class="formGroup row" ng-repeat="param in parameters.jsonStructure">
			<div class="col-xs-3" align="right">
				<label class="uiLabel" for="{{param.fieldId}}">{{param.label}}</label>
			</div>
			<div class="col-sm-6">
				<input type="{{param.type}}" class="formGroupInput form-control" id="{{param.fieldId}}" placeholder="{{param.label}}"
					   ng-model="card.customValues.jsonValues[param.fieldId]" ng-required="param.required" style="max-width: 220px" />
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-3" align="right">
				<label class="uiLabel" for="active">{{getLabel('Active')}}</label>
			</div>
			<div class="col-sm-8">
				<select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="active"
					ng-model="card.active">
					<option ng-value="true">{{getLabel('Yes')}}</option>
					<option ng-value="false">{{getLabel('No')}}</option>
				</select>
			</div>
		</div>
		
		<div class="formGroup row">
			<div class="col-xs-3" align="right">
				<label class="uiLabel">{{getLabel('Color')}}</label>
			</div>
			<div class="col-sm-2">
				<input id="colorSel" type="text" class="form-control" ng-style="{background: card.colorId}"
					ng-model="card.colorId" ng-readonly="true" style="width: 90px !important;" />
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-offset-1 col-sm-6" style="margin-left: 0 !important">
				<a class="btn btn-primary" id="backCardList" href="{{appUrl}}card"> <i class="fa fa-arrow-left" aria-hidden="true"></i>
					{{getLabel('ReturnToList')}}
				</a>

				<button class="btn btn-primary" ng-click="saveCard(card)">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{getLabel('Save')}}
				</button>
			</div>
		</div>
		
	</div>
</form>