<div class="form-horizontal jumbotron divLista">
	<div id="carregamento"></div>
	<div style="height: 10%">
		<h3 class="fLeft">{{getLabel('card')}}</h3>

		  <div style="background-color: transparent;">
		    <div style="cursor: pointer;" ng-click="showModalWindow()">
		      <div class="row"> 
			      <label class="control-label col-xs-2 label-title"
			        style="padding-top: 5px !important;">{{ getLabel("closingBetween") }}:</label>
			      <label class="control-label col-xs-2 label-value" style="padding-top: 5px !important;"> {{ dtInicio }} {{ getLabel("To") }} {{ dtFinal }} </label>
		      </div>
		      
		      <div class="row"> 
			      <label class="control-label col-xs-2 label-title">{{ getLabel("flag") }}(s):</label>
			      <label class="control-label col-xs-2 label-value">{{ bannerNames }}</label>
		      </div>
		      
		      <div class="row"> 
			      <label class="control-label col-xs-2 label-title">{{ getLabel("emittingBank") }}(s):</label>
			      <label class="control-label col-xs-2 label-value">{{ emittingBankNames }}</label>
		      </div>
		    </div>
		  </div>

		<div class="row">
			<div class="radio-filters" style="margin-left: 1%">
				<label class="radio-inline col-xs-1">
					<input class="radio" type="radio" ng-model="optActive" name="optActive" value="active"
						ng-change="filterCardByStatus()" checked>{{getLabel('Active.p')}}
				</label>
				<label class="radio-inline col-xs-1">
					<input class="radio" type="radio" ng-model="optActive" name="optActive" value="inactive"
						ng-change="filterCardByStatus()">{{getLabel('Inactive.p')}}
				</label>
				<label class="radio-inline col-xs-1">
					<input class="radio" type="radio" ng-model="optActive" name="optActive" value="all"
						ng-change="filterCardByStatus()">{{getLabel('All')}}
				</label>
			</div>
		</div>
		
		
		<a href="{{appUrl}}cardCreate" class="btn btn-default fLeft" style="width: 100px">
			<i class="fa fa-plus" aria-hidden="true"></i>
			{{getLabel('New')}}
		</a>

		<!-- <div class="fLeft">
			<label class="control-label col-xs-1 labelFiltro" for="query">{{getLabel('Filter')}}</label>
			<input type="text" id="query" name="query" ng-model="query" class="formGroupInput form-control"
				style="width: 70%" />
		</div>  -->

		<div class="headers row" style="margin-bottom: 3px">
			<div class="col-xs-3">
				{{getLabel('cardNumber')}}
			</div>
			
			<div class="col-xs-3">
				{{getLabel('flag')}}
			</div>
			
			<div class="col-xs-3">
				{{getLabel('emittingBank')}}
			</div>
			
		</div>
	</div>

	<div class="containerList" style="height: 70%">
		<div class="rowsList row" ng-repeat="card in cardsVisible" ng-class-odd="'odd'" ng-class-even="'even'"
			style="padding-right: 5px;">
		
			<div class="col-xs-3">
				<div class="col-xs-9 divItemList">{{card.cardNumber}}</div>
			</div>
			
			<div class="col-xs-3">
				<div class="col-xs-9 divItemList">{{card.cardBanner}}</div>
			</div>
			
			<div class="col-xs-3">
				<div class="col-xs-9 divItemList">{{card.emittingBank}}</div>
			</div>
			
			<div class="col-xs-3" style="padding-right: 5px;" align="right">
				<a href="{{appUrl}}cardDetail/{{card.cardId}}"
					class="btn btn-primary formGroupInput">{{getLabel('Details')}}</a>

				<input type="button" name="btn{{card.active}}" class="btn btn-primary formGroupInput"
					ng-value="trataAtivoInativo(card)" ng-class="retornaClasse(card)" ng-click="mudaSituacao(card)" />
			</div>
			
		</div>
	</div>
	
<div class="modal fade" id="parametersModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <div class="modal-body">
        
          <!-- fechamento entre...  -->
          <div class="formGroup row">
          <label class="col-xs-12">{{
              getLabel("closingBetween")
            }}</label>
          </div>
          
          <div class="formGroup row">
            <label class="control-label col-xs-4 labelFiltro" for="dtInicio">{{
              getLabel("InitialDate")
            }}</label>
            <input type="text" id="dtInicio" name="dtInicio" ng-model="dtInicio"
              class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px;" />
              
            <label class="control-label col-xs-4 labelFiltro" for="dtFinal">{{
              getLabel("FinalDate")
            }}</label>
            <input type="text" id="dtFinal" name="dtFinal" ng-model="dtFinal"
              class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px" />
          </div>
          
          <!--bandeira-->
          <div class="formGroup row">
            <label class="control-label labelFiltro col-xs-6" for="banners">{{
              getLabel("flag")
            }}</label>
            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="bannerTriangle"
              style="padding-left: 0px;padding-top: 10px;" ng-click="showBannerSelect()"></span>
          </div>
          <div class="formGroup row" ng-show="showBanners">
            <select class="form-control text-box" style="max-width: 220px" id="banners" ng-model="bannersSelected"
              ng-options="banner for banner in banners" multiple bs-duallistbox>
            </select>
          </div>
          
          <!--Banco emissor-->
          <div class="formGroup row">
            <label class="control-label labelFiltro col-xs-6" for="emittingBank">{{
              getLabel("bank")
            }}</label>
            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="bankTriangle"
              style="padding-left: 0px;padding-top: 10px;" ng-click="showEmittingBankSelect()"></span>
          </div>
          <div class="formGroup row" ng-show="showEmittingBank">
            <select class="form-control text-box" style="max-width: 220px" id="users1" ng-model="emittingBankSelected"
              ng-options="emittingBank for emittingBank in emittingBanks" multiple bs-duallistbox>
            </select>
          </div>

        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-left" data-dismiss="modal" ng-click="buscar()">
            {{ getLabel("Search") }}
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {{ getLabel("Close") }}
          </button>
        </div>
      </div>
    </div>
  </div>
  
</div>