<div class="form-horizontal jumbotron divLista">
    <div class="formGroup">
		<h3 class="fLeft">{{getLabel('Actions.p')}}</h3>
		<a href="{{appUrl}}objectTypeCreate" class="btn btn-default fLeft"
			style="width: 100px"><i class="fa fa-plus" aria-hidden="true"></i>
			{{getLabel('New')}}</a>
    </div>
    
    <div class="formGroup">
		<label class="control-label col-xs-1 labelFiltro" for="query"> {{getLabel('Filter')}} </label> 
			<input type="text" id="query" name="query" ng-model="query" 
			class="formGroupInput form-control" style="max-width: 680px;"/>
    </div>
    
    <div class="formGroup row">
		<label class="control-label col-xs-1 labelFiltro" for="query"></label>
		<div class="col-xs-10">
			<label class="radio-inline col-xs-2"> 
				<input class="radio" type="radio" ng-model="optActive" name="optActive" value="active"
				ng-change="filterActionByStatus()" id="optActive">{{getLabel('Active.p')}}
				</label> 
				
			<label class="radio-inline col-xs-2"> <input class="radio"
					type="radio" ng-model="optActive" name="optActive" value="inactive"
				ng-change="filterActionByStatus()" id="optInactive">{{getLabel('Inactive.p')}}
			</label> 
			
			<label class="radio-inline col-xs-2"> <input class="radio"
				type="radio" ng-model="optActive" name="optActive" value="all"
				ng-change="filterActionByStatus()" id="optAll">{{getLabel('All')}}
			</label>
		</div>
    </div>
    
    <div class="table">
		<div class="headers" style="max-width: 921px !important;">
			{{getLabel('Description')}}</div>

		<div id="divTableAction"
			style="height: 100%; overflow: scroll; width: 100%; overflow-x: hidden">
			<div class="rowsList" ng-repeat="objectType in objectTypes | filter:query"
				ng-class-odd="'odd'" ng-class-even="'even'"
				style="padding-right: 5px;">
				<div class="divItemList col-xs-9">{{objectType.description}}</div>
				<div class="col-xs-3" style="padding-right: 5px;" align="right">
					<a href="{{appUrl}}objectTypeDetail/{{objectType.objectTypeId}}"
						class="btn btn-primary formGroupInput">{{getLabel('Details')}}</a>

					<input type="button" name="btn{{objectType.active}}"
						class="btn btn-primary formGroupInput"
						ng-value="trataAtivoInativo(objectType)"
						ng-class="retornaClasse(objectType)" ng-click="mudaSituacao(objectType)" />
				</div>
			</div>
		</div>

	</div>

</div>