<main class="auth-main">
  <div class="auth-block">
    <h1>Acessar GIMB Administração</h1>
    <a href="createUser" class="auth-link">Criar Conta</a>

    <form class="form-horizontal">
      <div class="form-group">
        <label for="usuario" class="col-sm-2 control-label">Usuário</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="usuario" placeholder="Usuário" ng-model="User.user" />
        </div>
      </div>
      <div class="form-group">
        <label for="senha" class="col-sm-2 control-label">Senha</label>

        <div class="col-sm-10">
          <input type="password" class="form-control" id="senha" placeholder="Senha" ng-model="User.pass" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="button" name="" value="entrar" class="btn btn-default btn-auth"
            style="background-color:transparent !important" ng-click="autenticar()" />
        </div>
      </div>
    </form>

    <div class="auth-sep"><span><span>informe seu usuário e senha para acessar</span></span></div>

  </div>