
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>GIMB</title>
        <!-- AngularJS Material -->
        <link rel="stylesheet" th:href="@{https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css}" />

        <!-- CSS -->
        <link rel="stylesheet" th:href="@{../static/css/font/font-awesome.min.css}" />
        <link rel="stylesheet" th:href="@{../static/css/style.css}" />
        <link rel="stylesheet" th:href="@{../static/css/main.css}" />
        <link rel="stylesheet" th:href="@{../static/css/ionicons.css}" />
        <link rel="stylesheet" th:href="@{../static/css/angular-toastr.css}" />
        <link rel="stylesheet" th:href="@{../static/css/animate.css}" />
        <link rel="stylesheet" th:href="@{../static/css/bootstrap.css}" />
        <link rel="stylesheet" th:href="@{../static/css/bootstrap-select.css}" />
        <link rel="stylesheet" th:href="@{../static/css/bootstrap-switch.css}" />
        <link rel="stylesheet" th:href="@{../static/css/bootstrap-tagsinput.css}" />
        <link rel="stylesheet" th:href="@{../static/css/font-awesome.css}" />
        <link rel="stylesheet" th:href="@{../static/css/textAngular.css}" />
        <link rel="stylesheet" th:href="@{../static/css/xeditable.css}" />
        <link rel="stylesheet" th:href="@{../static/css/default/style.css}" />
        <link rel="stylesheet" th:href="@{../static/css/select.css}" />
        <link rel="stylesheet" th:href="@{../static/css/auth.css}" />
        <link rel="stylesheet" th:href="@{../static/css/ngPrint.css}" />
        <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" />
        <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css}" />
        <link rel="stylesheet" th:href="@{http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css}" />

        <!-- JS -->
        <script th:src="@{https://code.jquery.com/jquery-3.4.0.min.js}"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
        <script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.min.js}"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
        <script th:src="@{https://cdn.jsdelivr.net/npm/@widgetjs/tree@1/dist/tree.min.js}"></script>
        <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js}"></script>
        <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js}"></script>
        <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-animate.min.js}"></script>
        <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-aria.min.js}"></script>
        <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-messages.min.js}"></script>

        <!-- CONTROLLERS -->
        <script th:src="@{../static/js/controllers/services-controller.js}"></script>

        <!-- INTERCEPTORS -->
        <script th:src="@{../apiGIMB/js/interceptors/token-interceptor.js}"></script>

        <!-- CHARTS -->
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js}"></script>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js}"></script>
        <script th:src="@{https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels}"></script>

        <!-- COLOR SELECTOR -->
        <link rel="stylesheet" media="screen" type="text/css" href="/apiGIMB/css/colorpicker.css" />
        <script type="text/javascript" th:src="@{../apiGIMB/js/components/colorpicker.js}"></script>

        <!-- TRANSLATE -->
        <script type="text/javascript" th:src="@{../apiGIMB/js/translate/translate.js}"></script>

        <!-- Date -->
        <script
            th:src="@{https://cdn.jsdelivr.net/combine/npm/moment@2.24.0,npm/moment@2.24.0/locale/pt.min.js,npm/moment@2.24.0/locale/es.min.js}"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
        <script th:src="@{https://cdn.jsdelivr.net/npm/flatpickr}"></script>
        <script th:src="@{https://cdn.jsdelivr.net/npm/flatpickr@4/dist/l10n/pt.min.js}"></script>
        <script th:src="@{https://cdn.jsdelivr.net/npm/flatpickr@4/dist/l10n/es.min.js}"></script>

        <!-- Angular Material requires Angular.js Libraries -->
        <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js}"></script>
        <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js}"></script>
        <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js}"></script>
        <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js}"></script>

        <!-- Angular Material Library -->
        <script th:src="@{https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js}"></script>

        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.13/fabric.min.js}"></script>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.13/fabric.require.min.js}"></script>

        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/darkroomjs/2.0.1/darkroom.js}"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/darkroomjs/2.0.1/darkroom.css" />


        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/darkroomjs/2.0.1/darkroom.js}"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/darkroomjs/2.0.1/darkroom.css" />

        <script th:src="@{https://browser.sentry-cdn.com/5.6.3/bundle.min.js}"
            integrity="sha384-/Cqa/8kaWn7emdqIBLk3AkFMAHBk0LObErtMhO+hr52CntkaurEnihPmqYj3uJho"
            crossorigin="anonymous"></script>
        <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js}"></script>
        <script th:src="@{https://cdn.ravenjs.com/3.26.4/angular/raven.min.js}" crossorigin="anonymous"></script>
        <script th:src="@{../apiGIMB/js/functions/setSentryInformations.js}"></script>

        <style>
            body {
                line-height: 1.2em !important;
                height: auto !important;
                width: auto;
                margin: 0 !important;
            }

            #divBody {
                padding: 2px !important;
                font-family: calibri, arial, sans-serif !important;
                font-size: 10px;                
            }

            .divTitlePrint {
                margin-bottom: 5px;
                width: 100% !important;
                height: 82px !important;
            }
            
            .divTitlePrint div {
                display: inline-block !important;
            }
            
            .divTitlePrint span {
                text-align: left !important;
            }
            
            .linhas {
                width: 100% !important;
            }
            
            .linhas label {
                min-width: 95px !important;
                display: inline-block !important;
                padding: 2px !important;
                text-align: left !important;
            }

            .divLogo {
                padding: 5px !important;
                width: 77px !important;
                height: 74px !important;
                float: left !important;
            }

            .divInfo {
                height: 74px !important;
                width: 580px !important;
                border-left: 1px solid #000 !important;
                border-right: 1px solid #000 !important;
                padding: 5px !important;
                float: left !important;
            }
            
            .divInfo span {
                width: 100% !important;
                display: inline-block !important;
            }

            .divOsInfo {                
                height: 76px !important;
                width: 75px !important;
                border-right: none !important;
                padding: 2px !important;
                float: left !important;
                text-align: center !important;
            }

            .divOsInfo div {
                display: inline-block !important;
                width: 99% !important;
            }

            .divSubTitle {
                border: 1px solid #000 !important;
                text-align: center !important;
                font-family: calibri, arial, sans-serif !important;
                padding: 5px !important;
                font-size: 18px !important;
                font-weight: bold !important;
                width: 100% !important;
            }
            
            .divSubTitle span {
                display: inline-block !important;
                width: 100% !important;
            }

            .divContent {
                margin-bottom: 5px !important;
            }

            #divVeiculo {
                padding: 5px !important;
            }
            
            #divVeiculo div {
                display: inline-block !important;
            }

            #divImagens {
                /* padding: 5px !important; */
                font-size: 12px;
                display: block !important;
                width: auto !important;
                height: auto !important;
                overflow: visible !important;
                text-align: center;
                left: 0;
                right: 0;
                margin-left: auto;
			    margin-right: auto;
            }
            
            #divImagens div {
                display: inline-block !important;
            }

            /* #divImagens div img {
                width: 50px !important;
            } */

            .headers {
                float: left;
                width: 100%;
                border-bottom: 1px solid #c3c3c3;
                padding: 2px 10px 2px 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                font-weight: bold;
                display: inline-flex;
            }

            .divUsuario {
                width: 100%;
                max-width: 130px;
                float: left;
                padding-top: 7px;
            }

            .image-message-print {
                display: inline-block;
                width: 150px;
                text-align: center;
                padding: 0;
            }

            .divItemList {
                width: 100%;
                float: left;
                padding: 7px 0px 0px 0px !important;
            }

            .divVeiculo {
                width: 100%;
                max-width: 250px;
                float: left;
                padding-top: 7px;
            }

            #divVeiculo div {
                display: inline-block;
            }

            /* @media print { */
                /* body {
                    line-height: 1.2em !important;
                    height: auto !important;
                    width: auto;
                } */
                @page {
                    margin: 5px;
                    margin-left: 10px;
                    left: 0 !important;
                    right: 0 !important;
                    line-height: 1em !important;
                }

            /* } */
        </style>
    </head>

    <body>
        <div id="divBody" class="print">
            <div class="divPrincipal">
                <div
                th:style="@{border-bottom: 2px solid #FFF; margin-bottom: 5px !important; text-align: center !important; font-size: 16px !important; display: inline-block !important; width: 100% !important; margin-top: 0 !important;}">
                    <span> GIMB </span>
                </div>
       
                <div class="divTitlePrint" th:style="@{width:100% !important; display: inline-block !important; margin-bottom: 15px !important; border:2px solid #000 !important; float:left}">
                    <div class="divLogo">
                        <img th:src="${infoCompanyImg}" th:alt="${infoCompanyImg}" width="60" align="top" th:style="@{margin-top: 15px !important}"></img>
                    </div>

                    <div class="divInfo">
                        <span th:text="${infoCompanyName}"></span><br/>
                        <span th:text="'CNPJ: ' + ${infoDocumentCompany} + ' - Inscr.: ' + ${infoRegistrationCompany}"></span><br/>
                        <span th:text="${infoAddressCompany} + ' - CEP: ' + ${infoRZipCodeCompany} + ' - ' + ${infoCityCompany}"></span><br/>
                        <span th:text="'Telefone: ' + ${infoTelefoneCompany} + ' - Site.: ' + ${infoSiteCompany}"></span>
                    </div>

                    <div class="divOsInfo" style="padding-top: 20px !important">
                        <div class="">
                            <span for="" style="font-size:18px !important; color: #FF0000 !important; font-weight: bold !important" th:text="${reportNumber}"></span>
                        </div>
                        <div class="" style="font-size:13px !important; margin-top: 5px;" >
                            <span th:text="${reportDate}"></span>
                        </div>
                    </div>
                </div> 

                <div class="divSubTitle"
                    style="width: 100% !important; display: inline-block !important; float: left">
                    <span>Dados do Serviço</span>
                </div>

                <div class="divContent"
                    style="width: 100% !important; display: inline-block !important; float: left">

                    <div class="linhas" id="divDadosClient"
                        style="padding: 10px; border: 1px solid #000; display: inline-block !important; width: 100% !important;">

                        <div>
                            <span
                                style="width: 100px !important; font-weight: bold; text-align: left; display: inline-block">Cliente: </span><b th:text="${tradingName}"></b>
                        </div>

                        <div>
                            <span
                                style="width: 100px !important; font-weight: bold; text-align: left; display: inline-block">Razão Social:
                            </span> <span th:text="${companyName}"></span>
                        </div>

                        <div>
                            <span
                                style="width: 100px !important; font-weight: bold; text-align: left; display: inline-block">CPF/CNPJ: </span> <span th:text="${document}" >
                            </span>
                        </div>
                        <div>
                            <span
                                style="width: 100px !important; font-weight: bold; text-align: left; display: inline-block">Endereço: </span> <span th:text="${address}" ></span>
                        </div>
                        <div>
                            <span
                                style="width: 100px !important; font-weight: bold; text-align: left; display: inline-block">Telefone: </span> <span th:text="${phone}" ></span> 
                        </div>
                    </div>

                    <div class="linhas" id="divAction"
                        style="padding: 10px; border: 1px solid #000; display: inline-block !important; width: 100% !important;">
                        <div>
                            <span
                                style="width: 100px !important; font-weight: bold; text-align: left; display: inline-block">Atividades: </span><span th:text="${actionDescription}"></span>
                        </div>
                    </div>

                    <div class="linhas" id="divVeiculo"
                        style="border: 1px solid #000; width: 100% !important; display: inline-block !important; height: 48px; margin-bottom: 0px !important">

                        <div class="rows" style="width: 100%; height: 15px;">
                            <label for=""><b>Tipo de Equipamento: </b> <font
                                style="font-weight: normal !important" th:text="${equipmentDescription}" ></font> </label>
                        </div>

                        <div style="max-width: 49%; width: 100%">
                            <label for=""><b>Equipamento: </b> <font
                                style="font-weight: normal !important" th:text="${equipmentBrand} +' / '+ ${equipmentModel}"> </font> </label>
                        </div>

                        <div style="max-width: 49%; width: 100%">
                            <label for=""><b>Identificador: </b> <font
                                style="font-weight: normal !important" th:text="${equipmentPlate} +' / '+ ${equipmentModelYear}" ></font>
                            </label>
                        </div>
                    </div>

                    <div class="linhas" id="divCustomField"
                        style="border: 1px solid #000; width: 100% !important; display: inline-block !important; "
                        th:if="${!customFieldList.isEmpty()}">

                        <div style="margin-left: 5px;" th:each="customField : ${customFieldList}">
                            <span
                                style="min-width: 100px !important; font-weight: bold; text-align: right; display: inline-block; margin-top: 5px !important;" th:text="${customField.customField}+ ':'"></span>
                            <span
                                style="text-align: left; display: inline-block; margin-left: 15px;" th:text="${customField.customFieldValue}" ></span>

                            <br />
                        </div>
                    </div>

                    <br />

                    <div class="linhas">
                        <table border="1" th:style="@{width:100%}" >
                            <thead>
                                <tr>
                                    <th th:style="@{max-width: 50% !important; padding-left: 10px !important; text-align: center !important;}">Descrição</th>
                                    <th th:style="@{padding: 2px !important; text-align: center !important;}">Status</th>
                                    <th th:style="@{padding: 2px !important; text-align: center !important;}">Corrigido</th>
                                    <th th:style="@{padding: 2px !important; text-align: center !important;}">Criticidade / Obs.</th>
                                </tr>                        
                            </thead>
                            <tbody>
                                <tr th:each="img : ${listaImagensPrint}">
                                    <td th:style="@{max-width: 50% !important; padding-left: 10px !important; text-align: left !important;}"><span th:text="${img.message}">  </span></td>
                                    <td th:style="@{width: 5% !important; padding-left: 10px !important; text-align: left !important;}"><span th:if="${img.statusChecklist}"> OK </span></td>
                                    <td th:style="@{width: 5% !important; padding-left: 10px !important; text-align: left !important;}"><span th:unless="${img.statusChecklist}"> NOK </span> </td>
                                    <td th:style="@{max-width: 40% !important; padding-left: 2px !important; text-align: left !important;}">
                                        <input type="button" th:value="${img.critically}" style="font-size: 10px !important; width: 6px; height: 10px;" class="btn btn-danger" th:if="${img.critically} == 'A'" />
                                        <input type="button" th:value="${img.critically}" style="font-size: 10px !important; width: 6px; height: 10px;" class="btn btn-warning" th:if="${img.critically} == 'M'" />
                                        <input type="button" th:value="${img.critically}" style="font-size: 10px !important; width: 6px; height: 10px;" class="btn btn-success" th:if="${img.critically} == 'B'" />
                                        <input type="button" th:value="${img.critically}" style="font-size: 10px !important; width: 6px; height: 10px;" class="btn btn-primary" th:if="${img.critically} == 'I'" />
                                        <span th:text="${img.note}"> </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table> 
                    </div>

                    <br />                    

                    <div th:style="@{width: 100% !important; border: 1px solid #000 !important; margin-top:10px !important;}">
                        <div th:class="@{row}" th:each="img : ${listaImagensPrint}">
                            <div class="col-xs-12">
                                <!-- <div > -->
                                    <!-- Imagem pic -->
                                    <div th:class="@{col-xs-12}" th:style="@{margin-left:5%; width: 90%; }" th:if="${img.picPath} != null">                                    
                                        <div>
                                            <img th:src="${img.picPath}"
                                            th:style="@{margin-left:5%; width: 90% !important; max-width: 90% !important; object-fit: fill; object-position: center center;}"></img>
                                        </div>

                                        <div class="image-message-print" th:style="@{font-size:12px !important; font-weight: bold !important; width: 100% !important}">                                            
                                            <span th:text="${img.message}"></span>
                                        </div>
                                        
                                        <div class="image-message-print"
                                            th:style="@{font-size:9px !important; font-weight: normal !important; width: 100% !important; min-height: 30px;}">
                                            <input type="button" th:value="${img.critically}" style="font-size: 10px !important; width: 6px; height: 10px;" class="btn btn-danger" th:if="${img.critically} == 'A'" />
                                            <input type="button" th:value="${img.critically}" style="font-size: 10px !important; width: 6px; height: 10px;" class="btn btn-warning" th:if="${img.critically} == 'M'" />
                                            <input type="button" th:value="${img.critically}" style="font-size: 10px !important; width: 6px; height: 10px;" class="btn btn-success" th:if="${img.critically} == 'B'" />
                                            <input type="button" th:value="${img.critically}" style="font-size: 10px !important; width: 6px; height: 10px;" class="btn btn-primary" th:if="${img.critically} == 'I'" />                                            
                                            <span th:text="'Obs.: '+ ${img.note}"></span>
                                        </div>
                                    </div>

                                    <!-- Imagem fix -->
                                    <div th:class="@{col-xs-12}" th:style="@{margin-left:5%; width: 90%;}" th:if="${img.fixPicPath} != null">
                                        <div>
                                            <img th:src="${img.fixPicPath}" 
                                            th:style="@{margin-left:5%; width: 90% !important; max-width: 90% !important; height: 50%; max-height: 130px; object-fit: fill; object-position: center center;}"></img>
                                        </div>

                                        <div class="image-message-print" th:style="@{font-size:12px !important; font-weight: bold !important; width: 100% !important}">                                            
                                            <span th:text="${img.message}"></span>
                                        </div>
                                        
                                        <div class="image-message-print"
                                            th:style="@{font-size:9px !important; font-weight: normal !important; width: 100% !important; min-height: 30px;}">
                                            <input type="button" th:value="${img.critically}" style="font-size: 10px !important; width: 6px; height: 10px;" class="btn btn-danger" th:if="${img.critically} == 'A'" />
                                            <input type="button" th:value="${img.critically}" style="font-size: 10px !important; width: 6px; height: 10px;" class="btn btn-warning" th:if="${img.critically} == 'M'" />
                                            <input type="button" th:value="${img.critically}" style="font-size: 10px !important; width: 6px; height: 10px;" class="btn btn-success" th:if="${img.critically} == 'B'" />
                                            <input type="button" th:value="${img.critically}" style="font-size: 10px !important; width: 6px; height: 10px;" class="btn btn-primary" th:if="${img.critically} == 'I'" />
                                            <span th:text="'Obs.: '+ ${img.note}"></span>
                                        </div>
                                    </div>
                                                                        
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>   
                    
                    <br/>

                    <div class="linhas" id="divAssinatura" 
                            th:style="@{border: 1px solid #000; width:100% !important; display: inline-block !important; height:45px; margin-bottom: 0px !important;}">
                        <div th:style="@{width: 50%; text-align: left; margin-top: 10px;}">
                            <label for="" th:style="@{margin-left: 20px}"><b>Usuário</b> <span th:text="${userName}"></span> </label> 
                        </div>
                        <div th:style="@{width: 50%; text-align: right; margin-top: -25px; }">
                            <label for="" style="text-align: left !important;"><b>Cliente</b></label>
                        </div>
                    </div>
                </div>                                    
            </div>                                
        </div>                      
    </body>
</html>

