<div class="form-horizontal jumbotron divLista" ng-init="init()">

    <div style="height: 10%">
        <h3 class="fLeft">{{getLabel('Schedule.p')}}</h3>

        <a href="{{appUrl}}scheduleCreate" class="btn btn-default fLeft" style="width: 100px">
            <i class="fa fa-plus" aria-hidden="true"></i>
            {{getLabel('New')}}
        </a>

        <div style="margin-left: 9.3%">
            <div class="formGroup row">
                <label class="control-label col-xs-4 labelFiltro" for="dtInicio">{{
                    getLabel("InitialDate")
                    }}</label>
                <input type="text" id="dtInicio" name="dtInicio" ng-model="search.dtInicial"
                       class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px;" ng-change="reload()" />

                <label class="control-label col-xs-4 labelFiltro" for="dtFinal">{{
                    getLabel("FinalDate")
                    }}</label>
                <input type="text" id="dtFinal" name="dtFinal" ng-model="search.dtFinal"
                       class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px" ng-change="reload()" />
            </div>
        </div>

        <div class="radio-filters" style="margin-left: 10%">
            <label class="radio-inline col-xs-1">
                <input class="radio" type="radio" ng-model="search.status" name="optActive" value="active"
                       ng-change="reload()" id="optActive" checked>{{getLabel('Active.p')}}
            </label>
            <label class="radio-inline col-xs-1">
                <input class="radio" type="radio" ng-model="search.status" name="optActive" value="inactive"
                       ng-change="reload()" id="optInactive">{{getLabel('Inactive.p')}}
            </label>
            <label class="radio-inline col-xs-1">
                <input class="radio" type="radio" ng-model="search.status" name="optActive" value="all"
                       ng-change="reload()" id="optAll">{{getLabel('All')}}
            </label>
        </div>

        <div class="headers" style="margin-bottom: 3px">
            <div class="col-xs-1">{{getLabel('Date')}}</div>
            <div class="col-xs-2">{{getLabel('Client')}}</div>
            <div class="col-xs-2">{{getLabel('Actions.p')}}</div>
            <div class="col-xs-2">{{getLabel('Vehicle')}}</div>
            <div class="col-xs-2">{{getLabel('Project')}}</div>
            <div class="col-xs-2">{{getLabel('Observation')}}</div>
            <div class="col-xs-2"></div>
        </div>
    </div>

    <div class="containerList" style="height: 70%">
        <div class=" rowsList" ng-repeat="schedule in allSchedules" ng-class-odd="'odd'" ng-class-even="'even'"
             style="padding-right: 5px;">

            <div class="col-xs-1 divItemList">{{schedule.date}}</div>
            <div class="col-xs-2 divItemList">{{schedule.companyName}}</div>
            <div class="col-xs-2 divItemList">{{schedule.actionDescription}}</div>
            <div class="col-xs-2 divItemList">{{schedule.vehicleDescription}}</div>
            <div class="col-xs-2 divItemList">{{schedule.projectName}}</div>
            <div class="col-xs-2 divItemList">{{schedule.note}}</div>
            <div class="col-xs-2" style="padding-right: 5px;" align="right">
                <a href="{{appUrl}}scheduleItemUpdate/{{schedule.agendaItemId}}"
                   class="btn btn-primary formGroupInput">{{getLabel('Edit')}}</a>

                <input type="button" name="btn{{schedule.status}}" class="btn btn-primary formGroupInput"
                       ng-value="trataAtivoInativo(schedule)" ng-class="retornaClasse(schedule)" ng-click="mudaSituacao(schedule)" />
            </div>
        </div>
    </div>
</div>