<form class="form-horizontal" id="frmAgenda" name="frmAgenda" ng-init="initUpdate()">
    <div class="form-horizontal jumbotron divLista">
        <h4>{{getLabel('ScheduleData')}}</h4>
        <hr>

        <div class="formGroup row">
            <div class="col-xs-2" align="right">
                <label class="control-label col-xs-4 labelFiltro" for="dtDate">{{
                    getLabel("Date")
                    }}</label>
            </div>
            <div class="col-sm-8">
                <input type="text" id="dtDate" name="dtDate" ng-model="agendaItem.agenda.date"
                   class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px;"/>
            </div>                        
        </div>

        <div class="formGroup row">
            <div class="col-xs-2" align="right">
                <label class="uiLabel" for="company">{{getLabel('Client')}}</label>
            </div>
            <div class="col-sm-8">
                <select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="company" ng-model="agendaItem.clientId">
                    <option  ng-repeat="client in clients" ng-value="client.clientId">{{ client.companyName }}</option>
                </select>
            </div>
        </div>

        <div class="formGroup row">
            <div class="col-xs-2" align="right">
                <label class="uiLabel" for="action">{{getLabel('Actions.p')}}</label>
            </div>
            <div class="col-sm-8">
                <select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="action" ng-model="agendaItem.actionId">
                    <option  ng-repeat="action in actions" ng-value="action.actionId">{{ action.description }}</option>
                </select>
            </div>
        </div>

        <div class="formGroup row">
            <div class="col-xs-2" align="right">
                <label class="uiLabel" for="vehicle">{{getLabel('Vehicle')}}</label>
            </div>
            <div class="col-sm-8">
                <select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="vehicle" ng-model="agendaItem.vehicleId">
                    <option  ng-repeat="vehicle in vehicles" ng-value="vehicle.vehicleId">{{ vehicle.brand + " - " + vehicle.plate }}</option>
                </select>
            </div>
        </div>

        <div class="formGroup row">
            <div class="col-xs-2" align="right">
                <label class="uiLabel" for="project">{{getLabel('Project')}}</label>
            </div>
            <div class="col-sm-8">
                <select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="project" ng-model="agendaItem.projectId">
                    <option  ng-repeat="project in projects" ng-value="project.projectId">{{ project.projectName }}</option>
                </select>
            </div>
        </div>

        <div class="formGroup row">
            <div class="col-xs-2" align="right">
                <label class="uiLabel" for="note">{{getLabel('Observation')}}</label>
            </div>
            <div class="col-sm-6">
                <input type="text" class="formGroupInput form-control" id="note" ng-model="agendaItem.note" style="max-width: 420px" />
            </div>
        </div>

        <div class="formGroup row">
            <div class="col-xs-2" align="right">
                <label class="uiLabel" for="active">{{getLabel('Active')}}</label>
            </div>
            <div class="col-sm-8">
                <select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="active" ng-model="agendaItem.status">
                    <option ng-value="1">{{getLabel('Yes')}}</option>
                    <option ng-value="0">{{getLabel('No')}}</option>
                </select>
            </div>
        </div>

        <div class="formGroup row">
            <div class="col-xs-offset-1 col-sm-6" style="margin-left: 0 !important">
                <a class="btn btn-primary" href="{{appUrl}}schedule"> <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    {{getLabel('ReturnToList')}}
                </a>

                <button class="btn btn-primary" ng-click="saveAgendaItem(agenda)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{getLabel('Save')}}
                </button>
            </div>
        </div>
    </div>
</form>