<form class="form-horizontal" id="frmAgenda" name="frmAgenda" ng-init="initCreate()">
    <div class="form-horizontal jumbotron divLista">
        <h4>{{getLabel('ScheduleData')}}</h4>
        <hr>

        <div class="formGroup row">
            <div class="col-xs-2" align="right">
                <label class="control-label labelFiltro" for="dtDate">{{
                    getLabel("Date")
                    }}</label>
            </div>
            <div class="col-sm-8">
                <input type="text" id="dtDate" name="dtDate" ng-model="form.date"
                   class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px;"/>
            </div>                        
        </div>

        <div class="formGroup row">
            <div class="col-xs-2" align="right">
                <label class="uiLabel" for="company">{{getLabel('Client')}}</label>
            </div>
            <div class="col-sm-8">
                <select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="client" ng-model="item.clientId">
                    <option  ng-repeat="client in clients" ng-value="client.clientId">{{ client.companyName }}</option>
                </select>
            </div>
        </div>

        <div class="formGroup row">
            <div class="col-xs-2" align="right">
                <label class="uiLabel" for="action">{{getLabel('Actions.p')}}</label>
            </div>
            <div class="col-sm-8">
                <select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="action" ng-model="item.actionId">
                    <option  ng-repeat="action in actions" ng-value="action.actionId">{{ action.description }}</option>
                </select>
            </div>
        </div>

        <div class="formGroup row">
            <div class="col-xs-2" align="right">
                <label class="uiLabel" for="vehicle">{{getLabel('Vehicle')}}</label>
            </div>
            <div class="col-sm-8">
                <select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="vehicle" ng-model="item.vehicleId">
                    <option  ng-repeat="vehicle in vehicles" ng-value="vehicle.vehicleId">{{ vehicle.brand + " - " + vehicle.plate }}</option>
                </select>
            </div>
        </div>

        <div class="formGroup row">
            <div class="col-xs-2" align="right">
                <label class="uiLabel" for="project">{{getLabel('Project')}}</label>
            </div>
            <div class="col-sm-8">
                <select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="project" ng-model="item.projectId">
                    <option  ng-repeat="project in projects" ng-value="project.projectId">{{ project.projectName }}</option>
                </select>
            </div>
        </div>

        <div class="formGroup row">
            <div class="col-xs-2" align="right">
                <label class="uiLabel" for="note">{{getLabel('Observation')}}</label>
            </div>
            <div class="col-sm-6">
                <input type="text" class="formGroupInput form-control" id="note" ng-model="item.note" style="max-width: 420px" />
            </div>
        </div>

        <div class="formGroup row">
            <div class="col-xs-2" align="right">
                <label class="uiLabel" for="active">{{getLabel('Active')}}</label>
            </div>
            <div class="col-sm-8">
                <select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="active" ng-model="item.status">
                    <option ng-value="1">{{getLabel('Yes')}}</option>
                    <option ng-value="0">{{getLabel('No')}}</option>
                </select>
            </div>
        </div>

        <div id="pnlFields" class="panel panel-default">
            <div class="panel-heading">
                <div class="col-xs-2">{{getLabel('Company')}}</div>
                <div class="col-xs-2">{{getLabel('Actions.p')}}</div>
                <div class="col-xs-2">{{getLabel('Vehicle')}}</div>
                <div class="col-xs-2">{{getLabel('Project')}}</div>
                <div class="col-xs-2">{{getLabel('Observation')}}</div>
                <div class="text-right" style="margin-top: -5px;">
                    <button class="btn-sm btn-success" ng-click="addItem()" tabindex="-1">+</button>
                </div>
            </div>

            <div class="panel-body">
                <div class=" rowsList" ng-repeat="schedule in form.agendaItems" ng-class-odd="'odd'" ng-class-even="'even'"
                     style="padding-right: 5px;">

                    <div class="col-xs-2 divItemList">{{ schedule.clienteName }}</div>
                    <div class="col-xs-2 divItemList">{{ schedule.actionName }}</div>
                    <div class="col-xs-2 divItemList">{{ schedule.vehicleName }}</div>
                    <div class="col-xs-2 divItemList">{{ schedule.projectName }}</div>
                    <div class="col-xs-2 divItemList">{{ schedule.note}}</div>
                    <div class="col-xs-2" style="padding-right: 5px;" align="right">
                        <input value="-" type="button" class="btn btn-danger formGroupInput" ng-click="delete(schedule)">
                    </div>
                </div>
            </div>
        </div>

        <div class="formGroup row">
            <div class="col-xs-offset-1 col-sm-6" style="margin-left: 0 !important">
                <a class="btn btn-primary" href="{{appUrl}}schedule"> <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    {{getLabel('ReturnToList')}}
                </a>

                <button class="btn btn-primary" ng-click="saveAgenda(agenda)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{getLabel('Save')}}
                </button>
            </div>
        </div>
    </div>
</form>