<div class="form-horizontal jumbotron divLista" style="height: auto !important">
	<form>
		<fieldset id="fieldset">
			<div class="form-group col-md-12">
				<h4 class="col-md-4">{{getLabel('ExpenseData')}}</h4>

				<div class="col-md-8" style="text-align: right;" ng-hide="expense.debitNote.sequence == null">
					<label class="control-label" style="font-weight: bold;">{{getLabel('Sequence')}}: &nbsp;&nbsp; </label>
					<label class="control-label"
						style="font-weight: bold; font-size: x-large; color: red;">{{expense.debitNote.sequence}}</label>
				</div>
				<div class="col-md-8" style="text-align: right;" ng-hide="expense.debitNote.sequence == null">
					<label class="control-label" style="font-weight: bold;">{{getLabel('Series')}}: &nbsp;&nbsp; </label>
					<label class="control-label"
						   style="font-weight: bold; font-size: x-large; color: red;">{{expense.debitNote.series}}</label>

						   
				</div>
			</div>

			<div class="form-group">
				<label for="selClient" class="col-xs-2 control-label uiLabel">{{getLabel('Clients')}}</label>
				<div class="col-sm-8">
					<select id="selClient" class="formGroupInput form-control" ng-disabled="expense.expenseId != null"
						style="text-transform: uppercase;" ng-model="expense.client"
						ng-options="client as client.tradingName for client in clients track by client.clientId"></select>
				</div>
			</div>

			<div class="form-group">
				<label for="txtStartDate" class="col-sm-2 control-label uiLabel">{{getLabel('Period')}}</label>
				<div class="col-md-2">
					<input id="txtStartDate" type="text" class="formGroupInput form-control"
						ng-disabled="expense.expenseId != null && changeExpenseDate == 0" ng-model="expense.startDate">
				</div>
				<div class="col-md-2">
					<input id="txtEndDate" type="text" class="formGroupInput form-control" 
					ng-disabled="expense.expenseId != null && changeExpenseDate == 0" ng-model="expense.endDate">
				</div>
			</div>

			<div class="form-group">
				<label for="txtExpenseNote" class="col-sm-2 control-label uiLabel">{{getLabel('Observation')}}</label>
				<div class="col-sm-8">
					<textarea id="txtExpenseNote" rows="5" cols="100" class="form-control"
						ng-model="expense.expenseNote"> </textarea>
				</div>
			</div>

			<div id="pnlExpenseItems" class="panel panel-default" ng-hide="expense.expenseId == null">
				<div class="panel-body">
					<div class="form-group">
						<span class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#modalImportSettlements"
							ng-click="closeImportSettlements()">
							<i class="fa fa-download" aria-hidden="true"></i>
							{{getLabel('ImportSettlements')}}
						</span>
					</div>

					<div class="form-group">
						<label for="txtItemDate" class="col-sm-1 uiLabel">{{getLabel('Date')}}</label>
						<div class="col-md-2">
							<input id="txtItemDate" type="text" class="formGroupInput form-control"
								style="padding: 0px !important; text-align: center;" ng-model="currentExpenseItem.date"
								ng-blur="validateDate($event)">
						</div>

						<label for="selItemEvent" class="col-sm-1 uiLabel">{{getLabel('Occurrences')}}</label>
						<div class="col-md-3">
							<select id="selItemEvent" class="formGroupInput form-control" style="text-transform: uppercase;"
								ng-model="currentExpenseItem.event"
								ng-options="event as event.description for event in events track by event.eventId"></select>
						</div>

						<label for="txtItemQtd" class="col-sm-1 uiLabel">{{getLabel('Qty')}}</label>
						<div class="col-md-1">
							<input id="txtItemQtd" type="number" class="formGroupInput form-control"
								style="padding: 0px !important; text-align: center;" ng-model="currentExpenseItem.quantity"
								ng-keyup="validateNumericInput($event)">
						</div>

						<label for="txtItemUntValue" class="col-sm-1 uiLabel"
							style="padding: 0px !important;">{{getLabel('UnitValue')}}</label>
						<div class="col-md-2">
							<input id="txtItemUntValue" name="txtItemUntValue" type="number" class="formGroupInput form-control"
								style="padding: 0px !important; text-align: center;" ng-model="currentExpenseItem.unitValue"
								ng-keyup="validateNumericInput($event)">
						</div>
					</div>

					<div class="form-group">
						<label for="txtItemNote" class="col-sm-1 uiLabel">{{getLabel('Observation')}}</label>
						<div class="col-md-11">
							<input id="txtItemNote" type="text" class="formGroupInput form-control"
								style="padding: 0px !important; text-align: left;" ng-model="currentExpenseItem.note">
						</div>
					</div>

					<div class="form-group">
						<button class="btn btn-secondary" style="width: 17%; height: 30px;" ng-click="addExpenseItem()">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{getLabel('Insert')}}
						</button>
					</div>

					<div class="table" id="divTable" style="overflow:scroll; width:100%;">
						<div class="headers">
							<div style="width: 15%;  max-width: 15%;">
								{{getLabel('Date')}}
							</div>
							<div style="width: 20%; max-width: 20%;">
								{{getLabel('Occurrences')}}
							</div>
							<div style="width: 15%; max-width: 15%;">
								{{getLabel('Qty')}}
							</div>
							<div style="width: 15%; max-width: 15%;">
								{{getLabel('UnitValue')}}
							</div>
							<div style="width: 15%; max-width: 15%;">
								{{getLabel('TotalAmount')}}
							</div>
							<div style="width: 20%; max-width: 20%;"> </div>
						</div>

						<div id="divTableData"
							style="max-height:400px; height:100%; overflow:scroll; width:100%; overflow-x:hidden; padding: 0px !important">
							<div id="divRowData" class="rowsList" ng-repeat="item in expense.items" ng-class-odd="'odd'"
								ng-class-even="'even'">
								<div style="width: 15%; max-width: 15%;">
									{{item.date}}
								</div>
								<div style="width: 20%; max-width: 20%;">
									{{item.event.description}}
								</div>
								<div style="width: 15%; max-width: 15%;">
									{{item.quantityFormatted}}
								</div>
								<div style="width: 15%; max-width: 15%;">
									{{item.unitValueFormatted}}
								</div>
								<div style="width: 15%; max-width: 15%;">
									{{item.totalValueFormatted}}
								</div>
								<div style="width: 20%; max-width: 20%;" ng-hide="expense.canceled">
									<div class="divDetails" data-toggle="tooltip" data-placement="top"
										title="{{getLabel('ViewSettlement')}}" style="margin-right: 8px;">
										<a tabindex="-1" style="color:inherit; text-decoration: none;" target="_blank"
											href="{{appUrl}}settlementDetail/{{item.settlement.settlementId}}">
											<span style="cursor: pointer;">
												<i class="fa fa-search" ng-hide="item.settlement == null" ng-click=""></i>
											</span>
										</a>
									</div>
									<div class="divDetails" data-toggle="tooltip" data-placement="top"
										title="{{getLabel('DuplicateExpense')}}" style="margin-right: 8px;">
										<span ng-click="duplicateExpenseItem(item)" style="cursor: pointer;">
											<i class="fa fa-clone"></i>
										</span>
									</div>
									<div class="divDetails" data-toggle="tooltip" data-placement="top" title="{{getLabel('EditExpense')}}"
										style="margin-right: 8px;">
										<span ng-click="editExpenseItem(item)" style="cursor: pointer;">
											<i class="fa fa-pencil"></i>
										</span>
									</div>
									<div class="divDetails" data-toggle="tooltip" data-placement="top"
										title="{{getLabel('RemoveExpense')}}" style="margin-right: 8px; float: right !important;">
										<span data-toggle="modal" data-target="#modalConfirmDeleteItem" ng-click="editExpenseItem(item)"
											style="cursor: pointer;">
											<i class="fa fa-trash"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label"
						style="text-align: left; margin-top: -30px !important; margin-left: 25px !important; font-weight: bold;">{{getLabel('TotalAmount')}}:
						{{expense.totalValueString}}</label>
				</div>
			</div>

			<div class="form-group" ng-hide="expense.canceled">
				<div class="col-sm-12">
					<div class="col-sm-4" style="margin-left: 0 !important; padding: 0">
						<a class="btn btn-primary" href="{{appUrl}}expense">
							<i class="fa fa-arrow-left" aria-hidden="true"></i> {{getLabel('ReturnToList')}}
						</a>
						<button class="btn btn-primary" data-toggle="modal" data-target="#modalConfirmSave">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{getLabel('Save')}}
						</button>
					</div>

					<div id="divButtonsContainer" class="col-sm-8 text-right"
						ng-hide="expense.items == null || expense.items.length == 0" style="padding: 0">

						<a class="btn btn-secondary btn-sm" style="width: 130px;"
							href="{{appUrl}}exportPicFromExpense/{{expense.hash}}" target="_black" download>
							{{getLabel('ExportPhotos')}}
						</a>

					<!--	 <span class="btn btn-secondary btn-sm" style="width: 140px;" ng-click="printDetail()">
							{{getLabel('GenerateStatement')}}
						</span> 
						<span id="printDetail" ng-print print-element-id="relExpenseDetail" ng-hide="true"> </span>
-->
						
<span class="btn btn-secondary btn-sm" style="width: 130px;" data-toggle="modal"
							data-target="#modalEditTextStatementExpense">
							{{getLabel('GenerateStatement')}}
						</span>
<!-- <span class="btn btn-secondary btn-sm" style="width: 140px;" data-toggle="modal"
							data-target="#modalEditTextStatementExpense">
							{{getLabel('GenerateStatement')}}
						</span>
 -->
						<span class="btn btn-secondary btn-sm" style="width: 130px;" data-toggle="modal"
							data-target="#optionsForGeneratingDebitMemos">
							{{getLabel('GenerateDebitNote')}}
						</span>
						<span id="printDebitNote" ng-print print-element-id="relExpenseDebitNote" ng-hide="true"> </span>

						<span class="btn btn-secondary btn-sm" style="width: 130px;" data-toggle="modal"
							data-target="#modalConfirmFinish">
							{{getLabel('Finish')}}
						</span>

						<span class="btn btn-danger btn-sm" style="width: 120px;" data-toggle="modal"
							data-target="#modalConfirmCancel">
							{{getLabel('CancelExpense')}}
						</span>
					</div>

					<div id="divButtonDeleteContainer" class="col-sm-8 text-right"
						ng-hide="expense.expenseId == null || expense.items.length > 0" ng-click="">
						<button class="btn btn-danger" style="width: 140px;" data-toggle="modal" data-target="#modalConfirmDelete">
							<i class="fa fa-trash" aria-hidden="true"> </i> {{getLabel('Delete')}}
						</button>
					</div>
				</div>
			</div>
		</fieldset>

		<div class="form-group" ng-hide="!expense.canceled">
			<div class="col-sm-12">
				<a class="btn btn-primary" href="{{appUrl}}expense">
					<i class="fa fa-arrow-left" aria-hidden="true"></i> {{getLabel('ReturnToList')}}
				</a>
			</div>
		</div>

		<div ng-include="reportList.relExpenseDetail"></div>
		<div ng-include="reportList.relExpenseDebitNote"></div>

	</form>
</div>

<!-- Modal Confirm Save -->
<div id="modalConfirmSave" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{getLabel('Confirmation')}}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<p>{{getMessage('ConfirmSaveExpense')}}</p>
			</div>

			<div class="modal-footer">
				<button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
					{{getLabel('Cancel')}}
				</button>

				<button class="btn btn-primary" data-dismiss="modal" ng-click="saveExpense(expense)">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{getLabel('Save')}}
				</button>
			</div>
		</div>
	</div>
</div>


<div id="modalEditTextStatementExpense" class="modal fade" tabindex="-1" role="dialog">

<div class="modal-dialog" role="document">
	<div class="modal-content">

		<div class="modal-header">
			<h3 class="modal-title">{{getMessage('expenseStatementInformation')}}</h3>
				<div class="expense-id">
					<span class="control-label"
						style="font-weight: bold; margin-right: 5px; margin-top: 15px">{{getLabel('Sequence')}}:
						&nbsp;&nbsp; </span>
					<span class="control-label"
						style="font-weight: bold; font-size: x-large; color: red;">{{expense.debitNote.sequence}}</span>
				<br />
				<div class="expense-id">
					<span class="control-label"
						  style="font-weight: bold; margin-right: 5px; margin-top: 15px">{{getLabel('Series')}}:
						&nbsp;&nbsp; </span>
					<span class="control-label"
						  style="font-weight: bold; font-size: x-large; color: red;">{{expense.debitNote.series}}</span>
				</div>
			</div>
		</div>

		<div class="modal-body">
			<div class="row">
				<div class="trix-edt-text">
					<trix-editor ng-model="expense.demonstrativeText" angular-trix class="trix-content"></trix-editor>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<div class="modal-botoes">
				<span class="btn btn-primary btn-sm" style="width: 140px;" ng-click="printDetail()">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{getLabel('Print')}}
				</span>
				<span id="printDetail" ng-print print-element-id="relExpenseDetail" ng-hide="true"> </span>
			</div>

			</div>
		</div>
	</div>
</div>




<!-- confirm finish -->
<div id="modalConfirmFinish" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{getLabel('Finish')}}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<p>{{getMessage('ConfirmFinish')}}</p>
			</div>

			<div class="modal-footer">
				<button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
					{{getLabel('Cancel')}}
				</button>

				<button class="btn btn-primary" data-dismiss="modal" ng-click="finishExpense(expense)">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{getLabel('Confirm')}}
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Confirm Save -->

<!-- Modal Confirm Delete -->
<div id="modalConfirmDelete" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{getLabel('Confirmation')}}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<p>{{getMessage('ConfirmExcludeExpense')}}</p>
			</div>

			<div class="modal-footer">
				<button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
					{{getLabel('Cancel')}}
				</button>

				<button class="btn btn-danger" data-dismiss="modal" ng-click="deleteExpense(expense)">
					<i class="fa fa-trash" aria-hidden="true"></i> {{getLabel('Delete')}}
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Confirm Delete -->

<!-- Modal Confirm Cancel -->
<div id="modalConfirmCancel" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{getLabel('Confirmation')}}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<p>{{getMessage('CancelExpense')}}</p>
				<p>{{getMessage('NoInformationCanBeEdited')}}</p>
			</div>

			<div class="modal-footer">
				<button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
					{{getLabel('Cancel')}}
				</button>

				<button class="btn btn-danger" data-dismiss="modal" ng-click="cancelExpense(expense)">
					<i class="fa fa-times" aria-hidden="true"></i> {{getLabel('CancelExpense')}}
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Confirm Cancel -->

<!-- Modal Confirm Delete Item -->
<div id="modalConfirmDeleteItem" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{getLabel('Confirmation')}}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<p>
					{{replaceMsg(getLabel('RemoveItemFromTheDay'), {"description":currentExpenseItem.event.description, "date":currentExpenseItem.date})}}
				</p>
			</div>

			<div class="modal-footer">
				<button class="btn btn-secondary" data-dismiss="modal" aria-label="Close" ng-click="cleanCurrentItem()">
					{{getLabel('Cancel')}}
				</button>
				<button class="btn btn-danger" data-dismiss="modal" ng-click="deleteExpenseItem(currentExpenseItem)">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{getLabel('Remove')}}
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Confirm Delete Item -->

<!-- Modal Import Settlements -->
<div id="modalImportSettlements" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{getLabel('ImportSettlmentData')}}</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -30px;"
					ng-click="closeImportSettlements()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<form role="form">
				<div class="formGroup row">
		            <label class="control-label labelFiltro col-xs-6" for="users">{{
		              getLabel('User')
		            }}</label>
		            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="userTriangle"
		              style="padding-left: 0px;padding-top: 10px;" ng-click="showUsersSelect()"></span>
		          </div>
		          <div class="formGroup row" ng-show="showUsers">
		            <select class="form-control text-box" style="max-width: 220px" id="users" ng-model="usersSelected"
		              ng-options="user.name for user in users" multiple bs-duallistbox>
		            </select>
		         </div>
				
				<div class="formGroup row">
		            <label class="control-label labelFiltro col-xs-6" for="events">{{
		              getLabel('Occurrences')
		            }}</label>
		            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="eventTriangle"
		              style="padding-left: 0px;padding-top: 10px;" ng-click="showEventsSelect()"></span>
		          </div>
		          <div class="formGroup row" ng-show="showEvents">
		            <select class="form-control text-box" style="max-width: 220px" id="events" ng-model="eventsSelected"
		              ng-options="event.description for event in events" multiple bs-duallistbox>
		            </select>
		         </div>
					 
					<div class="form-group col-sm-12">
						
						<button class="btn btn-secondary formGroupInput" ng-click="searchSettlements()" ng-if="!loadingSettlements" >
							{{getLabel('Search')}}
						</button>
						
						<img src="apiGIMB/images/loading_gray.gif" ng-if="loadingSettlements" style="width: 50px; height: 50px" />
						
					</div>


					<div ng-hide="settlements.length > 0" style="text-align: center;">
						{{getLabel('NoSettlementRecords')}}
					</div>

					<div class="table" ng-hide="settlements.length == 0">
						<div style="width:100%; overflow: hidden;">
							<div class="tableDataHeader">
								<div class="" style="width: 25% !important; display: inline-block;">
									{{getLabel('User')}}
								</div>
								<div class="" style="width: 15% !important; display: inline-block;">
									{{getLabel('Date')}}
								</div>
								<div class="" style="width: 15% !important; display: inline-block;">
									{{getLabel('Amount')}}
								</div>
								<div class="" style="padding-top: 7px; display: inline-block;">
									<input type="checkbox" id="chkSelectAllSettlements" name="chkSelectAllSettlements"
										ng-click="selectAllSettlement()" />
								</div>
							</div>
							<!-- end div header -->
							<!-- div data -->
						</div>

						<div style="max-height:480px; height:100%; overflow:scroll; width:100%; overflow-x:hidden">
							<div id="divTableData" class="tableDataRows" ng-repeat="settlement in settlements" ng-class-odd="'odd'"
								ng-class-even="'even'" style="width: 100% !important;">
								<div class="" style="width: 25% !important; display: inline-block;">
									{{settlement.user.user}}
								</div>
								<div class="" style="width: 15% !important; display: inline-block;">
									{{settlement.date}}
								</div>
								<div class="" style="width: 15% !important; display: inline-block;">
									{{settlement.amountFormatted}}
								</div>
								<div class="" style="padding-top: 2px; display: inline-block;">
									<input class="" type="checkbox" ng-model="settlement.checked" ng-click="calcTotalValueSettlement()" />
								</div>
							</div>
						</div>
					</div>

					<div class="form-group" ng-hide="settlements.length == 0" style="font-weight:  bold;">
						{{getLabel('TotalValueOfSettlements')}}: {{totalValueSettlements}}
					</div>
				</form>
			</div>

			<div class="modal-footer">
				<button class="btn btn-secondary" data-dismiss="modal" aria-label="Close" ng-click="closeImportSettlements()">
					{{getLabel('Cancel')}}
				</button>

				<button class="btn btn-primary" data-toggle="modal" data-target="#modalConfirmImportSettlements"
					ng-hide="settlements.length == 0">
					<i class="fa fa-download" aria-hidden="true"></i> {{getLabel('Import')}}
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Import Settlements -->

<!-- Modal Confirm Import Settlements -->
<div id="modalConfirmImportSettlements" class="modal fade" tabindex="-1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{getLabel('Confirmation')}}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<p>{{getMessage('ImportAllSelectedSettlements')}}</p>
			</div>

			<div class="modal-footer">
				<button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
					{{getLabel('Cancel')}}
				</button>

				<button class="btn btn-primary" data-dismiss="modal" ng-click="importSettlement()">
					<i class="fa fa-download" aria-hidden="true"></i> {{getLabel('Import')}}
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Confirm Import Settlements -->

<!-- Modal to choice generate note -->
<div id="optionsForGeneratingDebitMemos" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<center>
					<h3 class="modal-title">{{getLabel('OptionsForGeneratingDebitMemos')}}</h3>
				</center>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
					<span aria-hidden="true">&times;</span>
				</button>
				
				<div class="modal-body" style="margin-top: 2%">
					<button class="btn btn-primary" data-dismiss="modal" data-toggle="modal" ng-click="generateTheNoteForThirdParties()">
						{{getLabel('GenerateNoteForThirdParties')}}
					</button>

					<button class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#modalExtraInformationDebitNote" style="float: right">
						{{getLabel('GenerateCustomerNote')}}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- modal para gerar a nota de débito para terceiros -->
<div id="informationforgeneratingdebitmemoforthirdparties" class="modal fade" tabindex="-1" role="dialog" style="top: -5%">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<center>
					<h3 class="modal-title">{{getLabel('InformationForGeneratingDebitMemoForThirdParties')}}</h3>
				</center>

				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
					<span aria-hidden="true">&times;</span>
				</button>
				
				<div class="modal-body" style="margin-top: 2%">
					<div class="radio-filters row" style="margin-left: 10%">
						<label class="radio-inline col-xs-4">
							<input class="radio" type="radio" ng-model="filIlnFieldsOrSelectFromTheList" value="selectFromList">
								<span style="margin: 1%"> {{getLabel('ChooseFromTheCustomerList')}} <span>	
						</label>
						<label class="radio-inline col-xs-5">
							<input class="radio" type="radio" ng-model="filIlnFieldsOrSelectFromTheList" value="fillInFields">
							<span style="margin: 1%">{{getLabel('FillInTheRecipientData')}} </span>
						</label>
					</div>

					<br/>

					<div ng-show="filIlnFieldsOrSelectFromTheList == 'selectFromList'" style="margin-top: 2%">
						<label for="selClient" class="col-xs-2 control-label uiLabel">{{getLabel('Clients')}}</label>
						<div class="col-sm-7">
							<select id="selClient" class="formGroupInput form-control"
								style="text-transform: uppercase;" ng-model="clientForDebitNote"
								ng-options="client as client.tradingName for client in clients track by client.clientId"></select>
						</div>
					</div>

					<div ng-show="filIlnFieldsOrSelectFromTheList == 'fillInFields'" style="margin-top: 2%">
						<div class="formGroup row">
							<div class="col-xs-2" align="right">
								<label class="uiLabel" for="nomeFantasia">{{getLabel('BusinessName')}}</label>
							</div>

							<div class="col-sm-8">
								<input name="nomeFantasia" class="formGroupInput form-control text-box single-line" id="nomeFantasia"
									style="float: left; max-width: 420px" type="text" value="" maxlength="60" ng-model="clientForDebitNote.companyName"
									required />
							</div>
						</div>

						<div class="formGroup row">
							<div class="col-xs-2" align="right">
								<label class="uiLabel" for="registration">{{getLabel('RegID')}}</label>
							</div>
							<div class="col-sm-8">
								<input name="registration" class="formGroupInput form-control text-box single-line" id="registration"
									value="" style="float: left; max-width: 220px" type="text" maxlength="45" ng-model="clientForDebitNote.registration"
									required>
							</div>
						</div>

						<div class="formGroup row">
							<div class="col-xs-2" align="right">
								<label class="uiLabel" for="documento">{{getLabel('ITINEIN')}}</label>
							</div>
							<div class="col-sm-8">
								<input name="documento" class="formGroupInput form-control text-box single-line" id="documento" value=""
									style="float: left; max-width: 220px" type="text" maxlength="45" ng-model="clientForDebitNote.document" required>
							</div>
						</div>

						<div class="formGroup row">
							<div class="col-xs-2" align="right">
								<label class="uiLabel">{{getLabel('Address')}}</label>
							</div>
							<div class="col-sm-8">
								<input name="endereco" class="formGroupInput form-control text-box single-line" id="endereco"
									style="float: left; max-width: 420px" type="text" ng-model="clientForDebitNote.address"
									placeholder={{getMessage('addresshint')}} />
							</div>
						</div>

						<div class="formGroup row">
							<div class="col-xs-2" align="right">
								<label class="uiLabel">{{getLabel('City')}}</label>
							</div>
							<div class="col-sm-8">
								<input name="city" class="formGroupInput form-control text-box single-line" id="city"
									style="float: left; max-width: 420px" type="text" ng-model="clientForDebitNote.city" />
							</div>
						</div>
					</div>

					<button class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#modalExtraInformationDebitNote" style="float: right" style="margin-top: 2%">
						{{getLabel('GenerateDebitNote')}}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Debit Note Information -->
<div id="modalExtraInformationDebitNote" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{getLabel('DebitNoteInformation')}}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">

				<div class="row">

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<div class="row form-group">
							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
								{{getLabel('IssuanceDate')}}
							</div>
							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
								<input class="formGroupInput form-control" type="text" name="dtIssuance" id="dtIssuance"
									ng-model="debitNote.issuanceDate">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
								{{getLabel('DueDate')}}
							</div>
							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
								<input class="formGroupInput form-control" type="text" name="dtDue" id="dtDue"
									ng-model="debitNote.dueDate">
							</div>
						</div>

						<div class="row form-group" ng-hide="expense.debitNote != null">
							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
								{{getLabel('Series')}}
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<select class="form-control text-box single-line" style="max-width: 220px" id="series"
										ng-model="debitNote.series">
									<option ng-repeat="serie in seriesKeys" ng-value="serie">{{serie}}
									</option>
									<option value="new" >{{getLabel('New')}}</option>
								</select>
							</div>
							<div ng-hide="debitNote.series != 'new'" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<input class="formGroupInput form-control" type="text" name="typedSeries" id="typedSeries"
									   ng-model="debitNote.typedSeries" maxlength="10">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
								{{getLabel('Notes')}}
							</div>
							<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
								<textarea class="form-control" name="note" id="note" cols="85" rows="5"
									ng-model="debitNote.note"></textarea>
							</div>
						</div>

					</div>
				</div>

			</div>

			<div class="modal-footer" ng-show="!checkingIfTheDebitNoteExists">
				<button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
					{{getLabel('Cancel')}}
				</button>

				<button class="btn btn-primary" ng-click="debitNote.dueDate == null || (debitNote.dueDate != null && debitNote.dueDate.length == 0) ? 
							dueDateInvalid(debitNote.dueDate) : printDebitNote()">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{getLabel('Print')}}
				</button>
			</div>
			<div class="modal-footer" ng-show="checkingIfTheDebitNoteExists">
				<img src="apiGIMB/images/loading_gray.gif" style="width: 50px; height: 50px" />
			<div>
		</div>
	</div>
</div>

<!-- Modal Edição de Texto do demonstrativo despesa -->
<!-- Modal Debit Note Information -->

<!-- confirm expense debit -->
<div id="modalConfirmDebit" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{getLabel('ExpenseDebit')}}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<p>{{getMessage('ConfirmExpenseDebit')}}</p>
			</div>

			<div class="modal-footer">
				<button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
					{{getLabel('Cancel')}}
				</button>

				<button class="btn btn-primary" data-dismiss="modal" ng-click="debitExpense(expense)">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{getLabel('Confirm')}}
				</button>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$("#txtStartDate").mask("00/00/0000");
		$("#txtEndDate").mask("00/00/0000");
		$("#txtItemDate").mask("00/00/0000");
	});

	$(document).ready(function () {
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
