<div class="form-horizontal jumbotron divLista">

	<div style="height: 10%">
		<h3 class="fLeft">{{getLabel('Expense')}}</h3>

		<div style="background-color: transparent;">
		    <div style="cursor: pointer;" ng-click="showModalWindow()">
		      
		      <div class="row"> 
			      <label class="control-label col-xs-2 label-title"
			        style="padding-top: 5px !important;">{{ getLabel("Period") }}:</label>
			      <label class="control-label col-xs-2 label-value" style="padding-top: 5px !important;"> {{ dtInicio }} {{ getLabel("To") }} {{ dtFinal }} </label>
		      </div>
		      
		      <div class="row"> 
			      <label class="control-label col-xs-2 label-title">{{ getLabel("Client") }}(s):</label>
			      <label class="control-label col-xs-2 label-value">{{ clientsNames }}</label>
		      </div>
		      
		      <div class="row"> 
			      <label class="control-label col-xs-2 label-title">{{ getLabel("Sequence") }}:</label>
			      <label class="control-label col-xs-2 label-value">{{ sequenceNames }}</label>
		      </div>
		      		      		   
		    </div>
		  </div>


		<a href="{{appUrl}}expenseCreate" class="btn btn-default fLeft" style="width:100px"><i class="fa fa-plus"
				aria-hidden="true"></i>
			{{getLabel('New')}}</a>


		<div class="headers" style="margin-bottom: 3px">
			<div style="width: 30% !important">
				{{getLabel('Clients')}}
			</div>
			<div style="width: 20% !important">
				{{getLabel('Period')}}
			</div>
			<div style="width: 10% !important">
				{{getLabel('TotalAmount')}}
			</div>
			<div style="width: 10% !important">
				{{getLabel('Status')}}
			</div>
			<div style="width: 10% !important" align="center">
				{{getLabel('Sequence')}}
			</div>
			<div style="width: 30% !important"></div>
		</div>
	</div>

	<div class="containerList" style="height: 70%">
		<div id="divTableData" class="rowsList" ng-repeat="exp in expenses" ng-class-odd="'odd'" ng-class-even="'even'">
			<div ng-style="exp.canceled && {'color':'red'} || {'color': 'black'}" style="width: 30% !important">
				{{exp.client.companyName}}</div>
			<div ng-style="exp.canceled && {'color':'red'} || {'color': 'black'}" style="width: 20% !important">
				{{exp.startDate}} - {{exp.endDate}}</div>
			<div ng-style="exp.canceled && {'color':'red'} || {'color': 'black'}" style="width: 10% !important">
				{{exp.totalValueString}}</div>
			<div ng-style="exp.canceled && {'color':'red'} || {'color': 'black'}" style="width: 10% !important">
				{{getLabel(exp.statusDescription)}}</div>
			<div align="center" ng-style="exp.canceled && {'color':'red'} || {'color': 'black'}" style="width: 10% !important">
				<span ng-if="exp.debitNote != null">
					{{exp.debitNote.sequenceInString}}
				</span>
			</div>	
			<div ng-style="exp.canceled && {'color':'red'} || {'color': 'black'}" style="width: 30% !important">
				<div ng-hide="true">
					<span class="btn btn-secondary">{{getLabel('Details')}}</span>
				</div>
				<div align="right">
					<a href="{{appUrl}}expenseDetail/{{exp.expenseId}}"
						class="btn btn-primary formGroupInput">{{getLabel('Details')}}</a>
				</div>
			</div>
		</div>
		<!-- end div data -->
	</div>
	<!-- end div table -->
</div>

<!--  Modal parameters -->
<div class="modal fade" id="parametersModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <div class="modal-body">
        
          <!-- periodo...  -->
          <div class="formGroup row">
            <label class="control-label col-xs-4 labelFiltro" for="dtInicio">{{
              getLabel("InitialDate")
            }}</label>
            <input type="text" id="dtInicio" name="dtInicio" ng-model="dtInicio"
              class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px;" ng-change="buscar()"/>
              
            <label class="control-label col-xs-4 labelFiltro" for="dtFinal">{{
              getLabel("FinalDate")
            }}</label>
            <input type="text" id="dtFinal" name="dtFinal" ng-model="dtFinal"
              class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px" ng-change="buscar()"/>
          </div>
          
          <!--client-->
          <div class="formGroup row">
            <label class="control-label labelFiltro col-xs-6" for="clients">{{
              getLabel("Client")
            }}</label>
            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="clientTriangle"
              style="padding-left: 0px;padding-top: 10px;" ng-click="showClientsSelect()"></span>
          </div>
          <div class="formGroup row" ng-show="showClient">
            <select class="form-control text-box" style="max-width: 220px" id="clients" ng-model="clientsSelected"
              ng-options="client for client in clients" multiple bs-duallistbox>
            </select>
          </div>
          
          <!--sequence-->
          <div class="formGroup row">
            <label class="control-label labelFiltro col-xs-6" for="sequences">{{
              getLabel("Sequence")
            }}</label>
            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="sequencesTriangle"
              style="padding-left: 0px;padding-top: 10px;" ng-click="showSequencesSelect()"></span>
          </div>
          <div class="formGroup row" ng-show="showSequence">
            <select class="form-control text-box" style="max-width: 220px" id="sequences" ng-model="sequencesSelected"
              ng-options="sequence for sequence in sequences" multiple bs-duallistbox>
            </select>
          </div>

        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-left" data-dismiss="modal" ng-click="buscar()">
            {{ getLabel("Search") }}
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {{ getLabel("Close") }}
          </button>
        </div>
      </div>
    </div>
 </div>
 <!--  Fim modal parameters -->


<script>
	$(document).ready(function () {
		$("#searchStartDate").mask("00/00/0000");
		$("#searchEndDate").mask("00/00/0000");
	});
</script>