
<html>

<head>
<meta charset="utf-8"></meta>
<title>{{serviceTitle}}</title>

<style>
body {
	padding: 10px;
	font-family: calibri, arial, sans-serif;
}

hr {
	padding: 0;
	margin: 0;
}

.rows label {
	min-width: 95px;
	display: inline-block;
	padding: 2px;
	text-align: left;
}

.divPrincipal {
	padding: 5px;
	max-width: 674px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.divTitle {
	margin-bottom: 5px;
	width: 100%;
	height: 86px;
}

.divTitle div {
	display: inline-block;
}

.divTitle span {
	text-align: left;
}

.divContent {
	border: 1px solid #000;
	margin-bottom: 5px;
}

.divLogo {
	padding: 5px;
	border: 1px solid #000;
	width: 77px;;
	height: 76px;
	float: left;
}

.divInfo {
	width: 469px;
	height: 76px;
	border: 1px solid #000;
	padding: 5px;
	float: left;
}

.divInfo span {
	width: 100%;
	display: inline-block;
}

.divOsInfo {
	width: 90px;
	height: 76px;
	border: 1px solid #000;
	padding: 5px;
	float: left;
	text-align: center;
}

.divSubTitle {
	border: 1px solid #000;
	text-align: center;
	padding: 5px;
	font-size: 18px;
	font-weight: bold;
}

#divVeiculo {
	padding: 5px;
}

#divVeiculo div {
	display: inline-block;
}

#divImagens {
	padding: 5px;
}

#divImagens div {
	display: inline-block;
}

#divImages div img {
	width: 60px;
}

.imgServiceDiv {
	height: 130px;
	width: 80px;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	box-shadow: 2px 2px 5px #000;
}

#divAssinatura {
	padding: 5px;
}

#divAssinatura div {
	display: inline-block;
}

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}
	body {
		margin: 0;
		padding: 0;
		line-height: 1.4em;
		color: #000;
	}
	
	@page {
		margin: 0;
	}
	
	.wrap {
		width: 100%;
		margin: 0;
		float: none !important;
	}
	hr {
		padding: 0;
		margin: 0;
	}
	.rows label {
		min-width: 95px;
		display: inline-block;
		padding: 2px;
		text-align: left;
	}
	.divPrincipal {
		padding: 5px;
		max-width: 674px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
	.divTitle {
		margin-bottom: 5px;
		width: 100%;
		height: 86px;
	}
	.divTitle div {
		display: inline-block;
	}
	.divTitle span {
		text-align: left;
	}
	.divContent {
		border: 1px solid #000;
		margin-bottom: 5px;
	}
	.divLogo {
		padding: 5px;
		border: 1px solid #000;
		width: 77px;;
		height: 76px;
		float: left;
	}
	.divInfo {
		width: 469px;
		height: 76px;
		border: 1px solid #000;
		padding: 5px;
		float: left;
	}
	.divInfo span {
		width: 100%;
		display: inline-block;
	}
	.divOsInfo {
		width: 90px;
		height: 76px;
		border: 1px solid #000;
		padding: 5px;
		float: left;
		text-align: center;
	}
	.divSubTitle {
		border: 1px solid #000;
		text-align: center;
		padding: 5px;
		font-size: 18px;
		font-weight: bold;
	}
	#divVeiculo {
		padding: 5px;
	}
	#divVeiculo div {
		display: inline-block;
	}
	#divImagens {
		padding: 5px;
	}
	#divImagens div {
		display: inline-block;
	}
	#divImages div img {
		width: 60px;
	}
	.imgServiceDiv {
		height: 130px;
		width: 80px;
		background-size: cover;
		background-position: center;
		border-radius: 10px;
		display: inline-block;
		cursor: pointer;
		box-shadow: 2px 2px 5px #000;
	}
	#divAssinatura {
		padding: 5px;
	}
	#divAssinatura div {
		display: inline-block;
	}
}
</style>

</head>

<body>
	<div class="divPrincipal">
		<div class="divTitle">
			<div class="divLogo">
				<img
					src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png"
					alt="" height="60" width="60"></img>
			</div>
			<div class="divInfo">
				<span>Telefone: (18) 3631 - 0552</span> <span>TRC da Silva ME</span>
				<span>CNPJ: 13.179.299/0001-58 Inscr.: 177.187.694.113</span> <span>Rua
					José Bonifácio, 349 - CEP: 16010-380 - Centro - Araçatuba</span>
			</div>
			<div class="divOsInfo">
				<div class="">
					<label for="">OS:</label> <span>{{osNumber}}</span>
				</div>
				<div class="">
					<span>{{dataOs}}</span>
				</div>
			</div>
		</div>

		<div class="divSubTitle">
			<span>Dados do Serviço</span>
		</div>

		<div class="divContent">

			<div class="rows" style="padding: 10px">
				<div>
					<label for=""><b>Cliente:</b></label> <b>{{cliente}}</b>
				</div>
				<div>{{RazaoSocial}}</div>
				<div>{{CNPJ}}</div>
				<div>{{Endereco}}</div>
				<div>{{Telefone}}</div>
			</div>

			
				<div class="rows divContent" style="width: 100%; padding: 5px 0px 5px 0px;">
					<label for=""> Atividade:</label> {{atividade}}
				</div>
				

			<div class="rows" id="divVeiculo">
				
				<div class="rows" style="width: 100%">
					<label for="">Equipamento:</label> {{equipamento}}
				</div>
				<div style="max-width: 49%; width: 100%">
					<label for="">Veículo:</label> {{marca/modelo}}
				</div>
				<div style="max-width: 49%; width: 100%">
					<label for="">Placa/Frota:</label> {{placa/frota}}
				</div>

			</div>
			<hr />
			<div class=" rows" id="divImagens">

				<div class="">
					<img
						src="http://gimb.multartec.com.br:8080/imagens/img_service_595_1322_1.jpg"
						alt="" width="150"></img>
				</div>
				<div class="">
					<img
						src="http://gimb.multartec.com.br:8080/imagens/img_service_595_1322_1.jpg"
						alt="" width="150"></img>
				</div>
				<div class="">
					<img
						src="http://gimb.multartec.com.br:8080/imagens/img_service_595_1322_1.jpg"
						alt="" width="150"></img>
				</div>
				<div class="">
					<img
						src="http://gimb.multartec.com.br:8080/imagens/img_service_595_1322_1.jpg"
						alt="" width="150"></img>
				</div>
				<div class="">
					<img
						src="http://gimb.multartec.com.br:8080/imagens/img_service_595_1322_1.jpg"
						alt="" width="150"></img>
				</div>
				<div class="">
					<img
						src="http://gimb.multartec.com.br:8080/imagens/img_service_595_1322_1.jpg"
						alt="" width="150"></img>
				</div>
			</div>

			<hr />
			<div class="rows" id="divAssinatura">
				<div style="max-width: 49%; width: 100%; text-align: left">
					<label for="">Usuário:</label> {{usuario}}
				</div>
				<div style="max-width: 49%; width: 100%; text-align: right">
					<label for="">Cliente: ....................................</label>
				</div>
			</div>
		</div>



		<div class="divFooter"></div>
	</div>
</body>

</html>