<div class="divLista ">
	<div class="row" ng-hide="allImports.length > 0" style="padding-top: 10% !important;">
		<h4 align="center">{{getLabel('NoRegistry')}}</h4>
	</div>
	
	<div  class="col-xs-3 col-sm-3 col-md-3 col-lg-3 card"
			ng-repeat="import in allImports" ng-click="openTableModal(import)" >
		
		<label class="titleCard">
			{{import.nameClass}}
		</label>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="row" style="cursor: pointer; padding: 20px;">
			<label class="uiLabel">
				{{ getMessage('downloadOrImport') }}
			</label>
		</div>
	</div>
</div>

<!-- MODAL DE DOWNLOAD OU IMPORTAÇÃO -->
<div class="modal fade" id="tableModal">
	<div class="modal-dialog modal" style="max-width: 500px !important;">
		<div class="modal-content">
			<div class="modal-header">
				<label style="font-size: 30px; font-weight: bold; color: gray;">
					{{imports.nameClass}}
				</label>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div> 
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<a href="{{urlDownloadModel(imports)}}" target="_black" download>
							<label style="max-height: 100%; max-width: 100%; cursor: pointer; font-size: 15px;">{{getLabel('downloadModel')}}</label>
						</a>
					</div>
					
					<div class="col-xs-5" id="divImport">
					</div>
					
					<div class="col-xs-3">
						<a class="btn btn-primary" onclick="uploadXls.click()">
							<label style="max-height: 100%; max-width: 100%; cursor: pointer; font-size: 15px;">{{getLabel('import')}}</label>
						</a>
						<input type="file" id="uploadXls" style="visibility: hidden;"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>