<div class="form-horizontal jumbotron divLista">

	<div style="height: 20%">
		<h3 class="fLeft">{{getLabel('PointRecords.p')}}</h3>
		
		<div style="background-color: transparent;">
		    <div style="cursor: pointer;" ng-click="showModalWindow()">
		    	<div class="row"> 
			      <label class="control-label col-xs-2 label-title"
			        style="padding-top: 5px !important;">{{ getLabel("Period") }}:</label>
			      <label class="control-label col-xs-2 label-value" style="padding-top: 5px !important;"> {{ dtInicio }} {{ getLabel("To") }} {{ dtFinal }} </label>
		    	</div>
		    	
				<div class="row">
			      <label class="control-label col-xs-2 label-title">{{ getLabel("User.s") }}(s):</label>
			      <label class="control-label col-xs-2 label-value">{{ usersNames }}</label>
				 </div>
				 
				<div class="row">
			      <label class="control-label col-xs-2 label-title">{{ getLabel("Clients.s") }}(s):</label>
			      <label class="control-label col-xs-2 label-value">{{ clientsNames }}</label>
				</div>
				
				<div class="row"> 
			      <label class="control-label col-xs-2 label-title">{{ getLabel("Status") }}(s):</label>
			      <label class="control-label col-xs-2 label-value">{{ statusNames }}</label>
				</div>
		    </div>
		</div>

		<div style="float: right">
			<a ng-href="{{createUrlDownload()}}" class="btn btn-default" style="color: #666666;float: right;"
			   target="_black" download>{{getMessage('ExtractToExel')}}
				<i class="fa fa-download" aria-hidden="true"></i>
			</a>
		</div>
		

		<div id="divLoading"></div>

		<div class="headers" style="margin-bottom: 3px">
			<div style="width: 30% !important">
				{{getLabel('User')}}
			</div>
			<div style="width: 20% !important">
				{{getLabel('Begin')}}
			</div>
			<div style="width: 20% !important">
				{{getLabel('End')}}
			</div>
		</div>

	</div>
	<div class="containerList" style="height: 70%">
		<div class="rowsList" ng-repeat="pointRecord in pointRecords | filter:query" ng-class-odd="'odd'"
			ng-class-even="'even'">
			<div style="width: 30% !important; font-size: 11px !important;">
				{{pointRecord.user.name}}
			</div>
			<div style="width: 20% !important; font-size: 11px !important;">
				{{pointRecord.startTime.substring(0,pointRecord.startTime.length-3)}}
			</div>
			<div style="width: 20% !important; font-size: 11px !important;">
				{{pointRecord.endTime.substring(0,pointRecord.endTime.length-3)}}
			</div>
			<div align="right" style="width: 30% !important">
				<a href="" class="btn btn-primary formGroupInput" ng-click="verificaUsuario(pointRecord)">
					{{getLabel('Details')}}</a>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="parametersModal">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">×</span>
	          </button>
	        </div>
	        
	        <div class="modal-body">
	        
	          <!-- periodo...  -->
	          <div class="formGroup row">
	            <label class="control-label col-xs-4 labelFiltro" for="dtInicio">{{
	              getLabel("InitialDate")
	            }}</label>
	            <input type="text" id="dtInicio" name="dtInicio" ng-model="dtInicio"
	              class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px;" ng-change="buscar()"/>
	              
	            <label class="control-label col-xs-4 labelFiltro" for="dtFinal">{{
	              getLabel("FinalDate")
	            }}</label>
	            <input type="text" id="dtFinal" name="dtFinal" ng-model="dtFinal"
	              class="formGroupInput form-control col-xs-2" style="width:100%; max-width:150px" ng-change="buscar()"/>
	          </div>
	          
	          <!--usuario-->
	          <div class="formGroup row">
	            <label class="control-label labelFiltro col-xs-6" for="user">{{
	              getLabel("User.p")
	            }}</label>
	            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="userTriangle"
	              style="padding-left: 0px;padding-top: 10px;" ng-click="showUserSelect()"></span>
	          </div>
	          <div class="formGroup row" ng-show="showUsers">
	            <select class="form-control text-box" style="max-width: 220px" id="users" ng-model="usersSelected"
	              ng-options="user for user in users" multiple bs-duallistbox>
	            </select>
	          </div>
	          
	          <!--client-->
	          <div class="formGroup row">
	            <label class="control-label labelFiltro col-xs-6" for="clients">{{
	              getLabel("Client")
	            }}</label>
	            <span class="glyphicon glyphicon-menu-down col-xs-6" aria-hidden="true" id="clientTriangle"
	              style="padding-left: 0px;padding-top: 10px;" ng-click="showClientsSelect()"></span>
	          </div>
	          <div class="formGroup row" ng-show="showClients">
	            <select class="form-control text-box" style="max-width: 220px" id="clients" ng-model="clientsSelected"
	              ng-options="client for client in clients" multiple bs-duallistbox>
	            </select>
	          </div>
				
				<!-- status -->
				<div class="row">
					<div class="radio-filters col-xs-12" style="margin-left: 10%">
						<label class="radio-inline col-xs-1">
							<input id="filterAll" class="radio" type="radio" ng-model="optBy" name="optBy" value="all" 
							ng-change="filterPointRecordBy()">{{getLabel('All')}}
						</label>
						<label class="radio-inline col-xs-2">
							<input id="filterOpened" class="radio" type="radio" ng-model="optBy" name="optBy" value="P"
								ng-change="filterPointRecordBy()">{{getLabel('Opened')}}
						</label>
						<label class="radio-inline col-xs-1">
							<input id="filterFinalized" class="radio" type="radio" ng-model="optBy" name="optBy" value="T"
								ng-change="filterPointRecordBy()">{{getLabel('Finalized')}}
						</label>
					</div>
				</div>
	          
	        </div>
	        
	        <div class="modal-footer">
	          <button type="button" class="btn btn-primary pull-left" data-dismiss="modal" ng-click="buscar()">
	            {{ getLabel("Search") }}
	          </button>
	          <button type="button" class="btn btn-secondary" data-dismiss="modal">
	            {{ getLabel("Close") }}
	          </button>
	        </div>
	      </div>
	    </div>
  	</div>
  
</div>

<script>
	$(document).ready(function () {
		$("#dtFinal").mask("00/00/0000");
		$("#dtInicio").mask("00/00/0000");
	});
</script>