<div class="form-horizontal jumbotron divLista">
    <div style="height: 26px;">
        <div style="width: 50%; float: left" class="divTitle">
            <h4>{{getLabel('PointRecordInformation')}}</h4>
        </div>
        <div style="width: 50%; float: left; text-align: right"
            class="dontPrint">
            <a class="btn btn-link" href="{{appUrl}}point-record"> <i
                class="material-icons myArrow">keyboard_arrow_left</i> {{getLabel('Back')}}
            </a>
        </div>
    </div>
    
    <hr>

    <form class="form-horizontal" novalidate name="frmClient">
        <div id="divService">

            <div class="row" style="width: 100%">
                <label class="control-label uiLabel col-xs-2" for="user">{{getLabel('User')}}</label>
                <div class="col-md-10">
                    <input name="user" class="inputs text-box single-line ipt" id="user" type="text" value="" style="max-width: 220px; margin-left: 5px"
                        maxlength="60" ng-model="pointRecord.user.name" />
                </div>
            </div>

            <div class="row">
                <label class="control-label uiLabel col-xs-2" for="inicioEvento">{{getLabel('Begin')}} / <label class="uiLabel" for="finalEvento"> {{getLabel('End')}}</label></label>
                <div class="col-md-10">
                    <input name="inicio" class="inputs text-box single-line ipt" id="inicio" style="float: left; max-width: 220px; margin-right: 2px"
                    type="text" maxlength="45" ng-value="dateTimeFormat(pointRecord.startTime)" required> 
                    <input name="final" class="inputs text-box single-line ipt" id="final" style="float: left; max-width: 220px; margin-right: 2px"
                    type="text" maxlength="45" ng-value="dateTimeFormat(pointRecord.endTime)">

                    <input name="tempoGasto" class="inputs text-box single-line ipt" id="tempoGasto" value="" style="float: left; max-width: 200px; margin-right: 2px"
                    type="text" maxlength="45" ng-value="dateTimeFormat(pointRecord.timeElapsed)">

                    <label class="uiLabel" for="limpar" ng-if="novo" style="margin-left: 5px;line-height: 28px; cursor: pointer;" ng-click="limpaHora(true)"><i class="fa fa-times" style="color: crimson;" aria-hidden="true"></i> Limpar</label>
                </div>
            </div>

            <div class="jumbotron" style="padding: 15px; padding-bottom: 0px !important;padding-top: 0px !important;">
                <hr>
            </div>

            <div class="dontPrint row" id="divNotes" ng-hide="ocultarDivParaCliente()">
                <div class="col-md-12">
                    <h4>{{getLabel('Observation')}}</h4>
                </div>
                
                <div class="col-md-12">
                    <textarea rows="5" cols="100" id="observation" class="form-control text-box ipt" style="float: left; max-width: 100%; margin-right: 2px" ng-model="pointRecord.note" ></textarea>
                </div>
                <br />
            </div>

            <div class="dontPrint" id="divEventosPonto" style="margin-top: 10px;">

                <div ng-show="hidePointEventsDiv()">
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-3"><h4>{{getLabel('PointEvents')}}</h4></div>
                                <div class="text-right">
                                    <button class="btn-sm btn-success" ng-if="novo" id="btnNewPointEvent" data-target="#modalEventoPonto" style="margin-right: 15px;"
                                    ng-click="novoEvento()"> + </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            
                            <div class="headers" style="max-width: 921px !important;">
                                <div class="divVeiculo" style="padding-left: 0px !important; max-width: 200px !important;margin-right: 5px;">
                                    {{getLabel('Events')}}
                                </div>
                                <div class="divVeiculo" style="max-width: 80px !important;padding-left: 0px !important;">
                                    KM Inicial<!-- {{getLabel('Time')}}  -->
                                </div>
                                <div class="divVeiculo" style="max-width: 80px !important;padding-left: 0px !important;">
                                    KM Final<!-- {{getLabel('Time')}}  -->
                                </div>
                                <div class="divVeiculo" style="max-width: 105px !important;padding-left: 0px !important;">
                                    KM Percorrido<!-- {{getLabel('Time')}}  -->
                                </div>
                                <div class="divVeiculo" style="max-width: 110px !important;padding-left: 0px !important;">
                                    {{getLabel('Begin')}}
                                </div>
                                <div class="divVeiculo" style="max-width: 110px !important;padding-left: 0px !important;">
                                    {{getLabel('End')}}
                                </div>
                                <div class="divVeiculo" style="max-width: 60px !important;padding-left: 0px !important;">
                                    {{getLabel('Time')}}
                                </div>
                            </div>

                            <div style="max-height: 480px; height: 100%; overflow: scroll; width: 100%; overflow-x: hidden">
                                <div class="rowsList" ng-repeat="pointEvent in pointRecord.eventsList"
                                    ng-class-odd="'odd'" ng-class-even="'even'">
                                    <div class="divItemList" style="max-width: 200px !important;">
                                        {{pointEvent.event.description}}
                                    </div>
                                    <div class="divItemList" style="max-width: 80px !important;">
                                        {{pointEvent.kmStart}}
                                    </div>
                                    <div class="divItemList" style="max-width: 80px !important;">
                                        {{pointEvent.kmEnd}}
                                    </div>
                                    <div class="divItemList" style="max-width: 105px !important;">
                                        {{pointEvent.kmTraveled}}
                                    </div>
                                    <div class="divItemList" style="max-width: 110px !important;">
                                        {{dateTimeFormat(pointEvent.startTime)}}
                                    </div>
                                    <div class="divItemList" style="max-width: 110px !important;">
                                        {{dateTimeFormat(pointEvent.endTime)}}
                                    </div>
                                    <div class="divItemList" style="max-width: 60px !important;">
                                        {{dateTimeFormat(pointEvent.simpleTimeElapsed)}}
                                    </div>
                                    <div class="divItemList" style="max-width: 80px !important;text-align: center">
                                        <a data-toggle="modal" data-target="#modalObservacao" href=""
                                            ng-click="openObservacaoModal(pointEvent)">{{pointEvent.note.length > 0 ? getLabel('Obs') : ''}}</a>
                                    </div>
                                    <div class="divItemList" style="max-width: 25px !important;" ng-show="novo">
                                        <span data-target="#modalEventoPonto" href="" style="cursor: pointer;"
                                            ng-click="editaEvento(pointEvent)"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <div class="dontPrint" id="divMapa" ng-if="!novo && pointRecord.eventsList.size > 0">
                <div class="jumbotron" style="margin-bottom: 0px !important;padding-bottom: 0px !important;padding-top: 0px !important;">
                    <hr>
                </div>

                <input type="button" class="btn btn-default" name="btnInit" value="init" id="btnInit" ng-click="initialize()" style="display: none" />
                <input type="button" class="btn btn-default" name="btnMapa" value="Mapa" id="btnMapa" ng-click="dadosMapa(pointRecord)" style="display: none" />

                <h4>{{getLabel('Map')}}</h4>

                <div id="map"></div>
            </div>

            <div class="form-group dontPrint" id="divBtns">
                <div class="col-md-offset-2 col-md-10" style="margin-left: 0; margin-top: 10px">
                    <a class="btn btn-primary" href="{{appUrl}}point-record">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {{getLabel('ReturnToList')}}
                    </a>
                    
                    <button id="btnSalvar" name="btnSalvar" class="btn btn-primary" ng-click="checkParaSalvar()" ng-if="novo">
                        <i class="fa fa-pencil-square-o"></i> {{getLabel('Save')}}
                    </button>

                    <button id="btnPrinter" name="btnPrinter" class="btn btn-primary" ng-print print-element-id="divRelPointRecord" accesskey="p" ng-if="!novo">
                        <i class="fa fa-print"></i> {{getLabel('Print')}}
                    </button>
                    <div ng-include="'apiGIMB/view/PointRecord/printPointRecordDetail.html'" ng-hide="true" ng-if="!novo"></div>
                </div>
            </div>

        </div>
    </form>
</div>

<!-- Inicio Modal Observação-->
<div class="modal fade" id="modalObservacao">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalContent">
            <div class="modal-body">
                
                <div class="row">
                    <div class="col-md-12">
                        <textarea rows="5" cols="100" class="form-control text-box ipt" style="float: left; max-width: 100%; margin-right: 2px;" > {{note}} </textarea>
                    </div>
                </div>

            </div>
        </div>
            
    </div>
</div>
<!-- FIM Modal Observação-->

<!-- Inicio Modal Evento do Ponto-->
<div class="modal fade" id="modalEventoPonto">
    <div class="modal-dialog">
        <div class="modal-content" id="modalEventoPontoContent">
            <div class="modal-body">
                
                <div class="row">
                    <label for="selFilterSetEvent" class="uiLabel control-label col-sm-2">{{getLabel('Events')}}</label>
                    <div class="form-group col-sm-4">
                        <select id="selFilterSetEvent" class="formGroupInput form-control" style="text-transform: uppercase;" ng-disabled="editandoEvento" 
                        ng-model="pointEvent.event" 
                        ng-options="event as event.description for event in eventList track by event.eventId" required></select>
                    </div>
                </div>
                
                <div class="row">
                    <label class="control-label uiLabel col-xs-2" for="inicioEvento">{{getLabel('Begin')}} / <label class="uiLabel" for="finalEvento"> {{getLabel('End')}}</label></label>
                    <div class="col-md-10">
                        <input name="inicioEvento" class="inputs text-box single-line ipt" id="inicioEvento" style="float: left; max-width: 220px; margin-right: 2px"
                            type="text" maxlength="45" ng-value="dateTimeFormat(pointEvent.startTime)" required>
                            
                        <input name="finalEvento" class="inputs text-box single-line ipt" id="finalEvento" style="float: left; max-width: 220px; margin-right: 2px"
                        type="text" maxlength="45" ng-value="dateTimeFormat(pointEvent.endTime)">
                        <label class="uiLabel" for="limpar" style="margin-left: 5px;line-height: 28px; cursor: pointer;" ng-click="limpaHora(false)"><i class="fa fa-times" style="color: crimson;" aria-hidden="true"></i> Limpar</label>
                    </div>
                </div>

                <div class="row" ng-if="pointEvent.event.requestKm != null && pointEvent.event.requestKm">
                    <label class="control-label uiLabel col-xs-2" for="inicioEvento">{{getLabel('KMStart')}} / <label class="uiLabel" for="finalEvento"> {{getLabel('Final')}}</label></label>
                    <div class="col-md-10">
                        <input name="kmInicial" class="inputs text-box single-line" id="kmInicial" style="float: left; max-width: 220px; margin-right: 2px"
                            type="number" maxlength="45" ng-model="pointEvent.kmStart">
                            
                        <input name="kmFinal" class="inputs text-box single-line" id="kmFinal" style="float: left; max-width: 220px; margin-right: 2px"
                            type="number" maxlength="45" ng-model="pointEvent.kmEnd">
                    </div>
                </div>
                
                <div class="row">
                    <label class="control-label uiLabel col-xs-2" for="inicio">{{getLabel('Observation')}}</label>
                    <div class="col-md-10">
                        <textarea rows="5" cols="100" id="observaocaoEventoPonto" class="form-control single-line text-box ipt" style="float: left; max-width: 100%; margin-right: 2px;" ng-model="pointEvent.note"></textarea>
                    </div>
                </div>

                
                <div class="row" style="margin-top: 10px;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button id="btnAdicionarEvento" name="btnAddEvento" class="btn btn-primary" ng-click="adicionarEvento()" ng-show="!editandoEvento">
                                <i class="fa fa-pencil-square-o"></i> {{getLabel('AddEvent')}}
                        </button>
                        <button id="btnEditarEvento" name="btnEditarEvento" class="btn btn-primary" ng-click="editarEvento()" ng-show="editandoEvento">
                            <i class="fa fa-pencil-square-o"></i> {{getLabel('EditEvent')}}
                    </button>
                    </div>
                </div>

            </div>
        </div>
            
    </div>
 </div>
<!-- FIM Modal Evento do Ponto-->

<!-- Style -->
<style>
    textarea {
        resize: none;
    }
</style>