<div class="form-horizontal jumbotron divLista">
	<form class="form-horizontal" novalidate name="frmEditImg">
		
		<div class="row" style="margin: 60px;">
			<img id="imageEditService" src="{{srcImageEditService}}" alt="Image Not Found">
		</div>
		
		<a class="btn btn-danger formGroupInput" ng-click="voltar()" id="voltaServiceDetail" ng-hide="testaCarregamento()">
			<i class="glyphicon glyphicon-trash" aria-hidden="true"></i> {{getLabel('Cancel')}}
		</a>
		
		<!-- Confirmação de imagem Editada -->

	<div id="modalConfirmImageEdite" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">{{getLabel('Confirmation')}}</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				
				<div class="modal-body">
					<p>{{getMessage('ConfirmImgEdit')}}</p>
				</div>
				
				<div class="modal-footer">
					<button class="btn btn-secondary" data-dismiss="modal" ng-click="cancelaAEdicaoService()">
						{{getLabel('Cancel')}}
					</button>
					
					<button class="btn btn-success" data-dismiss="modal" ng-click="alterar()">
						<i class="glyphicon glyphicon-ok" aria-hidden="true"></i> {{getLabel('Confirm')}}
					</button>
				</div>
			</div>
		</div>
	</div>

<!-- Fim Confirmação de imagem Editada -->
		 
<div  id="div_services_principal"> </div>
	</form>
</div>