<form class="form-horizontal" id="frmAction" name="frmAction">
	<div class="form-horizontal jumbotron divLista">
		<h4>{{getLabel('ActionData')}}</h4>
		<hr>

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel" for="descricao">{{getLabel('Description')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="text" class="formGroupInput form-control" id="descricao" placeholder="{{getLabel('Description')}}"
					ng-model="action.description" required style="max-width: 420px" />
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel">{{getLabel('Checklist')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="checkbox" id="checklist" ng-model="action.checklist" />
			</div>
		</div>
		
		<div class="formGroup row" ng-show="action.checklist">
			<div class="col-xs-2" align="right">
				<label class="uiLabel">{{getLabel('requirePhoto.text')}}</label>
			</div>
			
			<div class="col-xs-6">
				<div class="row">
					<div class="col-sm-3">
						<label class="uiLabel" for="OK">{{getLabel('requirePhoto.OK')}}</label>
						<input type="checkbox" id="OK" ng-model="requiredPhotos.ok"/>
					</div>
					
					<div class="col-sm-3">
						<label class="uiLabel" for="NOK">{{getLabel('requirePhoto.NOK')}}</label>
						<input type="checkbox" id="NOK" ng-model="requiredPhotos.nok"/>
					</div>
					
					<div class="col-sm-3">
						<label class="uiLabel" for="FIX">{{getLabel('requirePhoto.FIX')}}</label>
						<input type="checkbox" id="FIX" ng-model="requiredPhotos.fix"/>
					</div>
				</div>
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel">{{getLabel('Signature')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="checkbox" id="signature" ng-model="action.signature" />
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel">{{getLabel('Inventory')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="checkbox" id="inventory" ng-model="action.inventory" />
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel">{{getLabel('Observation')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="checkbox" id="observation" ng-model="action.observation" />
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel">{{getLabel('Critically')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="checkbox" id="critically" ng-model="action.critically" />
			</div>
		</div>

		<div class="formGroup row" ng-show="action.critically">
			<div class="col-xs-2" align="right">
				<label class="uiLabel">{{getLabel('requiredCritically')}}</label>
			</div>
			<div class="col-sm-3">						
				<input type="checkbox" id="criticallyRequired" ng-model="action.criticallyRequired" />
			</div>							
		</div>

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel">{{getLabel('UseSystem')}}</label>
			</div>
			<div class="col-sm-6">
				<input type="checkbox" id="usaSistemaSubSistema" ng-model="action.usaSistemaSubSistema" />
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel" for="active">{{getLabel('Active')}}</label>
			</div>
			<div class="col-sm-8">
				<select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="active"
					ng-model="action.active">
					<option ng-value="true">{{getLabel('Yes')}}</option>
					<option ng-value="false">{{getLabel('No')}}</option>
				</select>
			</div>
		</div>
		<div class="formGroup row">
			<div class="col-xs-2" align="right">
				<label class="uiLabel">{{getLabel('Color')}}</label>
			</div>
			<div class="col-sm-2">
				<input id="colorSel" type="text" class="form-control" ng-style="{background: action.colorId}"
					ng-model="action.colorId" ng-readonly="true" style="width: 90px !important;" />
			</div>
		</div>

		<div id="pnlFields" class="panel panel-default">
			<div class="panel-heading">
				<div class="col-sm-1">{{getLabel('Fields')}}</div>
				<div class="text-right" style="margin-top: -5px;">
					<button class="btn-sm btn-success" ng-click="addDivField()" tabindex="-1">+</button>
				</div>
			</div>

			<div class="panel-body">
				<!-- Fields -->
				<div id="pnlFields" class="panel-body">
					<div id="pnlListFields" class="form-group"></div>
				</div>
				<!-- End Fields -->
			</div>
		</div>

		<div class="formGroup row">
			<div class="col-xs-offset-1 col-sm-6" style="margin-left: 0 !important">
				<a class="btn btn-primary" href="{{appUrl}}action"> <i class="fa fa-arrow-left" aria-hidden="true"></i>
					{{getLabel('ReturnToList')}}
				</a>

				<button class="btn btn-primary" ng-click="saveAction(action)">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{getLabel('Save')}}
				</button>
			</div>
		</div>
	</div>
</form>