 <main>
	 <div class="form-horizontal jumbotron divLista">
		 <md-tabs id="equipmentTab" style="height: 100% !important;">
			<md-tab label="{{getLabel('EquipmentData')}}">
				<hr />

				<form class="form-horizontal" id="frmEquipment" name="frmEquipment">
					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="descricao">{{getLabel('Description')}}</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="formGroupInput form-control" id="descricao"
								placeholder="{{getLabel('Description')}}" required ng-model="equipment.description"
								style="max-width: 420px" />
						</div>
					</div>
		
					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="estimateTime">{{getLabel('EstimatedTime')}}</label>
						</div>
		
						<div class="col-sm-4">
							<input name="estimateTime" class="formGroupInput form-control text-box single-line" id="estimateTime"
								placeholder="{{getLabel('Hour.p')}}" type="number" value="" maxlength="2" onkeypress="validate(event)"
								ng-model="equipment.estimateTime" />
						</div>
					</div>
		
					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel" for="active">{{getLabel('Active')}}</label>
						</div>
						<div class="col-sm-8">
							<select class="formGroupInput form-control text-box single-line" style="max-width: 220px" id="active"
								ng-model="equipment.active">
								<option ng-value="true">{{getLabel('Yes')}}</option>
								<option ng-value="false">{{getLabel('No')}}</option>
							</select>
						</div>
					</div>
					<div class="formGroup row">
						<div class="col-xs-2" align="right">
							<label class="uiLabel">{{getLabel('Color')}}</label>
						</div>
						<div class="col-sm-2">
							<input id="colorSel" type="text" class="form-control" ng-style="{background: equipment.colorId}"
								ng-model="equipment.colorId" ng-readonly="true" style="width: 90px !important;" />
						</div>
					</div>
		
					<div>
						<div id="pnlLiquidacao" class="panel panel-default">
							<div class="panel-heading">
								<div class="col-sm-1">{{getLabel('Images.p')}}</div>
								<div class="text-right" style="margin-top: -5px;">
									<button class="btn-sm btn-success" ng-click="addDivImage()" tabindex="-1">+</button>
								</div>
							</div>
		
							<div class="panel-body">
								<!-- Images -->
								<div id="pnlImagens" class="panel-body">
									<div id="pnlListImagens" class="form-group"></div>
								</div>
								<!-- End Images -->
							</div>
						</div>
					</div>

					<div>
						<div id="pnlLiquidacao2" class="panel panel-default">
							<div class="panel-heading">
								<div class="col-sm-2">{{getLabel('Checklist')}}</div>
								<div class="text-right" style="margin-top: -5px;">
									<button class="btn-sm btn-success" ng-click="addDivChecklist()" tabindex="-1">+</button>
								</div>
							</div>
		
							<div class="panel-body">
								<!-- Checklist -->
								<div id="pnlImagens" class="panel-body">
									<div id="pnlListChecklist" class="form-group"></div>
								</div>
								<!-- End Checklist -->
							</div>
						</div>
					</div>
		
					<!--BEGIN-->
		
					<div id="pnlFields" class="panel panel-default">
						<div class="panel-heading" style="height: 55px; padding: 10px 5px 10px 5px">
							<div class="col-xs-6">
								<h5>{{getLabel('Inventory')}}</h5>
							</div>
							<div class="col-xs-6" style="padding: 0px 10px 0px 15px" align="right">
									<span class="btn btn-default" data-toggle="modal" data-target="#modalInventory">
										<i class="fa fa-plus" aria-hidden="true"></i> {{getLabel('NewInventory')}}
									</span>
							</div>
						</div>
		
						<div class="panel-body" style="padding: 0px;">
							<!-- Fields -->
							<div class="col-sm-12" id="divVeiculos"
									style="margin-top: 0px; margin-bottom: 5px; max-height: 275px !important; padding: 0px;">
								<div class="rowsList col-sm-12" ng-repeat="objectType in equipment.objectTypes" style="padding-right: 5px;">
									<div class="divItemList col-sm-8">{{objectType.description}}</div>
									<div class="col-sm-4" style="padding-right: 5px;" align="right">
										<input type="button" value="{{getLabel('Remove')}}" class="btn btn-secunday formGroupInput"
												ng-click="removeObjectType(objectType)">
									</div>
								</div>
							</div>
							<!-- End Fields -->
						</div>
					</div>
		
					<!--END-->

					<div class="formGroup row">
						<div class="col-xs-offset-2 col-sm-6" style="margin-left: 0 !important">
							<a class="btn btn-primary" href="{{appUrl}}equipment"><i class="fa fa-arrow-left" aria-hidden="true"></i>
								{{getLabel('ReturnToList')}}</a>
							<button class="btn btn-primary" ng-click="saveEquipment(equipment)">
								<i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{getLabel('Save')}}
							</button>
						</div>
					</div>
				</form>
			</md-tab>

			<md-tab label="{{getLabel('Checklist')}}" ng-if="equipment.equipmentId">
				<hr />
				<div id="pnlFields" class="panel panel-default pnlClient" ng-show="equipment.equipmentId > 0">
					<div class="panel-heading" style="height: 55px; padding: 10px 5px 10px 5px">
						<div class="col-xs-6">
							<h5>{{getLabel('Checklist')}}</h5>
						</div>

						<div class="col-xs-6" style="padding: 0px 10px 0px 15px" align="right">
							<span class="btn btn-default" data-toggle="modal" data-target="#modalImportXls" > <i
								class="fa fa-upload" aria-hidden="true"></i> {{ getLabel('importXls') }}
							</span>

							<span class="btn btn-default" data-toggle="modal" data-target="#modalChecklist" ng-click="novoChecklist"> <i
									class="fa fa-plus" aria-hidden="true"></i> {{ getLabel('NewChecklist') }}
							</span>							
						</div>
					</div>

					<div class="panel-body" style="padding: 0px; max-height: 66vh !important">
						<!-- Fields -->
						<div class="col-sm-12" id="divChecklist"
							style="margin-top: 0px; margin-bottom: 5px; padding: 0px;">
							<div class="rowsList col-sm-12" ng-repeat="check in checklists" style="padding-right: 5px;">
								<div class="divItemList col-sm-8">{{checklistDescription(check)}}</div>
								<div class="col-sm-4" style="padding-right: 5px;" align="right">
									<input type="button" value="Adicionar itens" class="btn btn-success formGroupInput"
										data-toggle="modal" data-target="#modalChecklistItens" ng-click="addItensChecklist(check)" >

									<input type="button" value="{{getLabel('Edit')}}" class="btn btn-primary formGroupInput"
										data-toggle="modal" data-target="#modalChecklist" ng-click="editChecklist(check)">

									<input type="button" value="{{getLabel('Remove')}}" class="btn btn-secunday formGroupInput" ng-click="removeChecklist(check)">
								</div>
							</div>
						</div>
						<!-- End Fields -->
					</div>
				</div>
			</md-tab>
		 </md-tabs>
	 </div>

	 <!-- Model Inventario -->
	 <div class="modal fade" id="modalInventory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		  aria-hidden="true" style="margin-top: 5%">

		 <div class="modal-dialog" role="document">
			 <div class="modal-content">
				 <div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						 <span aria-hidden="true">&times;</span>
					 </button>
				 </div>

				 <div class="form-horizontal jumbotron divListaModal">

					<div style="height: 10%">
						<h4 class="fLeft">{{getLabel('ObjectType')}}</h4>
				
						<div class="headers">
							<div style="width: 2%">
								<input type="checkbox" ng-model="checkedUncheckedAll" ng-change="checkUncheckAll()"/>
							</div>
							
						</div>
						<div id="divLoading"></div>
					</div>
				
				
					<div class="containerListModal" style="height: 15%">
				
						<div class="rowsList" ng-repeat="objectType in objectTypesToSelect" ng-class-odd="'odd'" ng-class-even="'even'"
							style="overflow-x: hidden !important; transition: 0.2s linear;" id="{{objectType.objectTypeId}}">
							<div style="width: 5%" >
								<input type="checkbox" ng-model="objectType.checked"  ng-change="changeCheck(objectType)"/>
							</div>
							<div style="font-size: 11px !important;" >
								{{objectType.description}}
							</div>							
						</div>				
					</div>

				 </div>

				 <!-- <div class="formGroup row costCenterBodyModal">
					 <div class="col-xs-2" align="right">
						 <label class="uiLabel" for="addObjectType">{{getLabel('ObjectType')}}</label>
					 </div>
					 <div class="col-sm-10">
						 <select name="addObjectType" id="addObjectType" ng-model="newObjectType"
								 class="formGroupInput form-control text-box single-line">
							 <option value="">{{getMessage('SelectObjectType')}}</option>
							 <option ng-repeat="objectType in objectTypesToSelect" value="{{objectType}}">
								 {{objectType.description}}</option>
						 </select>
					 </div>
				 </div> -->

				 <div class="formGroup row costCenterFooterModal">
					 <input class="btn btn-primary" type="button" value="{{getLabel('Confirm')}}" ng-click="addNewObjectType()">
					 <input class="btn btn-default" type="button" value="{{getLabel('Cancel')}}" data-dismiss="modal">
				 </div>
			 </div>
		 </div>		 
	 </div>
	 <!-- Fim Model Inventario -->

	 <!-- Model Checklist -->
	 <div class="modal fade" id="modalChecklist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true" >

		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="form-horizontal divLista divAddVeiculo"
						style="padding-top: 0 !important; margin-top: -20px; border: none">
						<h4>{{getLabel('ChecklistData')}}</h4>						
						<hr />

						<div class="formGroup row">
							<div class="col-xs-3" align="right">
								<label class="uiLabel" for="checklistName">{{getLabel('Description')}}</label>
							</div>
							<div class="col-sm-6">
								<input name="checklistName" class="formGroupInput form-control text-box single-line" id="checklistName" type="text"
									value="" maxlength="45" ng-model="checklistService.checklistName" />
							</div>
						</div>												
					</div>
				</div>

				<div class="formGroup row costCenterFooterModal">
					<input class="btn btn-primary" type="button" value="{{getLabel('Confirm')}}" ng-click="addNewChecklistService(checklistService)">
					<input class="btn btn-default" type="button" value="{{getLabel('Cancel')}}" data-dismiss="modal">
				</div>
			</div>
		</div>
	</div>
	 <!-- Fim Model Checklist -->

	 <!-- Model Checklist Itens -->
	 <div class="modal fade" id="modalChecklistItens" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true" >

		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="form-horizontal">
						<h4>{{idChecklistPanel}} - {{titleH4}}</h4>
						<hr />

						<div class="formGroup row">
							<div class="col-xs-6">
								<input name="checklistServicesId" id="checklistServiceIdTxt" type="hidden" ng-model="checklistItem.checklistServicesId" />

								<input type="text" placeholder="Informe a descrição do item" class="formGroupInput form-control text-box single-line" name="itemName" id="itemName" 
									maxlength="45" ng-model="checklistItem.itemName" />
							</div>							
						</div>

						<div class="formGroup row">
							<div class="col-xs-2">
								<label class="uiLabel">{{getLabel('requirePhoto.text')}}</label>
							</div>
							
							<div class="col-xs-8">
								<div class="row">
									<div class="col-sm-3">
										<label class="uiLabel" for="OK">{{getLabel('requirePhoto.OK')}}</label>
										<input type="checkbox" id="OK" ng-model="requiredPhotos.ok"/>
									</div>
									
									<div class="col-sm-3">
										<label class="uiLabel" for="NOK">{{getLabel('requirePhoto.NOK')}}</label>
										<input type="checkbox" id="NOK" ng-model="requiredPhotos.nok"/>
									</div>
									
									<div class="col-sm-3">
										<label class="uiLabel" for="FIX">{{getLabel('requirePhoto.FIX')}}</label>
										<input type="checkbox" id="FIX" ng-model="requiredPhotos.fix"/>
									</div>
								</div>
							</div>
						</div>
						
						<div class="formGroup row costCenterFooterModal">
							<input class="btn btn-primary" type="button" value="{{getLabel('Confirm')}}" ng-click="addNewChecklistItems(checklistItem)">
							<input class="btn btn-default" type="button" value="{{getLabel('Cancel')}}" data-dismiss="modal">
						</div> 

						<br/>

						<div id="pnlFields" class="panel panel-default pnlClient">
							<div class="panel-heading" style="height: 45px; padding: 10px 5px 10px 5px">
								<h4>{{getLabel('ChecklistDataItem')}}</h4>
							</div>							
		
							<div class="panel-body" style="padding: 0px; max-height: 66vh !important">
								<!-- Fields -->
								<div class="col-sm-12" id="divChecklist"
									style="margin-top: 0px; margin-bottom: 5px; padding: 0px;">
									<div class="rowsList col-sm-12" ng-repeat="items in checklistItems" style="padding-right: 5px;">
										<div class="divItemList col-sm-8">{{checklistItemsDescription(items)}}</div>
										<div class="col-sm-4" style="padding-right: 5px;" align="right">
											<input type="button" value="{{getLabel('Edit')}}" class="btn btn-primary formGroupInput"
												ng-click="editChecklistItems(items)">
		
											<input type="button" value="{{getLabel('Remove')}}" class="btn btn-secunday formGroupInput" ng-click="removeChecklistItem(items)">
										</div>
									</div>
								</div>
								<!-- End Fields -->
							</div>
						</div>													
					</div>
				</div>
			</div>
		</div>
	</div>
	 <!-- Fim Model Checklist Itens -->

	 <!-- Modal ImportXls -->
	<div class="modal fade" id="modalImportXls">
		<div class="modal-dialog modal" style="max-width: 500px !important;">
			<div class="modal-content">
				<div class="modal-header">
					<label style="font-size: 30px; font-weight: bold; color: gray;">
						{{getLabel('Checklist')}}
					</label>

					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="row">
						<!-- Download do modelo -->
						<div class="col-xs-4">

						</div>

						<div class="col-xs-5" id="divImport">
						</div>

						<div class="col-xs-3">
							<a class="btn btn-primary" onclick="uploadXls.click()">
								<label style="max-height: 100%; max-width: 100%; cursor: pointer; font-size: 15px;">{{getLabel('import')}}</label>
							</a>
							<input type="file" id="uploadXls" style="visibility: hidden;"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fim Modal ImportXls -->

 </main>

<script>
	function validate(evt) {
		var theEvent = evt || window.event;
		var key = theEvent.keyCode || theEvent.which;
		key = String.fromCharCode(key);
		var regex = /[0-9]|\./;
		if (!regex.test(key)) {
			theEvent.returnValue = false;
			if (theEvent.preventDefault)
				theEvent.preventDefault();
		}
	}
</script>